[2015-07-29 04:34] woodcockr opened #1 "Travis-CI integration is broken - agdc-v2 repo is not showing up in travis and cannot be enabled"
The transfer of the agdc v2 repository from the agdc-research-trial organisation to the data-cube organisation has broken travis-ci.org integration. The newly located repository doesn't display in the profiles page where travis configures the github organisation. Pressing sync to update the profile with github fails to change this.

I've emails the travis-ci contact email in an effort to find out

[2015-07-30 04:40] woodcockr commented on #1
This magically started working this morning. Perhaps there is an unexpected delay in the updates, perhaps travis-ci nudged the server in response to my email. Either way, it's all working now which is what matters.

[2015-07-30 04:40] #1 closed

[2015-07-30 04:41] woodcockr opened #2 "README.md needs to be updated to reflect AGDC v2 description"
README.md currently has the agdc-research-trial documentation and this needs to be replaced with the AGDC v2 description and logo

[2015-08-01 07:01] woodcockr commented on #2
Fixed

[2015-08-01 07:01] #2 closed

[2015-08-25 13:47] didierearith opened #4 "_gdfnetcf.py - Invalid GDF.DECIMAL_PLACES"
Dear Team,

In _gdfnetcf.py, instruction at  line 155, failed.

I think GDF.DECIMAL_PLACES must be changed by self.decimal_places

Replace:
                dimension_index_vector = np.around(np.arange(dimension_min, dimension_max, element_size), GDF.DECIMAL_PLACES)

by:
                dimension_index_vector = np.around(np.arange(dimension_min, dimension_max, element_size), self.decimal_places)

K

[2015-08-25 13:59] didierearith opened #5 "_gdfnetcdf.py - NetCDF - SetAttributes failed"
Dear Team,

In _gdfnetcdf.py, function georeference_from_file failed because of invalid (?) attribute name 'name' in crs_metadata

...
        crs_metadata = {'crs:name': spatial_reference.GetAttrValue('geogcs'),
                    'crs:longitude_of_prime_meridian': 0.0, #TODO: This needs to be fixed!!! An OSR object should have this, but maybe only for specific OSR references??

[2015-09-10 09:32] didierearith opened #7 "_gdfnetcdf.py - NetCDF - Set dimension issue"
Dear Team,

I found an issue in the 'set_dimension' function in _gdfnetcdf.py:
I replaced

[code]

by

[code]

because when using a non-integer step, such as 0.25, the results is often not be consistent. (the number of elements doesn't match the expected one, e.g. 1001 instead 1000).

It is better to use linspace for these cases.

Kind regards,

Didier

[2015-10-25 23:51] simonaoliver opened #8 "data preparation support for Landsat (GA/USGS), Sentinel-2 (L1C, L2A), Himawari8 (BRF), MODIS (CSIRO)."
Investigate how DataCube is going to support ingesting following datasets:
- Landsat from GA (L1T, NBAR, PQ, FC)
- Landsat from USGS (L1, SR)
- Sentinel-2 L1C and L2A
- Himawari-8 BRF
- MODIS from CSIRO

[2015-10-25 23:54] simonaoliver opened #9 "Ingester read support for packaged input and tile / reproject"
Enable read for package input (YAML and packaged data from data preparation process). Enable tile and reproject for granule/scene dataset inputs.

[2015-10-25 23:57] simonaoliver opened #10 "Support for indexing of input dataset"
Index input datasets to allow searching based on:
- check file already indexed

[2015-10-25 23:59] simonaoliver opened #11 "Implement an index process for storage tiles"
Index storage units to allow searching based on:
- dataset attributes
  - product type
  - platform identifier
  - sensor identifier
- geographical region (bounding box)
- temporal extents

[2015-10-26 00:01] simonaoliver opened #12 "Aggregate tiles to multi-time storage units"
Combine multiple storage units into one by stacking the data along a specified dimension.
- Input storage units **must not** be modified
- Coordinates along the stacked dimension must be sorted in the combined SU
- Fail if the input storage units do not align perfectly; i.e. do not pad data with NDV's

[2015-10-26 00:03] simonaoliver opened #13 "Search API for minimal implementation"
Search for Storage Units using criteria specified in #11

Search results must include following Storage Unit information:
- URI
- projection
- dimensions (assume cf conventions + labels)
- variables/measurements
- coordinate extents
- number of measurements along each dimension (coordinate length?)
- DatasetID (provenance tracking)

[2015-10-26 00:05] simonaoliver opened #14 "Storage Access API - retrieve data from minimal build"
Use results returned by the Search API(#13) and provide:
- construct analysis array elements from storage units
- labeled data (with xray)
- lazy loading to facilitate out of core processing (with dask for example)
- group data by inter-operability
  - same projection
  - same coordinate extents
  - same 'resolution'

[2015-10-26 00:07] simonaoliver opened #15 "Sample algorithm on minimal implementation using API"
Implement an application demonstrating Search API (#13) and Data Access API (#14)

Do some science! (simple band math example)

[2015-10-30 05:08] omad commented on #9
A basic version of this is committed in f00d807e8963652216df3ef0f6ccdf8e84805122
We can open more specific issues to further refine the ingester.

[2015-10-30 05:08] #9 closed, assigned to omad

[2015-10-31 04:09] v0lat1le commented on #10
I updated the description with some acceptance criteria.

[2015-10-31 04:17] v0lat1le commented on #11
Updated the description with acceptance criteria

[2015-10-31 04:52] v0lat1le opened #17 "Ingest Landsat Datasets"
Tie together the following functionality
- Index the dataset (see #10 )
- Generate Storage Units (see #9 )
- Index Storage Units (see #11 )

to ingest Geoscience Australia (in the first instance) LS 5,7,8 L1T,  PQ, NBAR and FC packaged (eo-datasets) products into specified storage format on demand

[2015-11-01 23:51] omad opened #18 "Specify Resampling Algorithm when Ingesting"
The resampling method for ingester should support the following:
- near: nearest neighbour resampling (default, fastest algorithm, worst interpolation quality).
- bilinear: bilinear resampling.
- cubic: cubic resampling.
- cubicspline: cubic spline resampling.

At the moment there is a space for **interpolation** in the `storage_config.yaml` file used to specify the output of an ingestion process.

[2015-11-01 23:53] omad commented on #18
@simonaoliver , can you please look at the list from GDAL and determine which resampling algorithms we need to support. In an effort to have more verifiable tasks to complete.

[2015-11-01 23:56] woodcockr commented on #18
Would be worth taking a look at pyresample as well  https://pyresample.readthedocs.org/en/latest/

[2015-11-02 00:04] sixy6e commented on #18
As a minimum, I'd say:
    Nearest Neighbour
    Bilinear
    Cubic
    Cubic Spline

Nearset is the main one currently in use for ingestion, purely because of the categorical nature of PQ.

rasterio has a method to tap into the GDAL library and perform on a NumPy array.  We tapped into it for NBAR processing, https://github.com/GeoscienceAustralia/ga-neo-landsat-processor/blob/develop/gaip/data.p

[2015-11-02 04:25] omad opened #20 "Prepare Operational Environment"
We need PostgreSQL 9.4 running somewhere accessible from raijin.
- install 9.4 on a node
- test access from PBS nodes

[2015-11-04 01:10] omad opened #21 "Write correct spatial metadata to Storage Units"
As reported by Josh @sixy6e :

The spatial metadata in the sample files is a little off. Here's an ipython notebook documenting the problem.

https://github.com/sixy6e/my_code/blob/master/Python/notebooks/nc_metadata_tests.ipynb

The current spatial extents exclude the east-most and south-most lines of pixels, instead of including them. Correcting this should fix both the extents and the pixel siz

[2015-11-04 06:01] omad commented on #21
It appears that at least part of the problem is the small dtype size **float32** that latitudes and longitudes are stored in which leads to rounding errors. I'll change them to **float64** and see how that helps.

[code]

[2015-11-04 06:13] sixy6e commented on #21
Good pickup, the lon/lat units will need the extra precision more than **most** meters based projections, but probably ideal to store all co-ordinate based info as **float64**.

[2015-11-04 06:28] omad commented on #21
Hiya Josh,
I think that this should be fixed now. Could you please have a look at the files in `/short/v10/dra547/tmp/7/` and if they look alright to you, close this issue.

They're only a single timeslice, but that makes no difference to the spatial extents.

[2015-11-04 06:56] sixy6e commented on #21
[code]

The only thing might be the co-ordinate arrays which still reference the UL corner of a pixel.

[code]

But CF is a little vague as to what it should be, so they'll be fine.  If they need to be changed it's a quick fix to add a 0.5 to the pixel indices during calculation.

They do confirm with an alternate method of calculation.

[code]

I'll close the issue.

[2015-11-04 06:56] #21 closed, assigned to omad

[2015-11-05 04:21] v0lat1le opened #22 "Port Analytical Engine to Search and Storage Access API's"
Depends on #13 and #14.
TODO: define better

[2015-11-05 04:25] v0lat1le opened #23 "Sample application demonstrating Analytical Engine"
Implement an application (or applications) demonstrating Analytical Engine (#22)

Something involving simple band maths and/or statistics over time

[2015-11-05 04:48] woodcockr commented on #23
#15 has a dask implementation which seems redundant now the intent is to join this to the analytical engine. Should #15 demonstrated functionality be incorporated here and deprecated?

[2015-11-05 23:35] jeremyh opened #24 "Group-based permissions & finer-grained authentication"
- Use of individual user accounts rather than a single shared user/password.
- But users should still be able to "module load" the api without any further configuration (editing conf files).
  - AGDCv1 did this via a shared user and password hard-coded into the module, but this isn't ideal. It would be preferable to use existing environmental user accounts instead.
    - Look at PAM, LDAP, ident u

[2015-11-05 23:43] woodcockr commented on #24
Need to be a bit careful with the AAA design for AGDC. We have HPC, Cloud and PC targets and multiple deployment environments (e.g. NCI, Pawsey, AWS (CEOS Data Cube)). The technology stack shouldn't be hard wired in a way that prevents the variety of target environments from working.
Postgres authentication will probably be fine in all cases, but I'm no expert and just wanted to highlight the requ

[2015-11-05 23:59] jeremyh commented on #24
Good point Rob.

From the perspective of AGDC's code, this will only hard-code the Postgres roles expected not the authentication scheme.

The authentication scheme used is dependent on the deployment of the Postgres server. An environment can always use manually-configured users, as with AGDCv1.

[2015-11-06 00:09] jeremyh opened #25 "Ability to load storage and ingest configuration via command-line"
As discussed with Alex, most of our configuration handling (such as dataset types, tile/storage types) could be simpler if stored as JSONB documents directly, rather than split across many tables. We've toyed with this in the doc db prototype.

We could allow the user to configure the AGDC (such as adding a new product/dataset type) by specifying json/yaml config documents directly from the comman

[2015-11-06 00:41] simonaoliver opened #26 "Determine reasonable storage compression for storage units"
Investigate available compression algorithms and specify a compression rate to optimise data access performance.

Produce compression ratio versus access speed for different algorithm parameters (Nan percentages) -ignore storage file size as a constraint for now. Using image data - not random generated.

[2015-11-06 00:43] simonaoliver opened #27 "Document Ingestion Process - include nomenclature"
Define terms relating to the storage unit and datasets - what is storage unit? config etc.

[2015-11-06 00:51] v0lat1le commented on #23
@woodcockr I guess once analytical engine is integrated. For now we still need something that lets us design the low level API's

[2015-11-06 01:10] sixy6e commented on #26
Potential spatial area to be used for compression testing.  This selection should create file containing sparse data, as well as complete data.

![storage-units-compression-testing-area](https://cloud.githubusercontent.com/assets/4917324/10986538/035f5238-847f-11e5-869a-144792f1f91b.png)

[2015-11-08 23:09] woodcockr commented on #23
Sounds like all the more reason to work with the Analytics Engine to design the low level APIs, otherwise how do you know what is needed?

[2015-11-08 23:53] sixy6e commented on #23
From the analytics engine document that was circulated, it appears that it is working on in-memory objects/arrays.  Is that still not the case?

[2015-11-09 00:11] woodcockr commented on #23
If you are referring to the EDA on a single Node AGDCIP then you are reading only 1 of 3 AGDCIP, the first of which is for single compute node support. The others were flagged as coming and will complete the suite of requirements as listed in v2 - which means out of core memory support and parallel and distributed processing. The first one was multi-core support on single node (and yes it can do o

[2015-11-09 00:28] sixy6e commented on #23
Cool, so we can work on the basis that the current version is expecting arrays and write it accordingly, which could just as easily be a "window" of data.

[2015-11-09 00:35] woodcockr commented on #23
Note that "array" needs to be an xray+dask array object, or it will simply be treated like numpy and thus in memory, not lazily evaluated, etc.The key is to delaying loading and evaluation of the operators until the execution plan is worked out and preferably your out on the node with local scratch space to hold on the temporaries. -> and at this point you need @petewa for details.

We will need t

[2015-11-09 00:49] sixy6e commented on #23
Now that sounds like the execution engine should wait until an I/O api is put together so it can handle non-contiguous storage and window boundary conditions, rather than assuming that each block is to be read.

One of the v1 mechanisms was to treat each storage unit independently and combine at the final stages.  That could be a 1st simple approach while the concept of a "window" as one virtual o

[2015-11-09 01:01] simonaoliver opened #28 "Ingester: prepare phase 1 and phase 2 samples for Landsat"
Create a set of:
- phase 1 - single time, and;
- phase 2 - aggregated tiles
  to enable tile aggregation method testing

Include GA NBAR and PQ for filter query examples

[2015-11-09 01:05] woodcockr commented on #23
I suspect more the other way - there is an existing I/O API which the Storage access module needs to use (netcdf based, plus the dask and xray handling of out of core memory access). xray and dask already handle window boundary conditions and non-contiguous storage across multiple netcdf files. The trouble is if you load up one huge continental all of time array you will have a LOT of "No data" va

[2015-11-09 02:25] v0lat1le commented on #23
I'm happy to work with @petewa on designing the data access api and the analytics engine. The current data access API is in this repository with tests and examples. It is designed with out-of-core processing in mind and deals in xray arrays once the data is in memory. All input into it is welcome.

[2015-11-12 00:29] v0lat1le opened #29 "Add ability to configure 'locations'"
Locations are named URI 'base paths'. For example gdata location can 'point to' file:///g/data. For now only file system locations are required. In the future web and S3 locations could be supported

see 59c1fbe4a6d033bc1187f1bd2fece8eaa3c5db7b for a potential config file solution

[2015-11-12 00:30] v0lat1le commented on #29
do we want to store those in the db?

[2015-11-12 00:34] v0lat1le opened #30 "Move filename_pattern configuration from storage_type to storage_mapping"
filename_pattern makes more sense in storage_mapping.
location (base path) should also be added to storage_mapping

depends on #29?
see 59c1fbe4a6d033bc1187f1bd2fece8eaa3c5db7b for mockup configs

[2015-11-12 01:01] jeremyh commented on #29
They are partially a description of how to reach the data from the current machine, so they don't seem to make sense in a central database.

But it does seem useful to be able to specify a default location (or something) for newly-connecting machines to use, at least when talking about remote data (or within an environment such as NCI).

Maybe if location_name is null, the path itself could be an

[2015-11-12 02:38] #30 closed, assigned to v0lat1le

[2015-11-12 02:42] v0lat1le commented on #29
Config file for now...

[2015-11-12 02:42] #29 closed, assigned to nobody

[2015-11-13 04:35] v0lat1le commented on #20
done and done

[2015-11-13 04:35] #20 closed, assigned to nobody

[2015-11-18 01:42] petewa commented on #13
Is this the replacement for gdf.get_descriptor?
If it is, it would be useful to have the following in addition to what you have listed above (if not already included):
- no data value
- data type
- dimension order
- overlap amount (if implemented in the ingester, very useful for certain analytics)
- buffer/chunk size
- index / spatial index information
- resolution information
- storage units that

[2015-11-18 01:57] petewa commented on #14
Is this the replacement for gdf.get_data?

If so, get_data needs to be have to take as input:
    - depending on how the data is stored in the storage units, a target projection may need to be specified in the get_data call to return the data in the appropriate projection.
    - grouping by time. e.g. seasons, month, day etc like in the gdf trial get_data code with grouping_function
    - dimensio

[2015-11-18 02:14] petewa commented on #23
I have originally planned to have the get_data call deeply embedded in the Execution Engine for the reasons Rob pointed out. We need to get the interface for the data access api sorted out fairly soon.

Keeping in mind, the storage units may be on S3, EBS and other storage mediums and the data access api needs to seamlessly work with different storage mediums.

We should discuss the interface betw

[2015-11-18 02:58] petewa commented on #13
I have created a page to discuss the Data Access Interface here: http://www.datacube.org.au/wiki/Data_Access_Interface

Here is the style guide for the wiki: http://www.datacube.org.au/wiki/Style_Guide

[2015-11-18 02:58] petewa commented on #14
I have created a page to discuss the Data Access Interface here: http://www.datacube.org.au/wiki/Data_Access_Interface

Here is the style guide for the wiki: http://www.datacube.org.au/wiki/Style_Guide

[2015-11-18 02:59] v0lat1le commented on #14
@petewa Yes, it is the replacement for get_data. Look at the band_stats_integrated.py in the examples directory.

[2015-11-18 03:09] v0lat1le commented on #13
@petewa Indeed it is. Most of the things you mention are already there.

I personally find the wiki unhelpful. There are massive lists of 'requirements' without any context. I need to know who requires those things, and for what purpose.

[2015-11-18 03:46] petewa commented on #13
Alex and I designed the existing interface with v2 concepts in mind. If it remains largely unchanged from the gdf trial, it should be ok.

Simon mentioned you changed the nested dicts into an object with gets/sets which is fine.

I'm not sure what you are referring to, most of the array abstracted requirements are quite small.
If you are referring to http://www.datacube.org.au/wiki/V1_API_function

[2015-11-20 04:35] petewa commented on #23
I have uploaded sample applications for the following:
- pre-integration of analytics language
  - ndvi + median reduction examples from the gdf trial
  - ndvi + median reduction with analytics language test code (ndexpr).

They are located:
    - https://github.com/data-cube/agdc-v2/tree/peter/ndexpr/examples/analytics_execution_engine
        - create_array.py
        - generic_ndvi.py
        -

[2015-11-24 03:23] #17 closed, assigned to nobody

[2015-11-24 03:25] #10 closed, assigned to nobody

[2015-11-24 03:25] #11 closed, assigned to nobody

[2015-11-26 01:04] #25 closed, assigned to nobody

[2015-11-26 21:50] simonaoliver opened #33 "enable spatial aggregation of storage units"
Storage Unit Access method returns an out of tile nD array or object that wraps this
get_descriptor & get_data requirements are fulfilled.
Further documentation required to explicit define the requirement.

[2015-11-30 00:58] sixy6e commented on #33
If this is of any interest/help, the following is an example of how one could construct such a mosaic across time and space using https://github.com/GeoscienceAustralia/agdc (v1).

[code]

[2015-11-30 01:13] woodcockr commented on #33
yes, of interest, thanks for the pointer.
At first blush the logic is, not unexpectedly, similar to the gdf.get_data code. In both cases the challenge remains to get this work when the subset is larger than core memory (but not so large to be unmanageable) and working with the xray-dask features for lazy evaluation, etc. Would also want to ensure that in the completely aligned to storage unit case

[2015-11-30 04:57] simonaoliver opened #34 "subset from input dataset at ingest"
For cases where the storage unit only needs to be populated for a subset extent of the input data.

Example: Himawari 8 datasets have data for the entire globe, but we might only want to ingest and store data covering Australia.

[2015-12-01 05:47] omad opened #35 "Add collection metadata to storage units"
When setting up a datacube collection, we need to record collection level metadata like:
- **title**: Experimental Data files From the Australian Geoscience Data Cube v2 Development - DO NOT USE
- **summary**: These files are experimental, short lived, and the format will change.
- **source**: This data is a reprojection and retile of Landsat surface reflectance scene data available from /g/data/r

[2015-12-01 20:53] jeremyh commented on #35
Licensing/etc feels like something that should go in the source dataset metadata, as it's ultimately a property of the source dataset (and will assumedly remain consistent when output to new formats). The previous EODS dataset metadata format included similar licensing information, but it hasn't been added to the eodatasets structure so far.

We might be able to assume a collection has a single, c

[2015-12-01 22:46] omad commented on #35
Okay, agreed that it does belong as a property of the source dataset.

However, I'm concerned about making the pre-ingestion process overly complicated and prescriptive for someone looking to use a new dataset.

[2015-12-01 22:51] cet900 commented on #35
Remember you don't have to include the full licence, you can have in the licence field a link that simply points to a URL for the licence (or a relative path on the filesystem but that's less robust) if CC-BY4.0 is insufficient. -Claire

[2015-12-01 23:00] mpaget commented on #35
I think Jeremy (and Claire) are on the right track here. That's not to say you're wrong, Damian - not at all!

Rather, what do you mean by "pre-ingestion process overly complicated and prescriptive for someone looking to use a new dataset". The metadata elements you refer to are basic and should be, effectively, mandatory across all ingest-ready data sets. I think we have the "authority" to define

[2015-12-01 23:31] omad commented on #35
This stuff is essential for a share, public/semi-public deployment, but for a private/testing datacube could provide hurdles and delays. Especially for someone trying to ingest a third party dataset. I want to make it as easy for them to solve as possible.

For example:
The Landsat datasets we're experimenting with don't _currently_ include this type of information. Creating compliant Storage Unit

[2015-12-01 23:42] mpaget commented on #35
I'll leave the implementation details to you for now :)

But if it helps I generally consider 3 levels of metadata specificity: 1. collection level (static until a major change, same for all files and variables); 2. variable level (capture differences between bands/variables), and; 3. file level (time/space dims). The ingest will likely have a couple more (e.g., ingest or storage unit params) or r

[2015-12-01 23:56] jeremyh commented on #35
@omad Since the current test data is generated from eods packages, in the short-term we can update Greg's eodataset packager driver to include the licensing fields (there are other fields I'd like to change in them, so I think we need to regenerate the test data anyway).

Longer term, I think it's worth exploring: such as collection "default properties", which are included in a dataset when none h

[2015-12-01 23:57] woodcockr commented on #35
@omad your noting of the different public, private and temporary datacubes and the differing needs for metadata "hurdles" is important. Whilst the use case patterns haven't been full fleshed out (a certain lion we know is working on them <grin>) the three formal names coming out of the design workshop are:
- Custodial collections - which would require the gold meta-data standard, NERDIP style comp

[2015-12-02 01:28] omad commented on #35
@woodcockr Thanks for the use case/terminology pointers, it's really helpful in getting everyone on the same page.

[2015-12-02 03:21] woodcockr commented on #35
@omad no problem. your addition to the docs welcome as well for the same reason.

[2015-12-02 22:37] sixy6e commented on #26
I forgot to post the report.  It can be found here:

http://www.datacube.org.au/wiki/File:Compression-chunk-testing.pdf

From the testing a spatial block size of 200 by 200 worked quite well, as did a compression level of 4.
The z-axis chunk size of 10 faired better with this data in terms of compression and access speed, but wasn't too different from a size of 5 or 20.

[2015-12-04 00:20] #13 closed, assigned to v0lat1le

[2015-12-04 00:20] #14 closed, assigned to v0lat1le

[2015-12-04 00:20] #15 closed, assigned to v0lat1le

[2015-12-04 00:22] #28 closed, assigned to omad

[2015-12-04 00:22] #27 closed, assigned to nobody

[2015-12-04 00:22] #26 closed, assigned to nobody

[2015-12-04 00:23] #18 closed, assigned to omad

[2015-12-04 00:43] simonaoliver opened #36 "Write storage units in projection EPSG:3577"
Reprojection from ingest projection to new projection

[2015-12-04 00:47] simonaoliver opened #37 "Support query of storage units in EPSG:3577 by geographical bounds"

[2015-12-04 01:04] simonaoliver opened #38 "Storage unit temporal aggregator tool"
Aggregate all timeslices/storage units to single storage unit
1. Query database
2. Return single aggregated unit
3. Update DB

Operationally will be triggered by operator - user command line:
Assumes component timeslices exist
Fixed time range: 1 year for Landsat
Input time slices to aggregate will appropriately tagged to exclude from analysis / processing.

[2015-12-07 05:36] simonaoliver opened #39 "add compression rate to storage unit configuration"

[2015-12-08 00:57] simonaoliver opened #40 "add s2 ingester support"

[2015-12-08 21:17] v0lat1le opened #41 "duplicated storage unit search results"
Storage unit search returns the same storage unit more than once in the case of time aggregated storage units and search query using dataset fields.

[2015-12-15 01:12] v0lat1le commented on #34
Should it go into the storage mapping config (or it's future incarnation)?
How complex should it be?
- Bounding box
- polygon
- multi-polygon

What projection should it be specified it?
- Source dataset? (UTM might be tricky)
- Target storage type?
- Lat/Lon EPSG:4326
- Specify its own projection

[2015-12-15 01:13] v0lat1le commented on #36
Done. Should be able to support projected CRS' now

[2015-12-15 01:13] #36 closed, assigned to v0lat1le

[2015-12-15 01:16] v0lat1le commented on #37
Pretty sure this works.

[2015-12-15 01:16] #37 closed, assigned to nobody

[2015-12-15 01:16] v0lat1le commented on #40
can prepare and ingest Sentinel 2 L1C datasets

[2015-12-15 01:16] #40 closed, assigned to v0lat1le

[2015-12-15 01:18] v0lat1le commented on #12
Ingester can create timestacked storage units now in batch ingest mode.
The rest is covered by #38

[2015-12-15 01:18] #12 closed, assigned to omad

[2015-12-15 01:28] v0lat1le commented on #8
GA LS *, Sentinel-2 L1C and Himawari-8 are done. For the rest separate issues will be created

[2015-12-15 01:28] #8 closed, assigned to v0lat1le

[2015-12-15 03:12] v0lat1le commented on #39
From Joshs testing (#26) it looks like no compression should be an option also. double the read speed for 25-50% more storage

[2015-12-15 04:20] petewa commented on #23
Here are the examples post integration of the analytics language into AE/EE.

https://github.com/data-cube/agdc-v2/tree/peter/integration/examples/analytics_execution_engine
https://github.com/data-cube/agdc-v2/tree/peter/integration/examples/ndexpr

All examples of AE/EE have been supplied.

The AE/EE is currently using the GDF and will use the new Data Access API when it's ready.

[2015-12-15 05:58] simonaoliver opened #42 "Enable query across multiple AGDC database instances of equal version"
For common versions of datacube databases on common infrastructure - enable query and data access using more than one database/datastore.

User story: user has a local datacube implementation (datacube 1) but wants to use data from a public instance (datacube 2) in the query.

[2015-12-15 06:00] simonaoliver opened #43 "Enable per pixel metadata/provenance tracking"
to enable provenance tracking on a per pixel level - investigate methods which may enable tracing of pixel provenance where the contents of a storage unit may have mixed provenance i.e. Landsat scene overlap

[2015-12-15 22:43] petewa commented on #22
Update:

The AE/EE is using the GDF and will use the new Data Access API when it's ready.

[2015-12-16 02:39] petewa opened #44 "Data Access API interface as per GDF interface."
Interface between the Data Access API and the AE/EE.
As per GDF with the following modifications:

get_descriptor:
storage_units has storage_max, storage_min and storage_shape. storage_path is to be added.

get_data:
returned data numpy arrays are now xray.DataArrays.

[2015-12-16 02:43] petewa opened #45 "Analytics Expression Language."
Analytics Expression Language - a intuitive language for performing analytics.

[2015-12-16 02:44] petewa opened #46 "Integration of Analytics Expression Language into AE/EE"

[2015-12-16 02:46] petewa opened #47 "Sample applications demonstrating AE/EE with GDF"

[2015-12-16 02:47] petewa opened #48 "Sample applications demonstrating AE/EE with integrated Analytics Expression Language with GDF"

[2015-12-16 02:47] petewa opened #49 "Sample applications demonstrating AE/EE with Data Access API"

[2015-12-16 02:48] petewa opened #50 "Sample applications demonstrating AE/EE with integrated Analytics Expression Language with Data Access API"

[2015-12-16 02:49] petewa opened #51 "1D/2D/3D visualisation of results."

[2015-12-16 02:49] petewa opened #52 "AE/EE option for on the fly computation."

[2015-12-16 02:50] petewa opened #53 "Conditional operators for Analytics Expression Language"

[2015-12-16 04:23] andrewdhicks commented on #44
### get_descriptor

**get_descriptor request**
Storage type has been replaced with finer grained elements:
- satellite (eg 'LANDSAT_8')
- sensor (eg 'TM', 'OLI_TIRS')
- product (eg 'EODS_NBAR', 'EODS_PQ')

Should we still support a 'storage_type' identifier? Should the response be keyed with a concatenation of **satellite** and **sensor**?
- dimensions
  - range
  - crs

Support for CRS in dimensi

[2015-12-16 05:47] jeremyh commented on #44
Thanks Andrew.

Note that we can’t rely on satellite/sensor: not all datasets/units will have them, and are dynamic fields specific to the ‘eo’ dataset metadata type.

Given that this is storage-unit focused (?), the name/id of the storage mapping (essentially a "storage type" by the old definition*) may be an alternative. But it depends on the intended use-case or user of the API.

(*Note that we

[2015-12-17 00:42] petewa commented on #44
@andrewdhicks

Thanks Andrew for adding more information.

The GDF concept for the idea is as follows:
storage_type is a mapping to the type of storage unit, a unique handle to type of data if you'd like.
This handle is defined in the database.

This should really be more generic like in the GDF.

It should be able to define the names/attributes in the database. i.e. it shouldn't be hard coded to

[2015-12-18 04:12] simonaoliver opened #54 "ingest data of >4 dimensions"
storage write code currently hard coded dimensions
confirm storage unit with higher order dimensionality can be ingested

[2015-12-18 04:14] simonaoliver opened #55 "GDAL georeferencing support for storage unit"
Investigate inclusion of GDAL tags to support gdal read of storage units

[2015-12-18 04:18] simonaoliver opened #56 "Simplify data ingest configuration"
User side tool for writing configurations

[2015-12-21 01:32] v0lat1le commented on #34
Added 'roi' field to storage_mapping (soon to be renamed to storage_type).
Can specify bounding box in the storage unit crs.
More issues can be created for additional use cases when they become relevant

[2015-12-21 01:32] #34 closed, assigned to nobody

[2015-12-22 00:08] omad commented on #55
GDAL does support the CF conventions used by storage units for interpreting geospatial coordinates already.

It appears the bounds may be referencing pixel centres instead of edges which will require further investigation.

A simple `gdalinfo storageunit.nc` lists the available data within the file, and a further call to `gdalinfo` is required to access the detailed position data. e.g.:

[code]

[2015-12-22 00:15] v0lat1le commented on #55
Will also need to verify that the coordinate system is correctly decoded. osr.SpatialReference.IsSame might be useful for that.
same for Albers...

[2015-12-22 00:19] v0lat1le commented on #55
gdal sets 'GetTransform', 'spatial_ref' and possibly 'proj4' attributes on grid_mapping variable corresponding to transform array, crs in WKT format and crs in proj4 format.

might still be worth putting those in after we make sure CF way is working correctly... not sure

[2015-12-22 00:38] omad commented on #55
For a basic EPSG:4326 NetCDF4 file created with GDAL from an old geotiff tile, GDAL is doing something strange with the lat/lon variables to get the bounds to look right.

[code]

[2015-12-22 03:55] sixy6e commented on #55
If by weird you mean inverted, it has probably got to do with the WRITE_BOTTOM_UP creation option.
http://www.gdal.org/frmt_netcdf.html

2 files written by gdal, the second using:
-co "WRITE_BOTTOMUP=NO"

[code]

Not sure if that is related to what you're looking at though.

[2015-12-22 05:52] omad commented on #55
Okay, WRITE_BOTTOM_UP is half the weirdness. Both data values and lat values are reversed.

The other half is that the lat/lon values represent pixel centres instead of bounds. Perhaps this is what our NetCDF files should be doing too. It's recommended but not required by the CF conventions.

There was a gdal-dev email thread in 2009 recommending not relying on the meaning of coordinates being cen

[2015-12-23 02:09] omad commented on #55
I've updated the `datacube.model.TileSpec` to calculate lat/lon values as pixel centres instead of upper lefts, this matches what GDAL expects and is also what the CF specs recommend (but don't require).

GDAL now recognises the CRS and correctly shows the file boundaries.

For more information the following are interesting email threads:
- [CF-Metadata X and Y projection coordinate (center vs cor

[2015-12-23 02:09] #55 closed, assigned to omad

[2016-01-03 22:22] #39 closed, assigned to omad

[2016-01-03 22:44] omad commented on #43
How often will knowledge of pixel level provenance be required? From my understanding, it must be available, but wouldn't be needed to be saved in high resolution on disk.

At the moment the database records indicate which datasets are used to produce a storage units, from which it's possible to compute per-pixel provenance.

The extra (probably crazy) step, would be storing this provenance inform

[2016-01-03 23:01] omad commented on #35
This type of information can now be specified in the storage mapping files, (eg. [GA Landsat 5 NBAR Mapping: Line 18](https://github.com/data-cube/agdc-v2/blob/ga/milestone1/docs/config_samples/ga_landsat_5/ls5_nbar_mapping.yaml#L18)).

[2016-01-03 23:01] #35 closed, assigned to simonaoliver

[2016-01-04 02:21] petescarth commented on #43
Suspect it would start to get very busy quickly. As an example, the seasonal ground cover composites use pretty much every landsat pixel (will all the masking and shadow and water...) to make a prediction for every date so the metadata soon blows out. We (JRSRP) currently have an issue raised looking and compression and truncation methods for these higher level products so the provenance can be re

[2016-01-05 02:21] simonaoliver opened #57 "User guide for initial deployment"
Document to include the following:
1. Installation (includes dependencies / postgres install reference / EODatasets library - confirm installation ok)
2. Howto ingest using supported ingesters in EODatasets library
3. Howto build ingest support for new datasets
4. Python notebook examples
5 ...

[2016-01-05 02:23] simonaoliver opened #58 "Write dataset metadata to storage unit"
Include the dataset config within the storage unit

[2016-01-05 02:24] simonaoliver opened #59 "Fix pixel boundary issue for storage access method"
Bounding box not calculated correctly for projected tiles

[2016-01-05 02:25] simonaoliver opened #60 "GetDescriptor to return timestamps"

[2016-01-05 02:26] v0lat1le commented on #58
You mean the dataset metadata document (as per Jeremy's terminology doc) I assume...

[2016-01-05 02:28] v0lat1le commented on #58
In case multiple datasets contribute to the same time slice (e.g. Sentinel 2 data) all documents should be stored. Multi-document yaml format could be used for that

[2016-01-05 04:45] #33 closed, assigned to andrewdhicks

[2016-01-05 04:56] andrewdhicks commented on #60
Update API.get_descriptor to include the 'irregular_indices' property, ideally without opening files to read the data.  The only irregular dimension we currently have in datasets is time.  (This will be hard-coded in the API until an 'irregular' flag for the dimension can be passed along from other layers.

The acquisition timestamps are stored in relation to the dataset, which can be linked back

[2016-01-06 02:08] simonaoliver opened #61 "https://github.com/data-cube/agdc-v2/blob/ga/milestone1/README.md out of date"
requirements.txt does not exist
suggest supersede with readthedocs?

[2016-01-06 04:08] omad commented on #61
This should be fixed up as part of the documentation overhaul.

The `invalid` label is normally used to mark the issue itself as invalid, not that there is something in the project that is invalid.

[2016-01-06 04:25] jeremyh commented on #61
Updated to be more development focused, with a link to readthedocs for users.

[2016-01-06 04:25] #61 closed, assigned to nobody

[2016-01-07 02:35] simonaoliver opened #62 "Storage unit layer alias to enable lookup of common bands between sensors"
Include band alias in the storage unit config/write to enable identification of specific bands between different sensors? eg. TM band 1, blue, 0.45-0.52 (wavelength interval) OLI band 2, blue, 0.45 - 0.51 (wavelength interval). Included in the dataset configuration.

[2016-01-07 02:38] omad commented on #62
I'm thinking that this type of variable specific information should be defined in the Storage Configuration files, which will then be searchable in the index, and should be written into the Storage Units too.

I need to check that this is all working as intended.

[2016-01-08 05:13] mpaget commented on #62
In the v2 design process we pushed layer aliases out to a “Semantics API” as one place for domain+AGDC-specific lookups. This semantics API could conceivably use vocabulary and other name look up services too.

I have no problem adding this type of info to the Storage Configuration files for now. Just be aware that there is an option for a more general approach.

I don’t agree that aliases should

[2016-01-08 06:08] andrewdhicks commented on #60
The API.get_descriptor 'irregular_indices' property now uses the time coordinates stored in the NetCDF files for irregular time dimension, for files with more than 2 slices (it uses the database for the min and max times where possible).
This is a stopgap solution until we determine what the use cases are irregular variables other than time.

[2016-01-08 06:08] #60 closed, assigned to andrewdhicks

[2016-01-08 08:01] omad commented on #62
##### Semantics API

Is there any documentation about the Semantics API that I'm missing? I can't find it mentioned on the Data Cube Wiki.

##### Storage Unit Metadata

Querying and operation won't rely on metadata in the Storage Units. However, at least some Storage Units are going to be published through THREDDS and will contain comprehensive metadata.

##### CF `standard_name`

I'm very interes

[2016-01-10 23:05] mpaget commented on #62
Semantics API
Comes from v2 workshops. Documentation is likely not complete but there’s likely a mention of it somewhere - will be revisited in the current round (Jan 2016) of reworking the v2 documentation. Continue with including semantics in the yaml defs for now – which will help identify the problem space – and we can switch over to something like a semantics API if agreeable to all. Alex Ip

[2016-01-10 23:16] v0lat1le commented on #62
I suggest we store band metadata (like wavelength interval, spectral sensitivity, etc..) in the storage unit metadata (following CF, ACDD or other conventions where relevant), as well as in the datacube database.

This way consumers of the data have the power to decide on how to combine the data coming off different sensors.

Datacube API could provide algorithms for most common uses cases (once t

[2016-01-10 23:35] woodcockr commented on #62
That's consistent with the v2 design goals (including the algorithms for the most common use-cases). Happy new year to you all as well, I just got back and am catching up with the work done.

[2016-01-11 23:00] cet900 commented on #62
Just backing up @mpaget 's comment that `standard_name` is a restrictive vocabulary that enables interoperability, it's not a full semantic mapping. The extended attributes like wavelength, colour, band number, etc., need to go in other variable metadata fields - could be `long_name`, but you can also define any other fields you want, CF is the minimum requirement, so as well as `variable.standard

[2016-01-14 04:01] v0lat1le opened #63 "dataset path does not get updated if a dataset was indexed as a part of lineage of derived dataset"
to reproduce:
- ingest a PQ product (must have provenance trace)
- ingest the NBAR that the PQ was produced from
- watch the fireworks

notes:
- dataset path is set to NULL when the dataset is indexed as a part of lineage
- the path is not updated when the dataset itself is ingested

[2016-01-14 05:25] omad commented on #58
- A YAML serialisation of the dataset metadata is saved into an `extra_metadata` variable in the NetCDF Storage Units. This variable is along the time coordinate, with a dataset metadata per time.
- If multiple datasets are being merged, metadata from each dataset is concatenated into a multi-document YAML.
- _Unfortunately the CF-Conventions don't allow string variables, so I'm using a fixed leng

[2016-01-15 04:51] omad opened #64 "Difficulty opening NetCDF Storage Units with Xray"
The NetCDF Storage Units created by the ga/milestone1 code give a CF compliance error when attempting to open them with xray.

The error is either related to units, or to a data type issue. Further investigation is required.

[2016-01-15 05:49] mpaget commented on #64
Could you please send a file path or an ‘ncdump -h’ of the CF metadata and I can have a look if there’s anything obvious?
Alternatively Josh should be across CF and data types so might be worth getting his input.

From: Damien Ayers [mailto:notifications@github.com]
Sent: Friday, 15 January 2016 3:51 PM
To: data-cube/agdc-v2 agdc-v2@noreply.github.com
Subject: [agdc-v2] Difficulty opening NetCDF S

[2016-01-17 22:54] v0lat1le opened #65 "Add mappings remove/purge option to config tool"
Removing a mapping cleanly means the storage units created using that mapping will also be deleted.

Discuss.

[2016-01-17 23:00] v0lat1le opened #66 "Verify mapping documents against a schema at addition"
Mapping documents need be be verified against a schema before being added to the database.
Things to be checked:
- general structure
- name attribute must be a alphanumeric and underscore string (no white space)
- location_name must be a alphanumeric and underscore string
- measurements/*/units must be a string
- measurements/*/dtype must be one of (u)int[8,16,32,64] or float[32,64]
- measurements

[2016-01-18 00:35] jeremyh commented on #65
What use case(s) do you have in mind?

Once there's data, deletion becomes _hard_.
- What if there are existing jobs running that use them? Such as an API user who has run get-descriptor, serialised their results, and plans to run get-data in the future.
- Local jobs that are queued to use this data but haven't started running yet.
- The file permissions also need to match. I was hoping for almost

[2016-01-18 22:35] omad commented on #64
The problem was a configuration issue. The _units_ attribute was being set to the integer 1 instead of the string "1".

This was fixed in code, but being overridden by a storage mapping configuration file.

I've fixed the configuration file and expanded the automatically run integration tests to use some real configuration files, as well as checking that xray can open our _storage units_.

[2016-01-18 22:35] #64 closed, assigned to omad

[2016-01-20 02:46] simonaoliver opened #67 "storage unit file name conventions"
Storage units are currently named with the start time for the earliest timeslice with no end time.
We have not settled on a timespan for storage units and this should be configurable - i.e. in the storage mapping? Initial thinking was that the timespan for storage units could be controlled through operations but this is not ideal. Spatial index uses the bottom right corner so possibly a similar co

[2016-01-20 03:02] mpaget commented on #67
I would suspect/hope that file names shouldn’t materially matter, i.e files are indexed and that’s it.

That said, I appreciate consistency is very useful – including for thredds access and other file system tasks. The start time is as a good a convention as any.

From: Simon Oliver [mailto:notifications@github.com]
Sent: Wednesday, 20 January 2016 1:46 PM
To: data-cube/agdc-v2 agdc-v2@noreply.git

[2016-01-20 03:08] woodcockr commented on #67
Whilst the AGDC is filename agnostic, we do need to take a little care with how DOI's are handled in the NERDIP case where the filename appears in THREDDS. If a DOI is issued against a filename the AGDC would effectively become bound by that storage unit time boundary (and any other metadata embedded in the filename). I don't have any real information on NERDIP but it would be worth checking what

[2016-01-20 03:24] v0lat1le commented on #67
Having storage unit filename composed out of its grid index allows access to data without looking up filename anywhere for the case when the region of interest is known. This is used in GDF trial get_data to bypass database access.

[2016-01-20 03:43] woodcockr commented on #67
Yes, and I was never really comfortable with that. I can see that being brittle and couldn't quite understand why it was done that way given the get_descriptor can contain all the information necessary for a computational node to not have to hit the database. I didn't sweat it though for the trial which was a time limited prototype of some new ideas.
Note this needs to be robust across collections

[2016-01-20 05:46] simonaoliver opened #68 "numpy version required => 1.9"
Update setup.py requires to include numpy >1.9 for numpy.linspace dtype support
Other option is to remove dtype flag from pynb examples (dtype of coordinate bands) - fix so we don't have this dependency?

[2016-01-20 22:47] mpaget commented on #68
Not sure if this requires a comment but nevertheless..

Agreed. Numpy.linspace is handy and dtype support where necessary/appropriate should be supported. The alternative of creating hacks in the code to enable new features based on old library versions is not within scope I believe. Conversely, enforcing a minimum version level for base libraries is appropriate for development. There may come a t

[2016-01-21 00:39] #58 closed, assigned to omad

[2016-01-21 00:40] #59 closed, assigned to nobody

[2016-01-22 03:40] #68 closed, assigned to nobody

[2016-01-22 03:56] v0lat1le commented on #66
done! thanks @jeremyh

[2016-01-22 03:56] #66 closed, assigned to nobody

[2016-01-22 05:33] v0lat1le commented on #22
covered by #44

[2016-01-22 05:33] #22 closed, assigned to petewa

[2016-01-22 05:34] v0lat1le commented on #23
covered by #47 #48 #49 #50

[2016-01-22 05:34] #23 closed, assigned to petewa

[2016-01-28 06:04] #63 closed, assigned to nobody

[2016-01-28 06:04] #57 closed, assigned to nobody

[2016-01-28 23:32] daleroberts commented on #45
If you are interested, this is how I do things:

https://gist.github.com/daleroberts/75cb0f0d5a77bedc28cf

[2016-02-02 00:21] zhang01GA opened #69 "ingestor scale-up test run with bulk input data, say 1-year of landsat NBAR"
to stress test the ingestor's robustness and reliability when handling large amount of data.

[2016-02-02 03:11] zhang01GA opened #70 "make the ingestor preventing duplicate observations get into datacube"
Duplicate observations occur in pixel level due to scene overlaps, and in a larger scale due to mosaics, multiple data sources,etc. Has already caused issues in WOFS products.

[2016-02-02 03:12] zhang01GA commented on #70
assign

[2016-02-03 05:14] wenjunwu opened #71 "get_data() in datacube.api.API returns empty "arrays" when "variables" is not given in the descriptor"
Should all available "variables" ("band data") be returned if "variables" is not given in the descriptor?

[2016-02-03 22:54] simonaoliver opened #72 "API returns data for platform query when none is available"
data_request = {
       'platform': 'LANDSAT_7',
      'product': 'NBAR',
      'dimensions': {
             'time': {
                   'range': (datetime.datetime(1990........
}
data_descriptor = api.get_descriptor(data_request)
- above returns data though no LANDSAT_7 is available - i.e. returns data with platform = LANDSAT_5
  default behaviour appears to be return whatever is in the system i

[2016-02-03 22:58] simonaoliver opened #73 "update user guide with temporal stacking example"
Current example is a single dataset - maybe something like:
datacube-injest -v <dataset1> <dataset2>

[2016-02-04 01:49] simonaoliver commented on #67
If we go with the concept of temporal stacks being: yearly, daily, monthly, then the we could do something like below:

From the storage unit configuration -
file_path_template: '{platform[code]}_{instrument[name]}_{product_code}_{EPSG:code}_{res_x}_{tile_index[0]}_{tile_index[1]}_{temporal_stack_period_beginning_of}_{collection_id}.nc'

eg.
SENTINEL_2A_MSI_L1C_3577_25_200000_-300000_2015_1.0.0.nc

[2016-02-04 04:31] simonaoliver opened #74 "Ingest democube Landsat 5 sample set to EPSG:3577"
#67

For testing non geographic projections on the THREDDS test instance

[2016-02-04 23:55] simonaoliver opened #75 "add storage unit support for sinusoidal projection"
PROJCS["unnamed",
    GEOGCS["Unknown datum based upon the custom spheroid",
        DATUM["Not specified (based on custom spheroid)",
            SPHEROID["Custom spheroid",6371007.181,0]],
        PRIMEM["Greenwich",0],
        UNIT["degree",0.0174532925199433]],
    PROJECTION["Sinusoidal"],
    PARAMETER["longitude_of_center",0],
    PARAMETER["false_easting",0],
    PARAMETER["false_northing"

[2016-02-08 02:05] simonaoliver opened #76 "setup fails to configure properly without "-e" in pip install"
Using either "python setup.py install" or "pip install ." fails to configure build agdc-v2 correctly.

$ datacube-config database init
Traceback (most recent call last):
  File "/usr/local/bin/datacube-config", line 9, in <module>
    load_entry_point('datacube==0.0.0+851.g9a52c61', 'console_scripts', 'datacube-config')()
  File "/usr/local/lib/python2.7/dist-packages/pkg_resources/**init**.py", l

[2016-02-08 02:11] omad commented on #76
Which version of pip and setuptools do you have, and how was python installed?

[code]

[2016-02-08 02:18] simonaoliver commented on #76
pip 8.0.2
setuptools 19.6.2
on Ubuntu 15.04 (default python install) 2.7.9 GCC 4.9.2 on linux2
- builds prior to recent changes (5 Feb) installed without this error and no change to python environment the same setup

[2016-02-09 03:31] wenjunwu commented on #76
bash-4.1$ diff datacube/version.py ../agdc-v2/datacube/
31,32c31,32
< GIT_ARCHIVE_REF_NAMES = 'HEAD -> develop'

## < GIT_ARCHIVE_COMMIT_HASH = '017b660'

The problem can be fixed by replacing the above two lines with fixed values.

[2016-02-09 21:53] ama-jharrison opened #77 "datacube-config database init fails"
When running "datacube-config -v database init", the following error occurs:
`Traceback (most recent call last):
  File "/home/localuser/anaconda3/bin/datacube-config", line 9, in <module>
    load_entry_point('datacube==0.0.0+864.gd46179a', 'console_scripts', 'datacube-config')()
  File "/home/localuser/anaconda3/lib/python3.5/site-packages/click/core.py", line 664, in __call__
    return self.ma

[2016-02-09 22:10] omad commented on #77
Hiya, looks like an old version of the `click` python package. Try:

[code]

We still need to work out minimum versions and update the package dependencies appropriately.

[2016-02-09 22:22] simonaoliver opened #78 "datacube-config database init fails with python 3.5.1 on Ubuntu 14.04 - minimum version of click?"
I'm running into an error when running the command "datacube-config database init" or "datacube-config check" I get an error
"File "/home/localuser/agdc-v2/datacube/ui/click.py", line 97, in new_func
    config_ = click.get_current_context().obj['config_file']
AttributeError: module 'click' has no attribute 'get_current_context'"

I'm currently running this off python 3.5.1 with from an anaconda d

[2016-02-09 22:24] omad commented on #78
This is the same issue as #77, closing.

[2016-02-09 22:24] #78 closed, assigned to nobody

[2016-02-09 22:58] petewa commented on #45
Thanks Dale I'll take a look at it.

Closing this.

First version of the AEL is located here https://github.com/data-cube/agdc-v2/tree/develop/datacube/ndexpr

It provides the ground work for for feedback and further improvements.

[2016-02-09 22:58] #45 closed, assigned to petewa

[2016-02-09 23:00] petewa commented on #44
Closing this.

Thanks Andrew for completing this task in a timely manner.

I'll create new tasks for the next iteration of get_descriptor and get_data for HPC soon once the EDA milestone is complete.

[2016-02-09 23:00] #44 closed, assigned to andrewdhicks

[2016-02-09 23:03] petewa commented on #46
Complete and is integrated into the https://github.com/data-cube/agdc-v2/tree/develop

[2016-02-09 23:03] #46 closed, assigned to petewa

[2016-02-09 23:05] petewa commented on #51
Interim solution here : https://github.com/data-cube/agdc-v2/tree/develop/datacube/analytics/utils

Mainly for me to test visualize data.

This is a temporary solution until a proper visualization module is created.

[2016-02-09 23:05] #51 closed, assigned to petewa

[2016-02-09 23:07] petewa commented on #47
Closed.

This is not needed anymore as the GDF has been deprecated.

[2016-02-09 23:07] #47 closed, assigned to petewa

[2016-02-09 23:07] petewa commented on #48
Closed.

This is not needed anymore as the GDF has been deprecated.

[2016-02-09 23:07] #48 closed, assigned to petewa

[2016-02-09 23:07] simonaoliver opened #79 "configuration support for temporal stacks - daily, yearly, monthly storage units"

[2016-02-09 23:10] petewa commented on #49
Sample applications for AE/EE integrated with Data Access API
- https://github.com/data-cube/agdc-v2-examples/tree/master/examples/analytics_execution_engine

Sample applications for AEL using the Data Access API
- https://github.com/data-cube/agdc-v2-examples/tree/master/examples/ndexpr

[2016-02-09 23:10] #49 closed, assigned to petewa

[2016-02-09 23:12] petewa commented on #50
Sample applications for AE/EE integrated with AEL and Data Access API
- https://github.com/data-cube/agdc-v2-examples/tree/master/examples/analytics_execution_engine

[2016-02-09 23:12] #50 closed, assigned to petewa

[2016-02-09 23:14] petewa commented on #52
Closed. Not complete due to other priorities, will recreate for next milestone.

[2016-02-09 23:14] #52 closed, assigned to petewa

[2016-02-09 23:16] petewa commented on #53
Closed. Minimal set implemented and not complete due to other priorities, will recreate for next milestone.

[2016-02-09 23:16] #53 closed, assigned to petewa

[2016-02-09 23:23] simonaoliver commented on #76
I've tested this on the problem platform and works with both install from git zip and from repo clone - happy to close

[2016-02-09 23:37] wenjunwu commented on #76
+1 – it now also works on both raijin and VDI

## Geoscience Australia Disclaimer: This e-mail (and files transmitted with it) is intended only for the person or entity to which it is addressed. If you are not the intended recipient, then you have received this e-mail by mistake and any use, dissemination, forwarding, printing or copying of this e-mail and its file attachments is prohibited. The s

[2016-02-09 23:46] #76 closed, assigned to omad

[2016-02-09 23:49] omad commented on #7
Closing. GDF has been deprecated.

[2016-02-09 23:49] #7 closed, assigned to nobody

[2016-02-09 23:50] omad commented on #5
Closing. GDF has been deprecated.

[2016-02-09 23:50] #5 closed, assigned to nobody

[2016-02-09 23:50] omad commented on #4
Closing. GDF has been deprecated.

[2016-02-09 23:50] #4 closed, assigned to nobody

[2016-02-10 03:45] andrewdhicks opened #80 "API not handling dimension ranges for projected coordinate systems"
When requesting get_descriptor or get_data on an Albers EA dataset, it does not handle ranges being specified.
(The code to adjust the range to the direction of the dimension is expecting different dimensions.)

[2016-02-10 03:47] simonaoliver opened #81 "cleanup legacy utils and related scripts"
agdc2gdf....py utils etc.

[2016-02-10 04:15] #81 closed, assigned to nobody

[2016-02-10 22:00] woodcockr commented on #67
I am not sure where this design discussion on the filename convention has got to but I am concerned about the use of the filename structure in code as logic:

[code]

lines 152 and 153 from agdc-v2/examples/band_stats.py

This type of code would mean the the filenames now create coding dependencies.
Would this not be better served, and more robust, if the storage unit descriptor metadata was used

[2016-02-10 22:10] v0lat1le commented on #70
@jeremyh Would it be possible to have DB constraints enforcing non-overlapping storage units?

[2016-02-10 22:15] #73 closed, assigned to v0lat1le

[2016-02-10 22:20] v0lat1le commented on #69
Runs on about 1000 LS scenes (1% of total) went fairly smoothly.
Over the next weeks we'll scaling up towards 100% of the data

[2016-02-10 22:20] #69 closed, assigned to v0lat1le

[2016-02-10 22:26] jeremyh commented on #70
Yes.

[2016-02-10 22:46] simonaoliver opened #82 "update agdc-v2/examples/band_stats.py in response to #67"
Refactor to remove dependency on filename convention

[2016-02-10 23:06] #75 closed, assigned to v0lat1le

[2016-02-10 23:50] v0lat1le commented on #67
@woodcockr the script is out of date and has become more of a playground to test ideas rather then an example of usage. An issue (#82) has been created to update the example

[2016-02-11 01:40] #80 closed, assigned to andrewdhicks

[2016-02-11 01:59] omad commented on #74
Test data in Albers EPSG:3577 is available at http://dapds00.nci.org.au/thredds/catalog/uc0/rs0_dev/alberscube/catalog.html

Looks good to me!

[2016-02-11 01:59] #74 closed, assigned to v0lat1le

[2016-02-16 04:13] simonaoliver commented on #65
Soft deletion looks like the a reasonable solution. The issue with letting files persist is that the datacube interface is not the only access method for the data. As a data management task we could manage hard deletes through notification?

[2016-02-16 04:56] #77 closed, assigned to nobody

[2016-02-16 05:52] jeremyh opened #83 "Record the size of storage units"
We would like to be able to to easily generate statistics for collections, such as total size.

'Dataset' metadata has a size_bytes field, but we don't record a similar field for storage units.

[2016-02-17 00:00] andrewdhicks opened #84 "iPython notebooks for API"
Document functionality of the storage query and access module API.
### 1. intro
- Check connection
- Search database
- "What do I have?"
- get data
### 2. band math
- get data
- NDVI
- saving
- rgb, stretch bands & plot
### 3. seasonal stats
- time series stats
- group by seasons

[2016-02-17 00:06] #72 closed, assigned to andrewdhicks

[2016-02-17 00:38] cet900 commented on #84
Note we're happy to provide copies of or links to your demo ipynbs from the NCI training course for AGDC/VDI :)

[2016-02-17 01:00] #83 closed, assigned to omad

[2016-02-17 02:31] andrewdhicks opened #85 "Storage Unit search is slow"
Searching for storage units can be slow, due to the list of dataset_refs.
Not including this made a sample search go from 6.5s -> 0.17s.
See `datacube/index/_storage.py:167`
Greg suggests that the query could be optimized.

[2016-02-17 02:34] omad commented on #83
After implementing this, Greg, Jeremy and I have had some further discussion. This simply duplicates what is stored on disk, and could be calculated with a database query and bunch of filesystem stat() calls. However it will be a little easier and significantly faster to query the database, if and when we have a dashboard and reporting requirements.

For now, it can stay.

We may also want to look

[2016-02-17 02:52] v0lat1le commented on #85
The dataset id's are required for storage unit stacking. Also for general symmetry of things :P...

I'm using array_agg and group_by to retrieve those in one query in https://github.com/data-cube/agdc-v2/blob/0b5b15d553834ac00fb4e3ef69239b7b05a4cc3e/datacube/index/postgres/_api.py#L381-L400

[2016-02-17 02:58] jeremyh commented on #85
Yuck, I didn't realise we were doing N+1 selects. As Greg says, it could easily be put into a single query.

[2016-02-17 03:05] jeremyh commented on #85
@andrewdhicks Does your code use the dataset id list? I'm wondering if it's worth making it optional too so that we can avoid the join when not needed (such as by returning it as a sibling rather than inside the SU object).

[2016-02-17 03:09] andrewdhicks commented on #85
@jeremyh I'm not using it. Optional would work for me. I don't know if I'd need the dataset_id for anything later on, say for provenance tracking. Would any derived data just link back to the storage_id, or would it need the list of dataset_ids?

[2016-02-17 03:17] jeremyh commented on #85
For the basic output API (writing a full dataset out and ingesting it), you'll need the original source dataset ids to write the provenance files.

For the in-memory output API I think you could just reference the storage unit IDs (which could then be linked easily during insert).

[2016-02-18 00:17] v0lat1le opened #86 "Writing remaining NetCDF supported GridMappings"
See http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/build/cf-conventions.html#appendix-grid-mappings

[2016-02-18 00:21] v0lat1le opened #87 "Storage unit attributes should not be unicode strings"
It breaks some of the older tools as per "QC update on rs0_dev files" by Kelsey.

Datacube running on PY3 will most likely be violating this...

[2016-02-18 00:50] simonaoliver opened #88 "QA bit level info machine readability"
QA bit level info has been added to storage config example ls5_albers.yaml along with longnames containing wavelength info - look into how best to represent this data and modify the yaml accordingly. Also note that cubic has been changed to nearest to enable pixel alignment between GANBAR and PQ products.

Need to work out how ingester handles QA data to enable parsing - looking at a common method

[2016-02-18 00:54] simonaoliver commented on #88
Also investigating spectral response function inclusion with the aim to enable band equivalence based on spectral response - centre wavelength, and range of acceptable limits for equivalence. Remote Sensing scientists have differing ideas on what constitutes band equivalence so a range could be used for this. i.e. does target sensor have values in range based on spectral response or min/max?

[2016-02-19 04:41] v0lat1le commented on #79
- **aggregation_period** parameter has been added to storage type config
- **aggregation_period** can be _year_ or _month_
- if **aggregation_period** is not specified _year_ is assumed
- **ingest** command has been added to _datacube-ingest_ replacing original behaviour
- _datacube-ingest_ **ingest** produces single time-slice storage units
- **stack** command has been added to _datacube-ingest_

[2016-02-19 04:41] #79 closed, assigned to v0lat1le

[2016-02-19 04:45] v0lat1le commented on #70
- **check** command has been added to _datacube-ingest_ for displaying missing and duplicated data
- proof of concept database-level prevention of duplicated data has been added (but not enabled)

[2016-02-19 04:45] #70 closed, assigned to v0lat1le

[2016-02-19 04:57] v0lat1le commented on #67
Currently the following fields are supported:
- type_id - storage type id
- type_name - storage type name
- random - 16 random bytes represented as a hex string (32 characters)
- tile_index - 2-value array corresponding to the tile location in the grid
- start_time - string corresponding to the start time of the aggregation period
- end_time - string corresponding to the end time of the aggregatio

[2016-02-19 05:07] v0lat1le commented on #67
Things that are defined in the storage_type don't even need to be fields - they are the same for each storage unit and can be just 'hardcoded' in the filename pattern.

So type_id, type_name, product, platform, instrument, EPSG code, resolution can all go. Only things that vary cross storage units are the coordinates.

[2016-02-21 22:10] woodcockr commented on #84
We already have a set of these for AE/EE - why another set or is this the same set?

[2016-02-21 22:17] woodcockr commented on #84
These notebooks are here:
https://github.com/data-cube/agdc-v2-examples/tree/master/notebooks/analytics_execution_engine

[2016-02-21 22:26] omad commented on #84
I can't speak for everyone, but I hadn't seen those examples before since I've only been watching the main repo.

What's the reason for the separate repository? I think they'd be more discoverable and easier to maintain and use if they were kept in the main repo.

[2016-02-21 22:46] cet900 commented on #84
Have created a link from the training page to that repo. Thanks Rob!

[2016-02-21 22:55] woodcockr commented on #84
Peter and I announced the examples repo when it was created a couple of weeks back. It was separated so others, who are EO AGDC users, but not core developers can create examples (different permissions on repos is needed).The main repo can have proper unit tests and integration tests (the examples that were there were out of date). If this is an issue, this can be changed, we just avoided clutteri

[2016-02-22 22:22] v0lat1le commented on #88
I added some in-line comments to 97cbb4f3ceca0acdd49221eb52c4e85b86924aa4
Discuss

[2016-02-22 23:52] v0lat1le commented on #82
Doesn't rely on filenames anymore.
Still a lot of boilerplate and fudge

[2016-02-22 23:52] #82 closed, assigned to v0lat1le

[2016-02-23 03:00] sixy6e commented on #88
How PQ masking is performed under eotools, https://github.com/GeoscienceAustralia/eo-tools/blob/stable/eotools/pq_utils.py, looks similar to the 'make_mask' function.  Bit values are referenced via a 'look-up-table'.

Under eotools, the assumption is that if a bit is asked for, then a mask corresponding to that bit is generated.  The meaning of True/False is merely to retrieve that bit or ignore a

[2016-02-23 03:01] simonaoliver opened #89 "datacube-ingest ingest fails when chunksize depth in storage config > 1"
_ValueError: chunksize cannot exceed dimensions size_

Above error makes sense because I'm ingesting a single time slice

datacube-ingest stack doesn't know how deep to make my chunks.

Expect to be able to configure chunk depth in storage stack but can't specify depth >1 (maybe aggregate/stack depth as separate attribute in storage config?).

[2016-02-23 03:31] v0lat1le commented on #89
Dimension size is respected when setting chunksize.
The minimum of the two is used.

[2016-02-23 03:31] #89 closed, assigned to v0lat1le

[2016-02-23 18:10] simonaoliver opened #90 "Update Albers Landsat storage config attributes"
Include attributes from geographic example in Albers storage mappings for Landsat578
Reprocess existing Albers data using the new mapping

[2016-02-24 02:04] andrewdhicks commented on #84
Updating issue to reflect scope of API examples.

[2016-02-24 02:04] #84 closed, assigned to andrewdhicks

[2016-02-24 02:09] andrewdhicks commented on #71
API now returns all variables when none are specified.
We will need to think more about what will be returned when we support band aliases.
(E.g. would we still return band_10, band_20 etc, or would we need to include all aliases as well, or just include all of the variable properties? e.g. band_10: {alias: 'blue', wavelength: ...}

[2016-02-24 02:09] #71 closed, assigned to andrewdhicks

[2016-02-24 02:28] woodcockr commented on #71
Suggestion in the v2 design workshop, and in the architecture though not welled described, is for the user environment to include a "semantic" configuration  option. this would specify what aliases to use, otherwise I would suggest either all or some other default would need to be defined.

[2016-02-24 02:55] andrewdhicks commented on #71
Thanks Rob. I saw that there was an semantic engine, but not a lot on how it could work, so having the user choose their semantic configuration makes sense. I like the idea of a sensible default fallback too, if we can get everyone to agree on what it would be.

[2016-02-24 07:29] v0lat1le commented on #38
datacube-ingest stack does this

[2016-02-24 07:29] #38 closed, assigned to v0lat1le

[2016-02-25 05:18] simonaoliver opened #91 "Add storage type definition to storage unit"
As per dataset config - include the storage unit type definition as data within the unit. Stacking timeslices should only write the config once per stacked unit.

This will facilitate index without reingest.

[2016-03-03 03:51] simonaoliver opened #92 "Sinusoidal projection support in CF"
DRAFT Storage configurations have been included https://github.com/data-cube/agdc-v2/tree/develop/docs/config_samples/modis to enable write of MODIS USGS data to sinusoidal projection storage units. This projection does not look to be currently supported in CF. THREDDS issues?

[2016-03-04 04:29] omad opened #93 "Store Machine Readable Spectral Response Information"
We've been told by the science people that merely storing central and min/max wavelengths is insufficient, and we will need to store full spectral response information for each observation variable.

There doesn't seem to be an existing standard way for specifying this in the CF Conventions, so we will have to come up with our own.

This issue follows on from #88.

_Simon Oliver:_

[2016-03-04 04:42] omad commented on #88
We have gone with pretty much the above definition. Here's a slightly abbreviated Landsat 5 PQ example:

[code]

This information is written into the NetCDF storage units

[code]

[2016-03-04 04:42] #88 closed, assigned to omad

[2016-03-04 04:55] omad commented on #93
Using the Relative Spectral Response data available from http://landsat.usgs.gov/instructions.php,
a possible example definition in the YAML Storage Configurations for Landsat 5 would be:

[code]

**wavelength_range** specifies the min/max wavelength for which the spectral response data is provided
**relative_spectral_response** specifies an array of response values, spread between min/max wavelen

[2016-03-04 04:58] v0lat1le commented on #93
~~I think **relative_spectral_response** should be just **spectral_response**.~~ nvm, I don't know what I'm talking about

**wavelength_range** is an array specifying start and end of wavelength range in nanometres.
**relative_spectral_response** is an array of values of relative spectral response function. Values are assumed to be distributed uniformly between wavelength_range[0] and wavelength_r

[2016-03-04 04:59] omad commented on #93
A possible disadvantage of this scheme, is that it doesn't give any simple lower quality fallback such as **wavelength range** or **central value**. For this sensor and band the range is usually give as 0.45-0.52 microns, but the **wavelength_range** value extends much further than this.

[2016-03-04 05:15] v0lat1le commented on #93
Himawari-8 SRF https://nwpsaf.eu/downloads/rtcoef_rttov11/ir_srf/rtcoef_himawari_8_ahi_srf/rtcoef_himawari_8_ahi_srf_ch13.txt

Values are uniformly spaced.
The domain of the function is in cm<sup>-1</sup>, so conversion to nanometres is needed

[2016-03-07 04:24] mpaget commented on #93
While wavelength in the satellite sensor context has not been adopted into CF yet there is (from memory) a long discussion on the list: http://mailman.unidata.ucar.edu/mailing_lists/archives/cf-satellite/. I can't point you at the specifics right now but we can search for it. However, its not critical as I think your concepts of wavelength_range and central value are pretty close to the mark and c

[2016-03-07 04:30] mpaget commented on #92
No issues. I'll follow up with the detail of ingesting MCD43A1-4 c5 and c6 in the coming days - to have it working by wgiss/hackfest time.

Just because CF does not support a projection does not preclude that projection from being supported by the data cube. If a projection is not supported by CF then that only raises questions for the netcdf-cf storage units particularly in the NCI context, which

[2016-03-11 02:01] v0lat1le opened #95 "Race condition indexing datasets"
Reproduced by running multiple ingest processes indexing different nbar's which all came from the same telemetry

[2016-03-11 02:12] v0lat1le commented on #95
Could be argued that there should only be one ingest process active. And load balancing should be done independently of the platform (via a generic Executor Service)

[2016-03-15 02:44] jeremyh commented on #95
Do you still have the error message you received?

[2016-03-15 03:06] andrewdhicks opened #96 "Updates for consistency across release version"
In the storage type config file, [some settings have changed](https://github.com/data-cube/agdc-v2/commit/777e0a87d76d8a21c6353bd9a484a664f33fb0a9) than are not reflected elsewhere n the project:
- `product_type` is now lowercase (eg `nbar` rather than `NBAR`)
- Band names have changed, eg:
  - `band_10` is now `band_1`
  - `band_pixelquality` is now `pixelquality`

Changes need to be reflected in

[2016-03-16 02:55] jeremyh opened #97 "Some GQA values are coming back as NaNs, and fail ingestion."
Example:

[code]

Although GQA itself should be fixed to not produce NaNs, I think we should be able to ingest these datasets regardless.

[2016-03-17 02:34] omad commented on #97
In case that link doesn't last for long, he's an [example dataset YAML containing NaNs.](https://github.com/data-cube/agdc-v2/files/177176/ga-metadata_gqa_nan.txt)

[2016-03-18 03:17] jeremyh opened #98 "Use a deeper default storage unit folder structure"
The current test years contain all storage units for a storage type in a single flat folder: more than 144k in one case. Many filesystems don't handle large flat folders well, and it's usually recommended to break them down into subfolders.

Current folder offset: `{projection}/{product}`

A possible suggestion:  `{projection}/{product}/{tile_index}/{year}/{month}`

[2016-03-18 03:20] jeremyh commented on #98
(removing `year` and `month` as needed depending on your stack size)

[2016-03-18 06:13] v0lat1le opened #99 "storage unit file permission configuration"
- Should storage unit file permissions be configurable?
- Should it be a one off thing during ingestion?
- Should it be a dynamic thing where the user can change permissions later?
- What sort of things are configurable?
  - owner and group accounts
  - owner/group/all read/write
  - access control list

[2016-03-21 04:36] jeremyh commented on #85
Initial implementation in b3087892bee2f. Will wait for feedback before closing...

[2016-03-22 00:35] v0lat1le commented on #97
We turn NaN's into "NaN" string during yaml to json conversion.

See b0581676022f1567c9d729f68abd5d26d2cc6f87

[2016-03-22 00:35] #97 closed, assigned to nobody

[2016-03-23 14:04] Spaxe opened #102 "Mozilla Science Lab Global Sprint 2016: 2nd & 3rd June"
Hey there,

Mozilla is hosting a global open science hackathon, and they are [open for project submissions](https://www.mozillascience.org/global-sprint-2016). This means you can get interested software people to contribute to this project over 2 days. Of course, you will also be able to contribute to other open science projects on the day.

The only requirement is that projects must be open sourc

[2016-03-29 22:53] andrewdhicks opened #103 "Datacube config file to use by default?"
In the hack days, we got some feedback that the expected order of config file locations we search was unexpected.

A user was running `module load agdc-py2-dev`, which was setting the environment variable, but the config file being used was the home directory from a previous private install, pointing to a different database.

The current order is:
- datacube.conf (in the current working directory)

[2016-03-29 23:17] v0lat1le commented on #103
The overriding behaviour is trouble. It can lead to mutant configurations like DB IP from one config and port from another. Easy to stuff up, hard to debug and adds no value, imho

[2016-03-29 23:17] v0lat1le commented on #103
Config from current working directory seems dangerous. Different behaviour depending on where you run things doesn't sit well with me.

[2016-03-30 03:40] Spaxe commented on #103
If I could put in my view, this is the order I propose:
- `datacube.api.API(<config dict>)`
- `datacube.api.API(<config filepath>)`
- `datacube.api.API()` would default to looking at default config files:
  - `~/.datacube.conf` (user's home directory)
  - `/etc/datacube.conf`

(If you're loading config elsewhere, feel free to replace the entry point above.)

Environment variables are hard to debug

[2016-03-30 22:34] #90 closed, assigned to omad

[2016-03-31 03:14] #85 closed, assigned to nobody

[2016-03-31 03:15] #41 closed, assigned to nobody

[2016-03-31 06:05] omad commented on #92
There's an open proposal for adding Sinusoidal Projection support to the CF Conventions http://cf-trac.llnl.gov/trac/ticket/77 . The proposal was accepted in 2012 for inclusion in the next version of the Conventions, but hasn't happened yet.

[2016-03-31 11:04] mpaget commented on #92
Great, thank you.
As its an approved proposal its worth prodding the CF folks for the "next version".
I think I recall that a csiro person had been invited to a mini workshop on cf and/or thredds development. I'll follow this up and see if there's an opportunity to engage.

[2016-03-31 21:11] v0lat1le commented on #92
That CF ticket (http://cf-trac.llnl.gov/trac/ticket/77) confuses me...
They propose to use **longitude_of_projection_origin** for the longitude of central meridian, while the sample data uses **longitude_of_central_meridian** and **longitude_of_prime_meridian**.

Currently we put in **longitude_of_central_meridian**. I guess we could put in all three?

[2016-03-31 22:10] andrewdhicks opened #104 "Search by storage type"
From the March 2016 hack days at CSIRO:

[2016-03-31 22:38] #104 closed, assigned to andrewdhicks

[2016-04-04 07:12] andrewdhicks opened #106 "Ingest features - setting origin & no resampling"
From the hack days in March 2016:
Edward King's sample input data was a global NetCDF in geographic projection.
Issues arising when writing the storage config:
- No way to specify to not to resample the input data. (Instead used 'nearest' and hoped that the rest of the settings were correct.
- No way to specify the origin of the tile index, so the single netCDF file got tiled into 4 because the (0

[2016-04-06 01:59] simonaoliver opened #108 "Implement band statistics workflow"
Implementation of initial band statistics continental workflow translated from AGDC v1

[2016-04-06 02:01] simonaoliver opened #109 "Implement initial WOfS implementation"
Initial WOfS continental workflow implementation

[2016-04-07 04:21] benjimin opened #110 "Recovery after incomplete ingest"
What should be the behaviour if an ingest gets aborted?

Currently, it appears that all of the progress (i.e. written storage units) will be erased by the next ingest command rather than resuming from where it left off.

[code]

[2016-04-07 04:57] v0lat1le commented on #110
What I think happened here:
Ingester got killed by raijin for exceeding time/mem constraints half way through a run,
leaving behind orphaned storage unit files.
On the next run the ingester detected those files and errored out.
During the error handling it deleted all the files.

The bug here is that ingester deletes too many files during cleanup. It deletes files it would have created had the run

[2016-04-08 05:19] zhang01GA opened #111 "Ingestor bugs at duplicated datasets ingests"
When a duplicate dataset is being ingested, the Ingestor will fail and crash out,  and even deleted already ingested storage unit files, making the datacube inconsistent.

The correct behavior should be exception handling: fail graciously, print out useful information of what caused the problem, roll back things as an atomic unit. Ensusing the datacube is consistent always.

The bottom line is: Tr

[2016-04-08 05:24] zhang01GA opened #112 "database consistency check and repair utility scripts"
Currently there is a command to check database  storage unit consistency:
database-ingest check.

If inconsistency problem detected, how to fix the inconsistency?  scripts.

[2016-04-08 05:26] zhang01GA commented on #111
This is urgent for batch ingests to work painlessly.

[2016-04-08 05:33] zhang01GA opened #113 "Intallation document updates and sample scripts for target system envs"
The installation doc need to be tested and updated to be more accurate

Fei Zhang has started  an example installation script (/util/deploy_awsec2.sh), which can run in a baseline Ubuntu14.04 (AWS EC2). Upon successful running of the script, it will set up a complete minicube ready for testing/development.

[2016-04-08 05:35] zhang01GA commented on #112
improve the ingest check

[2016-04-08 05:59] zhang01GA opened #114 "the command line naming should be reviewed"
I found the commandline command can be simplified and made more consistent.
datacube-config, datacube-search, datacube-ingest may be replaced by

The idea is to mimic good Linux command like git  and awscli.

So let's have a suite of commands like:

agdc ingest [options] argments
agdc config [options] argments
agdc search [options] arguments
agdc list*
agdc verb [options] arguments

[2016-04-11 05:27] zhang01GA commented on #111
also please investgate this INFO message during ingest
2016-04-11 05:15:26,249 INFO Writing storage unit: /xdisk/testdc/LS5_TM_NBAR/LS5_TM_NBAR_3577_7_-40_20060129001120781025.nc
2016-04-11 05:15:26,254 INFO Failed to auto identify EPSG: 7
2016-04-11 05:15:26,255 INFO Failed to auto identify EPSG: 7
2016-04-11 05:15:26,440 INFO Failed to auto identify EPSG: 7
2016-04-11 05:15:26,440 INFO Failed to

[2016-04-11 05:52] #110 closed, assigned to nobody

[2016-04-11 05:55] omad commented on #111
The ingestor will no longer delete files. The logic was being too hungry when cleaning up in the case of a failure.

Fixed in 47981b2

[2016-04-11 05:55] #111 closed, assigned to v0lat1le

[2016-04-13 01:49] simonaoliver opened #115 "Enable search / get data by Landsat GQA threshold"
Being able to filter get data requests by geometry assessment quality is an essential feature for ensuring pixels line up.

eg. abs_iterative_mean_residual.x < 1and abs_iterative_mean_residual.y < 1 and abs_iterative_mean _residual is not null

[2016-04-13 02:23] simonaoliver opened #116 "Implement and demonstrate method for xarray groupby siderial day"
Observations within a storage unit can be a duplicate with different timestamps.
A groupby solution is required to make statistical sense and avoid double counts in statistics
Because we don't group observations at ingest, we need to do it during get data.

UTC days don't work (acquisitions cross day boundaries)
siderial days look like the best solution https://en.wikipedia.org/wiki/Sidereal_time

[2016-04-13 03:15] v0lat1le commented on #116
Why not use local timezone days? Much simpler and solves that particular issue.

[2016-04-13 03:20] v0lat1le commented on #116
Also, since landsat orbit is sun-synchronous wouldn't [Solar Time](https://en.wikipedia.org/wiki/Solar_time) make more sense? Siderial day will result in a 4 min/day drift.

[2016-04-13 03:20] andrewdhicks commented on #116
GDF used the mean latitude to offset from UTC:

[code]

(From https://github.com/GeoscienceAustralia/gdf/blob/master/gdf/__init__.py#L661)

[2016-04-13 05:38] andrewdhicks opened #117 "Better error handling on API creation failure"
When a user creates an API object, by default it will use the default config to get the default database connection, and try to connect.

If the connection fails, it shows a very long stack trace.  The very last line tells the user what is wrong, but not the common fixes for it.

As the creation of the API is the first thing a user will try, we should try to be more helpful.  The API should handle

[2016-04-18 00:05] andrewdhicks opened #118 "Add `get_tile` to API to support v1-style apps"
Tile based processing using v1 style workflows (such as WofS) requires a list of tiles for a particular set of cells.
The v1 implementation provided the following fields:
- acquisition_id
- satellite
- start_datetime
- end_datetime
- end_datetime_year
- end_datetime_month
- x_index
- y_index
- xy
- datasets
  - product_name
  - product_path

[2016-04-18 01:50] v0lat1le opened #119 "'eo' metadata type shouldn't use AoS, LoS for the time search field"
The indexer code does something like:

[code]

I suspect it is to support `satellite_telemetry` dataset types, which don't have `extents` field.

Proposed solution:
- only use extents for `eo` metadata types
- define a separate metadata type for `satellite_telemetry`

[2016-04-18 03:12] jeremyh commented on #119
I agree with using a separate telemetry metadata type. It will allow us to fix some fields at the same time too: GeoscienceAustralia/eo-datasets#20

[2016-04-18 03:35] jeremyh opened #120 "Encourage api users to specify an application name."
We'd like users to set an application name when using the API.

Currently it's done like this:

[code]

To make this less cumbersome, we could either
- rename it to be less verbose  (just `name`?),
- or make `application_name` the first parameter so that it doesn't need to be specified each time:

[code]

Currently "index" is the first parameter, so the latter will break backwards compatibility wi

[2016-04-18 03:36] jeremyh commented on #120
Assigned to Andrew to decide :)

[2016-04-18 23:07] v0lat1le opened #121 "Ingester shouldn't generate empty storage units"
Empty storage units (filled with NDV's) are generated for the corners of landsat scene.

Benefits are:
- improved storage access performance
- improved analysis performace
- reduced alaysis memory usage
- reduced file count

[2016-04-18 23:12] v0lat1le commented on #121
Usable data polygon needs to be supplied to the ingester. Possible ways of doing this:
1. provide in the dataset metadata (detect during preparation)
2. detect at indexing time
3. detect at ingestion

[2016-04-18 23:35] jeremyh opened #122 "Improve startup of modules on NCI"
Several people have commented that running simple agdc cli commands can take a few seconds on Raijin: for example searches. From the database logs it doesn't appear to be the queries themselves that take up the time.

My suspicion is that it's caused by the startup time of Python itself: it needs to read many python files and their dependencies every time, and lustre isn't designed for large numbe

[2016-04-18 23:45] daleroberts commented on #122
I've had a little play with this and it seems like it is not as nice as hoped on Linux. The python files are packaged into a zip (good!) however all of the .so files are left alongside in the build directory as standalone files and if you are using numpy, scipy, pandas, etc there are a lot of these.

Bundling matplotlib is also a pain, here is supposedly how to bundle it but can't get it to work y

[2016-04-19 03:23] simonaoliver commented on #121
In terms of valid data polygon - for a clunky one liner use gdalpolygonize.py - http://www.gdal.org/gdal_polygonize.html

**For netcdf**

[code]

**For tif**

[code]

Note that the valid data extent for each Landsat band is different so would have to be done bandwise or from a band aggregation i.e vrt of all bands.

[2016-04-19 03:31] sixy6e commented on #121
I've just uploaded the old method into eotools

https://github.com/GeoscienceAustralia/eo-tools/blob/develop/eotools/vector.py#L74

[2016-04-19 04:48] jeremyh opened #123 "Environment modules on NCI print errors despite succeeding"
The first time a module is loaded it prints:

[code]

(due to the database user connection check)

This makes it look like the load failed. A typical successful `module load` doesn't print anything. This has caused confusion for a user.

[2016-04-19 06:35] jeremyh opened #124 "API method list_field_values() is too slow"
Reported by @Bis-Bala

It looks like it's doing a full table scan and calculating the result using python. It will be much faster using a dedicated db query.

[2016-04-19 07:09] simonaoliver opened #125 "datacube-config database init fails silently on windows10"
[code]

[2016-04-19 07:16] jeremyh opened #126 "New database initialisation should be done in a transaction."
@simonaoliver had a failure part-way through initialisation which resulted in a partially-setup database.

It's not critical, as a new database can just be dropped again, but it causes confusion when the command can't be rerun.
We should do all initialisation in a transaction.

[2016-04-19 07:18] simonaoliver commented on #125
#126

[2016-04-19 07:19] jeremyh commented on #125
This may be a case-insensitivity bug on Windows. His username is 'Simon', but error messages are user 'simon'.

[2016-04-19 07:22] andrewdhicks commented on #124
Internally it is mis-using `index.datasets.search_summaries()`, which I'm sure wasn't what it was designed for, but it got out some useful data...

[2016-04-19 07:52] #125 closed, assigned to nobody

[2016-04-20 01:27] simonaoliver commented on #125
That's pretty insensitive @jeremyh

[2016-04-21 06:34] v0lat1le commented on #121
How about adding a field to `grid_spatial/projection` defining the region of valid data:

[code]

specified using geojson format in the native projection of the image

[2016-04-22 04:39] #123 closed, assigned to v0lat1le

[2016-04-22 04:43] v0lat1le commented on #102
Doesn't look like we're doing this...

[2016-04-22 04:43] #102 closed, assigned to nobody

[2016-04-22 04:44] #98 closed, assigned to nobody

[2016-04-22 04:56] #92 closed, assigned to nobody

[2016-04-22 04:58] #67 closed, assigned to omad

[2016-04-22 05:01] v0lat1le commented on #62
I believe this is being addressed by #93

[2016-04-22 05:01] #62 closed, assigned to omad

[2016-04-22 05:13] jeremyh commented on #24
- AGDC roles are now created on database initialisation
- We've added cli grant commands to add/modify users
- Our NCI modules now use NCI usernames instead of cube_user.

Closing.

[2016-04-22 05:13] #24 closed, assigned to nobody

[2016-04-22 05:17] v0lat1le opened #128 "Storage unit files should be indexable at minimal cost"
To allow efficient addition of previously ingested data, and data generated by other datacube systems

[2016-04-22 05:17] v0lat1le commented on #91
superseded by #128

[2016-04-22 05:17] #91 closed, assigned to omad

[2016-04-22 05:34] v0lat1le commented on #118
Should this live in a `legacy` sub-module? Doesn't seem to mix with the existing functions in the API. How are people to know which bits to use?

Anything v1 will be cell/tile based. Doesn't mean it can't be done any other way...

[2016-04-22 08:08] #116 closed, assigned to andrewdhicks

[2016-04-26 02:49] jeremyh opened #129 "Source datasets should be included in NetCDF-embedded metadata"
Optionally the sources could be IDs rather than entire embedded documents, but I assume we do want the source metadata included somewhere for completion.

[2016-04-26 03:09] v0lat1le commented on #129
Stacking process currently omits this information

[2016-04-26 03:20] v0lat1le commented on #129
Turns out ingestion process omits it also...

[2016-04-26 03:58] jeremyh opened #130 "AE/EE tests are skipped on Python 3"
We should remove these skips and fix whatever code is incompatible. Our goal was to support both 2 and 3, and the rest of our code does support both.

(Also note, as of last week, the latest version of Ubuntu now defaults to Python 3)

[2016-04-26 04:08] mpaget commented on #129
I'd suggest that the source datasets should be considered in the larger provenance context, and that the Ingester should capture the source dataset info as part of its provenance updating.

If a list of the source datasets are then desired to be copied into the netcdf metadata then that's fine. Presumably this will go into the 'source' or 'history' global attributes.

[2016-04-26 04:49] jeremyh commented on #129
Good points Matt. @omad may know more about what attributes are appopriate in NetCDF CF. To clarify, we do record this information in the Index during ingestion; Greg's only talking about it being omitted from the storage units.

[2016-04-26 05:11] jeremyh commented on #115
This is doable as a configuration change, not a code change.

[2016-04-28 00:59] andrewdhicks commented on #118
Current API has support for the following version 1 style features:
- `list_cells`
- `list_tiles`
- `get_dataset_by_cell`
- `get_data_array_by_cell`

The `list_tiles` function returns a dictionary that uniquely specifies a tile when unpacked and passed to the `get_[...]_by_cell` functions, removing the need for a specific `get_tile` function.

[2016-04-28 00:59] #118 closed, assigned to andrewdhicks

[2016-04-28 01:48] andrewdhicks commented on #120
I think the connection that the API represents should remain the first parameter, so that the api instance represents a single "datacube" instance. I'll change `application_name` to `app` with a warning if neither are set.

[2016-04-28 01:50] #120 closed, assigned to andrewdhicks

[2016-04-28 05:16] #126 closed, assigned to jeremyh

[2016-04-28 05:18] jeremyh commented on #115
But it'll be a good test to see if search fields are being pushed through all layers (and not being hardcoded anywhere).

[2016-04-28 05:26] v0lat1le commented on #115
Searching derived/ingested products could be interesting also

[2016-04-28 05:26] jeremyh commented on #115
This will be done when we update the metadata types: #119

[2016-04-28 05:28] jeremyh commented on #119
Waiting on the dataset unification work, to avoid duplicate effort.

[2016-04-28 05:35] jeremyh commented on #124
Waiting on the dataset unification work, to avoid duplicate effort.

[2016-05-03 01:34] andrewdhicks opened #132 "Automatic creation of database users causing problems"
When the agdc module is loaded, it triggers an attempt of creation of a user in the datacube database described in the module's config.  If the user did not already exist, the user is created and a password is stored.
When accessing the system from another platform with a different home directory (eg VDI and raijin do not share home folders), the password is not accessible, and a new db user accou

[2016-05-03 01:51] jeremyh commented on #132
The 'no password' would probably need to be implemented as a default password. I'm also hesitant about it because it will give us a more difficult migration when we do start caring about a users' identity (adding required authentication later and possibly breaking things).

Would this be an ok alternative?
- Document for users the need to copy their existing pgpass onto new machines. This isn't to

[2016-05-03 03:03] mpaget commented on #132
I agree on both points. I don't believe its in its scope to build custom code to suit the "quirks" of one environment. Rather, code should be built to do "the right thing" with flexibility to allow it to be applied to different environments. A practical error message is always handy :), and in this case I think strikes the right balance for the environment in question.

[2016-05-03 03:41] v0lat1le commented on #132
Part of the problem is that we silently generate the password for new users and put it into .pgpass.
I'll make the module log that a password has been created and added to .pgpass to raise the awareness of the process.

[2016-05-03 03:41] jeremyh commented on #132
@mpaget: Yeah, we're specifically keeping anything too NCI-specific out of the core framework. This user-creation code is in the NCI modules, not in our Python (core) codebase. The Python codebase is agnostic to choice of Postgres authentication.

[2016-05-03 03:48] andrewdhicks opened #133 "Readthedocs points to old documentation"
Our readthedocs page at http://agdc-v2.readthedocs.io/ currently defaults to the version called `latest`, which is out of date and looks to be based off the `master` branch on github.  The default version on github is the `develop` branch.
The readthedocs project page at https://readthedocs.org/projects/agdc-v2/ lists 4 versions of the documentation.

[2016-05-03 04:44] jeremyh commented on #133
We probably want it to always point to the latest stable version (which is presumably the most recently built module).

A simple solution may be to start merging tagged releases into (the currently-defunct) master again. Or, if possible, configure readthedocs to use the most recent tag.

[2016-05-12 05:46] andrewdhicks commented on #133
bump

[2016-05-12 06:03] #133 closed, assigned to simonaoliver

[2016-05-13 01:59] #130 closed, assigned to nobody

[2016-05-17 11:43] PaulMousset opened #134 "Error on empty bands"
Hello,

I tried to ingest Sentinel-2 data, but when some bands are empty (file band doesn't exist), the ingest doesn't work.

[code]

(Because '10' band doesn't exist)

How can I skip these empty bands ?

[2016-05-18 03:08] v0lat1le commented on #134
Could you attach your storage type document (unless you're using one from docs/config_samples) and the dataset metadata document (agdc-metadata.yaml). I think there's a mismatch between the two and that's causing the issue.

[2016-05-18 07:37] PaulMousset commented on #134
Thank you for your reply.
I used [Sentinel-2 Configuration](https://github.com/data-cube/agdc-v2/blob/develop/docs/config_samples/sentinel_2/s2_msi_l1c_mapping.yaml) provided on Github.
I used [s2prepare.py](https://github.com/data-cube/agdc-v2/blob/develop/utils/s2prepare.py) to prepare this file :  [agdc-metadata.yaml](https://github.com/data-cube/agdc-v2/files/269839/agdc-metadata.txt). In this

[2016-05-18 07:51] v0lat1le commented on #134
Haven't seen that before... Do you know if that's expected for Sentinel 2 data not to have some band files? Is it possible that your archive is corrupted?

Missing bands are not really supported atm. One option is to remove the dataset with missing bands from `agdc-metadata.yaml` (delete lines  352-384 inclusive).

Depending on how frequent that is I'll see how to resolve the issue

[2016-05-18 11:45] PaulMousset commented on #134
I downloaded the archive from the data provider  Peps. I already checked that the archive isn't corrupted. I will check to see if this scenario happens often.
Thanks.

[2016-05-19 03:47] simonaoliver opened #135 "No recursion on windows dataset path for multiple data ingest"
Explore options for adding a '-r' switch or similar for recursive function to enable multiple file ingest from dos commandline

[2016-05-19 03:51] v0lat1le commented on #135
Unix shell glob-ing with *, doesn't work on windows. This makes it hard to reference multiple dataset metadata files for index/ingest.
Building in that functionality might be an option (parse the \* in the app).
Also cygwin.

[2016-05-23 00:16] zhang01GA opened #136 "Bugs in API functions list_cells and list_tiles"
see the notebook
examples/notebooks/agdcv2_api_4wofs.ipynb

[2016-05-24 03:35] simonaoliver opened #137 "update unification ingester command line functions to maintain consistency"
New ingestion function looks like:
**agdc** -v index--match-rules <matchrules> <inputscene>

Maintain consistency with other datacube configuration and search commands:

i.e. **datacube index**, datacube ingest, datacube config, datacube search

[2016-05-24 03:42] v0lat1le commented on #114
continue in #137

[2016-05-24 03:42] #114 closed, assigned to nobody

[2016-05-25 03:10] simonaoliver opened #138 "move output directory from ingester config to "datacube ingest" (unification)"
output destination is hard coded in config samples - suggest moving this to command line to ease integration testing

eg. datacube -v ingest --config  <config> --output<output_directory"

[2016-05-25 04:05] simonaoliver opened #139 "Include unification ingester global metadata and alias attributes in dataset write"
unification config examples have been updated. Coding to enable write of these attributes to output datasets and to index appropriate fields to DB required eg. aliases

[2016-05-26 00:45] v0lat1le commented on #137
Few options for implementing this:
- [Click Plugins Package](https://github.com/click-contrib/click-plugins) (used by rasterio)
- [Click Command Collection](http://click.pocoo.org/5/commands/#merging-multi-commands)

I think click-plugins looks more promising...

[2016-05-26 00:46] v0lat1le commented on #137
We could also do fancy things like hiding/showing commands based on user privileges/roles.

[2016-05-26 01:07] #139 closed, assigned to v0lat1le

[2016-05-26 01:41] simonaoliver commented on #137
list of command line functions being elaborated here:
https://docs.google.com/document/d/1lTFUnd3vC4GqcIoJEGMeXytklY4KG5GYaLCD4RpmZgw/edit

[2016-05-26 05:41] simonaoliver opened #140 "checksum or similar to confirm datacube data exists and is valid"
For datacube maintenance to ensure data is valid

[2016-05-26 05:41] simonaoliver commented on #140
part of the ingest process perhaps

[2016-05-26 06:51] #119 closed, assigned to nobody

[2016-05-26 23:37] Bis-Bala opened #141 "sql error getting max_client_conn"
I do get time to time this error.  " conn = _connect(dsn, connection_factory=connection_factory, async=async)
OperationalError: (psycopg2.OperationalError) ERROR:  no more connections allowed (max_client_conn)". This error is generated out of PBS jobs. The port was 6432.

[cont2_run.e6516578.txt](https://github.com/data-cube/agdc-v2/files/285522/cont2_run.e6516578.txt)

[2016-05-30 21:07] #93 closed, assigned to omad

[2016-06-01 00:10] simonaoliver opened #142 "add code version and ingest date to ingest metadata"
In the style of eo_datasets to include something like:

lineage:
    machine:
      hostname: r2200
      runtime_id:
      software_versions:
               agdc:
                    repo_url: https://github...
                    version: '1.0.1'
      uname: 'Linux.......

or do as per L1 to NBAR to PQA hierarchy

[2016-06-02 03:42] v0lat1le commented on #137
**Current Structure**
- datacube
  - index - index datasets
  - ingest - run ingest application: tile/reproject
- datacube-config
  - check - check db connection / schema
  - create - create user
  - database init - init database
  - grant - grant user role
  - type(product) add - add dataset type
  - users - list users
- datacube-search
  - datasets
  - units

**Option A**
- datacube
  - database

[2016-06-02 04:54] omad commented on #137
A - better for extending

[2016-06-02 04:57] jeremyh commented on #137
Agreed. Group by noun, especially since they won't always have the same set of operations.

[2016-06-02 15:32] PaulMousset opened #143 "Empty NetCDF file was created"
I tried to ingest a granule from Sentinel-2.

Configuration :
- [s2-config.txt](https://github.com/data-cube/agdc-v2/files/295913/s2-config.txt)
- [agdc-metadata.txt](https://github.com/data-cube/agdc-v2/files/295912/agdc-metadata.txt)

The file creation is performed without problems. But, when I read bands containing in the NetCDF file (read each band as array), all value are -999 (due to my noda

[2016-06-03 00:12] v0lat1le commented on #143
Seems to work on my end...
Are you using latest development branch? What platform are you running on?

[2016-06-03 07:58] PaulMousset commented on #143
I tried on Windows 7 & CentOS 6.5
Data Cube, version 1.0.3+82.gb3191ab

I will retry with the lastest version.

[2016-06-03 08:35] #134 closed, assigned to nobody

[2016-06-05 23:37] v0lat1le commented on #143
Some major changes have been merged into develop branch the past few days. Ingesting process is a bit different now. Check out http://agdc-v2.readthedocs.io/en/develop/. Alternatively you could get the stable branch, but the next stable release will include the changes

[2016-06-06 00:24] Bis-Bala commented on #141
Getting query_wait_timeout

[code]

[2016-06-06 00:36] omad commented on #141
Can you please include a bit more information about what the query was, so that someone else can try to reproduce it.

[2016-06-06 00:46] Bis-Bala commented on #141
I was trying to run concurrently through 200 nodes and using pbsdsh. The last API called by the application was  get_dataset_by_cell . The arguments are normal (ex. product nbar, 2013, LS8). The problem persists for  two minutes yesterday at 15:09-15:11)  and hence not processed few cells.

[2016-06-06 15:31] PaulMousset commented on #143
Thanks. I try this new version. I have a question : When I Ioad a product definition, why some informations are not indexed ? Like measurements and there spectral_definition.

Finally, the Datacube work for my sentinel data :+1:

[2016-06-07 01:29] v0lat1le commented on #143
Good to hear you got it working!

Not sure what you mean by not all of the information being indexed... Could you add a code example so we can try to reproduce?

[2016-06-07 07:59] PaulMousset commented on #143
I loaded product definitions using config files supplied in docs/config_samples/dataset_types.
For exemple, when I add _ls5_scenes_, _ls5_nbar_scene_ measurement aren't stored.
Moreover, is it normal that some definition fields are empty ?

![datacube](https://cloud.githubusercontent.com/assets/10306128/15849994/c139f4c0-2c95-11e6-80c0-1acf164325a9.png)

[2016-06-07 10:26] v0lat1le commented on #143
That looks really strange... The definitions that are missing would be significantly larger than the ones that are there. Are you sure it's not a SQL client display issue?

What happens if you run:

[code]

[2016-06-07 11:38] PaulMousset commented on #143
You are right ! It's a bug with PgAdmin.  The command display all data !

[2016-06-09 06:04] jeremyh commented on #141
@Bis-Bala: I've increased the limits for pgbouncer: they're higher than your node count now.

We should also be able to drop your query load once you've moved to the new schema (unification): I see a lot of your queries taking 7+ seconds to run.

Please reopen if you still see issues.

[2016-06-09 06:04] #141 closed, assigned to nobody

[2016-06-09 14:38] PaulMousset commented on #143
I tried to play with the API, so I look the [Notebooks](http://nbviewer.jupyter.org/github/data-cube/agdc-v2/blob/develop/examples/notebooks/Datacube_Summary.ipynb).

First, I stored Landsat 5 product definition and dataset (provided [here](https://github.com/data-cube/agdc-v2/tree/develop/tests/data/lbg/LS5_TM_NBAR_P54_GANBAR01-002_090_084_19920323)).

I loaded my DataCube fondig :

[code]

Then,

[2016-06-10 02:59] v0lat1le commented on #143
Could be a gdal version issue...

could you run: `python -c 'from osgeo import gdal; print gdal.__version__'`

Also if you can find the created netcdf files and do:
`ncdump -h <filename>`
`gdalinfo <filename>`
`gdalinfo NETCDF:<filename>:blue`
on one of them and attach the output, it'd help us figure out what's wrong

[2016-06-10 07:23] PaulMousset commented on #143
`python -c 'from osgeo import gdal; print gdal.__version__'` > 2.0.0

`ncdump -h <filename>` >  [ncdump.txt](https://github.com/data-cube/agdc-v2/files/308513/ncdump.txt)
`gdalinfo <filename>` > [gdalinfo.txt](https://github.com/data-cube/agdc-v2/files/308523/gdalinfo.txt)
`gdalinfo NETCDF:<filename>:blue` > [gdalinfo_blue.txt](https://github.com/data-cube/agdc-v2/files/308529/gdalinfo_blue.txt)

[2016-06-14 00:19] v0lat1le commented on #143
This file looks ok. In `gdalinfo_blue.txt` there's `NETCDF_DIM_time` field, whuch we're looking for...

If you enable logging by:

[code]

There should be more info printed out. It should point to the actual file that fails

[2016-06-14 08:42] PaulMousset commented on #143
It returns this issue:

[code]

[2016-06-14 22:49] v0lat1le commented on #143
Maybe it's `rasterio` version...
Could you please run this:

[code]

Any way you could upload the .nc file as well?

[2016-06-15 06:37] simonaoliver commented on #115
We're going to have to tackle this one sooner rather than later as workflows will depend on having stackable data.

[2016-06-15 06:48] jeremyh commented on #115
We currently have these values in the Level 1 dataset metadata, but you're specifically talking about searching NBAR data, right?

[2016-06-15 07:38] PaulMousset commented on #143
[code]

Version :  0.36.0

[code]

The .nc file : [ls5.zip](https://github.com/data-cube/agdc-v2/files/315601/ls5.zip)

[2016-06-15 07:55] v0lat1le commented on #143
the last line should be `print(ds.tags(1))`

I get this when I run it:

[code]

[2016-06-15 08:01] PaulMousset commented on #143
Oops, I read too fast ! Me, I get this :

{'NETCDF_DIMENSION_time': '701392453',
'NETCDF_VARNAME': 'blue',
'units': '1',
'grid_mapping': 'crs',
'NETCDF_time_units': 'seconds since 1970-01-01 00:00:00',
'alias': 'band_1',
'_FillValue': '-999',
 'long_name': 'Nadir BRDF Adjusted Reflectance 0.45-0.52 microns (Blue)'}

[2016-06-15 08:11] simonaoliver commented on #115
You might expect any product using these downstream to use this to filter data out of an analysis - nbar / pq / level 1/ fc etc. As per PQ in that it can be applied to all products from level 1 (including).

[2016-06-15 08:20] v0lat1le commented on #143
Somehow your version has `NETCDF_DIMENSION_time` but we're looking for `NETCDF_DIM_time`... I'll need to investigate what's up with that.

For now I've commited a workaround for that issue

[2016-06-15 08:29] PaulMousset commented on #143
Thank you ! I'll try soon.

[2016-06-15 08:32] v0lat1le commented on #143
Ok it looks like a change from gdal 1.9 to gdal 1.10.
Could you please run

[code]

when you get a chance.

[2016-06-15 08:36] PaulMousset commented on #143
I have 1.9.2 version

[2016-06-15 08:45] PaulMousset commented on #143
On the server, there are gdal 1.9.2 and gdal 2.0.0 .
I have a virtual environment for DataCube with gdal 2.0.0. But rasterio seems use gdal 1.9.2

[2016-06-19 03:49] cronosnull opened #144 "rasterio 0.36: 'rasterio._io.RasterReader' object has no attribute 'crs_wkt'"
I just perform a clean install of the datacube in ubuntu 16.04 with anaconda using python 2.7.

There are compatibility issues with rasterio 0.36. A workaround is to install version 0.35.1 using pip:

[code]

A temporal fix could be change requirements in setup.py from `rasterio>0.30` to `rasterio==0.35.1`

[2016-06-19 22:14] v0lat1le commented on #144
Was that in one of utils/*.py scripts?

Could you attach the whole error dump, please

[2016-06-20 14:55] cronosnull commented on #144
Yes, it was in  utils/usgslsprepare.py
The error log dump is at  [error.txt](https://github.com/data-cube/agdc-v2/files/323671/error.txt)

I confirm that it works with the changes made in ceee66983f2b13b134878166d390effbf02b7d30

[2016-06-20 14:55] #144 closed, assigned to nobody

[2016-06-22 01:52] #129 closed, assigned to v0lat1le

[2016-06-22 01:53] #95 closed, assigned to nobody

[2016-06-22 01:54] #137 closed, assigned to v0lat1le

[2016-06-22 01:55] #136 closed, assigned to andrewdhicks

[2016-06-22 01:55] #124 closed, assigned to jeremyh

[2016-06-22 01:56] #96 closed, assigned to nobody

[2016-06-22 01:57] #65 closed, assigned to nobody

[2016-06-22 01:58] #121 closed, assigned to nobody

[2016-06-22 03:06] v0lat1le commented on #140
netcdf internally supports per chunk check-summing using fletcher32. It can be enabled per measurement by setting `fletcher32: True` in the ingest configuration file

[2016-06-22 03:08] #140 closed, assigned to v0lat1le

[2016-06-30 04:53] #143 closed, assigned to nobody

[2016-06-30 04:54] #142 closed, assigned to v0lat1le

[2016-06-30 04:54] #128 closed, assigned to nobody

[2016-06-30 04:55] #87 closed, assigned to nobody

[2016-07-07 23:47] Bis-Bala opened #145 "datacube load is failing as memory error"
This query is failing after running more than five minutes on VDI even though datasets  are for only three years.
dc=datacube.Datacube(app='test')
bbb=dc.load(product='ls5_nbar_albers', x=(149, 149.9), y=(-35.9, -35), time=((2000,01,01,0), (2015,12,31,23,59,59)), group_by='solar_day')

[2016-07-07 23:59] v0lat1le commented on #145
You are requesting ~32GB of memory...
Also make sure you are using agdc-py2-prod/1.1.3 at least - there are some performance improvemets

[2016-07-07 23:59] #145 closed, assigned to nobody

[2016-07-08 02:16] v0lat1le opened #146 "Consider using pathlib2 over pathlib"
https://pypi.python.org/pypi/pathlib/ is not maintained anymore.

[2016-07-12 21:52] simonaoliver opened #147 "S2 ingest fails"
Indexing works fine but ingest fails with the following output:

root@8cae991b512b:/shared/ingester# datacube ingest -c s2amsil1c_albers_10.yaml
2016-07-12 13:21:11,109 ERROR Task failed
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/datacube-1.1.3+18.g657729b-py2.7.egg/datacube/scripts/ingest.py", line 227, in process_tasks
    datasets = executor.result(result)

[2016-07-12 21:56] #135 closed, assigned to v0lat1le

[2016-07-12 21:57] #132 closed, assigned to nobody

[2016-07-12 22:01] simonaoliver opened #148 "S1 ingest configs to be ported to current code base - notebooks updated"
Initial configs have not been ported to represent current code base

[2016-07-13 03:17] v0lat1le commented on #147
The overlap in the granules is causing it.
The assert is there to catch errors in Landsat data which is not meant to have overlaps. It has caught several so far... I'll need to think of a generic solution for this...

[2016-07-13 03:22] simonaoliver commented on #147
Maybe an --allow-overlap --average switch for data with same date stamp, taking the first by default

[2016-07-17 23:07] v0lat1le commented on #109
moved to jira

[2016-07-17 23:07] #109 closed, assigned to nobody

[2016-07-17 23:09] #138 closed, assigned to v0lat1le

[2016-07-20 03:20] v0lat1le commented on #147
try adding `fuse_data: copy` into config now

[2016-07-20 04:09] #147 closed, assigned to v0lat1le

[2016-07-20 05:12] v0lat1le commented on #108
moved to jira

[2016-07-20 05:12] #108 closed, assigned to nobody

[2016-07-20 12:10] fcastel commented on #147
The ingestion was successfull for Sentinel-2 data with the additional configuration element, thank you!

Just one question, what are the others possible  values of the fuse_data property ?

[2016-07-20 22:58] v0lat1le commented on #147
No other values for now.
`copy` fuses datasets by filling in no data values of one by values from the other ones. The order in which datasets are considered is not defined

[2016-07-21 15:18] fcastel opened #149 ""Cannot invert degenerate transform" while loading data"
I'm trying to load some Sentinel-2 data I ingested in Datacube :

[code]

I obtain this stack trace :

[code]

Looking in the code of the from_geopolygon function, I see :

[code]

 The "affine" matrix value is
| 0.00, 0.00,-180.00|
| 0.00,-0.00, 90.00|
| 0.00, 0.00, 1.00|
So effectively it's not inversible.

Looking at how the matrix is generated, it comes from values of left, top and resolution

[2016-07-21 23:20] v0lat1le commented on #149
I suspect that the 0's along the diagonal are printing rounding, and they are actually 0.0001s.

What version of affine library do you have? We had similar issues with 1.2, but there were some changes in 1.3.0 that 'fixed' that for us.

[2016-07-28 08:03] fcastel commented on #149
Updating the affine library from 1.2 to 1.3 effectively fixed the problem.
Thank you

[2016-07-28 22:58] #149 closed, assigned to nobody

[2016-08-02 07:13] juan-guerschman opened #152 "permission denied - accessing in Raijin"
Hi, I got the following problem when trying to use the AGDC modules:

[code]

How can I overcome this problem?

Thanks
#

[2016-08-02 07:16] juan-guerschman opened #153 "command line tools in V2?"
The previous version of the Datacube API had a few convenient command tools, http://geoscienceaustralia.github.io/agdc/api/0.1.0/html/api_tools.html

Is there anything similar to that in this new version? I can't find any of that in http://agdc-v2.readthedocs.io/en/develop/ops/tools.html

Thanks

[2016-08-02 07:18] omad commented on #153
Hi Juan,

At the moment we haven't built any equivalent command line tools yet. Is there anything in particular that would be useful for you, or things that are more important?

Cheers

[2016-08-02 07:23] omad commented on #152
It looks like the script to set up your user account in the database isn't public.

@v0lat1le Greg should be able to fix it in the morning.

Sorry about the hassle.

[2016-08-02 07:33] juan-guerschman commented on #152
thanks

[2016-08-02 07:37] juan-guerschman commented on #153
I'm a NPP (Non-Python “People”)  :)

A Retrieve Area of Interest tool (like in the planned http://geoscienceaustralia.github.io/agdc/api/0.1.0/html/api_tools.html#retrieve-area-of-interest ) would be very handy.

Juan

[2016-08-02 07:40] juan-guerschman commented on #153
In addition: ideally with an option of providing coordinates for UL, LR or a vector (kml for example). Outputs to TIF or netcdf, options to mask with PQA. Output NBAR bands or FC, NDVIs, etc.

cheers

Juan

[2016-08-02 22:50] v0lat1le commented on #152
Fixed now. Sorry about that...

[2016-08-02 23:12] omad commented on #153
Thanks for the feedback. No promises for when we'll have a tool like that ready, but it's really helpful for planning to know whats sorts of capabilities people will use!

[2016-08-03 02:56] juan-guerschman commented on #152
thanks. Got the following message this time. Not sure if still an issue or not to worry:

[code]

Juan

[2016-08-03 02:58] juan-guerschman commented on #153
Thanks.
For exploratory data analysis I still use my own tools in other languages and/or downloading stuff locally. That's why a subsetting tool would be very useful.

Juan

[2016-08-03 03:25] v0lat1le commented on #152
Just a misleading printout. It's actually ok. You should be able to use datacube now.

[2016-08-04 01:15] #152 closed, assigned to nobody

[2016-08-25 16:54] ceholden opened #156 "Question -- combining multiple products & sensors"
Hello!

I want to congratulate and thank you all for the work toward version 2 of this project. I'm very excited to use this software. It looks like it will be very helpful in wrangling our data for existing work and will also help enable some new research (multi-sensor integration, leveraging Landsat path/row overlaps, and near real time applications). I've gotten myself setup, have indexed and i

[2016-08-25 23:34] v0lat1le commented on #156
Hi Chris.

What you're doing is the only way to do it right now. We are trying to get something like that in the API, but there are many edge cases and the API gets unwieldy really fast...

You don't need to specify `product_type` and `platform` in this case, since `product` already carries that information. We'll update those notebooks so they are not so confusing.

You might also want to use `gr

[2016-08-25 23:54] llymburn commented on #156
Hi Chris,

It would be worth having a look at the https://github.com/llymburn/JupyterNotebooks/blob/master/Datacube_Hov_vis_v3.ipynb

This notebook shows how to grab surface reflectance from 3 sensors, then concatenate and sort by time to generate multi-sensor time series (complete with the opportunity to apply sensor specific adjustment prior to concatenation).  It’s also got the PQ fuse syntax y

[2016-08-26 01:29] llymburn commented on #156
Hi Leo & Gregory!

Thanks to you and the extended AGDC team for the outpouring of replies to
my query. I received the Slack invite and look forward to asking stupid
questions and chatting with you all.

From looking over your notebook, it seems like I'm on the right track with
combining multiple sensors. I've only toyed with the pixel quality masking
in reproducing one of the example notebooks in

[2016-08-26 02:37] ceholden commented on #156
Thanks everyone -- I think I have it all sorted. Answer is that users should `xr.concat` each product's retrievals in the short run, but there might be some assistance via the API in the future. For now, Leo's notebook is very instructive:

https://github.com/llymburn/JupyterNotebooks/blob/aa8e0592fc4f1dfeae59ad1925df06cb3f1b4bbf/Datacube_Hov_vis_v3.ipynb

[2016-08-26 02:37] #156 closed, assigned to nobody

[2016-09-14 23:12] v0lat1le commented on #106
ingester configuration now has `storage/origin` for setting origin

[2016-09-14 23:12] #106 closed, assigned to nobody

[2016-09-14 23:13] #99 closed, assigned to nobody

[2016-09-14 23:13] #103 closed, assigned to nobody

[2016-09-14 23:13] #112 closed, assigned to v0lat1le

[2016-09-14 23:13] #122 closed, assigned to nobody

[2016-09-14 23:13] #146 closed, assigned to nobody

[2016-09-14 23:14] #113 closed, assigned to zhang01GA

[2016-09-14 23:14] #117 closed, assigned to andrewdhicks

[2016-09-14 23:14] #148 closed, assigned to simonaoliver

[2016-11-07 15:16] conicRelief opened #159 "Ingesting terra satellite ASTER GDEM information. Requesting more clarity in the docs."
There is no neatly packaged XML file for ASTER GDEM V2 data as there is for USGS landsat scenes.

There are only two .tiff files.
This is giving me issues when trying to create a meta-data file for ingestion since the meta-data is not as easy to extrapolate from our data.

I would like to know what fields are absolutely necessary for meta-data files so that I may code up a lightweight ASTER_GDEM_P

[2016-11-07 21:34] v0lat1le commented on #159
http://agdc-v2.readthedocs.io/en/stable/ops/config.html details required and optional fields for `Product` (alse see examples in docs/config_samples/dataset_types) and `Dataset`.

`dataset add --auto-match` will associate a dataset with a particular product when fields inside `metadata` section of the product definition form a subset of top-level fields in the dataset definition

[2016-11-08 21:55] conicRelief commented on #159
You're right. Thanks for linking me to that part of the documentation.
Can you give me hints about about how to make 'aster gdem' data cooperate with 'landsat imagery'?

How exactly are these two data-sets combined?  I see a `storage` field defined in ingestion-configs. My thoughts are as long as this aligns with my landsat7 ingestion config's `storage` field the two data-sets will be aligned and

[2016-11-08 23:22] v0lat1le commented on #159
Yep, if the two of them have the same ingester `storage` config then their xarray representation will be in the same coordinate system and pixel-aligned by default.

Alternatively [`Datacube.load`](http://agdc-v2.readthedocs.io/en/stable/dev/generate/datacube.Datacube.load.html#datacube-datacube-load) can be configured to reproject/resample on the fly by using `output_crs`, `resolution` and `align

[2016-11-14 20:37] #159 closed, assigned to nobody

[2016-11-15 05:23] lpinner opened #160 "V2 alternative to band_statistics_arg25.py workflow"
Earlier this year I generated some summary stats rasters using the old API workflow [band_statistics_arg25.py](https://github.com/GeoscienceAustralia/agdc/blob/develop/api/source/main/python/datacube/api/workflow/band_statistics_arg25.py).

Something like:
[code]
Is there an equivalent command line tool or functionality in the new API?

[2016-11-15 15:37] conicRelief opened #161 "Error Writing to netcdf"
I've run into an error:

ValueError: Failed hard to prevent overwriting key 'units'

I'm not sure what this is or why I'm running into it.
The process for reproducing this:

- Perform `dc.load( ...params...)`
- run `.to_netcdf(path = 'test.cd')`

[2016-11-15 23:36] omad commented on #160
Hi Luke,

I'm working on an equivalent tool called [datacube-stats](https://github.com/GeoscienceAustralia/agdc_statistics) but it's not quite ready to run yet. I'm working on it this week and will post an update here when it's ready to go.

Cheers
Damien

[2016-11-16 00:35] v0lat1le commented on #161
In this particular case it's the `units` attribute on the `time` coordinate that trips up xarray.

Generally `to_netcdf` wouldn't work with Datacube xarrays since we put other metadata (like `crs`) in that xarray wouldn't know how to deal wtih.

You could try using `datacube.storage.storage.write_dataset_to_netcdf`

[2016-12-07 17:52] fcastel opened #164 "Ingesting Sentinel 1 data"
Hi,

I noticed that new config files were released, so I tried to use them to ingest Sentinel1 data.

I  have an error when running the preparation script :

Looking at the code, I don't really understand what the  script is supposed to do there :

[code]

The comment let me think that the code is not finalized... is the script able to work though?

Best regards,
Fabien

[2016-12-07 19:39] simonaoliver commented on #164
Hi Fabien,
S1prepare.py is very preliminary and was quickly put together to demonstrate tiling of a S1 mosaic product from the Gamma software package in geotiff format. With a little work, the code could be be adapted to work with outputs from https://github.com/benjimin/s1prepro (S1 gamma0 creation code using SNAP). We can put this work in the TODO list of tasks if you'd like to see it happen or

[2016-12-14 14:54] AudreyCh opened #165 "S2 new format name"
Hello,
I'm trying to "s2prepare.py" new format L1C sentinel2 products but I get an error saying :

[Errno 2] No such file or directory: '/hpss/S2A_MSIL1C_20161207T055222_N0204_R048_T44VPJ_20161207T055222.SAFE/S2A_MSIL1C_20161207T055222_N0204_R048_T44VPJ_20161207T055222.xml'

I tried to trick the script by renaming the xml file but then:

INFO No datasets discovered. Bye!

Is there a way to prepare

[2016-12-15 03:47] simonaoliver commented on #165
@AudreyCh - I can provide a usage example below to demonstrate the code operating on a single new S2L1C granule (windows OS). Possibly you have a 'path to target dataset' issue? f you could post the full example execution I may be able to replicate your issue at this end:

python s2prepare.py C:\tmp\S2A_OPER_PRD_MSIL1C_PDMC_20161126T043212_R030_V20161126T000222_20161126T000222.SAFE\

2016-12-15 13

[2016-12-15 08:49] AudreyCh commented on #165
Thanks for this quick answer.

The example you gave me use the old naming convention of the S2-L1C products, ESA is using a new naming format, like this one (I use PEPS platform to retrieve S2 products):

https://peps.cnes.fr/rocket/#/collections/S2/a0036908-3daa-5a45-be61-d91e0460c414

With this new name, the command line (linux OS):

python s2prepare.py /hpss/S2A_MSIL1C_20161207T055222_N0204_R04

[2016-12-21 05:51] simonaoliver commented on #165
@AudreyCh - please take a look at [https://github.com/data-cube/agdc-v2/blob/develop/utils/s2peps_prepare.py](url). Hopefully that works for now - we'll consolidate the S2 prepare scripts at some point (only tested on windows for now).

[2017-01-27 00:20] benjimin opened #166 "Geometry pickles"
[code]
Shapely was [designed](https://sgillies.net/2007/06/11/shapely-geometries-for-python.html) to avoid this issue.

Use case: a distributed job where the spatial bounds for each task have already been pre-computed (as a side-effect of determining which tasks are needed), e.g. WOfS.

Observed in 1.1.17 py3 module.

[2017-02-10 19:53] hkristen opened #167 "Installation of agdc on CentOS machine"
Hi guys!

I am struggling to install the AGDC2 on a CentOS 7 machine.

I followed your installation guideline for Ubuntu and everything works fine until I come to the part with the binary python packages. As suggested I used the miniconda2 package manager and with a manually compiled GDAl 2.1.0 version for CentOS (including python & GEOS), the indexing operation is working.
Unfortunately, as soon

[2017-02-12 23:52] v0lat1le commented on #167
We use packages from `conda-forge` channel.

Out deployment script adds `conda-forge` as default channel :
[code]

env.yaml would be something like:
[code]
plus whatever else you need (`jupiter, matplotlib, scipy, scikit-*`)

[2017-02-13 11:49] hkristen commented on #167
Thanks v0lat1le!
I added the "shapely" package to the YAML you provided and now the AGDC instance works like a breeze on my CentOS machine :)

It seems to be crucial to use Python 3.5 and its depending packages instead of Python 2.7. I just couldn´t make it work with 2.7....

If you are interested, I can provide a AGDC installation manual for CentOS, so you can add it to the AGDC docs and safe som

[2017-02-13 22:30] v0lat1le commented on #167
Yeah, that would be great! Thank you

[2017-02-14 07:29] hkristen commented on #167
Not a problem!

Attatched you find a ZIP file with the installation description in Markdown and the YAML file I used for the installation:
[agdcv2_centos_setup.zip](https://github.com/data-cube/agdc-v2/files/773388/agdcv2_centos_setup.zip)

[2017-03-03 10:18] hkristen opened #177 "Deleting Products from ODC Index"
I inserted a couple of S2A-L1C tiles with different ingestion parameters to see what works best. Now I have quite a few products in my databse, that I don´t need anymore. Is there a way to delete products from the AGDC?

I couldn´t find anything regarding this in the manual, maybe I overlooked it?

[2017-03-06 02:46] v0lat1le commented on #177
`datacube dataset archive` command is the closest thing, probably. It marks datasets as archived so they don't show up in searches.
After that it's loading up postgres console and deleting rows from the database.

[2017-03-06 02:49] v0lat1le commented on #177
As a side note. You can also load the data without ingesting. Might be good enough and will save you some time and disk space

[2017-03-06 02:49] v0lat1le commented on #177
@jeremyh should we add a `purge`/`delete` command?

[2017-03-06 03:16] jeremyh commented on #177
Yes, I think so. We have only implemented `archive` so far because we want to keep a record of every historical dataset — primarily for provenance. Once archived, a dataset is essentially invisible from most typical commands.

But deletion sounds useful in development situations like this, so it's probably worth adding with administrator restrictions.

(patches are welcome, as it's probably not a

[2017-03-06 08:52] hkristen commented on #177
Thanks for your answers!

For the start I will use `datacube dataset archive` so that I get a better overview in my DB. Still the data is on the disk and uses up space, so a `purge / delete` command would be much appreciated but it is not urgent.

@v0lat1le: I am aware that I can access the data without ingesting it. But the point is, that I am trying to find ingestion paramters that provide a goo

[2017-03-07 01:18] #165 closed, assigned to nobody

[2017-03-07 03:49] omad commented on #160
The `datacube-stats` tool has reached a somewhat useful stage, and is now being deployed into the NCI datacube environment. I'm still working on documentation, but I think this issue can be closed. For now at least.

[2017-03-07 03:49] #160 closed, assigned to nobody

[2017-03-07 03:56] #161 closed, assigned to nobody

[2017-03-07 06:46] GypsyBojangles opened #179 "Test issue for zapier"
Zapier needs a fresh issue to test with

[2017-03-07 06:55] #179 closed, assigned to nobody

[2017-03-07 06:55] GypsyBojangles opened #180 "Zapier test 2"
Second test of Zapier integration

[2017-03-07 07:02] #180 closed, assigned to nobody

[2017-03-07 07:08] GypsyBojangles opened #181 "Zapier test 3"
3rd zapier test to get a nice Jira issue.

[2017-03-07 07:14] #181 closed, assigned to nobody

[2017-03-08 00:54] GypsyBojangles opened #182 "zapier demonstration 4"
Trent made me do it, I am so sorry.

[2017-03-08 00:57] #182 closed, assigned to nobody

[2017-03-08 01:15] GypsyBojangles opened #183 "Allow open-ended time ranges"
When specifying a time range, be able to have the start or end of the range be open, to indicate all data before or after a date. For example:

`time=('2001', None)`
could indicate all data from 2001 onward.

`time=(None, '2010')`
could indicate all data before 2010.

[2017-03-08 01:17] GypsyBojangles opened #184 "Time range strings behave differently between datacube and xarray"
When specifying a time range in a datacube:
`dc.load(..., time=('2003-01', '2003-03'))`
is interpreted to be
_2003-01-01 00:00:00 to 2003-03-01 00:00:00_
i.e. values rounds down

vs

In xarray:
`data.sel(time=slice('2003-01', '2003-02'))`
is interpreted to be:
_2003-01-01 00:00:00 to 2003-03-31 23:59:59.999_
i.e. values round out

Ideally they would behave the same.

[2017-03-08 01:24] GypsyBojangles opened #185 "Masking-making functions should return a DataArray"
When making a mask from a `xarray.Dataset` object, the `make_mask()` function looks for data variables (such as `pixelquality` in ls5_pq_albers) that have `flags_definition` set.

It then returns a `Dataset` with a new `DataArray` variable of the same name, of `bool` type.

Unless we are expecting multiple variables in a PQ product to share mask names (eg `some_pq_product.oldpixelquality` and `som

[2017-03-08 01:53] GypsyBojangles opened #186 "Add a query of spatial and/or temporal bounds for a product"
For some grid based workflows, it is useful to know the bounding box for a query, to then work out what cells are inside that grid. There is currently no function that can use the database index for each dimension to work out the bounds. Getting the time range is also useful for previewing what data is available e.g. for the dashboard.

[2017-03-08 01:54] GypsyBojangles opened #187 "Datacube-created xarray.Datasets can't use .to_netcdf()"
The datacube.load() function returns xarray.Dataset objects that contain attributes that can't be saved to NetCDF format by the member function.
Objects that can't be serialized: CRS object, flags_definition and spectral_definition dicts.
CF attributes that xarray doesn't expect when it writes them,as it wants to write them to match the data: e.g. units for time coordinates.
The dataset is structu

[2017-03-08 01:56] GypsyBojangles opened #188 "Extend datacube.model"
There are several classes that should be implemented to replace python dictionaries to improve look and feel of the API
* **Tile** - to be used with `GridWorkflow`
* **Measurement** - returned from `model.Dataset.measurements`
* **SpectralDefinitions** - encapsulate spectral definition arrays for reflectance bands
* **FlagDefinitions** - encapsulate bit flag definitions for quality bands

[2017-03-08 01:58] GypsyBojangles opened #189 "Unify search and fixed fields in Dataset model"
They've started to be used interchangeably in some parts of the code, but are separate in others. This is a source of unnecessary complexity (and possible bugs) in the core.

[2017-03-08 02:00] GypsyBojangles opened #190 "Ability to stream large results from DB queries"
Instead of loading all results in memory, and blocking until all are returned, it should be possible to stream them.

[2017-03-08 02:41] GypsyBojangles opened #191 "Allow result paging, sorting and limits in index API"
Will be useful for:
Dashboard (and CLI) dataset lists:
Queries such as "five most recent datasets of this type"
Paging through longer query results
Queries such as "first dataset after..."
Often want to sample a few datasets of a type easily (without selecting all.)

[2017-03-08 02:42] GypsyBojangles opened #192 "Design API for derived datasets query"
You can currently return a list of source datasets, but not derived datasets.
As suggested by Simon Oliver, it would be useful for displaying provenance trees.

[2017-03-08 02:43] GypsyBojangles opened #193 "Ability to identify and track versions of a single dataset"
This has always been planned, and we've discussed it, but haven't prioritized it enough to implement.
If a dataset is reprocessed (for example, after updated ancillary arrives), it should "replace" the old one. The old dataset will still remain in the index for provenance, but not be returned in queries. Currently this will result in a duplicate dataset unless you manually archive the replaced dat

[2017-03-08 02:49] GypsyBojangles opened #194 "Enable multiple product load"
Users want to be able to access multiple sensors for the same product type in a single load operation.
eg. common layers from ls5_nbar_alberts, ls7_nbar_albers, ls8_albers
This could be achieved through virtual aggregations of products i.e. super product etc.

[2017-03-08 02:52] GypsyBojangles opened #195 "There's no minimum xarray dependency version"
Some tests failed on one of my conda installs:
[code]
Running pip install --update xarray updated it to 0.8.2 which works.
I presume we need an 0.8 minimum version, or else explicitly fix and support older versions.

[2017-03-08 02:59] GypsyBojangles opened #196 "Rename make_dataset extent argument"
We should try to select names that are consistent within the codebase. This would improve maintainability for future developers.
For example, the `extent` argument of `datacube.model.utils.make_dataset` and the `extent` property of a `datacube.model.Dataset` object refer to different concepts. One intends the maximal rectangular extent of the array (aka. _bounds_), and the other intends the extent

[2017-03-08 03:02] GypsyBojangles opened #197 "Helpful schema error messages"
If the datacube refuses to insert something into the database (because of schema checks), it would be nice if it helped the user fix this problem (especially since it is difficult anyway for a user to determine upfront exactly which metadata fields are necessary/permissible/appropriate). For example, in which node is a given property missing?
[code]

[2017-03-08 03:42] GypsyBojangles opened #198 "Support authenticated opendap datasources"
Some desired datasources from Opendap endpoints require OpenD
http://gpm1.gesdisc.eosdis.nasa.gov/opendap/GPM_L3/GPM_3IMERGHHE.03/2015/contents.html
NASA website has instruction to authenticate with wget cookiestore:
http://disc.sci.gsfc.nasa.gov/recipes/?q=recipes/How-to-Download-Data-Files-from-HTTP-Service-with-wget
NetCDF can support the authentication with libcurl style cookie files:
https://

[2017-03-08 03:54] #167 closed, assigned to nobody

[2017-03-08 09:00] hkristen opened #200 "Possible memory leak in Ipython when using %matplotlib inline"
I am using Jupyter notebooks to access the the ADGCv2 or Opendatencube, as it now is called.
I did some band math, masking and so on with S2A-L1C data and plotted the results using matplotlib. Suddenly I got a ``MemoryError``.  When I checked my CentOS machine, all 32GB of memory where permanently allocated. When I restarted the kernel in the notebook, all the memory was freed again.

I investigat

[2017-03-08 22:00] omad commented on #200
I haven't noticed that issue before, but  you could try using `%matplotlib notebook` instead of `inline`. It gives an interactive plot that displays in the browser, but will also be saved with it.

Since this doesn't seem to be an issue with `datacube-core`, this isn't the best spot for this issue so we'd like to close it fairly quickly. But let's leave it open for a day to see if anyone else chim

[2017-03-08 23:07] omad commented on #200
Also, please join our Slack team via http://opendatacube.signup.team/ , there's lots of data cube related discussion and help for any sorts of issues you might run into. The core team is online and pretty responsive during Eastern Australian working hours.

[2017-03-09 22:51] #200 closed, assigned to nobody

[2017-03-14 22:39] benjimin commented on #186
It sounds like a sensible feature. With the current database it should be reasonably trivial to get a bounding box (padded and in the index CRS), but comparatively expensive to get a tight polygon envelope.

An alternative approach is to use GridWorkflow (to convert a query to tiles without needing to know the cell indices beforehand), potentially chunking by time-window manually if you can't hand

[2017-03-14 23:47] andrewdhicks opened #204 "Command line apps for v1 functionality"
Version 1 of AGDC came with a set of utility command line applications to retrieve data, based on 1 degree tiles.
These were:
`retrieve_aoi`
`retrieve_aoi_time_series`
`retrieve_dataset`
`retrieve_dataset_stack`
`retrieve_pixel_time_series`
`band_statistics_arg25_validator`

[2017-03-15 00:04] #204 closed, assigned to nobody

[2017-03-15 00:05] andrewdhicks commented on #204
duplicate of #153

[2017-03-16 01:29] jeremyh opened #206 "CLI list/show subcommands should be consistent between types"
The outputs of the `list`/`show` subcommands are quite different in format and arguments, and some of their outputs are not currently very useful. We should make them more consistent for a better user experience.

[code]

[2017-03-16 01:54] jeremyh commented on #206
To clarify, I think there's two big reasons to have the cli tools in addition to the python api, which we should emphasize in the design:

1. Convenience: not needing to fire up a python environment when working in a shell. Most housekeeping/setup tasks are done from shell rather than python in our current docs & usage.
2. Ability to easily use these tools together with the rest of the cli/bash/ex

[2017-03-20 05:45] DrewDevereux opened #207 "incompatibility with Postgres 9.6"
If using Postgres 9.6 (the latest release) then
`datacube system init`
fails with error
`unrecognized role option "nocreateuser"`

The release notes for Postgres 9.6 include:

[2017-03-20 06:28] jeremyh commented on #207
Thanks Drew — this was fixed in 012f5a727bf9fcbfe535ae6da86ba85c8b74b715 but hasn't made it into a release yet.  We're hoping to have a release made sometime this week.

[2017-03-20 06:28] #207 closed, assigned to nobody

[2017-03-20 22:55] rtaib opened #208 "Different behaviour according to dependency version (which depend on conda channels)"
Pulling dependencies from the default conda repo doesn't work, in particular the following test fails:
[code]
which is in:
[code]
with the `_chop_along_antimeridian` call itself segmentizing, transforming and intersecting on simple hand-made polygon geometry. With default conda channel modules (incl. gdal 2.1.0 as of today) `clone` gets set to `None`, while with the conda-forge channel (incl. gdal

[2017-03-21 22:49] omad opened #210 "Data Cube Geometry creation fails with 3D Geometries"
The [polygon drill](http://datacube-core.readthedocs.io/en/stable/user/guide.html#polygon-drill) code recipe shows how to create a Data Cube geometry from a Shapefile. Unfortunately it fails when the Shapefile contains 3D coordinates. This has occurred with a Shapefile created from KML files created in Google Earth, then converted using ArcMap.

We don't necessarily need to do much with 3D coordin

[2017-03-25 11:36] v0lat1le commented on #208
`defaults` channel is missing some of the required packages and some of the critical packages are out of date, that's why the documentation suggests using `conda-forge`.

It is likely that datacube will always require the latest versions of some packages (e.g. gdal, rasterio) because their bounaries are pushed by the new datacube features and bugs in them are discovered and fixed.

Is there any re

[2017-03-25 11:40] v0lat1le commented on #166
Fixed by @omad in 4fc2758d68d5d446ba524cd850a85c026432e56a

[2017-03-28 02:57] JulianOG opened #214 "NCI VDI setup"
Hi,
I'm interested in exploring your data cube on VDI.
I went through the NCI setup user guid
http://datacube-core.readthedocs.io/en/latest/user/nci_usage.html

and got the following error message.

[jgo599@vdi-n27 ~]$ module use /g/data/v10/public/modules/modulefiles/
[jgo599@vdi-n27 ~]$ module load agdc-py3-prod
Unable to connect to the database (jgo599@130.56.244.227:6432).

Attempting to creat

[2017-03-28 03:34] benjimin commented on #214
Could be! Looks a bug in the module on the NCI rather than opendatacube-core itself. (Previously was using a shell script to build SQL statements..)

@JulianOG could you please try changing the command to `module load agdc-py3-prod/1.3.0` to see if that works?

[2017-03-28 03:40] JulianOG commented on #214
[jgo599@vdi-n27 ~]$ module load agdc-py3-prod/1.3.0
Traceback (most recent call last):
  File "/g/data/v10/public/modules/agdc-py3-prod/1.3.0/datacube-ensure-user.py", line 165, in <module>
    main()
  File "/g/data/v10/public/modules/agdc-py3-env/20170327/envs/agdc/lib/python3.5/site-packages/click/core.py", line 722, in __call__
    return self.main(*args, **kwargs)
  File "/g/data/v10/public/m

[2017-03-28 04:52] jeremyh commented on #214
Hi Julian -- you've caught us in the middle of an environment migration :)

Can you retry the original? it should hopefully succeed this time: `module load agdc-py3-prod`

[2017-03-28 05:35] benjimin commented on #214
Thanks @JulianOG for that test of the new environment module, you found a different bug and @jeremyh has made some fixes to both versions. Please try `module load agdc-py3-prod` again!

[2017-03-28 05:38] JulianOG commented on #214
[jgo599@vdi-n27 ~]$ module load agdc-py3-prod
Unable to connect to the database (jgo599@130.56.244.227:6432).

Attempting to create a new user for jgo599...

Error creating user account for 'jgo599'.

Error: database connection check failed!
  see log above for more details
[jgo599@vdi-n27 ~]$

[2017-03-28 05:46] jeremyh commented on #214
Hey @JulianOG, Is that error from eariler, or did you rerun it after Ben's recent comment? That was an issue earlier because the default NCI psql module is too old to support the syntax: I've added a newer one to the dependencies.

These scripts are frustrating to test as we can't drop our own privileges on NCI.

[2017-03-28 05:48] jeremyh commented on #214
My test user recreation is working with the old module:

[code]

[2017-03-28 05:53] JulianOG commented on #214
It was run after Ben's recent comment. And I get the same error just now.

[2017-03-28 05:55] JulianOG commented on #214
Here is a warning with **module load agdc-py3-prod/1.3.0**

[jgo599@vdi-n27 ~]$ module load agdc-py3-prod/1.3.0
Warning: PYTHONPATH is /g/data/v10/public/modules/agdc-py3/1.2.2/lib/python3.5/site-packages
Try unloading all python modules if you experience any issues.
Attempting to create a new user for jgo599...

An account for 'jgo599' already exists in the Data Cube Database, but
we were unable

[2017-03-28 05:56] jeremyh commented on #214
Arg, sorry about the hassle. Can you copy the output from `module list`?

And is this a fresh bash environment, or the same as the previous load?

[2017-03-28 05:57] jeremyh commented on #214
Ah, I think there's some conflicts happening between multiple partially-loaded modules

[2017-03-28 06:01] JulianOG commented on #214
[jgo599@vdi-n27 ~]$ module list
Currently Loaded Modulefiles:
  1) pbs                      5) /agdc-py3-prod/1.2.2
  2) /agdc-py3-env/20170221   6) /agdc-py3-env/20170327
  3) /agdc-py3/1.2.2          7) /agdc-py3/1.3.0
  4) /psql/9.6.2              8) /agdc-py3-prod/1.3.0

new bash terminal.

[2017-03-28 06:13] jeremyh commented on #214
It has a mixture of old and new modules loaded. Can you try restarting your bash session completely and then trying the original module again?

Then paste the outputs of `module list` and `psql --version`

[2017-03-28 23:02] JulianOG commented on #214
When I first open a terminal...
[jgo599@vdi-n27 ~]$ module list and psql --version
VERSION=3.2.10
DATE=2012-12-21

AUTOLOADPATH=undef
BASEPREFIX="/opt"
BEGINENV=99
CACHE_AVAIL=undef
DEF_COLLATE_BY_NUMBER=undef
DOT_EXT=""
EVAL_ALIAS=1
HAS_BOURNE_FUNCS=1
HAS_BOURNE_ALIAS=1
HAS_TCLXLIBS=1
HAS_X11LIBS=1
LMSPLIT_SIZE=undef
MODULEPATH="/opt/Modules/modulefiles"
MODULES_INIT_DIR="/opt/Modules/3.2.10/init

[2017-03-28 23:04] JulianOG commented on #214
sorry, I missread you message.

[jgo599@vdi-n27 ~]$ module list
Currently Loaded Modulefiles:
  1) pbs
[jgo599@vdi-n27 ~]$  psql --version
psql (PostgreSQL) 8.4.20
contains support for command-line editing
[jgo599@vdi-n27 ~]$

[2017-03-28 23:15] JulianOG commented on #214
[jgo599@vdi-n27 ~]$ module list
Currently Loaded Modulefiles:

pbs
[jgo599@vdi-n27 ~]$ psql --version
psql (PostgreSQL) 8.4.20
contains support for command-line editing
[jgo599@vdi-n27 ~]$

[2017-03-28 23:15] JulianOG commented on #214
[jgo599@vdi-n27 ~]$ module list
Currently Loaded Modulefiles:

pbs
[jgo599@vdi-n27 ~]$ psql --version
psql (PostgreSQL) 8.4.20
contains support for command-line editing
[jgo599@vdi-n27 ~]$

[2017-03-28 23:20] benjimin commented on #214
@JulianOG, is that in a fresh terminal, before you load the agdc module? What output do you get from `module load agdc-py3-prod`, then `module list`, then `psql --version`?

[2017-03-29 02:35] JulianOG commented on #214
Yes, a fresh terminal.

[jgo599@vdi-n27 ~]$ module list
Currently Loaded Modulefiles:
  /1) pbs
[jgo599@vdi-n27 ~]$  psql --version
psql (PostgreSQL) 8.4.20
contains support for command-line editing
[jgo599@vdi-n27 ~]$ module load agdc-py3-prod
ModuleCmd_Load.c(208):ERROR:105: Unable to locate a modulefile for 'agdc-py3-prod'
[jgo599@vdi-n27 ~]$ module use /g/data/v10/public/modules/modulefiles/
[

[2017-03-29 03:36] benjimin commented on #214
Hi @JulianOG. We think the module scripts are working now, but we'll need to refresh your `~/.pgpass` file. Can you either remove (or rename) that file entirely, if you're not using it for anything else, or just drop/comment all lines that begin with 130.56.244.*227* and 130.56.244.*105*. Afterward, again try loading the module from a fresh terminal.

e.g. `mv ~/.pgpass ~/.pgpass.backup`

[2017-03-29 04:09] JulianOG commented on #214
it worked :)

[jgo599@vdi-n27 ~]$ module use /g/data/v10/public/modules/modulefiles/
[jgo599@vdi-n27 ~]$ module load agdc-py3-prod
Attempting to create a new user for jgo599...
Created new database account.
User credentials written to ~/.pgpass. Connection test: passed.
[jgo599@vdi-n27 ~]$

[2017-03-29 04:11] #214 closed, assigned to nobody

[2017-03-30 23:15] jkool opened #215 "Develop application code for comparing/matching data cube metadata with CMI metadata"
Intended to match data cube metadata against what was recorded as expected in the CMI.  The CMI outputs a set of JSON nodes containing CMI entries made by scientisits/authors.  For more detail on CMI, contact Johnathan Kool.

[2017-03-30 23:18] benjimin commented on #215
Is the code available?

[2017-03-30 23:33] jkool commented on #215
We're looking to get code developed to provide this function.  Happy to move this issue out of core if a better alternative presents itself.

[2017-04-02 10:42] mpaget commented on #215
This issue relates only to the AGDC. It is a good example of the need for us to be clear when there is a separation of interests between opendatacube and AGDC. @jkool - you're not wrong to add it here as there is nowhere else to add it. All - what would your preferred method be for AGDC-only issues? Labels? Projects? Feel free to suggest, or we can bump it up if there are pros and cons between opt

[2017-04-10 07:51] alfredo-ama opened #218 "Fix for Ingestion of Existing Dataset Type Error"
In the ingestion script, the index is checked for an existing type and updates it if there are no 'bad' changes. The output type is set using [index.products.update](https://github.com/opendatacube/datacube-core/blob/develop/datacube/index/_datasets.py#L365) which has no return value, causing a NoneType error. Should the update function return a ProductResource or should the output type be updated

[2017-04-11 03:04] omad commented on #42
This is already possible, with a couple of restrictions that are being worked on.

[code]

Only data on a local filesystem can be accessed, but this will soon be resolved under another issue.

[2017-04-11 03:04] #42 closed, assigned to nobody

[2017-04-11 03:12] #166 closed, assigned to nobody

[2017-04-11 10:09] alfredo-ama commented on #218
A return may also be required [here](https://github.com/opendatacube/datacube-core/blob/develop/datacube/index/_datasets.py#L388).

[2017-04-12 03:32] andrewdhicks commented on #218
Yes it it! (I'm blaming my jet lag...)
Leaving this bug open until I write tests for the `update` and `can_update` functions

[2017-04-12 14:25] asqhaqs opened #221 "Print an error msg "NameError: name 'gdalversion' is not defined" when I run setup.py install on my windows"
File "C:\Users\01\AppData\Local\Programs\Python\Python35\lib\site-packages\setuptools\sandbox.py", line 198, in setup_context
    yield
  File "C:\Users\01\AppData\Local\Programs\Python\Python35\lib\site-packages\setuptools\sandbox.py", line 255, in run_setup
    DirectorySandbox(setup_dir).run(runner)
  File "C:\Users\01\AppData\Local\Programs\Python\Python35\lib\site-packages\setuptools\sandbox.

[2017-04-12 22:37] jeremyh commented on #221
Hey 2015E8007061068, thanks for the report.

It looks like this is coming from rasterio, one of our dependencies — a minor bug [in their setup.py](https://github.com/mapbox/rasterio/blob/994def271a14126e690a080ead816626a70fdeb0/setup.py#L134), when displaying the following error message:

    A GDAL API version must be specified. Provide a path
    to gdal-config using a GDAL_CONFIG environment va

[2017-04-12 23:05] jeremyh commented on #221
Fix in mapbox/rasterio#1013

[2017-04-12 23:11] jeremyh commented on #221
Prroposed error message fix in mapbox/rasterio#1013

[2017-04-13 06:19] DrewDevereux commented on #221
The cause of the error is that rasterio setup.py needs to know what gdal version is installed. It tries to get that information from the gdal-config executable, but gdal-config is a *nix thing and does not exist on Windows installs of gdal. The rasterio build instructions say that if you're building on Windows then you have to specify the gdal version in an extra parameter to setup.py. As such, th

[2017-04-17 22:44] jeremyh commented on #221
Hi Drew,

You’re right that rasterio didn’t cause the problem — the rasterio bug I referenced is that it’s throwing an exception rather than printing a helpful error message (as its code is written to do). That error message points out that you can set the GDAL_VERSION environment variable to specify the version.

Whether we want to accept and pass along the “--gdalversion” flag too, as you sugges

[2017-04-24 03:54] #221 closed, assigned to nobody

[2017-04-25 13:52] alfredo-ama opened #222 "Issue with the ingestion of UInt16 and UInt32 dtypes"
When trying to load an ingested dataset with a dtype of either UInt16 or UInt32, the following error comes up:
![dc_load](https://cloud.githubusercontent.com/assets/22379995/25388543/22046c32-299c-11e7-94a7-47c3260c88d5.PNG)

It seems that the NetCDF files generated during ingestion are trying to be read in as datatype 8/9, which correspond to the unsupported CInt types - [seen here](https://githu

[2017-04-25 14:00] sixy6e commented on #222
All to do with the NetCDF-CF specification. The spec doesn't allow for unsigned types, except for uint8. GeoTiff doesn't have that same limitation.

[2017-04-25 14:03] alfredo-ama commented on #222
I see - thanks for the information.

[2017-04-25 14:03] #222 closed, assigned to nobody

[2017-04-25 23:01] jeremyh commented on #222
We may want to improve the error message, though, to make it more obvious why it is failing.

[2017-05-01 04:35] omad opened #224 "Data without embedded projection throws exception when reprojected on load()"
**When I run**

[code]

**Expect**
I expect to receive a reprojected DataArray.

**Instead**
I get the following error:

[code]

It looks like somewhere along the way the read _window_ is being replaced with a _rasterio.Band_ object.

[2017-05-01 05:44] simonaoliver commented on #224
That's one we don't have a test for. This seems to work though:
[code]

[2017-05-01 06:26] omad commented on #224
Thanks for that test Simon. Glad to know it's not as widespread a problem as I first suspected.

Also, my bad for not including version/runtime information. I can confirm that it fails with the latest stable release and module available on the NCI.

[code]
[code]

[2017-05-01 06:59] andrewdhicks commented on #224
It looks to only occur for reading formats which rasterio can't read the projection, and has to fall back to the product definition to determine a CRS.
In this case, the format is a NetCDF file without CF-compliant geospatial metadata.

[2017-05-02 05:54] andrewdhicks opened #225 "Xarray 2d .plot() fails for large datasets"
When a user tries to plot 2d data using the `xarray.DataAray.plot()` function, a plot labelled with title, axes, etc is returned, but has no data.
The workaround is to use `xarray.DataAray.plot.imshow()` (or use a smaller sample of data, or lower resolution data).
We should document this workaround in our examples and/or further investigate the issue and contribute a fix back upstream to xarray/ma

[2017-05-03 04:16] GypsyBojangles commented on #215
This is issue is now tracked within our internal JIRA as it is unrelated to ODC.

[2017-05-03 04:16] #215 closed, assigned to nobody

[2017-05-03 07:36] andrewdhicks commented on #184
This should reuse logic added by https://github.com/opendatacube/datacube-core/pull/226/files

[2017-05-03 20:53] Bis-Bala opened #227 "Allow usage of `scale_factor` and `add_offset` variable attributes"
To have geo median products, it is required to scale to float32/64 in the surface reflectance values before passing onto geomedian algorithm. Needs to update variable attributes in the netcdf file so that users can rescale geo median values.

The flexibility will enable users to convert back by rescaling those values and will be reflected as per CF conventions. It can be used writing on any netcdf

[2017-05-03 23:14] sixy6e commented on #227
I think this is what you're trying to say:

"You require the *scale_factor* and *add_offset* variable attributes to the netCDF write utility."

[2017-05-12 06:41] #224 closed, assigned to nobody

[2017-05-15 04:52] felipk101 opened #233 "OGR_ENABLE_PARTIAL_REPROJECTION Error"
I'm getting the following error when ingesting to a conda install (Anaconda), the same ingest and product configuration files (see attached) work seamlessly on the CEOS datacube install.

I also overcame this error by setting `export OGR_ENABLE_PARTIAL_REPROJECTION=TRUE`, yet the lat/longs of the ingested files seem wrong.

The case study area is Mocoa Columbia, and latitudes are at the equator, n

[2017-05-16 02:08] #195 closed, assigned to nobody

[2017-05-16 06:18] asqhaqs opened #237 "if I can install the datacube on the centos6.5 ?"
hello ，I want to know if I can install the datacube on the centos6.5 ? Because my files are all on the centos6.5.

[2017-05-16 06:35] jeremyh commented on #237
Hi Trident,
Yes, CentOS 6 is supported – some of our own systems are still CentOS 6. But we recommend using conda to install as CentOS's built-in libraries are quite old.

See the documentation page for conda installs: https://datacube-core.readthedocs.io/en/latest/ops/conda.html

[2017-05-16 07:30] asqhaqs commented on #237
thanks so much for your quick and helpful response

[2017-05-17 00:51] #237 closed, assigned to nobody

[2017-05-18 08:32] asqhaqs opened #238 "How to get the example data in the guide docs"
### Expected behaviour
Hi ，I am a new user for the datacube. When I follow the guide docs  like
http://datacube-core.readthedocs.io/en/stable/ops/indexing.html
and the examples like
https://github.com/data-cube/agdc-v2-examples ,
I can't find where to get the needed data such as   'ls5_nbar_albers'
![image](https://cloud.githubusercontent.com/assets/14349360/26191613/2805f1a8-3be1-11e7-960b-7fca16

[2017-05-30 06:10] Bis-Bala opened #240 "TopologyException happens while loading data for a polygon region"
### Background

I'm using [agdc_statistics](https://github.com/GeoscienceAustralia/agdc_statistics) to process data from all of time for polygonal regions around Australia.

### Expected behaviour
The `datacube.utils.geometry.unary_union()` function is being used to `Union` the `valid_data` polygons from my source datasets (~1900), it should return a valid polygon for all of the sources.

The rele

[2017-05-30 12:24] sixy6e commented on #240
The reported line segment looks like it would be a self intersecting line, hence the bad topology error.  You could try simplifying the geometry first.

I tried the cascaded_union function direct from shapely and it succeeded, so maybe switch to using that?

[code]

[2017-05-31 23:29] Bis-Bala commented on #240
Currently I am using ConvexHull of the geometry instead of UnionCascaded and seems to be working.
I tried cascaded_union from shapely and didn't get any topolgy exception. But downstream ogr's Geometry_Intersection complains  of a type error as it is looking for type OGRGeometryShadow while creating geom from ogr.

[2017-06-01 04:09] Bis-Bala opened #241 "Large number of open/close operations on datasets impacting performance"
### Background
I'm using agdc_statistics with pbs jobs to calculate ndwi on entire archive of datasets for all coastline.
NCI responded with an email  that our job is impacting in their /g/data2 filesystem.
### Expected behaviour
It should open and close on datasets after performing operation. It is opening and closing four times on every call of the dataset before actual read and lseek starts.

#

[2017-06-05 00:02] Bis-Bala opened #242 "New ingested datasets are not able to load while reprojecting under rasterio"
### Background
I am creating geobox out of my polygon with resolution and using gridworkflow to load datasets. This has been fine till on last Friday and since then it was failing.
### Expected behaviour
I have been able to get dataset using reprojected  geobox.

### Actual behaviour
rasterio is giving following error CPLE_IllegalArgError.
ERROR:rasterio._gdal:CPLE_IllegalArg in Temporary destinat

[2017-06-05 01:28] andrewdhicks commented on #242
This is caused by an error in rasterio, that has been fixed but not yet released. https://github.com/mapbox/rasterio/issues/1056

In the meantime, datacube-core v1.4.1 has a workaround, and is installed at NCI.
I can't access the shapefile to test it, so could you please test it against `agdc-py3-prod/1.4.1`, or put the shapefile somewhere in the u46 project folder?

I'm also looking into why the

[2017-06-05 01:40] Bis-Bala commented on #242
Yes it worked in latest agdc v1.4.1 module.
I copied and have permission set up for vector files /g/data/u46/users/bxb547/GA_tidal_model* .
You can read now.

[2017-06-05 02:24] andrewdhicks commented on #242
The reprojection is happening because we are comparing the source and requested CRS objects to see if they are equal, and they are being considered different, even though they are not.

To avoid the reprojection (and the inefficient workaround), try forcing the polygon CRS to be the same as the requested data:
`boundary_polygon = boundary_polygon.to_crs(CRS('EPSG:3577'))`

I'll raise a separate is

[2017-06-05 04:35] andrewdhicks opened #243 "CRS equality is returning false for a polygon's CRS"
### Expected behaviour
The polygon from a shapefile that is in EPSG:3577 is used to query data for data that is stored in the same projection.  It should be recognized as the same projection.

### Actual behaviour
Each CRS object is converted to its proj4 representation and compared.
The shapefile version is has the same properties as the EPSG derived value, with the addition of the property: `+to

[2017-06-07 02:30] woodcockr opened #244 "Update Developer Guide installation instructions"
The Developer and Operator Guide installation instructions and the Readme.md are a little out of sync for the process of setting up a ODC Development environment. As I'm currently setting up a development environment for Linux I figured I'd update the instructions at the same time.

I'd welcome comments from the ODC developer community how we would like to make this consistent and easier to keep u

[2017-06-07 05:01] andrewdhicks commented on #242
This looks like it will be included in the `rasterio` release 1.0a9.
CRS issue raised as #243, so I'll close this issue.

[2017-06-07 05:01] #242 closed, assigned to nobody

[2017-06-09 06:04] #244 closed, assigned to woodcockr

[2017-06-19 07:43] robeson1010 opened #246 "Trouble Ingesting USGS Landsat and MODIS data"
When I build a datacube on my server, I have already install the  datacube and init the database. How can I index the landsat data like  LC80090452014008LGN00 with tif file.
I tried use the ‘usgslsprepare.py’

it was wrong

[code]
How to fix it？

[2017-06-20 05:58] yan073 opened #247 "ability to get publishing time list for the searching dataset"
In the old API, the function get_descriptor(...) returns a list of publishing time, the latest and the earliest publishing time for the given dataset searching criteria, without loading the actual dataset.

Now, the function get_descriptor(...) is deprecated. Can we have this function back in the new API?
This function will make it possible to create better UI to the user to browser and process da

[2017-06-20 06:18] benjimin commented on #247
Is that what `find_datasets` does?

[2017-06-20 06:32] yan073 commented on #247
In my testing, `find_datasets(product='ls5_nbar_albers', x=(149.25, 149.35), y=(-35.25, -35.35))` only returns a list of Dataset id, type, and location. No time field is returned.
Is there any flag or parameter to ask for publishing time?

Thank you!

[2017-06-20 06:38] benjimin commented on #247
What about something like `[ds.center_time for ds in dc.find_datasets(..)]` ?

[2017-06-20 06:44] yan073 commented on #247
It works!
Thank you, Ben!

[2017-06-20 06:45] yan073 commented on #247
This can be achieved by using [ds.center_time for ds in dc.find_datasets(..)] .
Thanks Ben for his suggestion!

[2017-06-20 06:45] #247 closed, assigned to nobody

[2017-06-21 04:22] Bis-Bala opened #248 "contiguous bit for masking is not working"
### Expected behaviour
Contiguous masking bit should mask data in case of no data found.

### Actual behaviour
It is not masking data even though red, green and blue bands have no data but nir band has data.
This can be tested on LS7 dataset dated 2002/12/17

### Steps to reproduce the behaviour
This is the code that can be used to check masking bit.

import datacube
import fiona
from datacube.api

[2017-06-21 04:32] omad commented on #248
Hi Bis, thanks for your issue report, but this isn't the right repository for it. This repo is just for code issues with datacube-core.

I'll close this and we can continue at GeoscienceAustralia/digitalearthau#7

[2017-06-21 04:32] #248 closed, assigned to nobody

[2017-07-10 00:34] Bis-Bala opened #260 "setting variable like DATACUBE_CONFIG_PATH with a short cut tilde does not work"
### Expected behaviour
DATACUBE_CONFIG_PATH="~/datacube.conf" should work as "$HOME/datacube.conf"

### Actual behaviour
It doesn't connect to database and error response is not user friendly.

### Steps to reproduce the behaviour
I am getting this error while connecting to a test database through the VDI terminal.

Error Connecting to database: (psycopg2.OperationalError) could not connect to ser

[2017-07-12 06:14] sixy6e opened #261 "Error reading rainfall grids"
### Expected behaviour
Return an xarray Dataset like the following:

[code]

Data Cube, version 1.3.2
GDAL 2.1.3, released 2017/20/01
rasterio, version 1.0a8

And the conda environment at NCI is:
/g/data/v10/public/modules/agdc-py3-env/20170427

### Actual behaviour
Fails hard with the first file:

[code]

And then continuing on in trying to assess the crs of the object which is None.

[code]

###

[2017-07-12 06:50] omad commented on #261
We should read changelogs of our dependencies!

From rasterio 1.0a9:
- The `crs` property of a dataset is now `None` instead of `CRS()` when the dataset's coordinate reference system is undefined (#1057).

This will need a small code update on our part to get this working again. And we should add a test for opening datasets with overridden CRSs.

[2017-07-12 07:41] omad commented on #261
BTW, thanks for the great issue description Josh!

[2017-07-12 07:41] mpaget commented on #261
Comment related to the source data: I'm trying reignite a conversation with BoM folks about open use of a daily synced and netcdf-ed version of their surface meteorology grids (such as rainfall here) that csiro operates for itself and its collaborators. This will hopefully spark an update to the NCI holdings of these data, which we can then inject into the data cube.

[2017-07-12 12:43] sixy6e commented on #261
Cool, glad it was informative.

A question regarding the overriding an unknown CRS, it could become problemativ down the line if overriding with a default, as there is the chance that an incorrect datum could be assigned, thus yielding potential geospatial offsets.

Some packages tend to fall back to native image/array coordinates if the CRS is unknown.  The dataset is still useable, but functions

[2017-07-12 12:49] sixy6e commented on #261
@mpaget
That'd be great to get daily synced data, as well as definitive CRS info.

[2017-07-12 22:55] omad commented on #261
The CRS override is set at the Dataset level, on the assumption that there is metadata available next to the data, but isn't smoothly readable by GDAL.

Geospatial is a core part of ODC, so I'm pretty sure that it's required to have a CRS and Transform available for every Dataset that we need to load.

[2017-07-13 03:03] #261 closed, assigned to nobody

[2017-07-14 07:09] omad opened #264 "Delete products from CLI"
### Expected behaviour
When managing a Data Cube Index I would like to be able to delete products, metadata types, etc from the command line.

### Actual behaviour
I need to log into the database and execute SQL statements manually. This is annoying when developing/experimenting, and dangerous when operating on a production Database.

[2017-08-04 02:35] Lunasunsea commented on #246
I have also met this problem,have you fix it?

[2017-08-04 03:27] Lunasunsea commented on #233
When I use the script provided in utils/usgslsprepare.py to prepare the Landsat scenes for use with the Data Cube, I met the problem:"UnboundLocalError: local variable 'metafile' referenced before assignment",please can you tell me how to solve this?Thanks a lot~

[2017-08-04 06:32] benjimin opened #275 "Transferring Datasets and Products between Databases"
Copying dataset records between different databases is tricky yet very useful (e.g. production vs private). I propose the documentation should explain the process in detail, or there should be a dedicated tool.

(The process is tricky because some of the relationships use keys that are specific only to the db instance, which means the data seem scrambled, e.g. datasets end up grouped under the wro

[2017-08-04 06:56] BexDunn opened #276 "dc.load returning almost no scenes for a large polygon but many for a small polygon in the same area"
### Expected behaviour

Expect to get a similar number of scenes retrieved across a polygon area, when using a big polygon in the dc.load call vs using a small polygon in the dc.load retrieval.

### Actual behaviour
If I plot the scenes retrieved I get a triangle shape with about 2 observations in it in the big polygon, whereas in that area for the small polygon I get 300-600 scenes retrieved. (Ov

[2017-08-07 07:36] omad opened #277 "Multiple issues with write_geotiff() method"
### Expected behaviour
I should be able to write a small GeoTiff file using the `datacube.helpers.write_geotiff()` method.

I should also not have to specify a `time_index`.

### Actual behaviour

 For a 50x50 raster it fails with:
[code]

And if `time_index` is not specified it fails with:
[code]

The function should be changed to take more useful parameters, and should have unit test coverage.

[2017-08-08 05:33] Kirill888 commented on #276
After some analysis error was identified in `Datacube.load` when using `dask_chunks` parameter, basically custom fuser function and `skip_broken_datasets` do not flow through to .

Missing `fuse_func` leads to using default fuser, which in the case of PQ masks is completely broken. This in turn leads to no data in the south part of the tile after masking is applied.

![broken_fuser_sample](https:/

[2017-08-08 05:48] Kirill888 commented on #276
Error was in `datacube.api.core.py::fuse_lazy` and was partially fixed by this commit

https://github.com/opendatacube/datacube-core/commit/639774bacd3dca803fa3226f17af839ea4c85af4#diff-73367154868e05ad209c8e4c81a320b8

By explicitly naming `fuse_func` parameter.

However call chain `load->make_dask_array->fuse_lazy->_fuse_measurement` still drops `skip_broken_datasets=<False|True>` parameter.

[2017-08-08 06:00] Kirill888 commented on #276
reproduced on 1.5.1 on NCI

https://gist.github.com/Kirill888/7f79dc864e398f5d9eb08fed3c463d01

[2017-08-10 05:51] harshurampur commented on #246
@Lunasunsea and @robeson1010 Could you please provide me the link where you have downloaded the data from or just the .xml file that you are referring to.. Its hard to figure out the pre-collection data for .xml file, as they all have been updated to 'mtl.txt'. Thanks

[2017-08-17 16:27] amruthkiran94 commented on #246
@robeson1010  @Lunasunsea @harshurampur  Any updates on this issue? I'm facing the same problem.
I'll attach the documents required. Data is a Landsat 5 scene.
[LT05_L1TP_145039_20111109_20161005_01_T1_MTL.txt](https://github.com/opendatacube/datacube-core/files/1231948/LT05_L1TP_145039_20111109_20161005_01_T1_MTL.txt)

[2017-08-17 23:08] harshurampur commented on #246
@amruthkiran94 The file you are trying to index is Collection 1 Landsat 5 MTL format, but the preparescript 'usgslsprepare.py' only supports Pre-Collection data and the file has to be .xml format.

[2017-08-18 06:36] amruthkiran94 commented on #246
Thank you @harshurampur  for your prompt reply! The Landsat 5 Collection 1 data set does not provide a .xml metadata, only a .mtl file. How would I be able to use a Landsat 5 imagery with mtl metadata? Any other scripts? I'm using the https://github.com/opendatacube/datacube-core/tree/develop/utils as a reference.

[2017-08-18 06:54] harshurampur commented on #246
@amruthkiran94 USGS has phased out the `.xml` format for all the Collection 1 data. There is no other script to index `MTL` metadata for Collection 1. We are working on it.
Sincere apologies.

[2017-08-18 07:23] amruthkiran94 commented on #246
@harshurampur  There is a small workaround I just figured out. USGS data when downloaded via the "download options" button links to a preprocessed data and its contents ~200mb does not contain the .xml file. The same scene when ordered via the "order scene" button and downloaded after processing contains the .xml file and successfully is read by the script at https://github.com/opendatacube/datacu

[2017-08-20 23:27] harshurampur commented on #246
@amruthkiran94 That's Great! I am sure you will be able to do the same with MTL soon. Thanks

[2017-08-21 00:37] harshurampur commented on #246
@amruthkiran94 You mentioned "order scene" in previous comment that you were able to download .xml file through this, I followed the same steps as you mentioned via the "order scene" and after processing when i downloaded the data, there was no xml file in it.
I am referring to Earth explorer, landsat7 pre-collection level 1. Did you followed the same?

[2017-08-21 04:01] amruthkiran94 commented on #246
@harshurampur  I have carried out the steps as you have done for both Landsat 5 and Landsat 7 **Collection 1 data**, not the Pre-Collection datasets. Attaching files for reference.
The Pre-Collection data would be discontinued,

The files below are, the XML, MTL and generated Metadata.YAML files of LS5 and LS7.
[Comments_1.zip](https://github.com/opendatacube/datacube-core/files/1237729/Comments_1

[2017-08-29 05:53] #210 closed, assigned to nobody

[2017-08-29 06:27] uchchwhash opened #285 "Index should not support serialization"
As the `_db` attribute of a `datacube.index._api.Index` object refers to a `PostgresDb` connection, it should not support serialization.

### Expected behaviour
The following code should raise a `TypeError`:

[code]

### Actual behaviour
Trying to serialize a `PostgresDb` object only issues a warning:
`Serializing PostgresDb engine postgresql://ia1511@130.56.244.105:6432/datacube`

### Steps to re

[2017-08-29 07:00] #243 closed, assigned to nobody

[2017-08-30 05:17] jeremyh commented on #285
Thanks for the report Imam.

I can't seem to reproduce that script you give using the `agdc-py3-prod` stable 1.5.2 module. Does it only affect develop?

My suspicion is that it's coming from pickling the `DriverManager` instance, not the `PostgresDb` instance. The latter defines ` __getstate__/__setstate__` methods for pickling, which is where we're logging the `Serializing` warning  from: but tho

[2017-08-30 11:33] amruthkiran94 opened #286 "Support for MODIS Surface Reflectance products"
The MODIS data product for the series MCD43A1-A4 is available for indexing and ingestion but they are BRDF and Albedo data products. The Land product for Australia and global, priority list is attached and linked below-
http://wiki.auscover.net.au/wiki/Land_products_for_Australia_and_global

![issuegit](https://user-images.githubusercontent.com/17108758/29870427-07c31c70-8da5-11e7-938f-1f1c0594779

[2017-08-30 22:09] mpaget commented on #286
Hello Amruth,

You have the right links for MODIS in the data cube (Australian implementation, at least).

MCD43A1-4 are the priority products for Australia's use cases. You will note on the wiki.auscover link that the full mirrored archive is now complete in Australia, and the next step is to check/update/operationalise the indexing configuration files and scripts for these products.

In Australi

[2017-08-31 06:48] amruthkiran94 commented on #286
Thank you @mpaget  for your quick response! I sure hope the MOD09 products get some attention in the near future. The basic surface reflectance products often provide a good start for those beginners who step into the world of the Data Cubes and Analytics, before the more specific and complex MOD43Ax series (BRDF/Albedo).

Any updates on the product/configuration/ingestion files for the MOD09 seri

[2017-09-01 00:32] jeremyh commented on #191
Paging probably isn't worth doing as it wont be efficient to do correctly at the moment. Sorting is optional. But limits alone would be extremely useful.

[2017-09-04 02:47] ghost opened #288 "TypeError: illegal data type for attribute when use China's domestic satellite data"
I tried to use China's domestic satellite data (called GF-1) in datacube , and I finished defining and indexing data ,but when i ingested data

it was wrong

[2017-09-04 02:54] ghost commented on #288
i tried many ways to solve ( like changing  data format, such as tif,img,netcdf,ENVI and so on. like using gdal to extract raster digital number data and then create a new raster ), but didn't work , is there any suggestion?

[2017-09-06 01:59] andrewdhicks commented on #288
Hi @gis-lijunjie
Could you please post what is in your ingest config next to **dtype**.
The example below sets the _blue_ band to be stored as a signed 16 integer (_int16_)
[code]

[2017-09-06 05:15] ghost commented on #288
firstly, thanks a lot @andrewdhicks
I have found the problem and fixed it after I raised my question, I thought that my satellite datatype caused the error. In fact, it is wrong. It is Netcdf  global attributes that lead to the error. In ingest config,  must be careful when write global attributes, any illegal character is not allowed. And had better not set the value of the property null.
Actuall

[2017-09-06 05:29] ghost opened #289 "what is datacube's supported maximum size of single image"
when my data is 10000X10000 (single image demensions), datacube works ,and no error
but when my data is 20000X10000, datacube doesn't work, says failed reading documents. So what is datacube's supported maximum size of single image?

[2017-09-07 02:37] ghost commented on #238
I agree, the website doesn't give complete example satellite data and corresponding metadata and config files. I spend nearly one month to get the data and related config files. finally, succeed.

[2017-09-07 02:48] jeremyh opened #290 "Use of deprecated numpy != comparison in tests"
Printed several times in every Travis build. "this will raise an error in the future"

[2017-09-07 03:59] omad commented on #289
The largest single images that I know we have tested with are Landsat scenes which are approximately 5000x5000.

I'm not sure what the maximum supported size of a single image is, but I would have expected more than 20,000x10x000.

If you could provide a more detailed error message we might be able to track down what is causing the restriction.

[2017-09-07 05:25] #290 closed, assigned to nobody

[2017-09-11 01:37] uchchwhash commented on #285
Since we have identified the real issue and now there is a test in place to try to prevent that, should we probably close this? I should probably also note here that part of the issue is that `cloudpickle>=0.4.0` works just fine.

Asking @jeremyh and @Kirill888 in particular.

[2017-09-13 00:26] #285 closed, assigned to nobody

[2017-09-13 06:17] Lunasunsea commented on #246
Thanks a lot！But when I use the data and the script you mentioned，I met the problem：
“Traceback (most recent call last):
  File "C:\Python27\datacube-core-develop\utils\USGS_precollection_oldscripts\usgs_ls_ard_prepare.py", line 270, in <module>
    main()
  File "C:\Users\Administrator\Miniconda2\envs\cubeenv\lib\site-packages\click\core.py", line 722, in __call__
    return self.main(*args, **kw

[2017-09-13 09:02] amruthkiran94 commented on #246
@Lunasunsea This usually occurs due to the mismatch of the script and the data set used. Try using the "usgslsprepare" script.
 The "usgs_ls_ard_prepare" script is for ARD or Analysis Ready Data only.

[2017-09-13 09:33] Lunasunsea commented on #246
Thank you very much!

[2017-09-18 09:03] Lunasunsea commented on #246
Have you ever tried to ingest the MODIS product?When I am trying this,it appears:

F:\enviroment>datacube ingest -c C:\Python27\datacube-core-develop\docs\config_samples\ingester\mcd43a1_sinusoidal.yaml
Traceback (most recent call last):
  File "C:\Python27\Scripts\datacube-script.py", line 11, in <module>
    load_entry_point('datacube==0+unknown', 'console_scripts', 'datacube')()
  File "C:\Pyth

[2017-09-20 23:06] harshurampur commented on #246
@Lunasunsea Have you tried to ingest using other modis files available in the /ingester folder. If so, do you get the same error?

[2017-09-28 02:38] ASVincent opened #303 "Build is broken on Python 2.7; incompatible gdal installed by conda on travis"
### Expected behaviour

Travis build should install the correct dependencies to allow tests to run for all specified versions of python

### Actual behaviour

Travis does not install the correct dependencies for python 2.7

### Steps to reproduce the behaviour

Create a PR and see that tests fail on python 2.7

[2017-09-28 06:18] #303 closed, assigned to ASVincent

[2017-10-05 03:44] omad commented on #115
It has been possible to filter by fields on parent datasets for a while now, using `source_filter`.

An example request for Landsat, filtered by GQA would be:
[code]

When the index is being queried for datasets, this will traverse the tree of parent datasets, until one of the appropriate `product` is found, and then apply the filter.

[2017-10-05 03:44] #115 closed, assigned to nobody

[2017-10-05 03:46] omad commented on #86
While this would be nice, lets close this issue until someone needs it.

[2017-10-05 03:46] #86 closed, assigned to nobody

[2017-10-05 03:47] omad commented on #186
Where are you up to with your test code for this @andrewdhicks?

[2017-10-05 04:54] omad commented on #227
See http://unidata.github.io/netcdf4-python/#netCDF4.Variable.set_auto_maskandscale for more information about `scale_factor` and `add_offset` when using the Python NetCDF library.

This shouldn't be too hard to implement.

[2017-10-16 12:34] davidedelerma opened #313 "Error in ingesting Landsat data in UTM when resolution is 30 m"
### Expected behaviour
I should be able to ingest successfully Landsat L2 data in UTM projection using 30 m as cell size.

### Actual behaviour
When try to ingest Landsat data in UTM projection using 30 m resolution, I get the error:
[code]
The data can be successfully ingested for others resolutions (e.g. 20 m or 30.1 m).
`tile_size` is obtained with: `resolution` * 3500

### Steps to reproduce t

[2017-10-16 23:56] bellemae commented on #313
Hi @davidedelerma,

USGS L2 landsat data ingestion isn't currently supported in Open Data Cube.
However, I notice that you're using a fairly old version of ODC (1.1.15), it may be worth updating to the latest version (1.5.2) and trying the ingestion with that.

[2017-10-17 01:18] bellemae commented on #313
@davidedelerma

The data type error you're getting could be related to an incompatible nodata value.
What is the data type for your data? If it's uint8, then your nodata value can't be -999

[2017-10-17 15:41] davidedelerma commented on #313
Hi @bellemae
Thanks for the reply.
I tried with the version 1.5.2 of Datacube, but I still get the same problem.
However, modifying the atmos_opacity parameter in the product configuration file from:
[code]
to:
[code]
and the same parameter in the ingestion configuration file from:
[code]
to
[code]
I can ingest the data successfully using 30 meters resolution, but we noticed that the difference be

[2017-10-17 23:26] bellemae commented on #313
Great to see you got it a little further :)
As for the differences you're getting, plotting them to see where they're occurring may help determine the cause. Could you please post a plot of the differences?

[2017-10-20 09:21] davidedelerma commented on #313
Hi @bellamie,
Thanks :)
Here are two plots showing the difference between ingested data and indexed data for the bands blue and pixel qa respectively.
The points for which the difference is 0 have been masked to enhance the points for which the difference is not 0.
![diff_blue_and_pixelqa](https://user-images.githubusercontent.com/15250055/31813582-3b35f834-b587-11e7-8c0a-541b5d1b22c9.png)
Here be

[2017-10-23 07:07] andrewdhicks commented on #313
Hi @davidedelerma

In your previous code snippet, you were ingesting into CRS `EPSG:32633`. There will be resampling artifacts from the 2 sets or `nearest neighbor` re-projections.
If you are only doing one reprojection, then I'm not sure what could be happening, as the "on-the-fly" reprojection should be the same method that creates the "ingested" tiled version.

Andreia also passed along your qu

[2017-10-23 13:34] davidedelerma commented on #313
Hi @andrewdhicks,
Thanks for your answer.
We tested the Open Data Cube with two different Landsat 7 datasets, one from Italy with crs: 32633 and one from Uganda with crs: 32636, for this reason the crs in the previous posts were different for indexed and ingested data.
We double checked and the indexed and ingested data for the same dataset have the same projection, for this reason it looks odd to

[2017-10-25 05:44] Kirill888 commented on #313
Hi Davide @davidedelerma

I think differences you are observing stem from the resampling ingestion process performs. Even though you are ingesting in to the same CRS at the same scale there is still resampling that needs to be applied. Ingestor needs to align pixel boundaries, so it will perform sub-pixel translation even if you match crs and scale exactly, for that reason I would recommend agains

[2017-10-26 05:44] davidedelerma commented on #313
Hi @Kirill888 ,
Thank you very much, I tried the suggested test and the difference between ingested and indexed data is 0.
Now the ingestion process is more clear.
Thanks

[2017-10-26 05:48] Kirill888 commented on #313
No worries.

I'm closing this issue then.

[2017-10-26 05:48] #313 closed, assigned to nobody

[2017-11-05 10:18] amruthkiran94 commented on #246
@harshurampur The script for the USGS Prepare- MTL format is working well. Thank you. :)
How do i go about ingesting any LS'x' data now that the prepare script is modified?
Will the original AGDC ingestion scripts be compatible?

[2017-11-05 20:30] amruthkiran94 commented on #238
@gis-lijunjie  Please do share the links for the example data and configuration files. It would help beginners immensely.

[2017-11-05 23:34] harshurampur commented on #246
@amruthkiran94 There aren't any ingest scripts available for the landsat8/7/5 for collection 1 data. I will  update ingestion config file as soon as possible. Meanwhile, if you are keen in creating an ingestion script for the indexed data please follow this link below:
http://datacube-core.readthedocs.io/en/stable/ops/config.html#ingestion-config

[2017-11-10 06:21] amruthkiran94 opened #322 "Utilize .NC files in Datacube"
How do I consider using ready made .nc files generated by NCI into my Datacube?
I've retrieved the files from http://dapds00.nci.org.au/thredds/catalogs/rs0/catalog.html for the Australian Landsat data series.

Do I need the satellite images to view the plots when generated on Jupyter such as http://nbviewer.jupyter.org/github/opendatacube/datacube-core/blob/develop/examples/notebooks/Datacube_Sum

[2017-11-15 15:52] adriaat opened #323 "Amazon S3 support"
When running Open Data Cube in the cloud, I would like to have datasets in Amazon S3 buckets without having to store them in my EC2 instance. I have seen that in datacube-core release 1.5.2 the new features
* Support for AWS S3 array storage
* Driver Manager support for NetCDF, S3, S3-file drivers

were added. I have read the few documentation there is on these features but I am confused. Is there

[2017-11-15 23:15] woodcockr commented on #323
These are new features being developed by the CSIRO contributors to ODC, @petewa and @rtaib . We are currently working on an AWS based ODC execution engine to  support large scale parallel processing, which directly exploits the AWS S3 storage driver. Documentation is a little sparse at the moment but the S3 storage driver is a drop in replacement for the default file based driver. There's a optio

[2017-11-16 00:29] petewa commented on #323
Hi @adriaat,

As @woodcockr mentions, documentation is sparse and is something we need to improve.

The S3 driver extension serves 2 core purposes:
 - Allow ODC to ingest directly to S3 and have ODC operates as before while storing & retrieving data from S3 transparently.
 - High performance externally indexed ndarray storage back-end for scalable compute on the cloud.
   - use S3 like raw main me

[2017-11-17 17:59] davidedelerma commented on #323
Hi,

Many thanks for your help.
I am working with @adriaat on OpenDataCube and I am experiencing the same issue of configuring datacube with S3.

When I run the command:  `datacube -v system init --create-s3-tables`
I got the following message:

2017-11-17 17:52:21,845 3828 datacube INFO Running datacube command: /home/ubuntu/Datacube/datacube_env/bin/datacube -v system init -s3
2017-11-17 17:52:2

[2017-11-19 22:16] petewa commented on #323
Hi Davide,

The import failed message is not worded very well. You can safely ignore it. Non default drivers are skipped during initialization because they are not required. In this particular case, they are skipped because the s3 tables are not present before initialization. After you execute the 'datacube -v system init -s3', the tables should be properly created and initialized.

You can confir

[2017-11-20 09:50] davidedelerma commented on #323
Hi @petewa ,

I double checked, but unfortunately there are not new tables into the database.
The only tables in the agdc schema are:
- dataset
- dataset_location
- dataset_source
- dataset_type
- metadata_type

Thanks,
Davide

[2017-11-20 23:29] petewa commented on #323
Hi @davidedelerma, could you please try the 'datacube -v system init -s3' command with a fresh database.

The init script may not be set up to create the tables with an already initialised agdc schema.

[2017-11-21 13:13] davidedelerma commented on #323
Hi @petewa ,
Thanks.
I dropped the database and initialized it again using the "s3" option.
Now I have the three extra tables.
Then I added a product (Landsat 8) and indexed 9 Landsat 8 L2 images referring to the same footprint.
After that I modified the configuration file for ingestion using:
[code]
but when I run the command:
`datacube --driver s3 -v ingest -c ~/ls8_collections_sr_general_s3.yam

[2017-11-21 13:20] davidedelerma commented on #323
Here is the full configuration file for ingestion:
[code]

[2017-11-21 21:23] petewa commented on #323
Hi @davidedelerma,

I made a mistake in my earlier post.
"Import Failed for Driver plugin "S3Driver", skipping." Should not be happening.
This means that there was an import error when loading the the S3Driver.

In relation to my earlier message. I misread it as "Driver plugin "S3Driver" failed requirements check, skipping" which is different.

It looks like you are on EC2 with a flavor of Ubuntu.

[2017-11-29 04:42] petewa commented on #323
Greetings @davidedelerma

How did you go?

[2017-11-29 16:38] adriaat commented on #323
Hello all,

@davidedelerma and I have been working on it. We both use Ubuntu 16.04.03 LTS. We created a new environment following @petewa commands from a previous comment. Using this environment, we ingested a single time slice of Landsat 8 data in a S3 bucket. There was no error in the ingestion. We loaded this data with `use_threads=False` and we did not have any problem: the data is correctly l

[2017-11-30 21:49] petewa commented on #323
1. One thing that comes to mind is latency and compute performance. There are a bunch of reasons, main one being AWS architects tends steer us away from using s3 as a file system e.g. s3fs

2. use_threads controls the threading on retrieving multiple time slices and stitching datasets. This is currently a compromise. Having said that, the underlying S3IO library is threaded by default.

Regarding

[2017-12-04 14:44] adriaatrhea commented on #323
Hello,

Thank you for your reply @petewa. I played a little bit with the suggested changes and with the two branches (`develop` and `csiro/execution-engine`), producing benchmarks to qualify and quantify the results. Since there are just too many results to post them here, I give an overall impression of them. The comments below refer to loading times of 9 Lansat 8 time slices, sharing the comment

[2017-12-04 14:46] adriaat commented on #323
Hello,

Thank you for your reply @petewa. I played a little bit with the suggested changes and with the two branches (`develop` and `csiro/execution-engine`), producing benchmarks to qualify and quantify the results. Since there are just too many results to post them here, I give an overall impression of them. The comments below refer to loading times of 9 Lansat 8 time slices, sharing the comment

[2017-12-04 21:56] rtaib commented on #323
Thanks for benchmarking and providing such a nice summary @adriaat ! I think @petewa may be travelling right now, so let me answer your question about s3-file ingestion: yes, you need to define the `container` field in the config file, the same way you would for normal s3 ingestion, the idea being that a `container` is a driver-independent location for data. What you put there is the absolute path

[2017-12-04 23:51] #276 closed, assigned to nobody

[2017-12-10 22:20] omad commented on #190
It's already possible to do this when using the `Index` connection directly. Results are streamed back through a python iterator:
[code]

[2017-12-10 22:20] #190 closed, assigned to nobody

[2017-12-10 22:23] #43 closed, assigned to nobody

[2017-12-10 22:25] #225 closed, assigned to nobody

[2017-12-10 22:25] #260 closed, assigned to nobody

[2017-12-10 22:26] #208 closed, assigned to nobody

[2017-12-10 22:28] #288 closed, assigned to nobody

[2017-12-10 22:28] #289 closed, assigned to nobody

[2017-12-10 22:31] omad commented on #197
This is still something that should be improved, but I'm going to close this for now until it becomes a higher priority, or we have some easily re-producable cases.

[2017-12-10 22:31] #197 closed, assigned to nobody

[2017-12-14 01:29] petewa commented on #323
Hi @adriaat, I'm back in the office now.

Performance tips:
 - more cores generally means more performance for the s3 and s3-file driver
   - I test with a c4.2xlarge, even more performance if you go bigger. e.g. c4.4xlarge, c4 8xlarge.
   - I found t1/t2 instance performance to s3 to be on the low side.
 - Go big on tile size
 - Go bigger on chunking parameter to arrive at 10-20MB in size.
 - Aft

[2018-01-05 06:32] Kirill888 opened #334 "Inconsistent command line option spelling"
Command line option to `datacube` app to specify configuration file is using underscore `_` case while two other multi-word options use dashes `-`

- `--log-file`
- `--log-queries`
- `--config_file` <-- Odd one out

Most other subcommands also use `-` case for multi-word options, it's a common patterns in CLI apps.

## Proposed changes

Rename to `--config-file` or to just `--config`