[2020-09-10 08:06] Kirill888 commented on #1016
Thinking more about this, I think I prefer a database-backed "site configuration" section. Doesn't need to be anything fancy just a json blob stored somewhere. We can then extend it for other useful things like

- Default projection to use for loading data
- Default timezone to use for deciding day boundaries
- "Simple virtual products", like ls5+ls7+ls8
- Any other experimentation
- And product a

[2020-09-10 08:13] jeremyh commented on #1016
It was limited as an identifier to be usable safely and unmodified in urls (eg explorer), file paths, sql table/view/index names (like the postgres driver), and potentially python/js property usage (... which was not used here? but is used for some other entities using the same rules, like fields: `dataset.metadata.blah`).

[2020-09-10 08:18] Kirill888 commented on #366
@clausmichele  there is no plan to add this functionality within 1.8 series, it's a 2.0 thing. Reason is simple: as far as database layer is concerned it does not model time or space directly. There are just search fields within json blobs. It just so happens that there might be a key called `time` that one can extract from some json path, or there might be keys called `lat` and `lon`. It's all th

[2020-09-10 08:27] jeremyh commented on #1016
I kinda already viewed the product definition as "this is how this local datacube interprets the data", so putting it there fits my admittedly-limited world view. Writing products also already requires careful consideration of uniqueness with fields like the metadata-match rules.

Thinking out loud, but I'd maybe rather add validation of uniqueness to `product.add` (which is already long overdue f

[2020-09-10 08:37] Kirill888 commented on #1016
Fair enough. I guess even when constrained to identifier syntax it can be human usable. But with the current convention at GA, and the desire to include it in the file name, and hence wanting to use shorter names, it's becoming unwieldy.

Regarding you second comment, it's probably easier to implement another field `alias|query_name|short_name` or whatever you call it that can contain any characte

[2020-09-10 20:38] tushar10sh commented on #1018
Got it. Thanks a lot.

[2020-09-10 20:38] #1018 closed, assigned to nobody

[2020-09-10 22:34] alexgleith commented on #1016
I think that including product aliases in a product definition makes sense. And we could use the same logic as you proposed above, Kirill, and just cleverly inform users of an alias collision.

Uniqueness doesn't need to be enforced on the DB level. And if the alias value isn't in the JSON in the DB, then ignore it! Also no index required, because there's only a small number of rows in the product

[2020-09-10 22:48] Kirill888 commented on #1016
Ok fine, let's go with an extra "any string" field, that is expected to be unique, but not enforced to be unique. Next question is what should that be called.

- `title:` :heavy_check_mark:
- `alias:` :grey_question:
- `full_name:` :grey_question:

I'm not too keen on allowing several aliases for a product, it somewhat makes sense for bands, but I feel like it's not right for a product. My prefere

[2020-09-10 23:40] jeremyh commented on #1016
A fourth option is 'label', which is what dataset's short human-readable strings are called (which are also usually, but not enforced to be, unique).

[2020-09-11 00:04] alexgleith commented on #1016
+1 for `title`. It's more standard.

[2020-09-12 00:13] snowman2 commented on #672
@petewa, thanks for sharing. It will be a while before I can try it out, but I definitely would like to 👍

[2020-09-14 07:43] woodcockr commented on #1016
Be useful to have `namespace` as well. We use DEA and CSIRO data and they can be the identical product aside who is managing it. Some namespace capability would allow us to keep product names consistent with GA but have them managed in a different namespace.

[2020-09-14 07:46] woodcockr commented on #366
Though if you run datacube-explorer you can get the extents from its summary tables.

[2020-09-14 14:45] clausmichele commented on #366
Thanks for the suggestion, however I'm currently unable to test it due to library incompatibility on my environment. As soon as I manage to run datacube-explorer I'll see if it helps with my use case.

[2020-09-14 17:34] tushar10sh opened #1021 "Use of postgres+postgis for future releases?"
Since the datacube docs imply the db schema to be NoSQL, I wonder why the team didnot consider mongoDb as the choice of database for datacube. There is significant difference in the container image size of potgres+postgis vs mongodb (which supports geospatial queries as well). Postgres + postgis has been very good in terms of features they provide but the features that are being used are supported

[2020-09-14 23:30] uchchwhash commented on #1021
It would be an interesting exercise to port ODC to NoSQL databases. Fortunately the index layer in ODC is replaceable, and you can try implementing it NoSQL yourself! The `datacube-core` team as of now however has no intention of spending a significant amount of time on this. We are keen to have more PostGIS support though. Closing, but we would be happy to hear from you if you are interested in c

[2020-09-14 23:30] #1021 closed, assigned to nobody

[2020-09-16 09:36] clausmichele commented on #366
@woodcockr I managed to run datacube-explorer, where do I find the summary tables? How to update them when I add new datasets?

[2020-09-21 10:42] jankovicgd opened #1023 "Names appear as None in Datacube.list_products()"
### Expected behaviour
Names appear properly as defined by product.yml.

### Actual behaviour

The names appear as None in list_products()

### Steps to reproduce the behaviour

[code]

Here is a couple of screenshots from pgadmin and jupyter. In the db it seems all is fine, and the products / datasets are properly indexed.

https://i.imgur.com/GmCvnwZ.png
https://i.imgur.com/xZCIs9s.png

I tried

[2020-09-21 13:08] jankovicgd commented on #1023
Also noticing that nothing seems to be queried, `Datacube.load()` just returns empty xarray datasets

[2020-09-21 16:38] tushar10sh commented on #1023
Can you upload product definition document (.yaml) file?

[2020-09-21 18:21] tushar10sh commented on #1023
Have you queried the same database as mentioned in your [acube] env in your datacube.conf file?

[2020-09-22 06:48] jankovicgd commented on #1023
I have 14 different products in this acube env. Here is one example, but do note that all of them have names as None.

[code]

In the configuration it is defined as.

[code]

The user exists and everything on that front seems to be okay.

[2020-09-22 08:00] Kirill888 commented on #1023
@jankovicgd can you please paste here output of `dc.list_products(with_pandas=False)`

[2020-09-22 08:04] Kirill888 commented on #1023
Also definition of your `boku` metadata might be useful.

[2020-09-22 08:19] jankovicgd commented on #1023
All of this worked with 1.6, I updated the whole setup to 1.8.3, so I am not sure. I truncated the tables and tried again and same issue. What is really weird, I have another environment and database where everything works as expected. The products there use the regular eo field. Could it be that I made the dataset name searchable?

`list_products(with_pandas=False)`

[code]

[code]

[2020-09-22 08:25] Kirill888 commented on #1023
My suspicion is that this is due to clashing of fields defined in your metadata spec, code here

https://github.com/opendatacube/datacube-core/blob/31fef0401c8634d2612d7e52ed25c548f023fb01/datacube/model/__init__.py#L590-L596

just blindly over-writes product fields (line 595) with names taken from metadata, even though they contain `None` values.

I think `product.name` should take precedence ove

[2020-09-22 09:03] jankovicgd commented on #1023
I am using dataset names to search if something is already in the database, and the name is constructed from other metadata fields. Although this was my initial try, now  I do something different now and can probably make the name non searchable and see if that works.

[2020-09-22 09:46] Kirill888 commented on #1023
See PR linked above, this will end up in the next point release, a work-around for now would be to change your metadata to rename your field to be `ds_name` or something other than `name`

examle:
[code]

You will then need to change your code as well to `dc.load(ds_name="...")`

[2020-09-22 10:52] jankovicgd commented on #1023
Thanks for the help!

[2020-09-22 23:59] alexgleith opened #1025 "Open Data Cube License Headers"
### Overview

In order for the ODC to become an ODC Community Project, we need to include license headers in all source files. Initially, this will be in the `datacube-core` project, but we should role it out in other key projects.

### Current situation

We have inconsistent headers currently.

### Suggested headers

[code]

The command to add these headers to all files in a folder is this: `lice

[2020-09-23 03:17] #1023 closed, assigned to nobody

[2020-09-25 08:49] benjimin opened #1026 "datacube.load with malformed single-measurement queries"
If `datacube.Datacube().load` is passed a string as the `measurements=` argument (instead of a list containing only that string) then it tries to iterate over the characters in the string (as separate, if somewhat terse, band names).

This inevitably results in an error, that is not necessarily beginner-friendly. Instead I think the API function should validate the input (and either tolerate a sin

[2020-09-30 08:43] jankovicgd opened #1027 "'DatasetType' object has no attribute '_all_measurements' with dask"
Hey all, I am receiving an error when using dask to perform some computations. Not sure entirely if this is an ODC/Dask/xarray issue though. Any help would be appreciated. The code example below was extracted from a jupyter notebook.

### Expected behaviour
Computed data and plot

### Actual behaviour

[code]

### Steps to reproduce the behaviour

[code]

### Environment information

There are som

[2020-10-02 14:58] luigidifraia commented on #1027
Hi @jankovicgd.

I was able to run the notebook you shared, with the necessary modifications for product and area/time extents, without stumbling on the issue you are reporting. I am using ODC core 1.8.3 and a distributed Dask cluster running Dask 2.23.0.

Just a couple of things you might want to check:

- does your query return a non-empty dataset? You can use the `find_datasets` method for that

[2020-10-05 07:23] jankovicgd commented on #1027
Hello @luigidifraia,

Thanks for the recommendations!

The query is not empty, it returns some 400 datasets. I've just tried without the cluster and a smaller time difference and all works fine. I've also different mean calculations but with the same issue. I might try and get the versions sorted, and I will try dask 2.23.

[2020-10-05 08:26] luigidifraia commented on #1027
Hi @jankovicgd. Getting the version of Dask-related Python modules for client (i.e. JupyterHub), scheduler and worker aligned is definitely paramount. Also, I'd make sure that the same version of Python and various Python modules involved in the computation itself are installed across all containers. The fact the computation works locally, suggests this might not be the case at the moment?

[2020-10-05 08:37] jankovicgd commented on #1027
It indeed does seem so. I have synchronized the versions (& dask 2.23) and seem to be getting some progress, the computation works if I specify LocalCluster (although I forgot to try this before), but the same error with the remote cluster.

[2020-10-05 08:38] jankovicgd commented on #1027
I have setup datacube on the worker nodes as well, previously I got the ModuleNotFound so I have also datacube 1.8.3 on the worker.

[2020-10-05 10:52] jankovicgd commented on #1027
One thing to note, I hope it doesn't matter that the lab clients are running in conda environments and the dask/datacube on the cluster are installed through pip.

[2020-10-05 10:57] luigidifraia commented on #1027
If you can ensure all versions are the same, then you might be fine. I myself use mostly `conda` for all images, in order to keep everything in sync (and avoid installing `gcc`, as example). See below:

[Scheduler/worker image for Dask distributed](https://github.com/luigidifraia/dask-docker-images/blob/master/datacube/Dockerfile)
[Single user image for JupyterHub](https://github.com/luigidifraia/

[2020-10-05 11:51] jankovicgd commented on #1027
I have setup everything and no longer get the version mismatch warning, just the error. Really weird that the LocalCluster works and a remote doesn't.

[2020-10-05 12:24] luigidifraia commented on #1027
Did you fetch the logs from your Dask worker containers? There are usually some useful insights you can gather from them.

[2020-10-05 22:55] Kirill888 commented on #1027
@jankovicgd when using Dask one HAS TO run everything from exactly the same environment, not just the same versions of some libraries, it has to be exactly the same python environment, anything less than that and all bets are off. Sure, it might work some of the time for some trivial cases, but it's not guaranteed to work. This is due to the way Dask is using data and code serialisation (pickle) t

[2020-10-06 07:53] jankovicgd commented on #1027
Thanks for the help, really appreciate it. I will try to setup dask with conda in docker to match the docker/jupyterhub setup environment.

[2020-10-07 07:04] #681 closed, assigned to nobody

[2020-10-07 07:04] #565 closed, assigned to nobody

[2020-10-07 07:05] #187 closed, assigned to nobody

[2020-10-07 07:05] #241 closed, assigned to nobody

[2020-10-07 07:05] #433 closed, assigned to nobody

[2020-10-07 07:05] #766 closed, assigned to woodcockr

[2020-10-07 07:05] #767 closed, assigned to nobody

[2020-10-07 07:05] #455 closed, assigned to nobody

[2020-10-07 07:05] #471 closed, assigned to nobody

[2020-10-07 07:05] #519 closed, assigned to nobody

[2020-10-07 07:05] #737 closed, assigned to nobody

[2020-10-07 07:05] #576 closed, assigned to omad

[2020-10-07 07:05] #752 closed, assigned to petewa

[2020-10-07 07:05] #876 closed, assigned to nobody

[2020-10-07 07:05] #885 closed, assigned to nobody

[2020-10-07 07:05] #892 closed, assigned to nobody

[2020-10-07 07:05] #881 closed, assigned to Kirill888

[2020-10-07 08:40] #183 closed, assigned to nobody

[2020-10-07 08:40] #385 closed, assigned to nobody

[2020-10-07 08:40] #467 closed, assigned to nobody

[2020-10-07 08:40] #524 closed, assigned to nobody

[2020-10-07 08:40] #536 closed, assigned to nobody

[2020-10-07 08:40] #562 closed, assigned to nobody

[2020-10-07 08:40] #566 closed, assigned to nobody

[2020-10-07 08:40] #572 closed, assigned to nobody

[2020-10-07 08:40] #595 closed, assigned to nobody

[2020-10-07 08:40] #613 closed, assigned to nobody

[2020-10-07 08:40] #606 closed, assigned to nobody

[2020-10-07 08:40] #625 closed, assigned to nobody

[2020-10-07 08:40] #674 closed, assigned to nobody

[2020-10-07 09:59] jankovicgd commented on #1027
Small update, before I try to update and create conda/docker environments, I have tested in a similar regular pip venv and a separate VM and the example works, so probably the solution would be that the environments would need to match.

[2020-10-09 08:51] jankovicgd commented on #1027
Hello again,

I have setup dask/datacube in conda environments inside docker swarm, got the matching versions for everything and regular dask arrays and examples work, but I still get the same error when using ODC. If you want I might be able to provide you with an account on our hub to test yourself. I can only confirm that it worked with pip.

[2020-10-09 09:17] jankovicgd commented on #1027
The workers display many instances of this error.

[code]

[2020-10-09 10:37] luigidifraia commented on #1027
Quick question: where are you hosting your datasets? Would they be accessible from within Dask nodes?

[2020-10-09 10:58] jankovicgd commented on #1027
Do you mean the .yml datasets or the imagery? With yml datasets they are zipped and wouldn't actually be available and with imagery there is a network share. I did forget to bind mount that at first to docker, but even with mounting its the same error. Would the .yml files need to be available as well? This wouldn't explain pip baremetal working though.

[2020-10-09 15:29] jankovicgd commented on #1027
Figured it out. It seems the client had datacube 1.8.0 instead of 1.8.3. I am not sure how this slipped by but it works now, sorry for the inconvenience :sweat_smile: You may close

[2020-10-13 11:06] #1027 closed, assigned to nobody

[2020-10-21 03:09] omad opened #1029 "Searching for UUIDs from the command line"
### Expected behaviour
I would like to be able to search for UUIDs from the command line, e.g.:

    datacube dataset search id = 26931d17-7a4e-4b55-98e7-d6777fb61df6

### Actual behaviour
If I try to run this command, `datacube` crashes with the following Exception:

[code]

### Cause
This happens because the search expression parser is treating the UUID as a number instead of a string. It's poss

[2020-10-22 19:43] whatnick opened #1030 "Change Install requires to psycopg2-binary"
### Expected behaviour
Datacube core can be easily pip installed from PyPI in GDAL nightly Ubuntu 20.04 based Docker image.

### Actual behaviour
Install gets stuck attempting to compile psycopg2 from source.

### Steps to reproduce the behaviour
`docker run -it osgeo/gdal`
`python3 -m pip install datacube`

With a few steps in between to get pip in place in the stripped down docker image. It woul

[2020-10-22 22:31] Kirill888 commented on #1030
no, won't happen. Binary wheel will not be able to talk to db via unix sockets because the way ubuntu compiles postgres is different from CentOS which is what binary wheels usually target

[2020-10-22 23:35] Kirill888 commented on #1030
Also this will make datacube uninstallable on platforms not supported by `psycopg2-binary`

[2020-10-23 07:12] whatnick commented on #1030
Can `psycopg2` be made an over-rideable dependency if `psycopg2-binary` is present ?

[2020-10-26 00:53] Kirill888 opened #1031 "Better interop with `xr.open_dataset` for data in geographic projection"
### Expected behaviour

[code]

### Actual behaviour

For data loaded via `xr.open_rasterio` dimension names as reported by `.geobox.dimensions`  and actual dimension names disagree, that leads to all sort of problems when interacting with datacube. Basically `xr.open_` functions always return data with spatial dimensions labelled as `y,x` while datacube uses `y,x` for projected and `latitude,long

[2020-10-26 01:06] robbibt commented on #1031
There is an example of this issue in the "Loading datacube data to match a raster" section of this notebook here; note that this code must be used to get the `xr.open_rasterio` data to have `xarray` dimension names that match its geobox dimension namers:
[code]

https://github.com/GeoscienceAustralia/dea-notebooks/blob/733cd13c8ebc98ee961d7b984bc4db01f450e3e6/Testing/Reprojecting_data.ipynb

[2020-10-26 03:36] robbibt opened #1032 "Standardise geobox parameter names across reprojection functions"
### Expected/actual behaviour
The following two functions can be used for reprojecting `xarray` objects and raster files respectively:
[code]

Currently, the two functions require different parameter names to specify a geobox, e.g. `xr_reproject` requires a parameter called `geobox`, while `rio_slurp_xarray` requires `gbox`. For example:

[code]

To improve the user experience, it would be nice to

[2020-10-27 03:28] robbibt opened #1033 "Raise error if user provides a list of more than two dates to `time`"
### Expected behaviour
When a user passes **a list of more than two dates** to the `time` param, datacube functions should return an error to let them know to pass either a tuple date range or a single date string.

### Actual behaviour
When a user passes a list of dates to the `time` param, datacube silently accepts this as a valid input, [then uses the first and last date string in this list to

[2020-10-27 03:48] robbibt commented on #1026
This seems like a similar issue to #1033, and could probably return a similar error message to direct the user to provide a valid input

[2020-10-27 07:42] Kirill888 commented on #1026
I think in this case `measurements="red"` should be treated as `measurements=("red",)` without any error or warning.

[2020-11-04 08:33] clausmichele opened #1035 "Dead links in documentation"
https://opendatacube.readthedocs.io/en/latest/ops/indexing.html#sample-earth-observation-data

The links for sample data in docs are dead.

[2020-11-04 11:06] jankovicgd opened #1036 "Values from netcdf file different after querying with odc"
Hey all, I am having a bit of a weird issue with some data provided with opendatacube.

### Expected behaviour
The expectation is that the values loaded with `Datacube.load()` are the same as when i use `xarray.open` or inspect with qgis/panoply... I am providing a single netcdf file.

### Actual behaviour

When i use the `xarray.DataArray.sel` method i get the two different arrays in the same spa

[2020-11-04 21:25] Kirill888 commented on #1036
it's not georegistered and because of poor choices we load data anyway with reprojection and hence everything is broken.
See issue #673 referenced in the warning message.

[2020-11-05 06:51] alexgleith opened #1037 "Celery tests are failing, code is drifting out of date with upstream celery"
### Expected behaviour

Celery tests and code that uses celery should be updated if it's being used. It doesn't seem to be being used.

We should deprecate celery executors and disable tests.

### Actual behaviour

Celery tests work to test useful code.

### Steps to reproduce the behaviour

Run tests in Docker...

[2020-11-05 06:54] alexgleith commented on #1037
Pinning celery to `4.4.7` may fix the skipped test.

[2020-11-06 10:38] jankovicgd commented on #1036
Thanks for the help, I'll reply & probably close once I get the updated data.

[2020-11-11 23:05] robbibt opened #1040 "Expose native CRS as searchable product metadata"
### Expected behaviour
It would be valuable for users to be able to search for datacube data by a dataset's native CRS. For example, this could be used to load only `EPSG:32656` data along a UTM boundary where a query returns datasets with both `EPSG:32655` and `EPSG:32656` CRSs (e.g. to ensure all data is loaded in native CRS with no resampling):

[code]

This CRS metadata does seem to exist with

[2020-11-11 23:06] robbibt commented on #1040
From discussion on slack: https://opendatacube.slack.com/archives/G3YHHD6QH/p1605070292272900
![image](https://user-images.githubusercontent.com/17680388/98874582-a41a9300-24ce-11eb-84c4-2637e00bf5d9.png)

[2020-11-11 23:07] robbibt commented on #1040
Thoughts @Kirill888 @alexgleith @jeremyh?

[2020-11-11 23:42] Kirill888 commented on #1040
Agree with @jeremyh, crs field is way too flexible to support direct comparison in SQL. One could, I suppose, inject `epsg` code field at index time for those datasets that do have CRSs that are standard enough to have epsg code, and then expose that field as a searchable thing. Or one can do it already without any changes to the code, by simply including epsg code in the metadata and creating a m

[2020-11-12 00:23] robbibt commented on #1040
OK, fair enough. Perhaps this is better dealt with as a Collection 3 product-specific searchable metadata field? If so, I might make an equivalent issue here https://github.com/GeoscienceAustralia/digitalearthau/issues

[2020-11-12 00:33] alexgleith commented on #1040
it's further complicated by Proj supporting non-epsg codes (which STAC is poorly handling too).

Can this be handled in the short term by allowing searching across the whole parameter space in the metadata? It requires knowledge of the metadata for the dataset you're searching, but opens up a whole range of queries.

[2020-11-12 00:39] robbibt commented on #1040
Hey @alexgleith, what do you mean by `searching across the whole parameter space in the metadata`?

(ah, as in, being able to search all metadata fields, not just those that have been specifically declared searchable?)

[2020-11-12 00:40] Kirill888 commented on #1040
@alexgleith yes, we should allow "ad-hoc" queries that do not require update to `metadata_type` just to lookup random paths within JSON docs.

[2020-11-12 00:45] alexgleith commented on #1040
hey @robbibt what Kirill says.

If the metadata has a field like `properties: robbis_magic: true` then we should be able to have a parameter in dc.load that can query that out of the Postgres JSON field. It's possible with SQL, but with the ODC we only expose some of them that are listed in the metadata definition that the product uses.

[2020-11-12 00:52] robbibt commented on #1040
Yep OK, makes sense - yeah, to me that would be incredibly useful. Pretty much all of the properties I've wanted to filter/search data by recently have actually existed in metadata, just not in the subset of fields that are exposed as searchable via `dc.load`.

[2020-11-12 00:57] Kirill888 commented on #1040
It might look something like this:

[code]
the annoying part is those will have to be placed before named arguments.

[2020-11-12 01:04] Kirill888 commented on #1040
The alternative syntax would be something like
[code]

or whatever better name is for `custom_search`.

[2020-11-12 01:08] robbibt commented on #1040
Out of those two I prefer the second one; it would be easier to explain that functionality to users if it's a discrete named thing (also a bit easier to assign the entire `custom_search` object to a variable and re-use it for different loads).

[2020-11-12 02:35] omad commented on #1030
To add to Kirill's comment, the [readme for psycopg2](https://pypi.org/project/psycopg2/) states:

    The binary package is a practical choice for development and testing but in production it is advised to use the package built from sources.

I would maybe consider adding `psycopg2-binary` to a `requirements.txt` file or Docker build script, but it should never be added to the `setup.py` requirem

[2020-11-12 02:35] #1030 closed, assigned to whatnick

[2020-11-12 02:36] omad commented on #1025
Closed by #1028

[2020-11-12 02:36] #1025 closed, assigned to nobody

[2020-11-13 03:42] #1035 closed, assigned to nobody

[2020-11-23 05:58] #879 closed, assigned to nobody

[2020-11-26 13:14] jankovicgd commented on #1036
So, I updated the file and still I seem to get wrong values. The variables are linked to this variable in the netCDF:
[code]

Here is a graph computed with the xarray.Dataset.sel(): [https://i.imgur.com/T3u5lis.png](https://i.imgur.com/T3u5lis.png)
Here is a histogram for the file in qgis: [https://i.imgur.com/sfdXIMS.png](https://i.imgur.com/sfdXIMS.png)

any idea?

[2020-11-26 22:29] Kirill888 commented on #1036
@jankovicgd I don't have enough information to debug your issue. Please share the file.

[2020-11-27 02:40] Kirill888 opened #1047 "Numeric precision issues in `compute_reproject_roi` when pixel size is small"
### Expected behaviour

If I call `compute_reproject_roi(geobox, geobox[roi])` I expect it to return result with `src_roi == roi` every time. It does not when `geobox` has (1) tiny pixels and (2) oddly sized `alignment`. This often happens when working with data in `EPSG:4326` projection, as pixel sizes can be quite tiny, this data will also often have odd `alignment` (pixel edges do not align to

[2020-11-27 02:41] Kirill888 commented on #1047
@petewa :arrow_up:

[2020-11-27 15:15] jankovicgd commented on #1036
Here you go: [https://mega.nz/file/6dIBwSgZ#au5JIIN1dox9pXzszn1T7siczgf6UMq-SQ0qPN9sCNE](https://mega.nz/file/6dIBwSgZ#au5JIIN1dox9pXzszn1T7siczgf6UMq-SQ0qPN9sCNE)

[2020-11-27 15:29] jankovicgd commented on #1036
Product yml:
[code]
There are multiple dataset ymls with different dates:
[code]

[2020-11-30 03:43] Kirill888 opened #1048 "Slow `dataset archive` on a large list of UUIDs"
### Expected behaviour

`dataset archive <bunch of uuids>` should be similar in speed to `dc.index.datasets.archive(..)` which is fast, but CLI version is slow.

### Actual behaviour

- For every input UUID
  - Lookup Dataset object
  - Do nothing with it other than to check if that UUID exists and is not archived already
  - Call `.archive(..)` on each UUID individually

https://github.com/openda

[2020-12-01 09:13] #1047 closed, assigned to nobody

[2020-12-08 04:59] Kirill888 commented on #1036
running `ncdump -h <supplied_file>` shows:

[code]

`dc.load` uses GDAL to read netcdf files and GDAL does not respect `:add_offset` and `:scale_factor` properties. So for this specific file you'll get values that are 10,000 times larger from GDAL than from netcdf library, which does apply scale and offset when reading data.

[2020-12-09 10:57] jankovicgd commented on #1036
Hey @Kirill888, thanks for the update and help! I will try modifying this and I'll update you.

[2020-12-17 16:36] romulogoncalves opened #1054 "Development branch: 6 Integration tests failed"
### Expected behaviour
Each test result should either be green or yellow, but we are getting 6 off them (most of them related with S3 storage) red. In case a connection to Amazon S3 is required, then the tests should be skipped when we do not have one configured.

### Actual behaviour
... eg. Incorrect result, python stacktrace, etc. ...

We are getting 6 tests red.
[code]

### Steps to reproduce

[2020-12-17 20:53] Kirill888 commented on #1054
We do not connect to real AWS infrastructure for running S3 related tests. Tests should be succeeding on any developer machine.  And they are succeeding on CI currently:

https://github.com/opendatacube/datacube-core/runs/1497009388?check_suite_focus=true#step:8:291

These kind of problems are usually indicative of broken Python environment, in the case of `test_utils_{aws|dask}` we use `moto` to

[2020-12-17 20:57] Kirill888 commented on #1054
Are you installing `datacube` into a virtual environment or are you using conda? If using plain virtual environment you can run `pip check` to see if you have incompatible versions of boto related libraries.

[2020-12-17 21:06] Kirill888 commented on #1054
It could also be that the tests are not fully isolated from some AWS related configurations you might have on your developer machine. Tests do attempt to fully control configuration of the boto library, but I don't think we are particularly thorough in that regard, and there is no easy way to verify that isolation works well. PR with improved test isolation are welcome if you have time to debug th

[2021-01-22 04:14] whatnick opened #1055 "Support Alternative Index Backends"
### Expected behaviour
Multiple ODC index backends

### Actual behaviour
Only PostgreSQL is fully supported as an index backend.

Seen enhancement proposal [here](https://github.com/opendatacube/datacube-core/wiki/ODC-EP-004---Use-alternative-index-backends)

[2021-01-25 09:44] #1036 closed, assigned to nobody

[2021-01-29 11:12] christophenoel opened #1056 "Supported data formats for Indexation/ingestion"
Hello team,

I can't find in the doc any information about the supported source data formats.
Do you have a list somewhere ? Does it support JP2K, Zarr, ENVI, HDF5, ... ?

Thank you very much !

[2021-02-01 10:13] mdchuc opened #1057 "Datacube.load with/without Query give results of different dimensions"
I am working with a odc 1.8.3.
I have indexed a Landsat collection 2 level 2 image and tried to load it with 2 ways:
1. Using Query:
[code]
2. Not using Query:
[code]
### Expected behaviour
I supposed the geographic extents will be the same with both of the methods.

### Actual behaviour
But I got different extents as:

[code]

### Steps to reproduce the behaviour

### Environment information

* W

[2021-02-02 03:11] #1057 closed, assigned to nobody

[2021-02-08 10:11] maawoo opened #1058 "Documentation build currently not up-to-date"
Hi there!

I just checked the [Dataset Documents](https://opendatacube.readthedocs.io/en/latest/ops/dataset_documents.html) page and was wondering why the EO3 format is not mentioned anymore.
Seeing the actual page in the repository [here](https://github.com/opendatacube/datacube-core/blob/develop/docs/ops/dataset_documents.rst) and reading about problems related to the build process as mentioned

[2021-02-08 20:54] Kirill888 commented on #1058
@maawoo thanks for bringing this to our attention, looks like read the docs site got somehow reverted to a 2 years ago state, see this page for example: https://readthedocs.org/projects/opendatacube/builds/ for me right now it says last build was 2 years ago

![image](https://user-images.githubusercontent.com/1428024/107279944-cf038b80-6aab-11eb-8b94-85fcd9bbcf1e.png)

Strange, we will have to inv

[2021-02-08 23:20] alexgleith commented on #1058
Hey @maawoo that was a test docs deployment, which should have been cleaned up 2 years ago.

This is the production ODC Docs page: https://datacube-core.readthedocs.io/en/latest/

[2021-02-08 23:20] #1058 closed, assigned to nobody

[2021-02-09 09:02] maawoo commented on #1058
Thanks for clearing that up!
Someone should fix the links on the homepage then (e.g. [here](https://www.opendatacube.org/resources) and [here](https://www.opendatacube.org/installation)) 😉

[2021-02-09 21:58] alexgleith commented on #1058
Thanks for this! I think I've fixed all the links. Let me know if you find any others!

[2021-02-22 04:38] #925 closed, assigned to nobody

[2021-02-23 00:14] rtaib opened #1060 "Example PickleWriterDriver does not support URIs"
### Expected behaviour
Using the example `pickles` driver should allow to successfully run, e.g., `integration_tests/test_end_to_end`. This is assuming the example dcio driver has been installed first.

### Actual behaviour
The test fails because a URI gets passed to `PickleWriterDriver.write_dataset_to_storage()` which still expects a filepath string. Also, this URI may contain intermediate direc

[2021-02-27 04:21] #1006 closed, assigned to nobody

[2021-02-27 20:35] aashish24 opened #1062 "band index not used during retrieval"
### Expected behaviour
 I have a 3 band raster and I generated a dataset json which refers to each band with index. I expected that during retrieval I will get band data from each band but they all are same

Here is the file raw:

[code]

### Actual behaviour

... eg. Incorrect result, python stacktrace, etc. ...

### Steps to reproduce the behaviour

... Include code, command line parameters as a

[2021-02-27 20:36] aashish24 commented on #1062
Open Data Cube core, version 1.8.4.dev53+gafca228

using Conda

[2021-02-28 16:13] #1007 closed, assigned to nobody

[2021-02-28 17:19] clausmichele commented on #1007
This is still relevant for our application using ODC, I will add more info about the project in the future, which may rise more interest in this issue.

[2021-03-01 05:03] Kirill888 commented on #1062
@aashish24 have you verified that bands actually differ within the file?

- Can you share `7658b5047535294f_2019-07-01_e8cce371.tif`
- What version of `rasterio` library are you using? There have been bugs around multi-band access in `rasterio` the past, but a while ago.
- If you have been iterating on the dataset document, are you sure that what you are posting here is the same as what you have i

[2021-03-01 06:22] #1009 closed, assigned to nobody

[2021-03-01 06:30] benjimin commented on #1026
Does anybody really want to close and tag this issue as "wontfix"?

IMO worth keeping this issue open because:

- It seems quite _easy_ to implement.
- Validating the API function input (then producing a more friendly error message for a common mistake) seems like an _uncontentious_ change.
- It would be a good exercise for any _new contributor_ who may be looking to gain familiarity with the code

[2021-03-01 07:01] robbibt commented on #1033
This issue is still relevant

[2021-03-01 07:02] robbibt commented on #1032
Still relevant

[2021-03-01 23:27] fivejjs commented on #1056
As far as I know, mostly used data format is cloud optimzed GeoTIFF. datacube use rasterio to pick up data. You can start with that first.

[2021-03-01 23:40] fivejjs commented on #955
This is a issues. Is it possible to add explicit bounding box (or other geometry) and time range column ? So that the temporal and spatial query will be assured to work.

[2021-03-01 23:42] fivejjs commented on #830
Can we also add support postgis support?

[2021-03-03 05:04] robbibt commented on #1040
Superseded by https://github.com/GeoscienceAustralia/digitalearthau/issues/280 which will hopefully implement a DEA-specific update that won't require changes to `datacube-core`

[2021-03-03 05:04] robbibt commented on #1040
Superseded by https://github.com/GeoscienceAustralia/digitalearthau/issues/280 which will hopefully implement a DEA-specific solution that won't require changes to `datacube-core`

[2021-03-03 05:04] #1040 closed, assigned to nobody

[2021-03-04 00:55] omad commented on #830
That would be great! And is something we would love to be working on, but is a much larger job than changing some names. However, changing names isn't completely trivial, so they may end up happening at the same time.

[2021-03-09 02:33] Kirill888 opened #1063 "Update documentation for product spec to be EO3 compatible"
Confusing old style product specs are here:

https://datacube-core.readthedocs.io/en/latest/ops/indexing.html#product-definition

new product spec example is here:
https://datacube-core.readthedocs.io/en/latest/ops/product.html

[2021-03-11 04:19] iteayyy commented on #1063
I wonder, is there any difference between EO3 and EO in ingest specification?
I got a problem when I load ingest data(EO3 format), the 'time' item doesn't match.

[2021-03-11 09:49] iteayyy opened #1064 "'Time' item does match correctly when loading EO3 format ingested data"
### Expected behaviour
I have ingested EO3 format data into datacube, and I just want to load the data, however, the 'time' item doesn't match correctly.

I find that the code in the script  'datacube/datacube-core/model/utils.py', line 109~115 (as below) does't match the 'dtr:start_time', 'dtr:end_time' and 'datetime' properties in EO3 format.

[code]

Later, I replace it with:
[code]
it works.

[2021-03-11 17:52] #672 closed, assigned to nobody

[2021-03-14 03:03] #1016 closed, assigned to nobody

[2021-03-19 00:03] SpacemanPaul opened #1065 "ODC produces deprecation warning when SQLAlchemy>=1.4 is installed"
Against postgresql 12, odc 1.8.3 produces the following warning on initialisation:

[code]

Upgrading psycopg2 and sql-alchemy to latest versions didn't fix it.

[2021-03-19 02:12] Kirill888 commented on #1065
I doubt it's issue with server db version, it's probably just SQLAclhemy change in API
https://github.com/opendatacube/datacube-core/blob/afca22831eecf8092e0c293064a9ea465aa6d778/datacube/drivers/postgres/_connections.py#L23
https://github.com/opendatacube/datacube-core/blob/afca22831eecf8092e0c293064a9ea465aa6d778/datacube/drivers/postgres/_connections.py#L84-L88

This is logged before database c

[2021-03-19 02:36] Kirill888 commented on #1065
@SpacemanPaul downgrade `SQLAclhemy==1.3.23` or disable that warning manually, suggested alterantive `URL.create` was added in 1.4.*, so we can't have simple and compatible URL construction for different SQLAlchemy versions.

[2021-03-22 23:26] #1060 closed, assigned to rtaib

[2021-03-23 01:27] Kirill888 opened #1067 "New versions of hypothesis complains about some tests"
Error generated when running `tests/storage/test_netcdfwriter.py::test_create_string_variable`

[2021-03-23 22:15] #1048 closed, assigned to nobody

[2021-04-06 22:52] rtaib opened #1070 "3D Datasets: alias check not working"
### Expected behaviour
Duplicate aliases in a 3D product definition should raise an error.

### Actual behaviour
This issue is not picked up because the incorrect variable is used.

### Steps to reproduce the behaviour
Create a 3D product definition with 2 measurements sharing the same aliases.

### Environment information
`3d-datasets` branch only.

[2021-04-07 00:17] #1070 closed, assigned to rtaib

[2021-04-07 05:04] emmaai opened #1072 "Need the spatial coords to carry correct `spatial_ref` and `crs`"
### Expected behaviour
The spatial coordinates `x` and `y` should have correct `spatial_ref` and `crs` after reproject

### Actual behaviour
Only the values are changed but with the old `spatial_ref` and no `crs`. Hence the `results.geobox` crs is wrong.
https://github.com/opendatacube/datacube-core/blob/6ee0462c5de320d820aa4fdd27a4807fe2ab76c2/datacube/virtual/impl.py#L909-L910

### Steps to repr

[2021-04-09 06:18] uchchwhash commented on #1072
@emmaai I somehow did not manage to reproduce the issue. See PR #1074 please.

[2021-04-15 00:58] #1072 closed, assigned to emmaai

[2021-04-15 23:48] juan-guerschman opened #1077 "Error at construction of GridWorkflow object with non-ingested product - VDI"
[code]
throws following error:

[code]

@Kirill888  points to https://github.com/opendatacube/datacube-core/blob/6d75b686656d8688cc830897d596bfd26cfea336/datacube/api/grid_workflow.py#L155-L158
assumes that product contains valid grid spec, which is not the case for non-ingested products like ga_ls_fc_3 so you need to supply grid_spec=  parameter.
Datacube code should have raised an error at const

[2021-04-15 23:51] Kirill888 commented on #1077
Expected behaviour is for `gw = datacube.api.GridWorkflow(dc.index, product=product)` to raise an error when supplied product does not have a valid grid spec.

[2021-04-16 06:13] sjaddya commented on #1026
I found this issue on ovio.org and would love to contribute! I am new contributor, and since it seemed to be labeled easy, I would like to give it a try

[2021-04-18 23:31] Kirill888 commented on #1026
@sjaddya that's great, go ahead, we need to make a new release soonish, so clean up like this is welcome.

[2021-04-24 05:44] #1031 closed, assigned to nobody

[2021-05-03 01:38] omad commented on #1029
This also occurs when searching for region codes that start with digits, but should be interpreted as strings. We may be able to catch these as well.
eg.
[code]

[2021-05-05 04:21] alexgleith commented on #1037
I still think we should delete the celery code!

[2021-05-05 04:29] Kirill888 commented on #1037
@alexgleith then re-open the issue and add pinned tag

[2021-05-12 13:43] sophieherrmann opened #1083 "Description of 2D coordinates"
Hi everyone!

I want to index netCDF data into ODC. The problematic dataset uses 2-dimensional coordinates and I'm not sure how to describe those within proudct and dataset yml files.

### Expected behaviour

The expected behaviour is that opening the dataset with `xarray.open_dataset('file.nc')` gives the same result as loading it with `dc.load(product=product)`

### Actual behaviour

Opening the

[2021-05-12 14:15] snowman2 opened #1084 "CRS: CF grid_mapping attribute to encoding"
Related to:
- #837
- https://github.com/pydata/xarray/pull/2844
- https://github.com/corteva/rioxarray/pull/284
- https://github.com/corteva/rioxarray/issues/282

Apparently it is not CF-compliant to store the CRS `grid_mapping` as a coordinate. However, it is desirable to keep it in the xarray `coords` as it persists better. The workaround is to store the `grid_mapping` in the encoding instead of

[2021-05-12 14:22] snowman2 commented on #1084
Note: This requires Python 3.7+ and xarray 0.17+

[2021-05-13 02:06] Kirill888 opened #1085 "Handle correctly `nodata=NaN` case of the product"
### Expected behaviour

[code]

### Actual behaviour

`nodata` attribute is a string containng `"NaN"`.

This happens due to conversion to json from yaml, json doesn't support `nan` or `infinity` floating point values, while yaml does support them just fine. So for products that contain floating point bands and would like default fill value to be `nan`, `nodata` field values will be converted to a

[2021-05-13 04:50] #1085 closed, assigned to nobody

[2021-05-13 06:26] Kirill888 commented on #1083
@sophieherrmann this behaviour is expected. `dc.load` does not do "native projection" loads. In the general case `dc.load` needs to reconcile data from different datasets in different projections/resolutions and present this as a single data stack, this requires picking output projection, resolution and alignment of pixels. Currently this is done by the user via `output_crs=, resolution=, alignmen

[2021-05-13 22:53] Kirill888 commented on #1084
@snowman2 these are all pretty long threads. Can I ask you to summarize what would you like to propose?

I'm open to a suggestion to
- supporting xarray style of geospatial info in `.geobox` code
- providing method for converting datacube xarrays to a form compatible with `.to_netcdf`

I'm **not** too keen to drop coords-based `.geobox` though, as this is the most robust way we found so far for pr

[2021-05-14 00:26] snowman2 commented on #1084
The only change is to store `grid_mapping` in encoding instead of attrs.

[code]

[2021-05-14 00:27] snowman2 commented on #1084
This PR is how rioxarray handled it: https://github.com/corteva/rioxarray/pull/284

[2021-05-14 00:29] snowman2 commented on #1084
I agree with you 💯

[2021-05-14 01:01] Kirill888 commented on #1084
Is this about data var attributes only or x,y coords too?

[2021-05-14 01:04] Kirill888 commented on #1084
https://github.com/opendatacube/datacube-core/blob/80d466a2635ab37fbe33bb283b77df305e3c9236/datacube/api/core.py#L465-L473

https://github.com/opendatacube/datacube-core/blob/80d466a2635ab37fbe33bb283b77df305e3c9236/datacube/utils/geometry/_base.py#L1458-L1462

[2021-05-14 04:01] snowman2 commented on #1084
Should just be for the data vars.

[2021-05-14 07:29] sophieherrmann commented on #1083
Okay, then I misunderstood something. So the loaded `latitude`, `longitude` coordinates are not the original 2D  `Latitude`, `Longitute` matrices but new 1D ones generated from the given transformation parameters and the requested target crs, or?

[2021-05-14 07:38] Kirill888 commented on #1083
@sophieherrmann yes, `dc.load` does not support independent per-pixel geo-registration, it assumes linear transform between pixel and projected space.

[2021-05-14 07:58] sophieherrmann commented on #1083
Thanks, so it actually comes down to fixing the transformation matrix of the dataset.

[2021-05-14 07:58] #1083 closed, assigned to nobody

[2021-05-14 13:12] massettiSGM opened #1087 "Using dataset indexed with vsicurl s3 path does not work for netcdf"
Using dataset indexed with vsicurl s3 path does not work for netcdf.
We tried a number of vsi url options directly on rasterio.open()
Apparently what is not compatible with rasterio is wrapping the path in netCDF:{path}:{variable}:
/vsicurl/https://era5-pds.s3.amazonaws.com/2019/02/data/air_temperature_at_2_metres_1hour_Maximum.nc

https://github.com/opendatacube/datacube-core/blob/baf316ddb090130

[2021-05-16 17:25] #553 closed, assigned to omad

[2021-05-17 01:20] Kirill888 commented on #1087
@massettiSGM at the time that code was written netcdf driver did not support VSI filesystems, I believe it does now with more recent GDAL versions. Still, we have no practical experience dealing with netcdf/hdf files over network. I can do

[code]

with GDAL installed from Ubuntu 20.04 official repo
[code]

[code]

also seems to work, but slower.

This sample code sort of "works" in my setup, but

[2021-05-17 01:30] Kirill888 commented on #1087
However using `fmt="NETCDF"` didn't work for me, and I guess this is what's needed to parse CRS information. So obviously my setup doesn't have working `NETCDF+vsicurl` combo, not sure if that is supported at all and with what versions of what libraries.

[2021-05-17 02:02] Kirill888 opened #1088 "Error message for missing file is confusing"
### Expected behaviour

[code]

### Actual behaviour

[code]

### Steps to reproduce the behaviour

[code]
observe confusing message.

### Environment information

code in `develop` branch.

### Remediation Suggestions

Error message originates from here:
https://github.com/opendatacube/datacube-core/blob/80d466a2635ab37fbe33bb283b77df305e3c9236/datacube/ui/common.py#L91

There is some pretty invo

[2021-05-25 02:49] #1026 closed, assigned to nobody

[2021-06-05 08:26] james-blitzm opened #1098 "Readthedocs page has outdated links"
### Expected behaviour

Links on https://opendatacube.readthedocs.io/en/latest/dev/api/index.html should lead to relevant reference pages.

### Actual behaviour

HTTP 404 responses for various links on https://opendatacube.readthedocs.io/en/latest/dev/api/index.html, such as "Edit on Github" and "example Jupyter notebooks"

### Steps to reproduce the behaviour

Navigate to the OpenDataCube documen

[2021-06-06 23:37] Kirill888 commented on #1098
@james-blitzm
real docs are here:
https://datacube-core.readthedocs.io/en/latest/

@alexgleith I believe you set up the docs pointed by James a while back, any chance you can either

- Update it to point to real docs
- Delete that whole thing
- Set up continuous updating to both

I have no permissions to do anything to that site it seems.

[2021-06-07 00:07] Kirill888 commented on #1098
we have updated `opendatacube.` to be the same as `datacube-core.`

@james-blitzm did you just google it, or have you followed a link from some documentation site?

[2021-06-07 00:09] james-blitzm commented on #1098
I arrived at the above after googling Open Data Cube, then reaching the resources page here: https://www.opendatacube.org/resources

[2021-06-07 00:10] james-blitzm commented on #1098
There are a few links on that page which need to be updated.

[2021-06-07 00:11] Kirill888 commented on #1098
I see it now, the one at the very bottom points to `opendatacube.` while one at the top links to `datacube-core.` docs, @alexgleith who has write permissions to the resources page.

[2021-06-07 00:23] Kirill888 commented on #1098
alright this has been updated now on resources page as well

[2021-06-07 00:23] #1098 closed, assigned to alexgleith

[2021-06-07 00:25] Kirill888 commented on #1065
this has been fixed in #1091

[2021-06-07 00:25] #1065 closed, assigned to nobody

[2021-06-07 14:44] sebasmos opened #1100 "Compatibility with Google Colab"
### Expected behaviour
The environment does not work on Colab

### Actual behaviour

It might be useful for using free GPUs

### Steps to reproduce the behaviour

import datacube, and it will not work

### Suggested solution

import os
!git clone https://github.com/opendatacube/datacube-core.git
% cd datacube-core
! pip install --upgrade -e .
os.system('/content/datacube-core/check-code.sh')
!pip

[2021-06-10 04:23] #1062 closed, assigned to nobody

[2021-06-10 05:25] #1063 closed, assigned to nobody

[2021-06-10 05:25] #1067 closed, assigned to Kirill888

[2021-06-10 05:25] #1077 closed, assigned to nobody

[2021-06-10 23:34] #1029 closed, assigned to omad

[2021-06-11 06:47] #1015 closed, assigned to nobody

[2021-06-11 06:47] #1033 closed, assigned to nobody

[2021-06-16 00:09] #1054 closed, assigned to nobody

[2021-06-23 00:28] alexgleith opened #1112 "The Python Modules Index in the Docs isn't working"
### Expected behaviour
This page has a list of all the Python modules in Core https://datacube-core.readthedocs.io/en/latest/py-modindex.html

### Actual behaviour

It does not!

### Steps to reproduce the behaviour

[2021-06-23 03:32] omad commented on #1112
It turns out `autodoc` isn't smart enough to insert Python module references automatically. When we switched to structuring API documentation by hand (not using `automodule` and not using `sphinx-apidoc`, we neglected to put in `.. py:module::` directives.

I'll go and put some in at appropriate places.

[2021-06-23 10:52] EHJ-52n opened #1133 "ValueError when calling datacube without arguments, --version, or --help"
### Expected behaviour

1. `datacube` prints help message because of missing parameters
2. `datacube --version` prints current version
3. `datacube --help` prints help message

### Actual behaviour

<details>
<summary>Error output</summary>

[code]

</details>

### Steps to reproduce the behaviour

<details>
<summary>requirements.txt</summary>

[code]

</details>

<details>
<summary>System Set-Up<

[2021-06-23 12:09] EHJ-52n commented on #1133
This error is caused by click > 7.1.2. Downgrading click solves the issue when using datacube 1.8.3. In addition, the development branch already contains a fix in https://github.com/opendatacube/datacube-core/commit/d5f76180575070f7bf5d24fc4eb919194602ad9f

Thanks to @Kirill888 for responding very fast in the according slack channel.

[2021-06-23 12:09] #1133 closed, assigned to nobody

[2021-06-28 04:21] uchchwhash opened #1141 "List products should report licenses"
### Expected behaviour
Declaring licenses for products helps the user map out the usability of the product for specific purposes.

### Actual behaviour
List product lists many things, but a license is not one of them.

### Steps to reproduce the behaviour
Pretty much
[code]

### Environment information

* Which ``datacube --version`` are you using?
- 1.8.3
* What datacube deployment/enviornment ar

[2021-06-29 06:55] Kirill888 opened #1146 "2 character strings are treated as Range object by Query class"
### Expected behaviour

[code]

### Actual behaviour
Instead `k='AB'` is turned into `Range('A', 'B')`

Error is here:
https://github.com/opendatacube/datacube-core/blob/176406516994516f169160103482cd3f42b7b954/datacube/api/query.py#L249

[2021-06-29 07:49] #1146 closed, assigned to nobody

[2021-07-05 10:19] emmaai opened #1149 "Query doesn't handle multipolygons correctly"
### Expected behaviour
When query with polygons with holes, e.g., `multipolygon`, it's supposed to return the datasets covering the exterior of polygons.

### Actual behaviour
Gives error `AttributeError: 'MultiPolygon' object has no attribute 'exterior'`

### Steps to reproduce the behaviour

Given a multipolygon
[code]
then do
[code]
return error
[code]

### Environment information

* Which ``da

[2021-07-08 07:44] leaf0917 opened #1151 "question"
Can I get the results like deformation result through a series of processing of _ODC_ using _Sentinel-1_ scene？

[2021-07-08 07:59] whatnick commented on #1151
Perhaps @mcgarth has an answer for you.

[2021-07-08 11:25] mcgarth commented on #1151
As far as I'm aware this is not possible in ODC. If you have Sentinel-1 InSAR data (interferograms) you could try https://github.com/GeoscienceAustralia/PyRate to get deformation

[2021-07-09 04:21] leaf0917 commented on #1151
Thanks reply

[2021-07-09 04:21] #1151 closed, assigned to nobody

[2021-07-10 14:04] benjimin opened #1152 "Virtual products broken"
Virtual products seem to be broken in the latest dev releases.

This relates to opendatacube/datacube-wps#111.

Code to replicate:
[code]

Output on NCI VDI:
[code]

Output on DEA Sandbox:
[code]

[2021-07-12 00:47] omad commented on #1152
Any idea about this @uchchwhash ?

[2021-07-13 01:56] robbibt opened #1153 "Unexpected use of GroupBy's `sort_key` to label output dimensions when applying custom grouping"
### Expected behaviour
I would like to use a [custom `GroupBy` object](https://github.com/opendatacube/datacube-core/blob/develop/datacube/api/query.py#L174) to specify custom sorting when grouping data. For example, when loading datasets from multiple annual geomedian products, I would like datasets to be sorted by Landsat platform (e.g. `LANDSAT-5`, `LANDSAT-7`, `LANDSAT-8`) when data is grouped

[2021-07-13 04:31] uchchwhash commented on #1141
@robbibt this is now resolved, right?

[2021-07-13 04:55] robbibt commented on #1141
@uchchwhash Not yet - I need to revise #1145 to match products by name in the dataset count code

[2021-07-14 12:32] uchchwhash commented on #1152
The issue here is that somewhere between `datacube-1.8.3` and `develop` the implementation of `GridSpec` has changed.
The WPS test suite pulls in some product definitions, and for the `wofs_albers` product the `GridSpec` is there where the relevant section of the product definition is:
[code]
whereas for the `ls8_fc_albers` product for example:
[code]
the missing `tile_size` key results in a `None

[2021-07-15 00:16] benjimin commented on #1152
I don't think the API should _require_ **tile size**.

I thought the tile size parameter had only two functions:

- To configure the _ingestor_ for reformatting a collection into tiles, which historically was necessary in the period when stacked NetCDF (rather than GeoTIFF/COG) was strongly preferred and inodes (file counts) were tightly constrained (by NCI policy).
- As a potential optimisation h

[2021-07-15 01:41] uchchwhash commented on #1152
Agreed. If we get @omad 's blessings, we can drop `tile_size` as a requirement for valid grid spec, and this issue is resolved.

[2021-07-15 04:05] whatnick opened #1155 "Large data reads from S3 break the service and require FSx cache"
### Expected behaviour
Large concurrent data read from S3 work seamlessly

### Actual behaviour
Large concurrent reads particularly via Dask break the S3 API and cause read failures and processes hanging.

### Steps to reproduce the behaviour
See experiments by @emmaai .
Large Data Read:
![s3_read_breakage](https://user-images.githubusercontent.com/491396/125727207-b4d40fdb-22e0-49c2-8609-05df5ee5

[2021-07-15 07:42] emmaai commented on #1155
tag @JM-GA for this

[2021-07-16 01:13] whatnick commented on #1155
Datacube can support multiple dataset locations per dataset. @benjimin  to confirm.

[2021-07-19 03:18] robbibt opened #1159 "Move `rio_slurp_xarray` and similar `testutils` functions to `datacube.utils`?"
We currently recommend this function as the best way to stream and resample data from the cloud in Python:
[code]
For example, in the guide to reprojecting data here: https://docs.dea.ga.gov.au/notebooks/Frequently_used_code/Reprojecting_data.html

However, this `testutils` source location makes it feel like less than an official part of ODC core, and reduces confidence in the tool.

It would be g

[2021-07-19 03:43] robbibt opened #1160 "Relocate `dataset_predicate` functionality from `dc.load` to `dc.find_datasets`?"
This PR (https://github.com/opendatacube/datacube-core/pull/1148) recently added new `dataset_predicate` functionality to `dc.load`, allowing users to filter datasets returned by `dc.find_datasets` prior to loading them.

Further discussion on Slack suggested that this functionality might be better placed directly inside `dc.find_datasets` instead, as this would mean it could be used in both `dc.f

[2021-07-19 03:45] robbibt commented on #1160
Would love to hear your thoughts @uchchwhash @walsh-andrew @MatthewJA !

[2021-07-19 04:10] walsh-andrew commented on #1160
I defo vote for adding this functionality to dc.find_datasets. One thing I am trying to do is answer a question like: "For a given location, what is the probability that it is cloudy during August?" I can easily find out the cloud cover percentage, as a proxy for probability for any given month using find_datasets. I don't believe I can do this with dc.load. So would make sense to have dataset_pre

[2021-07-19 04:19] robbibt commented on #1160
Looks like @uchchwhash already has a PR here that does just this - whoops! #1156

[2021-07-19 07:00] #1160 closed, assigned to nobody

[2021-07-19 07:11] #1153 closed, assigned to nobody

[2021-07-20 01:45] robbibt commented on #1159
I'd also suggest a more intuitive rename for `rio_slurp_xarray` to align with similar `xarray`-related utility functions: `xr_load`? This would also mimic `dc.load`, which is appropriate as this function performs a similar function (loading data into datacube-compatible `xarray` format).

[2021-07-20 11:12] uchchwhash opened #1161 "Move `xr_reproject` from `odc-tools` to `datacube-core`"
### Expected behaviour
Reprojecting data is a fundamental GIS operation and is at the heart of what `datacube` does, so it's only fitting that we have this functionality as a library function.

### Actual behaviour
The current implementation still has not left the prototype package despite being widely used and thoroughly tested.

[2021-07-20 12:15] snowman2 commented on #1161
I would prefer to see this: https://github.com/opendatacube/odc-tools/issues/58 🤞

[2021-07-22 00:00] uchchwhash commented on #1161
You feel rather strongly about this one, don't you @snowman2? Totally agreed.

[2021-07-22 00:53] #1141 closed, assigned to nobody

[2021-07-27 14:10] mariembensalem opened #1163 "help wanted"
hi, after indexed images I try to show the scenes in datacube explorer  (datacube version 1.8.4.dev193+g3997b90f)
when I try to initialise and create product summaries with cubedash-gen --init --all i have problem with ls8_level1_usgs
![Capture d’écran de 2021-07-27 14-52-09](https://user-images.githubusercontent.com/83786015/127168918-f521005b-23df-4821-ad5e-4aa4527eb23e.png)

[2021-07-28 02:03] whatnick commented on #1163
Please include stacktrace as text rather than screenshot for easier readability. Technical support is best requested via GIS stackexchange using the open-data-cube tag.

[2021-07-28 02:03] #1163 closed, assigned to nobody

[2021-07-28 02:07] whatnick opened #1164 "Allow indexing without admin on the datacube db"
### Expected behaviour
Adding products requires creating dynamic indices, however adding indices requires ownership on the DB/Table making is feasible to accidentally drop this table while assuming an indexing role. Implement a dynamic index creation trigger that actively blocks `drop table` commands - https://dba.stackexchange.com/a/114784

### Actual behaviour
Admin roles for the DB are needed t

[2021-07-28 03:07] jeremyh commented on #1163
Hey Meriem651, thanks for the report.

The traceback looks like quite an old version of Explorer you're pairing with a recent ODC: I recommend trying with the current version of each, as I believe newer Explorer supports missing creation-time metadata fields like you have in your data.

Feel free to post on https://gis.stackexchange.com/questions/tagged/open-data-cube as suggested by whatnick if y

[2021-07-28 09:56] EHJ-52n opened #1165 "[Documentation] ops -> Overview page is broken"
The documentation page "Overview" is  broken.

* **Screenshot**: ![opendatacube_documentation_operations_overview_broken](https://user-images.githubusercontent.com/3839896/127303113-f1bd7a96-4677-4b57-aa1e-7d1da4470d4c.png)
* **Link**: https://datacube-core.readthedocs.io/en/latest/ops/overview.html

[2021-07-28 10:13] EHJ-52n opened #1166 "[Documentation] Navigation contains duplicate entries"
The navigation contains duplicate entries. The entries under "Introduction" &rarr; "More Information" are contained as root level elements in the first group of the navigation, too:

* [Existing Deployments](https://datacube-core.readthedocs.io/en/latest/user/deployments.html)
* [Data Cube Ecosystem](https://datacube-core.readthedocs.io/en/latest/user/ecosystem.html)
* [Jupyter Notebooks and code

[2021-07-28 14:12] mariembensalem commented on #1163
thank you for your help

Le mer. 28 juil. 2021 à 04:07, Jeremy Hooke ***@***.***> a
écrit :

[2021-07-29 21:12] mariembensalem commented on #1163
Hi, how can I get the right version of datacube-explorer-2. 5. 4 because a
try to install this one
https://github.com/opendatacube/datacube-explorer/releases but doesn't work
for me

Le mer. 28 juil. 2021 à 15:12, Bensalem Meriem ***@***.***>
a écrit :

[2021-07-29 23:30] jeremyh commented on #1163
I recommend posting the error you're getting in a question here: https://gis.stackexchange.com/questions/tagged/open-data-cube

[2021-07-29 23:54] mariembensalem commented on #1163
Thank you!

Le ven. 30 juil. 2021 à 00:30, Jeremy Hooke ***@***.***> a
écrit :

[2021-07-30 03:15] #1149 closed, assigned to omad

[2021-08-05 23:45] patfla opened #1170 "Installing open data cube and postgres"
I've been able, as best I understand, to build datacube-core and have turned to installing and configuring postgres.

There's a datacube command as such

datacube -v system init

mentioned in this piece of postgres documentation:  https://datacube-core.readthedocs.io/en/latest/ops/db_setup.html

Didn't find such a command.  Thought python setup.py install in datacube-core might provide it but no.

[2021-08-07 19:49] patfla commented on #1170
Ah.

D:\xyz\miniconda3\envs\cubeenv\Scripts\datacube.exe

That is, gets put into miniconda3 cubeenv.

which, with understanding another thing or two, works in initializing the db.

[2021-08-07 19:49] #1170 closed, assigned to nobody

[2021-08-07 20:09] patfla opened #1171 "Documentation typo."
Currently in https://datacube-core.readthedocs.io/en/latest/ops/indexing.html - and wrong.
pip install –extra-index-url=”https://packages.dea.ga.gov.au” odc_apps_dc_tools

Correct - from https://github.com/opendatacube/odc-tools/tree/develop/apps/dc_tools
pip install --extra-index-url="https://packages.dea.ga.gov.au" odc_apps_dc_tools

It seems I 'might' be able to edit this on github except https

[2021-08-10 02:21] dlubawy-ama opened #1172 "Missing required dependencies in default install"
### Expected behaviour

Default datacube-core install also installs required dependency packages.

### Actual behaviour

Default install is missing packages needed for core functionality.

### Steps to reproduce the behaviour

[code]

Result: `ModuleNotFoundError: No module named 'botocore'`

### Environment information

Fresh Python 3.6.8 virtualenv with pip 21.2.3

datacube==1.8.4

### Issue

76

[2021-08-10 23:03] Kirill888 commented on #1172
There is also this:

https://github.com/opendatacube/datacube-core/blob/e5471533ecb4541009c0cb512ea88fedc7685330/datacube/utils/dask.py#L17-L19

I guess we need to decide whether to keep boto dependency optional, in which case these imports need to be moved into function or guarded with `try:` blocks. Or whether to make botocore/boto3 a non-optional dependency.

@SpacemanPaul one way to fix IAM co

[2021-08-10 23:14] Kirill888 commented on #1172
my preference is to try to keep things working without boto libs installed.

[2021-08-11 00:11] Kirill888 opened #1173 "Conda release for 1.8.4"
Version 1.8.4 of datacube has been released to PyPI, but conda-forge release has not been updated yet.

There is currently an automatic upgrade PR sitting here:

https://github.com/conda-forge/datacube-feedstock/pull/32

but it won't generate correct release as it's failing due to #1172. Also dependency list of datacube on conda is no longer valid as it:

- Declare dependencies on libraries that a

[2021-08-11 00:31] omad commented on #1172
Agreed, it would be nice to keep things functional without requiring `boto3/core`. I think we're close to the point where most people using datacube are accessing data on `s3`, but ideally we want to remain platform agnostic.

[2021-08-11 00:38] Kirill888 commented on #1172
Ok, I'll make the changes and we can then do `1.8.4.post1` release and then update conda see #1173.

[2021-08-11 00:46] omad commented on #1172
Awesome, thank you @Kirill888 :-)

[2021-08-11 02:24] #1172 closed, assigned to nobody

[2021-08-11 04:58] Kirill888 commented on #1173
Conda version for 1.8.4 has been released:

https://github.com/conda-forge/datacube-feedstock/pull/33

[2021-08-11 04:58] #1173 closed, assigned to nobody

[2021-08-12 05:41] #1166 closed, assigned to nobody

[2021-08-13 06:37] bartzwemmer opened #1176 "cannot import name 'clock_gettime' from 'time' (unknown location)"
### Expected behaviour
Import time

### Actual behaviour

  File "C:\ProgramData\Anaconda3\lib\site-packages\datacube\drivers\postgres\_connections.py", line 20, in <module>
    from time import clock_gettime, CLOCK_REALTIME

ImportError: cannot import name 'clock_gettime' from 'time' (unknown location)

cannot import name 'clock_gettime' from 'time' (unknown location)

### Steps to reproduce the

[2021-08-13 06:53] Kirill888 commented on #1176
@bartzwemmer looks like it's `1.8.4` version, in the future you can check version with either running `datacube --version` command after activating the environment, or using `pip list` or `conda list` command.

@SpacemanPaul @omad @jeremyh problem was introduced in this PR #1168, `time.clock_gettime` is a Linux only method and will not work on windows. Note that we do not run any tests on windows

[2021-08-13 07:51] bartzwemmer commented on #1176
Thanks for the quick reply.
It's indeed datacube 1.8.4.

On the [project website](https://www.opendatacube.org/) it says "Typical installations run on Linux, MacOS, and Windows."

[2021-08-13 07:54] Kirill888 commented on #1176
But we only run tests on Linux... and code was importing Unix only method from standard library

[2021-08-13 08:09] bartzwemmer commented on #1176
I can confirm that on Windows in conda, switching to version 1.8.3 can be a work around for now.

[2021-08-13 13:51] snowman2 commented on #1176
Do you want to add a simple test for windows? It is pretty simple to do with GitHub workflows + conda [ref](https://github.com/corteva/geocube/blob/master/.github/workflows/tests.yaml).

[2021-08-15 23:24] #1176 closed, assigned to nobody

[2021-08-16 04:34] omad opened #1178 "Proposal: Add the ability to delete datasets from the database"
I think it should be possible to delete datasets from an ODC database.

At the moment, it&rsquo;s not possible with the `datacube` CLI or the API. The closest
option is `datacube dataset archive`, but this leaves dataset records in the
database, but sets an `archived` flag set so that they are invisible to searches
and data loading. Keeping old records will cause problems if there is ever a
datase

[2021-08-16 22:33] SpacemanPaul commented on #1178
Something similar for `datacube product` seeems a logical extension - but is a squirmier can of worms because of e.g. the index tables used by explorer and ows.

(Edit - sorry fat thumbs hit the "close with comment" button instead of "comment").

[2021-08-16 22:44] Kirill888 commented on #1178
This is certainly a needed feature. We just need to carefully define what behaviours are going to be supported. I guess lineage is where things might become "unsafe". What behaviour do we expect if any active dataset points to the Dataset being purged via lineage? Should the purge be:

- Always refused
- Allowed but with an extra flag e.g.  `--force-lineage-unlink`
- Always allowed but with a warn

[2021-08-16 23:00] Kirill888 opened #1180 "Task: make new release"
Version `1.8.4` was released recently. Some issues have been reported by the community for that release

- Use of `botocore` libraries without a guard (#1172)
  - `pip install datacube` in an empty environment ends up with non-working setup until `boto3` is installed.
  - fixed in #1174
- Use of Unix only methods without a guard (#1176)
  - Pip and conda installs of `datacube==1.8.4` don't work on

[2021-08-16 23:28] alexgleith commented on #1180
I'm fine with jumping to `1.8.5`.

One question is should we wait a little longer to see if anything else comes up?

[2021-08-16 23:29] snowman2 commented on #1180
Probably fine either way. However, I agree with you on 1.8.5.

[2021-08-16 23:32] snowman2 commented on #1180
If releases aren't too onerous to do, making releases regularly is a good thing in my opinion. "release early, release often"

[2021-08-16 23:35] Kirill888 commented on #1180
Release process is not too bad, conda was a bit trickier, but that was because many things changed in a year since last release. Maybe we can make it `1.8.5rc1` and if nothing comes up make it `1.8.5` later.

[2021-08-17 00:17] alexgleith commented on #1180
I reckon let's just go with a `1.8.5` and keep rolling forward!

So do we need to implement code fixes, @Kirill888? I'm happy to have a stab, if you're ok to review?

[2021-08-17 00:21] Kirill888 commented on #1180
@alexgleith fixes were done, but it would be nice to actually test at least `datacube --help` on windows, I have no windows machine handy though.

[2021-08-17 00:25] Kirill888 commented on #1180
But as @snowman2 pointed out somewhere else it can be done on github actions

[2021-08-17 00:28] alexgleith commented on #1180
Ok, I'll have a look into it this morning.

[2021-08-17 00:56] alexgleith commented on #1180
I made a mistake and committed to `develop`. I changed permissions so I can't do that again, sorry.

We have the import error for MacOS, see: https://github.com/opendatacube/datacube-core/runs/3345813391?check_suite_focus=true

[2021-08-17 06:58] bartzwemmer commented on #1176
Thanks for the quick fixing

[2021-08-17 07:14] alexgleith opened #1183 "Numpy is throwing a deprecation warning for `np.bool`"
### Expected behaviour

No warnings are raised.

### Actual behaviour

[code]

### Steps to reproduce the behaviour

Run one of the masking functions.

### Environment information

* 1.8.5
* DE Africa

[2021-08-17 08:46] #1183 closed, assigned to nobody

[2021-08-18 01:46] MatthewJA opened #1186 "Datacube breaks geopandas s3 reading"
### Expected behaviour
[code]

### Actual behaviour
[code]

Note that without the datacube import, this code works fine.

### Environment information

1.8.4.dev81+g80d466a2 on Sandbox

[2021-08-18 02:22] Kirill888 commented on #1186
My guess it's because of this:

https://github.com/opendatacube/datacube-core/blob/3a49f78ead159da505cd78803d6710e7762b3a7e/datacube/utils/uris.py#L219-L238

@MatthewJA note that importing geopandas BEFORE importing datacube would allow you to keep using `.read_file`, so that's a work around. But it seems like an error in geopandas to be honest. It somehow decides to use normal http for s3 access

[2021-08-18 02:33] Kirill888 commented on #1186
dodgy fix when import order can not be controlled is to do this before attempting to read s3 resources:

[code]

[2021-08-18 03:02] Kirill888 commented on #1186
https://github.com/geopandas/geopandas/issues/2068

[2021-08-18 19:26] snowman2 commented on #1084
Remembered this today with something else I was working on. Is this a change you would like to see?

[2021-08-18 23:53] Kirill888 commented on #1084
@snowman2 I forgot about this one.

Ideally I would like to see this code taken out into a separate library under opendatacube org, as you were suggesting previously, it would make it easier to iterate on.

Looks like this work might be done under https://github.com/opendatacube/odc-tools/projects/2, as there is interest in decoupling data loading code from collection management. Moving geometry h

[2021-08-19 00:44] snowman2 commented on #1084
Sounds great 👍.

[2021-08-19 00:52] MatthewJA commented on #1186
Thanks for following this up with Geopandas!

[2021-08-19 13:04] gadomski commented on #1084
For background @Kirill888 we used [git-filter-repo](https://github.com/newren/git-filter-repo) when we broke out the stactools subpackages (https://github.com/stac-utils/stactools/pull/111), and it worked well for us. Relevant line here: https://gist.github.com/gadomski/a0ab8d18f56ff34454d2ed890d234534#file-extract_stactools_subpackage-sh-L21.

[2021-08-21 08:48] Jack-ee opened #1187 "DLL load failed: The specified procedure could not be found when import datacube"
Dear all,

  I followed the instructions to install datacube. It's ok for the first five steps described [here](https://github.com/opendatacube/datacube-core)
[code]
The 5-6 steps are not ok because it pump a dialog that need something to execute the .sh file.
When I run conda list, I found datacube 1.8.5 is already installed. I also installed geopandas, rasterio, rasterstats, tqdm packages, witho

[2021-08-21 08:53] Jack-ee opened #1188 "Where is the dea_tools package and is there a way to see the source code of xr_phenology in this package?"
Dear all,

   I want to use the xr_phenology to determine phenology, but I could not find the package 'dea_tools'

[2021-08-22 00:31] Jack-ee opened #1189 "How to convert ee.ImageCollection object to xarry for phenology analysis?"
Dear Dr. Wu,

   The [DEA Sandbox](https://docs.dea.ga.gov.au/about/intro.html) has some APIs abouth phenology analysis. For example, [xr_phenology](https://github.com/GeoscienceAustralia/dea-notebooks/blob/develop/Tools/dea_tools/temporal.py) and [Tutorials.](https://docs.dea.ga.gov.au/notebooks/Real_world_examples/Vegetation_phenology.html) However, one of the input parameter [ds] is a xarray.Da

[2021-08-22 00:56] #1189 closed, assigned to nobody

[2021-08-23 04:18] Kirill888 commented on #1187
@Jack-ee problems like this often happen when mixing conda and pip packages in one environment. Also python 3.6 is slowly being abandoned by conda packages, so it's no longer the best option, and we should update docs for that. I would recommend bumping your python version to 3.8 or 3.9 and also adding `datacube>=1.8.5` constraint.

There is no need to install datacube from source if you don't nee

[2021-08-23 04:22] Kirill888 commented on #1187
and the exact problem you are having is to do with `rasterio` installation being broken, I would NOT recommend attempting to get this environment working unless you **really really** need python 3.6 version and can't move to a more supported newer version.

[2021-08-23 07:03] Jack-ee commented on #1187
Dear Krirll,

   Thank you for your response. I am a beginner at Python and the stable
version is ok for me. Can you simply list the install command or change
them based on what I have list below?

    git clone https://github.com/opendatacube/datacube-core.git
  conda create -n odc -c conda-forge python=3.8 datacube >=1.8.5

conda activate odccd datacube-corepip install --upgrade -e .pre-commit i

[2021-08-23 09:07] Kirill888 commented on #1187
this should be sufficient:

[code]

[2021-08-25 01:05] uchchwhash commented on #1152
Looks like we didn't achieve a resolution of the underlying problem here. But this certainly is not a virtual product problem. Closing.

[2021-08-25 01:05] #1152 closed, assigned to uchchwhash

[2021-08-25 09:43] Jack-ee commented on #1187
It's ok now. Thank you.

On Mon, Aug 23, 2021 at 5:07 PM Kirill Kouzoubov ***@***.***>
wrote:

[2021-08-26 02:09] #1187 closed, assigned to nobody

[2021-09-01 13:39] gadomski opened #1192 "[odc-stac] Create one function to load STAC into xarrays"
Currently it takes two steps to go from STAC items to an xarray. It'd be nice to have one top-level function that ties together `odc.stac.stac2ds` and `odc.stac.dc_load`.

### Expected behavior

[code]

### Actual behavior

[code]

[2021-09-07 01:45] leaf0917 opened #1195 "question"
Are there any examples to test my successful installation of ODC?

[2021-09-07 10:47] valpesendorfer opened #1196 "find datasets for multiple products with one query"
Is it possible to query datasets for two or more products with the same query parameters with one single query? Say the two products are Sentinel-2 A and Sentinel-2 B and I want to have datasets for both over the same area and time.

_Note_:  I'm still running `datacube==1.8.3` so not sure if that's already possible in later releases.

### Expected behaviour

When specifying a list or tuple of pro

[2021-09-08 00:06] Kirill888 commented on #1196
Pretty sure that

[code]
is equivalent to

[code]

probably what's happening is that either
1. Typo in one of the product names
2. No datasets for product2 for tat query

If you make test enviornment with `datacube==1.8.5` and run the same test you might get a more informative error.

And yes only list was understood to mean "query multiple products", any other Iterable was not supported back then

[2021-09-08 00:22] Kirill888 commented on #1196
Actually this has not been fixed, only `product: List[str]` is understood to mean several products, error message for a single mistyped product was corrected, but multi-product queries are still "list only" in 1.8.5 version

[2021-09-08 07:14] valpesendorfer commented on #1196
thanks @Kirill888 - indeed the list does work. To test I was using the same product name (for inexplicable reasons) expecting the results to be the same as `dc.find_datasets(product=product) + dc.find_datasets(product=product)` wich it is not. Using two different products returns the result as expected.

Thanks for the help!

[2021-09-08 07:14] #1196 closed, assigned to nobody

[2021-09-13 04:04] MatthewJA commented on #1188
https://github.com/GeoscienceAustralia/dea-notebooks/blob/develop/Tools/dea_tools/temporal.py#L281

[2021-09-13 04:04] #1188 closed, assigned to nobody

[2021-09-21 06:35] omad commented on #1178
I think we should refuse to purge datasets that are linked to active ones.

If a useful error message is displayed, explaining the error and listing the affected datasets, people could archive them if they want to remove everything.

Lets not over-engineer a feature unless there's significant demand for it.

[2021-09-22 05:31] #1195 closed, assigned to nobody

[2021-09-23 03:02] leaf0917 opened #1200 "The workflow of datacube"
Can anyone briefly describe the workflow or steps of datacube？
Is the original remote sensing image like landsat8 sence put into the PostgreSQL database or on the local computer？

[2021-09-27 02:53] #1180 closed, assigned to nobody

[2021-09-27 02:55] Kirill888 commented on #1171
Thanks,

this has been "fixed", these packages are now on PyPi and so extra args are no longer needed

[2021-09-27 02:55] #1171 closed, assigned to nobody

[2021-09-27 22:32] SpacemanPaul commented on #1178
Implemented in #1199

I have not *explicitly* handled this case - triggering it will raise a fairly low-level SQLAlchemy foreign key constraint error and the whole transaction will roll back.

[2021-09-27 22:32] #1178 closed, assigned to SpacemanPaul

[2021-09-27 22:38] SpacemanPaul commented on #1200
Have you read the official documentation at readthedocs?  The "Installation and dataloading" section covers this sort of basic information pretty thoroughly.

https://opendatacube.readthedocs.io/en/latest/ops/overview.html

The postgres database only contains an index.  The actual data is stored in an S3 bucket, or in a file system for a purely local datacube.

Please consider joining the opendata

[2021-09-27 22:38] #1200 closed, assigned to nobody

[2021-09-27 22:41] SpacemanPaul commented on #1165
Whatever was causing this, it has apparently now been fixed.

[2021-09-27 22:41] #1165 closed, assigned to nobody

[2021-10-06 01:38] benjimin opened #1203 "Virtual product warnings (select_unique may have failed)"
`VirtualDatasetBag.group` verbosely issues "_UserWarning: select_unique may have failed_" three times, saying that False is not True, a GeoBox is not None, and None is not a Geometry.

To replicate:
[code]

Output on dev sandbox (datacube 1.8.5):
[code]

[2021-10-06 01:49] benjimin commented on #1203
@uchchwhash any thoughts on either this issue or the linked wps issue?

[2021-10-10 01:01] whatnick opened #1204 "Pinned Issues - Meta Issue"
### Expected behaviour
Issues are clearly understood to be persistent if pinned. This note is added to the issue template clearly understood and escalated by issue creator to Slack for knowledge of the maintainers if the issue creator is external and cannot pin an issue. Issues can worked on in multi-year time scales, while utilising the bot to auto-close issues that have no engagement to reduce c

[2021-10-10 22:01] benjimin commented on #1204
I think this issue is relevant https://github.com/opendatacube/governance/issues/31

[2021-10-27 06:05] cbur24 opened #1206 "Shapely deprecation warnings"
Latest release of Shapely is causing Deprecation Warnings when using `dc.load()` . See [here](https://github.com/Toblerity/Shapely/releases/tag/1.8.0) for details

### Actual behaviour

[code]

### Steps to reproduce the behaviour

[code]

### Environment information

datacube.__version__: 1.8.6

[2021-10-27 09:42] Kirill888 commented on #1206
this only happens for multi-polygon geometries

https://github.com/opendatacube/datacube-core/blob/3e464c0d528abcad911edb073c55db4d04f8d0c7/datacube/utils/geometry/_base.py#L607-L608

I guess this is Landsat 7 product of some sort?

[2021-10-29 00:56] #1206 closed, assigned to nobody

[2021-11-14 19:34] #1087 closed, assigned to nobody

[2021-11-26 11:09] U-Tyagi opened #1209 "psycopg2 error when running datacube -v system init"
### Expected behaviour
Expected behaviour
Command datacube -v system init is to be run.
In previous installations of this version of core on Ubuntu 16.04, we received output like the following:
Initialising database...
Done.

Actual behaviour
$ datacube -v system init
2021-11-26 16:32:19,396 18775 datacube INFO Running datacube command: /home/user/anaconda2/envs/odc_py38/bin/datacube -v system ini

[2021-11-29 16:41] LucaChiavarini opened #1210 "Error while indexing Sentinel 2 data on Open Data Cube"
### Expected behaviour
I want to indexing Sentinel 2 data on Open Data Cube.

### Actual behaviour

My problem was that when I executed "datacube dataset add" the result was "ERROR No matching Product find for dataset eed8......".
![image](https://user-images.githubusercontent.com/49998961/143907479-79822c60-8443-4ac3-b41f-9a8fe3c4d768.png)

If I have sentinel 2 data:
- which .py file do I have to

[2021-11-30 02:48] jeremyh commented on #1209
(copy of my Stack exchange [response](https://gis.stackexchange.com/questions/417435/psycopg2-error-when-running-datacube-v-system-init/417639#417639))

It looks like you're using Postgres 9.5, as the `add column if not exists` feature was added in Postgres 9.6 (in 2016) (which was datacube's previous minimum supported version).

Our minimum requirement [is Postgres 10 now](https://github.com/open

[2021-11-30 05:39] U-Tyagi commented on #1209
Thanks, I indeed figured it out.
Using postgresql 14 as per Ubuntu repo.
Problem is gone now.

Documentation needs correction as it still mention postgresl-9.5 [here](https://opendatacube.readthedocs.io/en/latest/installation/database/setup.html)

[2021-11-30 05:39] #1209 closed, assigned to nobody

[2021-11-30 06:47] U-Tyagi opened #1211 "Integration Test FAILED"
### Expected behaviour
I expect all tests should pass.

### Actual behaviour
While running
`./check-code.sh integration_tests`
Resulted in:
[code]
### Closer Inspection give results of operation in assertion statements
poly: Geometry({'type': 'Polygon', 'coordinates': (((0.0, 0.0), (0.0, 5.0), (10.0, 5.0), (0.0, 0.0)),)}, CRS('EPSG:4326'))
poly | poly: Geometry({'type': 'Polygon', 'coordinates': (

[2021-11-30 08:03] jeremyh commented on #1209
Thanks for pointing that out. I'm bumping the version in the docs in #1212.

[2021-11-30 21:03] snowman2 opened #1213 "BUG: Use assign_coords in load if like kwarg passed in"
Related to: https://github.com/corteva/rioxarray/issues/298

https://github.com/opendatacube/datacube-core/blob/bfc8a8a93149f04e1152f7b58b72a5cef232698b/datacube/api/core.py#L427-L436

Possible implementation:

[code]

[2021-12-01 11:58] LucaChiavarini commented on #1210
I solved the problem thanks to Alex Leith:
https://gis.stackexchange.com/questions/417525/error-while-indexing-sentinel-2-data-on-open-data-cube/417607#417607

[2021-12-03 02:49] iamtekson opened #1214 "Installation documentation"
### Expected behavior
I should install the datacube if I followed the exact same process from [documentation](https://datacube-core.readthedocs.io/en/latest/installation/setup/ubuntu.html)

### Actual behaviour
It required lots of other packages as well and it is not explained well.

### Steps to reproduce the behaviour
I followed the windows installation method as explained [here](https://datacub

[2021-12-04 20:26] #1100 closed, assigned to nobody

[2021-12-09 06:58] iamtekson opened #1216 "ValueError: No ODC environment, checked configurations for ['default', 'datacube']"
### Expected behaviour
The code should run properly

### Actual behaviour
It throws the below error message,

[code]

### Steps to reproduce the behaviour
I have installed the ODC by following this [documentation](https://datacube-core.readthedocs.io/en/latest/installation/setup/windows.html) in windows. When I tried to run the following code, it throw an error,

[code]

### Environment informatio

[2021-12-10 02:39] MatthewJA opened #1217 "Support open-ended ranges in dataset search"
### Expected behaviour

`datacube dataset search 'time > 2021-01-01'` should product datasets more recent than 2021-01-01

### Actual behaviour

This isn't supported and an error is shown:

[code]

[2021-12-16 03:08] alexgleith opened #1220 "Datasets with Start and End datetimes that are on a single day behave unpredictably"
### Expected behaviour

If I specify a dataset with `'dtr:start_datetime'` and `'dtr:start_datetime'`, I expect it to have a datetime in the middle of the two.

### Actual behaviour

Dataset has `1998-02-11T00:00:00Z/1998-02-11T23:59:59Z` as the start/end datetime in its metadata_doc.

Loading the dataset results in it having the datetime `1998-02-13T00:00:00.000000000`

### Steps to reproduce the

[2021-12-16 03:22] alexgleith commented on #1220
Oops, discovered the issue. It's a bug in my code, here: https://github.com/digitalearthafrica/deafrica-scripts/blob/main/deafrica/data/chirps.py#L100

[2021-12-16 03:22] #1220 closed, assigned to nobody

[2021-12-17 06:18] robbibt commented on #1186
In a strange co-incidence, I just encountered this problem today, and can verify that it is still an issue.

[2021-12-17 20:55] snowman2 commented on #1084
Ping to leave open.

[2021-12-19 23:10] Kirill888 commented on #1084
@snowman2 I pinned this so it won't expire. I'm starting the work of extracting `odc.geo` library from `datacube-core`. The plan is to

1. Move geometry and related tests to a separate package and repository under `opendatacube` org (with history)
2. Setup all the necessary infra: testing, packaging, docs in the new repository
3. Do cleanup: formatting, docs, types, test coverage
4. Replace `datac

[2021-12-20 02:26] #1214 closed, assigned to nobody

[2021-12-21 00:50] pindge opened #1224 "Shapely deprecation warning"
version: latest tagged
[code]

[2022-01-10 13:37] JackLidge opened #1221 "SqlAlchemy Warning for database usage"
Just installed a new datacube instance on Ubuntu 20.04, most recently released version 1.8.6 and I'm getting warnings about sqlalchemy's caching behaviours, potentially causing performance degradations.

This happened both on running `datacube system init` (init did complete successfully though) and everytime I've run `dc.load()` inside a python terminal.

Full print out here:
`/opt/miniconda3/env

[2022-01-10 19:17] alfredoahds opened #1222 "Non-EPSG WKT projections are slower to create than standard EPSG projections"
### Expected behaviour
`CRS` object creation should have near-constant execution times for valid input strings.

### Actual behaviour
`CRS` objects created using a valid WKT string that does not have an equivalent EPSG representation are created ~5x slower due to calling and failing `to_epsg` before attempting the WKT string representation. While the execution time is only different by ~25ms, this

[2022-01-10 19:20] alfredoahds commented on #1222
Is the `to_epsg` check necessary? I think all EPSG representations have an equivalent WKT string and most common Python CRS interfaces (pyproj, rasterio, ODC) provide both `to_epsg` and `to_wkt`, so WKT should cover both cases.

cc @snowman2

[2022-01-10 19:27] snowman2 commented on #1222
Also, the EPSG code is included in the WKT form at the end. For example `ID["EPSG",3211]]` in WKT2 and `AUTHORITY["EPSG","3211"]]` in WKT1 when calling `to_wkt()`:

[code]

[2022-01-10 23:00] Kirill888 commented on #1222
@alfredoahds thanks for the analysis, let me summarize my understanding of the problem:

1. Extracting EPSG code from a CRS that doesn't have one is slow
2. When given non-string CRS object as input Datacube prefers `.to_epsg()` representation over `.to_wkt()` representation as an input into cached CRS object construction.
3. But `.to_epsg()` is expensive when input CRS is native CRS object from `

[2022-01-11 00:17] alfredoahds commented on #1222
Yep, that's correct. Short circuiting would likely be a better solution, but that function is called with a few different types depending on the call location - We create the DatasetType/Dataset model instances with a string representation of the CRS but the CRS init either receives a string (our input to the DatasetType/Dataset instances), `rasterio.crs.CRS` (pulled from the files we're loading),

[2022-01-11 00:47] Kirill888 commented on #1222
I can't see this causing any problems, it really only changes what string is used for caching of `pyproj.CRS` objects for CRS's that DO have epsg. Raise a PR for the change and if tests pass we'll merge it, not sure when this will be released though...

[2022-01-11 22:45] #1222 closed, assigned to nobody

[2022-01-12 22:22] jeremyh commented on #1224
Thanks for the report. It looks like we need to push this up to datacube core, as the iteration is happening in its code: https://github.com/opendatacube/datacube-core/blob/843bd4e6c05e963f3b6d29bef54f974c99e06670/datacube/utils/geometry/_base.py#L697-L699

[2022-01-18 12:50] james-hinton opened #1225 "Can't search the data I have loaded"
### Expected behaviour
When querying the datacube database using dc.load(), I always get returned an empty Dataset. The issue comes from the search_robust -> _extract_offset_value function in postgres drivers fields, where it's looking for offsets that don't exist.

For example, all I get returned from type_.metadata_doc is {'product': {'name': 'sentinel_1'}}.
The properties that I am not getting

[2022-01-20 10:53] #1055 closed, assigned to omad

[2022-01-20 10:53] #1161 closed, assigned to nobody

[2022-01-24 04:06] #1164 closed, assigned to whatnick

[2022-01-27 03:04] woodcockr commented on #1159
I'm thinking this should issue should probably be open still since DEA notebooks are using it from its testutils directory. I won't pin it though to stop stalebot in case I am wrong. It will go away again in a few months if it is supposed too.

[2022-02-12 02:34] #1064 closed, assigned to nobody

[2022-02-12 02:34] #1056 closed, assigned to nobody

[2022-02-14 16:51] MartinPontius opened #1228 "Improve documentation for dataset documents"
1. **Add description of dataset documents to "latest" documentation**
The description of datasets on the "latest" documentation (https://datacube-core.readthedocs.io/en/latest/about-core-concepts/datasets.html) does not contain any explanation on how the metadata documents should look like in contrast to the description of products (https://datacube-core.readthedocs.io/en/latest/about-core-concept

[2022-02-16 06:51] csiro-dave opened #1230 "load_ard() task graph creation limited by GeoBox/CRS hash function performance"
### Expected behaviour
When I run load_ard() on a large region (the Murray Darling Basin) using distributed dask, I would like to be able to create up to 500,000 tasks for my workflow. That is, fully utilise the dask scheduler’s capacity before I parallelise the problem across multiple dask clusters/tiles/time slices etc.

### Actual behaviour
On my simplified problem, using dask chunking (1x10240

[2022-02-16 08:46] csiro-dave commented on #1230
I hope this issue report is useful. Rob W said that Kirill888 was looking at refactoring the geometry codes & might have some insights.

I have done a little bit more tracing of the python/c++ calls. Calls to proj_to_wkt are slow because of overheads related to creating sqlite database contexts. The trace image is attached.
![proj_as_wkt_profile](https://user-images.githubusercontent.com/94149433/

[2022-02-16 14:11] snowman2 commented on #1230
Related: https://github.com/pyproj4/pyproj/issues/782

[2022-02-16 14:12] snowman2 commented on #1230
Related:
- https://pyproj4.github.io/pyproj/stable/advanced_examples.html#optimizing-single-threaded-applications
- https://pyproj4.github.io/pyproj/stable/api/global_context.html#global-context

[2022-02-16 21:57] Kirill888 commented on #1230
@csiro-dave thank you for this detailed analysis. I'm currently working on extracting that part of datacube into a separate library (https://github.com/opendatacube/odc-geo). There has been some significant clean up and refactor in there. I will create an issue in that repo. And will address it there first.

We are already caching pyproj CRS object as well as epsg code, so adding wkt to that cache

[2022-02-16 22:03] snowman2 commented on #1230
EPSG codes are likely worse than WKT. See #1223

I recommend using the `srs` attribute if you need performance: https://pyproj4.github.io/pyproj/stable/api/crs/crs.html#pyproj.crs.CRS.srs

[2022-02-16 22:07] Kirill888 commented on #1230
thanks for the info, but we always have them extracted at construction and they are cached unlike wkt. In the Dask context there is really only one CRS object, so this can be solved with caching very well. I don't think scenarios with a large number of different CRS objects are common, so we should try improve caching first and then look at pyproj context.

[2022-02-16 22:08] snowman2 commented on #1230
They shouldn't have issues now: https://github.com/pyproj4/pyproj/issues/782. It should create a new CRS object for each thread for you.

[2022-02-16 22:11] Kirill888 commented on #1230
As in, one global `pyproj.CRS` object will create a thread-local internal object when accessed from a different thread than where it was originally created?

[2022-02-16 22:11] snowman2 commented on #1230
Correct: https://github.com/pyproj4/pyproj/pull/793

EDIT: requires pyproj 3.1+

[2022-02-16 23:33] csiro-dave commented on #1230
Thank you snowman2 and Kirill888! It looks like pyproj.set_use_global_context(True) makes a huge difference. There is an overhead to re-creating the database context at the proj level. At the pyproj level, the thread protections are perhaps a little aggressive if they need to create a new database context for every method call on an object. The example above that took 0.5 seconds is now 0.001 seco

[2022-02-17 00:19] Kirill888 commented on #1230
regarding hash change on geobox class, good point, but maybe replace `self._crs` with `self._crs.epsg` then hash collision will only happen for non-epsg geoboxes of the same shape/transform. `crs.epsg` is either `None` or `int` and is just a plain python property lookup without calling into pyproj.

[2022-02-17 00:41] RichardScottOZ commented on #1230
Thanks Alan, useful to know.

[2022-02-17 04:52] SpacemanPaul opened #1232 "Migrate Github test environment off geobase"
Github tests are currently run from a Docker container built off `opendatacube/geobase` which has been deprecated by the ODC Steering Council.

Github test build should be migrated to either:

a) a Docker container built off `osgeo/gdal` or
b) a conda-based environment.

[2022-02-21 02:03] #1232 closed, assigned to nobody

[2022-02-22 22:43] Kirill888 opened #1235 "Overly strict assert in `GeoBox` constructor"
It's impossible to make a `GeoBox` with arbitrary affine transform.

https://github.com/opendatacube/datacube-core/blob/a01472bfc28e4c5a91b01b330b71fa1a18ce8ef1/datacube/utils/geometry/_base.py#L990

Only some operations of `GeoBox` require affine matrix to be a pure scale and translation. `GeoBox` is also used a container for geo-referencing data, for example in `odc-stac` and this assert is caus

[2022-02-26 10:18] JackLidge opened #1237 "Index error accessing dataset from s3 bucket"
### Expected behaviour
Datacube read in of dataset (COG) contained in s3 bucket.

### Actual behaviour
I get an index error, `IndexError: tuple index out of range` when I try to run a `dc.load()` function to load in this dataset from an s3 bucket. The s3 bucket contains other datasets, processed using the same code, which can be loaded in successfully. Full error message below:

[code]
Package ver

[2022-02-28 01:33] SpacemanPaul commented on #1235
We were seeing this error in OWS recently.   It appeared to be triggered by somebody getting their lats and longs in the wrong order, so was reasonable in context.

[2022-02-28 01:46] SpacemanPaul opened #1238 "Remove outdated and unused celery integration."
The ODC includes some old celery integration, that:

1. depends on an ancient version of celery with known security issues (and moving to a recent version will require significant code changes on our end.); and
2. has not been used by DEA for many years, and has never been used by DEAfrica.

I'm planning to excise it from the codebase in the near future unless anybody has any objections?  (I feel

[2022-02-28 02:08] Kirill888 commented on #1235
transposing lon/lat should still produce scale+translation only, just with flipped x instead of flipped y. It came up in deafrica due to incorrect transform recorded in stac (using GDAL order instead of matrix row-major order)

https://github.com/opendatacube/odc-stac/issues/40

[2022-03-01 04:38] SpacemanPaul commented on #1238
Celery executor has been deprecated.

@Kirill888 suggests all other executors should be deprecated as well.

[2022-03-02 15:30] JackLidge commented on #1237
Well this was an annoyingly silly mistake - after further investigations the yaml I indexed the files with had one more band than was present in the tif files. Once I fixed that, there were no issues.

[2022-03-02 15:30] #1237 closed, assigned to nobody

[2022-03-08 01:02] Kirill888 opened #1241 "Feature request: make netcdf4 dependency optional"
Right now netcdf4 library is a non-optional dependency of datacube, but it's use within the library is actually fairly limited. With deprecation of ingestion step and move towards cloud, netcdf data sources are becoming less relevant in many deployments of the datacube. netcdf4 is a rather heavy dependency both in terms of "disk used" and complexity of installation. Having lean dependency set is p

[2022-03-08 23:02] #1230 closed, assigned to nobody

[2022-03-09 01:00] csiro-dave commented on #1230
Thanks Kirill888, snowman2

[2022-03-09 01:39] Kirill888 opened #1243 "Change native_geobox handling of eo3 data"
1. `native_geobox(ds)` should return "default" grid rather than fail if there are multiple grids in the eo3 dataset
2. should check for eo3 metadata BEFORE checking for grid spec. In the case where product defines grid spec but also uses eo3 metadata, eo3 metadata should be used rather than a complex and error prone computation that is currently used to extract geobox from gridspec and dataset foo

[2022-03-10 21:27] woodcockr commented on #1241
I'd prefer to see this feature request as "Make Zarr more prominent given the move to Cloud data sources" or more forward looking rather than straight removal. There are good reasons for storage regimes other than COGS, particularly with more hyperspectral and higher temporal frequency satellites.

It may be prudent to consider this not from the perspective of a less commonly used package but the

[2022-03-10 21:35] woodcockr commented on #1155
This issue is pinned so presumably is an ongoing one. Unfortunately there is no information in regards to how reproduce the problem or what it actually is. based on the graphs alone I'm now seeing this issue at scales seemingly larger than those indicated. I can't help though without more information.
More information please or let the issue go stale.

[2022-03-10 21:42] woodcockr commented on #1204
The governance and use of stale bot was reviewed again at the ODC Steering Council as recently as a few months ago and the specific issue addressed here resolved by #1205. I'm thus going to close this manually so the pinned state doesn't keep a completed issue active.

[2022-03-10 21:42] #1204 closed, assigned to whatnick

[2022-03-11 00:48] Kirill888 commented on #1241
@woodcockr the proposal is not to remove netcdf support altogether, but rather to ensure that datacube can be safely used in an environment where netcdf libraries are not installed. So this is similar to what we currently have for s3 support, if you didn't install datacube with `[s3]` feature flag and there is no `boto3` in your environment datacube will still operate as normal so long as you don'

[2022-03-11 00:56] Kirill888 commented on #1155
If I remember right that was caused by some misconfiguration during stats run, where chunk size was configured to be too small and maybe also there were too many threads per physical node as well and so it was kinda DDOSing S3 endpoint. I'm not sure what action can be taken on this issue, I suggest we close it.

[2022-03-14 23:52] woodcockr commented on #1155
Agreed. Folks will be notified and can bring it back if need be.

[2022-03-14 23:52] #1155 closed, assigned to whatnick

[2022-03-14 23:55] woodcockr commented on #1241
That makes sense, I misunderstood  so thanks for the clarification.
In the sense described I'm happy for netcdf4 to be made optional.

[2022-03-23 08:30] DevenderRaju opened #1245 "add datasets to database"
Dear All,

Can anybody suggest how to add datasets to the datacube database and index, ingest. I have referred to the doc but it is so confusing that working example datasets are not available now.  Anybody help me out pls.

regards,
Raju Devender

[2022-03-29 02:26] uchchwhash commented on #1235
I think the issue was not with `GeoBox` per se but the xarray coordinate model sort of breaks down for the loaded data. For a skewed `GeoBox` you cannot just assume that the coordinates of the pixels are Cartesian products of the `x` and `y` coordinates.

[2022-03-29 03:19] Kirill888 commented on #1235
thanks Imam, thought so, anyway this should be fixed now

[2022-03-29 03:19] #1235 closed, assigned to nobody

[2022-04-01 19:41] sgillies opened #1246 "Don't use rasterio.path"
@Kirill888 exposing rasterio.path and its members in Rasterio's public API was a mistake (https://github.com/rasterio/rasterio/issues/2365). Can you change https://github.com/opendatacube/datacube-core/blob/95e72fdbff2707aa6f7abc837d9eab52c50258e1/datacube/storage/_rio.py#L16 to not use it and to just call rasterio.open() instead?

I would love to rename rasterio.path to rasterio._path. At the ver

[2022-04-03 23:57] Kirill888 commented on #1246
Thanks for the heads up @sgillies. At the time this was introduced, it was really just a work-around for some performance issues caused by `AWSSession` construction bugs that were long time since been fixed, I believe it was attempting to get credentials when no credentials settings were set or something like that.

@SpacemanPaul this look like it's a trivial fix: replace `DatasetReader(...)` with

[2022-05-11 04:11] pindge opened #1251 "ambiguous error message for adding product"
### Expected behaviour
When indexing a dataset with missing lineage, the error message clearly states the required `lineage` product does not exist.

### Actual behaviour

[code]

the reported dataset is

[code]

### Steps to reproduce the behaviour

with an empty database

[code]

### Environment information

* Which ``datacube --version`` are you using?
* What datacube deployment/enviornment are

[2022-05-13 04:35] SpacemanPaul commented on #1088
Slightly trickier than @Kirill888 implied, but not much.  :)

[2022-05-13 04:37] #1210 closed, assigned to nobody

[2022-05-13 04:39] SpacemanPaul commented on #1211
Yeah, that test is flaky and only works with some versions of shapely. Fixed in #1250

[2022-05-13 04:39] #1211 closed, assigned to nobody

[2022-05-13 04:45] SpacemanPaul commented on #1216
Looks like you either don't have a configuration file or datacube doesn't know where to find it.

Please refer to the documentation on configuration.

[2022-05-13 04:45] #1216 closed, assigned to nobody

[2022-05-16 01:04] #1088 closed, assigned to nobody

[2022-05-16 02:12] #1224 closed, assigned to nobody

[2022-05-18 02:13] #1221 closed, assigned to nobody

[2022-05-18 04:44] #1246 closed, assigned to nobody

[2022-05-19 00:22] SpacemanPaul commented on #1186
This issue is blocked on the geopandas side.

[2022-05-19 00:26] SpacemanPaul commented on #1037
Celery has been deprecated - will remove after 1.8.7 release.

[2022-05-19 00:34] SpacemanPaul commented on #830
See https://github.com/opendatacube/datacube-core/wiki/ODC-v2-Roadmap

[2022-05-19 06:16] SpacemanPaul opened #1258 "Configuration behaviour is confusing and poorly documented."
### Expected behaviour

The behaviour of the `$DATACUBE_DB_URL` environment variable is clearly documented.

### Actual behaviour

The `$DATACUBE_DB_URL` environment variable is not mentioned at all in the docs.

[2022-05-24 06:13] #1251 closed, assigned to nobody

[2022-06-03 01:28] pindge opened #1264 "datacube dataset search console display should show datetime or center_dt"
### Expected behaviour

[code]

### Actual behaviour

`datacube dataset search` only return time, and not `center_dt` or `datetime`

[code]
### Steps to reproduce the behaviour

run `datacube dataset search` in any established odc environment

### Environment information

* Which ``datacube --version`` are you using?
[code]

* What datacube deployment/enviornment are you running against?
- test en

[2022-06-03 01:39] pindge opened #1265 "datacube dataset add should fail if center_dt or datetime is out of start and end time range"
### Expected behaviour
`datacube dataset add` should error and prevent dataset from indexing if `datetime` or `center_dt` is out of `start_datetime` and `end_datetime` time range.

for example

[code]

### Actual behaviour

pqsl metadata query returns the following

[code]

`datacube dataset search` returns the following

[code]

Note, the `begin` time showing in console output `time` `begin` is b

[2022-06-03 05:31] SpacemanPaul commented on #1264
[code]

I'd probably list both separately.

[2022-06-04 01:52] #1213 closed, assigned to nobody

[2022-06-07 10:44] lucapaganotti opened #1273 "Using NetCDF files"
### Expected behaviour
When I define a product and a dataset and then query data via a simple jupiter notebook I would like to see the same coordinate values defined in the .nc file

### Actual behaviour
When I define a product and a dataset and then query data via a simple jupiter notebook I don't s see the same coordinate values defined in the .nc file

... eg. Incorrect result, python stacktrac

[2022-06-07 10:57] Kirill888 commented on #1273
It's not about netcdf, it's due to pixel snapping. This data has 4000 crs units per pixel. `dc.load` by default chooses to place pixel edges at multiples of pixel size, shifting your data by 1000. Since default resampling is `nearest` you get the same data but labelled differently, if, say, you put resampling at `average` you'll see that pixel values are different too as everything got shifted by

[2022-06-07 11:03] Kirill888 commented on #1273
Other option is to us `align=(1000, 1000)` parameter to `load` and maybe add

[code]

to product spec to default to that alignment for that product.

[2022-06-07 11:11] Kirill888 commented on #1273
also `transform` section for the dataset is not right, try `rio info <file>` and see what it reports, that's the value you want

Maybe this will help:
https://odc-geo.readthedocs.io/en/latest/intro-geobox.html

looks like your data is not using inverted Y axis so I'd epxect things look like

[code]

[2022-06-07 11:16] lucapaganotti commented on #1273
Hi Kirill888,
thank you very much for your hints. I'll try to check them in the next days. Yes, maybe the transform section can be different from the output of the `rio info` command due to some tests that were made.

Thanks again.

[2022-06-07 11:21] Kirill888 commented on #1273
`transform` part in the dataset document is only used for things like figuring out native geoboxes. For actually loading data file metadata is always used. Keep in mind that coordinates in netcdf and in loaded data are for pixel centers, but translation in the transform part is for image edges, so don't forget to subtract 1/2 pixel from what you see in ncdump. Best is to use `rio info` it does all

[2022-06-08 06:31] pindge opened #1274 "datacube lacks pytest plugin packages for application built on odc integration testing"
`digitalearthau` (https://github.com/GeoscienceAustralia/digitalearthau) github repo has a testing package that prepares an empty database for odc testing, `digitalearthau` split pathways with current `datacube-core` years ago, it originally was kept to enable testing exclusively `digitalearthaustralia` products, most of the repo's code are no longer maintained, but this testing package would be g

[2022-06-14 23:23] omad commented on #1217
This seems like a nice usability addition.

Eventually people learn to work around it by specifying a really high or really low date as one end of the range, which works, but isn't particularly nice.

The fix implementing this could potentially even work in the same way.

[2022-06-15 03:15] robbibt opened #1276 "Issue loading virtual product using `like=ds.geobox`"
### Expected behaviour
I would like to load a Landsat virtual product into the same spatial grid/geobox as a previously loaded Sentinel-2 virtual product. To do this using `dc.load`, I would pass in `like=s2_ds.geobox` and my data would be loaded into the same grid.

### Actual behaviour

However, when I attempt to use `like=s2_ds.geobox` on my Landsat virtual product, I get the following error. F

[2022-06-20 06:17] robbibt opened #1278 "Missing Jupyter Notebook documentation in docs"
### Expected behaviour
Hi all, a while ago I updated the docs to include a better intro to querying products and datasets and loading data: https://github.com/opendatacube/datacube-core/pull/1244/files

From what I can tell, those new files are correctly included in the index:
https://github.com/opendatacube/datacube-core/blob/develop/docs/data-access-analysis/index.rst

### Actual behaviour
Howev

[2022-06-22 06:20] #1278 closed, assigned to omad, SpacemanPaul

[2022-06-23 05:32] pindge opened #1280 "datacube dataset index incorrect comparison of geometry"
linked issue: https://github.com/opendatacube/odc-tools/issues/479

### Expected behaviour
when performing `--update-if-exists` `geometry.coordinates` and `grid_spatial.projection.valid_data.coordinates` shouldn't mark `unsafe` when the values are identical but the type is a tuple

### Actual behaviour

[code]

### Steps to reproduce the behaviour

1. add a product https://explorer.digitalearth.af

[2022-06-27 01:45] #1280 closed, assigned to pindge

[2022-06-27 16:51] snowman2 opened #1282 "Use `GeoTransform` to get resolution for GeoBox?"
Related to: #752

Currently the `resolution` inside of the coordinate attributes are used:

https://github.com/opendatacube/datacube-core/blob/05093b75a8f15b643c7047502ae27b662af2d9b4/datacube/utils/xarray_geoextensions.py#L133

`GeoTransform` is a property used by GDAL to store this information (https://gdal.org/drivers/raster/netcdf.html#georeference)

Here is an example of reading in this prope

[2022-06-28 04:33] Kirill888 commented on #1282
@snowman2 problem with just reading transform attribute is cropping. If I loaded some netcdf data with GeoTransform property set, then cropped it to a single pixel, I would get wrong transform (location for pixel 0,0 and not for my pixel).

Extracting just resolution component of GeoTransform, might be ok. But honestly I think proper way to handle this issue is to record not just pixel centers but

[2022-06-28 13:24] snowman2 commented on #1282
Related code from rioxarray for reading the transform:
https://github.com/corteva/rioxarray/blob/f658d5f829a88204b2ec7b239735aba31694ed0a/rioxarray/rioxarray.py#L602-L633

It uses the `GeoTransform` only if the data is not 2D (to get the resolution component) or if the data is not rectilinear or rotated.
Though, it does look like it could potentially benefit from this logic to recalculate the tran

[2022-06-28 22:46] pindge opened #1284 "Flake is used in pre-commit but not in github action"
### Expected behaviour
codes should also be checked with Flake8 on pull request.

### Actual behaviour

github action is not checking code with flake8 only if the developer used pre-commit. PR: https://github.com/opendatacube/datacube-core/pull/1281 changed a few lines failed by flake8

relevant pre-commit https://github.com/opendatacube/datacube-core/blob/d4a0c4e329c1e77f89ee22aa2080a58c7c1a3e7b/

[2022-06-29 22:23] pindge opened #1286 "datacube dataset index api doesn't handle error effeciently"
### Expected behaviour
`proc-info.yaml` is not a proper dataset metadata file for indexing, i.e. https://data.dea.ga.gov.au/derivative/ga_ls5t_nbart_gm_cyear_3/3-0-0/x08/y23/1994--P1Y/ga_ls5t_nbart_gm_cyear_3_x08y23_1994--P1Y_final.proc-info.yaml, datacube index doesn't check the file to ensure it is `uuid` provided in the file before trying to parse the uuid (https://github.com/opendatacube/datac

[2022-06-30 02:36] #1286 closed, assigned to nobody

[2022-06-30 02:43] pindge commented on #1245
Hey Raju,

I recommend asking this question in opendatacube slack channel https://join.slack.com/t/opendatacube/shared_invite/zt-1bn7hk39i-NOrwIXdtD9b4pfRFphRkJA

[2022-07-01 03:11] #1284 closed, assigned to pindge

[2022-07-04 00:48] pindge opened #1289 "product add failing validation message is unclear"
### Expected behaviour

When product add is failing validation, console should specify which `Failed validating 'oneOf' in schema['properties']['measurements']['items']['properties']['spectral_definition']:` instead of stating `oneOf`

### Actual behaviour

`Failed validating 'oneOf' in schema['properties']['measurements']['items']['properties']['spectral_definition']:` is not specific enough

[co

[2022-07-05 04:06] pindge opened #1290 "product update and add cli does not show failed message for odc user with no write permission"
### Expected behaviour
when updating  and adding, if the odc database user doesn't have write permission display appropriate message as output

### Actual behaviour
displays message to say `updated` and `adding`, but no follow-up message to report back status nor error message

![image](https://user-images.githubusercontent.com/24644475/177247213-269cb398-afb8-445f-bcb1-4a26f85097e3.png)

![image]

[2022-07-05 04:58] pindge opened #1291 "datacube product update and add displays no information when [FILES] is not provided"
### Expected behaviour

update and add to display `Usage:` when no `[FILES]` is provided to the `product` command

i.e.
[code]

[code]
### Actual behaviour

[code]

### Steps to reproduce the behaviour

... Include code, command line parameters as appropriate ...

### Environment information

* Which ``datacube --version`` are you using?
* What datacube deployment/enviornment are you running again

[2022-07-06 04:54] #1291 closed, assigned to pindge

[2022-07-07 03:02] #1289 closed, assigned to pindge

[2022-07-07 04:45] pindge opened #1295 "`dataset.metadata.fields` return both `creation_dt` and `creation_time`."
### Expected behaviour
return either `creation_time` or `creation_dt` as they are the same fields

### Actual behaviour

[code]

### Steps to reproduce the behaviour

[code]

### Environment information

* Which ``datacube --version`` are you using?
[code]

* What datacube deployment/environment are you running against?
dea sandbox

[2022-07-14 22:59] pindge commented on #1290
This above behaviour is due to `product` already exist in the database and no attempt writing to the `dataset_type` table occurred,

[code]

When the product isn't in the database, a `sql permission error` is displayed on the output.

[code]

[2022-07-15 06:13] #1290 closed, assigned to pindge

[2022-07-18 12:19] tijmenr opened #1300 "Doc2Dataset fails if lineage sources are specified as UUIDs rather than strings"
Converting an input doc that contains lineage references to a Dataset (using `Doc2Dataset(index, fail_on_missing_lineage=True, verify_lineage=False, skip_lineage=False)`) fails if the lineage references in the input doc are of type `UUID` instead of `str`.

In [dataset_resolver, hl.py around line 174](https://github.com/opendatacube/datacube-core/blob/c5486c854dc4fe3e1bef670a5ce01010d0caa938/datac

[2022-07-18 12:30] tijmenr opened #1301 "Not possible to define a product with default resolution but no default CRS for data loading"
In the [dataset type schema](https://github.com/opendatacube/datacube-core/blob/c5486c854dc4fe3e1bef670a5ce01010d0caa938/datacube/model/schema/dataset-type-schema.yaml#L176), both `crs` and `resolution` are specified as mandatory fields for the `load` subsection of a Product definition. So, it is not possible to specify only a default resolution for loading datasets of a product, without having al

[2022-07-19 00:29] Kirill888 commented on #1301
You can pick whatever global CRS for this, say `epsg:3857` or `epsg:6933`, it will only be used as a fallback when output crs is not supplied at load time. The idea here is to provide "load hints" a reasonable default for data loading in the absence of any other configuration from the user, this doesn't have to match metadata of the underlying data.

[2022-07-19 00:39] Kirill888 commented on #1300
This was mostly(only?) used with documents that were just loaded from yaml/json, so not surprising that type normalization of ids was missed. What is the source of documents in your case?

@tijmenr seems like an easy fix, want to raise a PR?

[2022-07-19 00:44] Kirill888 commented on #1300
But I also think that `eodatasets3` should not put raw UUID objects into those docs as they are not json serializable by default

[code]

so adding those to db will probably fail anyway...

[2022-07-19 14:49] tijmenr commented on #1300
In our use case, documents are generated using the `DatasetAssembler` class from `eodatasets3`, and its `note_source_datasets` function actually forces the source ids into UUIDs.
Eodatasets3 mainly uses YAML format, and they convert UUIDs when serializing (see https://github.com/opendatacube/eo-datasets/blob/develop/eodatasets3/serialise.py).

I created a PR that probably fixes the issue, but note

[2022-07-19 15:17] tijmenr commented on #1301
The downside of that approach is that users might forget to specify the correct CRS for the data set, so the fallback is used, the data is transformed/warped according to that fallback, and then they only find out several processing steps later that something is wrong with the data.

Taking it a step further, it would be really handy for load operations when, if all the datasets matching the query

[2022-07-19 15:51] tijmenr opened #1303 "Lineage/source classifier from EO3 metadata not preserved when saving metadata in ODC"
### Expected behaviour

`opendatacube/eodatasets3` allows to specify multiple source datasets for a single classifier (see [DatasetPrepare#note_source_datasets()](https://github.com/opendatacube/eo-datasets/blob/develop/eodatasets3/assemble.py#L630) and related methods).

Expected is that `opendatacube/datacube-core` saves these source relations using the specified classifier (in other words: that

[2022-07-19 22:47] Kirill888 commented on #1301
It looks like code can handle missing CRS in load hints, so it's just a matter of adjusting the schema

https://github.com/opendatacube/datacube-core/blob/c5486c854dc4fe3e1bef670a5ce01010d0caa938/datacube/api/core.py#L839-L847

### Regarding "Native Load"

it's been a sore point for a while. Before `eo3` we simply didn't capture enough metadata to make it possible. With `eo3` products it should be

[2022-07-20 05:53] SpacemanPaul commented on #1303
This is due to the database schema design (in the postgres index driver).  I'm not sure how this could be addressed without breaking backwards compatibility.  I'll keep it in mind as a I design the schema for the postgis driver though.

[2022-07-21 13:33] tijmenr commented on #1300
Issue got closed not because it was fixed, but probably because I created a new PR... So, reopening it.

[2022-07-26 22:37] #1300 closed, assigned to nobody

[2022-07-30 16:10] #1159 closed, assigned to nobody

[2022-07-30 16:10] #1225 closed, assigned to nobody

[2022-08-02 19:37] lhcorralo opened #1307 "Programatically datacube initialization in virtual environment"
### Expected behaviour

It should be possible to initialize the datacube programatically

### Actual behaviour

It is possible to run something like this from within python:

[code]

However, it fails when running a python interpreter outside the path (like running a conva environment in WSL2), as the called python interpreter is a different one (for example, /usr/bin/python, checked running ```su

[2022-08-03 06:53] SpacemanPaul commented on #1307
The click test harness would at least let you avoid generating a subprocess:

[code]

[2022-08-03 08:07] lhcorralo commented on #1307
Hi! I am testing the workaround and exit_code is 2, so it is not a direct workaround (it is a pity, it looked very promising...). I will investigate a little bit more the click test harness way :)

Thanks!

[2022-08-15 01:20] SpacemanPaul commented on #1307
Have you tried:

[code]

[2022-08-15 06:02] omad opened #1310 "Add a pre-commit hook to verify license headers"
We use [pre-commit](https://pre-commit.com/) to check for trivial errors in code before committing it. It's useful for keeping formatting consistent and catching errors early that can be picked up with a code linter. Tight feedback loops are better than long ones.

I think it would be worth setting up a [pre-commit hook for checking license headers](https://github.com/Lucas-C/pre-commit-hooks#inse

[2022-08-18 01:09] SpacemanPaul opened #1311 "Updating of docker image for GH automated testing is problematic."
### Expected behaviour

Create a PR that modifies the python environment (e.g. `setup.py`, `docker/constraints.txt`) and makes code changes that depend on that environment.  Automated tests run on github using a docker image built from the changes in the PR.   Tests pass.

### Actual behaviour

Automated tests run on github using the docker image last pushed to dockerhub which does not include the

[2022-08-30 01:18] pindge opened #1315 "datacube core api search for latest datasets"
### Expected behaviour
a way to get the latest dataset via api.

### Actual behaviour
not available via api,
an alternative query suggested by @SpacemanPaul

[code]

### Steps to reproduce the behaviour

Nil

### Environment information

* Which ``datacube --version`` are you using?
* What datacube deployment/enviornment are you running against?

[2022-10-10 21:14] snowman2 opened #1321 "PERF: to_epsg causes data loading to be slow for CRS without EPSG code"
This issue is appearing again: #1222

After profiling the load call:
![image](https://user-images.githubusercontent.com/8699967/194952518-6f7e0364-e783-49d1-b683-4c360390515d.png)

It appears that the rasterio CRS object is being converted to a datacube CRS object about 3750 times in a single load call. The main source of the load time is the call to `to_epsg`.

I understand that there is a CRS ca

[2022-10-13 23:50] #1321 closed, assigned to nobody

[2022-10-27 22:58] pindge opened #1324 ":ref: in used in doc is missing supporting extension"
https://github.com/opendatacube/datacube-core/blob/develop/docs/installation/indexing-data/step-guide.rst
![image](https://user-images.githubusercontent.com/24644475/198413264-5ff94830-462d-4396-88ce-21822f11485a.png)

https://opendatacube.readthedocs.io/en/latest/installation/indexing-data/step-guide.html#step-1-creating-a-product-definition
![image](https://user-images.githubusercontent.com/2464

[2022-10-27 23:37] #1324 closed, assigned to pindge

[2022-10-28 00:18] pindge opened #1326 "opendatacube readthedoc not rendering code-block:: yaml"
https://opendatacube.readthedocs.io/en/latest/installation/product-definitions.html

rst file contains `.. code-block:: yaml ` https://raw.githubusercontent.com/opendatacube/datacube-core/develop/docs/installation/product-definitions.rst it is not rendered

[2022-10-28 08:27] lucapaganotti opened #1329 "Trouble running Integration Tests within `conda` environment and Trouble Building Documentation"
### Expected behaviour
No test failing

### Actual behaviour
at the beginning:

[code]
....
at the end

[code]
after make html I get
[code]

### Steps to reproduce the behaviour

follow the setup instructions on https://datacube-core.readthedocs.io/en/latest/installation/setup/ubuntu.html

### Environment information

* Which ``datacube --version`` are you using?
[code]
* What datacube deployment/

[2022-10-29 03:27] omad commented on #1326
The problem isn't a space or no space between `.. code-block::` and `yaml`, it's the lack of an empty line between `.. code-block:: yaml` and the YAML content.

[2022-10-30 21:13] SpacemanPaul commented on #1329
Re integration tests  - did you set up a postgres database and configure the config as per the instructions?  It looks a lot like you don't have a working database.

But it also looks like I need to have a good look at the Conda environment, and those instructions as they are still targetting Ubuntu 20.04.

[2022-10-31 00:18] omad opened #1330 "Code includes Type Annotations, but they're not made available for type checking (PEP561)"
**Summary**

The ODC code is fairly well annotated with [Python type hints](https://typing.readthedocs.io/en/latest/), but these type hints aren't made availble for use in downstream packages by following [PEP 561 – Distributing and Packaging Type Information | peps.python.org](https://peps.python.org/pep-0561/).

**Proposal**

Since ODC Core includes inline type hints with the code, we need to fo

[2022-10-31 01:20] #1245 closed, assigned to nobody

[2022-10-31 03:35] #1330 closed, assigned to nobody

[2022-10-31 03:54] omad opened #1332 "Update GitHub Actions configs to remove deprecated `set-output`"
GitHub recently deprecated the usage of `::set-output` within GitHub Actions. This is used to set a variable in one step and use it from a different step. (See [GitHub Actions: Deprecating save-state and set-output commands | GitHub Changelog](https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/) for details).

Warnings have already started being

[2022-10-31 04:04] SpacemanPaul commented on #1329
It seems to be something to do with the way conda repackages postgres.

You can get around by editing `integration_tests/agdcintegration.conf` -  and setting `db_hostname` to `localhost` and setting `db_user` and `db_password` to the postgres username and password of your test database.

The documentation definitely needs updating.

[2022-10-31 04:58] #1326 closed, assigned to nobody

[2022-10-31 06:05] omad opened #1334 "Simplified Developer Testing Setup"
**Summary**

At the moment, it's too hard for developers to run the integration tests for ODC. This presents a significant barrier to entry for new contributors, and is a big waste of time even for experienced ODC developers.

The biggest requirement hurdle is having a PostgreSQL server running locally in the background for the *integration tests* to connect to.

**Proposal**

I think a good solut

[2022-10-31 06:22] pindge opened #1336 "missing whats new page link from doc menu"
### Expected behaviour
whats new page should be easily accessible from readthedocs menu bar

### Actual behaviour
no direct access, need to run a search

[2022-11-01 00:57] #1336 closed, assigned to nobody

[2022-11-01 02:43] pindge opened #1338 "metadata type schema missing search_field as required"
### Expected behaviour

as per schema `required` the attached `barebone` metadata file should be indexed correctly.
https://github.com/opendatacube/datacube-core/blob/6d75b686656d8688cc830897d596bfd26cfea336/datacube/model/schema/metadata-type-schema.yaml#L51-L60
[code]

### Actual behaviour

[code]

### Steps to reproduce the behaviour

... Include code, command line parameters as appropriate ...

[2022-11-01 04:22] #1338 closed, assigned to pindge

[2022-11-01 22:06] pindge opened #1341 "config sample folder needs clearer purpose"
https://github.com/opendatacube/datacube-core/tree/develop/docs/config_samples
within doc folder there is a subfolder `config_examples`, only a few files are used in `rst` as part of `.. literalinclude::` most of the files are also available in  `datacube-dataset-config` repo https://github.com/opendatacube/datacube-dataset-config/tree/main/config_samples

only one set of `config_sample` should ex

[2022-11-01 22:14] pindge opened #1342 "digital earth au decommissioned collection 2 geomedian doc is out of date"
https://datacube-core.readthedocs.io/en/latest/installation/indexing-data/indexing-from-s3.html#s3-indexing-example references to instruction for indexing from digitalearth Australia s3 which is no longer available

[2022-11-01 22:22] pindge opened #1343 "links on read the doc footer leads to 404"
https://github.com/opendatacube/datacube-core/blob/develop/docs/_templates/odc-footer.html renders at the footer of page https://datacube-core.readthedocs.io/en/latest/index.html

[2022-11-02 00:22] omad commented on #1258
Lets expand the scope of this to cover documenting how ODC finds it's configuration and determines which Database to connect to.

The only existing documentation is [Installing & Managing -> Configuring -> Database Setup -> Create Configuration File](https://datacube-core.readthedocs.io/en/latest/installation/database/setup.html#create-configuration-file)

I would expect to find information in the

[2022-11-02 00:33] omad commented on #1258
The current behaviour is complicated and confusing, involving many possible environment variables and configuration files, on top of flags to CLI applications and arguments passed to `datacube.Datacube()` when using the Python API.

The precedence of configuration files is in https://github.com/opendatacube/datacube-core/blob/develop/datacube/config.py#L19-L30 , and the logic in the rest of [confi

[2022-11-02 00:50] omad commented on #1258
I've found an "interesting" undocumented feature lurking in the ODC configuration code. If you run `python -m datacube` (or call the function `datacube.config.auto_config()`, a new configuration file will be written to `~/.datacube.conf` based upon current environment variables. 🤯

There are a bunch of tests on how the configuration settings work in [`tests/test_config.py`](https://github.com/open

[2022-11-02 01:26] omad commented on #1258
The documentation for the configuration file needs improving too. The canonical source in the docs seems to be [Database Setup -> Create Configuration File](https://datacube-core.readthedocs.io/en/latest/installation/database/setup.html#create-configuration-file).

It is mostly made up of a commented example configuration file, but doesn't mention `db_port`, or any of the AWS specific authenticati

[2022-11-02 03:39] omad commented on #1258
Oh my, there's more complexity in choosing the "Datacube Environment" to use.

The priority for choosing the environment is (to the best of my understanding):
1. The `env=` value passed as an argument when creating `Datacube()`.
2.  The environment variable `DATACUBE_ENVIRONMENT`
3. An undocumented value stored in the configuration file/s.
[code]
4. `default`
5. `datacube`

(See [`LocalConfig.__in

[2022-11-02 05:19] omad commented on #1258
Okay, after thinking I understood this now, and tearing my hair out.... there's more.

The above logic is only called when creating a `datacube.Datacube()` in code.

If you're using the `datacube` CLI tools, they use **completely different logic**, see [`datacube.config.LocalConfig.find()`](https://github.com/opendatacube/datacube-core/blob/7dff38d87863467f9d66bbb4fa090d65717b5175/datacube/config.

[2022-11-03 01:51] SpacemanPaul commented on #1258
Oh wow, I've been through this code fairly recently but didn't spot all of these gotchas.

[2022-11-03 04:02] pindge opened #1345 "enable readthedoc preview to reduce typo or syntax fix prs"
introduce https://github.com/readthedocs/actions/tree/v1/preview github action would require
https://docs.readthedocs.io/en/latest/pull-requests.html#configuration

[code]

[2022-11-03 05:50] #1345 closed, assigned to nobody

[2022-11-03 14:58] lucapaganotti commented on #1329
Hi,

after changing ```integration_tests\agdcintegration.conf``` as suggested by @SpacemanPaul , I've copied the file in my home folder as ```.datacube_integration.conf```, here is the file:
[code]
postgres is working I can login directly from the command line:

[code]
but this is not happening when I acitivate the conda environment
[code]
I can login to postgres if I issue psql this way
[code]
bu

[2022-11-04 10:58] lhcorralo commented on #1307
Hi!

Sorry for the (huge) delay.

I stopped trying to use this approach. Instead, as my project is relying in docker-compose, I created a specific image for the datacube initialization (something like postgresql image using the /docker-entrypoint-initdb.d directory for checking what scripts and sql queries to run during startup).

Thank you!

[2022-11-04 10:58] #1307 closed, assigned to nobody

[2022-11-07 04:29] SpacemanPaul commented on #1329
1. Ignore `Module 'rasterio.crs' has no 'CRS' member, but source is unavailable?` it is just warning from the code checker.

2. Yes, postgres in a conda install is weird.  If you specify a hostname it seems to work OK.

3. I have seen the libLerc thing - it appears to a be an issue with the conda package for lerc.  The following will fix it (if you have set up your conda environment per the instru

[2022-11-07 08:07] lucapaganotti commented on #1329
Hi Paul,

thank you for your answer, I'll check the proposed solution. In the
meantime I give up with the Ubuntu 22.04 box and deleted it, I created a
new fresh ubuntu 20.04 box, then after the initial setup I checkout the
stable branch from github not the development one, I then follow
instructions on github and NOT on readthedocs. Doing this, tests are
performed but with a lot of errors (more th

[2022-11-07 23:13] uchchwhash commented on #366
I think @SpacemanPaul is working on this.

[2022-11-07 23:23] pindge opened #1348 "nodata for product definition doesnt match dtype"
related to: https://github.com/GeoscienceAustralia/dea-config/issues/1110
[code]

`eo3-validate` type handling needs update

[2022-11-07 23:48] jeremyh commented on #1348
Our validator is correctly failing the product --- should this issue go to ODC core?

[2022-11-07 23:49] pindge commented on #1348
@SpacemanPaul  suggested this is not core's issue, it was just transferred here from core

[2022-11-07 23:54] SpacemanPaul commented on #1348
I'm not that strongly opinionated on the matter.

What would the metadata fix be though?  `-340282350000000000000000000000000000000` -> `-3.4028235e+38` ?

What does a nodata value on a floating point variable even mean?

[2022-11-08 00:33] robbibt commented on #366
@uchchwhash @SpacemanPaul Is this a thing now? If it's possible to obtain product extents directly from the datacube, I'd love to update `dc.list_products()` to include this info in its output table

[2022-11-09 00:52] pindge commented on #1348
nodata supported type can be anything as per odc schema https://github.com/opendatacube/datacube-core/blob/develop/datacube/model/schema/dataset-type-schema.yaml#L97-L100

[code]

dtype restriction https://github.com/opendatacube/datacube-core/blob/develop/datacube/model/schema/dataset-type-schema.yaml#L54-L55

[2022-11-09 01:46] omad commented on #366
I'm not aware of anything particularly solving this yet, I'm going to reopen.

[2022-11-09 03:01] pindge commented on #1348
https://github.com/opendatacube/datacube-core/pull/1347

[2022-11-09 04:36] Kirill888 commented on #1348
same as for an `int`: bit pattern reserved to mean absence of valid observation, just cause `float32` already has standard bit-patterns that mean exactly that, doesn't stop some from using some finite values instead and sometimes along with proper float-point NaNs. All masking code is significantly complicated due to float `nodata` that could be `nan` or some finite float value, or absent, which i

[2022-11-09 05:03] Kirill888 commented on #1348
The real value is probably: `-340282346638528859811704183484516925440` which is `numpy.finfo(numpy.float32).min`, but it lost precision when converting to string via scientific notation.

@jeremyh

test in [numpy_value_fits_dtype](https://github.com/opendatacube/eo-datasets/blob/1842d4522c5bbd6bce378bea26bfbeb5dfd769d3/eodatasets3/validate.py#L597
)

[code]

doesn't check what it claims, it checks

[2022-11-09 21:40] pindge commented on #1348
checking the dataset in middle of the ocean
[code]

the output of stored `nodata`

[code]

[2022-11-09 21:54] pindge commented on #1348
[code]

[2022-11-09 22:13] Kirill888 commented on #1329
@lucapaganotti
conda based environments assume that postgres is using `/tmp/` folder for `unix:` file connections to the database. On ubuntu postgres is using `/var/run/postgres/` folder instead, when installing from `pip` db libraries are compiled and so have ubuntu defaults, when using conda, system libraries are not used and so you need to change that default via config.

[code]

if using envir

[2022-11-09 22:24] SpacemanPaul commented on #1329
@Kirill888 see @omad 's extensive comments on #1258

[2022-11-09 22:33] SpacemanPaul commented on #1258
See also @Kirill888 's comments on #1329 re: using postgres with conda.

[2022-11-09 22:59] robbibt commented on #1348
Example of datacube's `mask_invalid_data` function failing to mask nodata for this product. If this worked as intended, I would expect to see all `-3.4028235e+38` values in the dataset masked out and set to `np.NaN`:
[code]

Nodata values are not correctly replaced with `np.NaN`:
![image](https://user-images.githubusercontent.com/17680388/200960311-c78c0f7b-3874-4d3a-84f1-8718e625c797.png)

[2022-11-10 01:06] Kirill888 commented on #1348
@robbibt can you try patching `.nodata` value on xarray variable to `-340282346638528859811704183484516925440` and then try masking again? Also value above, might pass validation as it should round-trip to/from numpy without loss.

[2022-11-10 01:11] Kirill888 commented on #1348
What about `nodata` tags in the imagery itself, what are they set to? Also is `nodata` coming from files or is it coming from load, load will place whatever incorrect rounded value recorded in the product spec, and then separate to that data itself might contain non-rounded values of `nodata`.

[2022-11-10 02:26] robbibt commented on #1348
@Kirill888 That works!
[code]
![image](https://user-images.githubusercontent.com/17680388/200985293-22e77e87-54e8-45ec-b372-44a18175cdf8.png)

Not sure what you mean by this, do you mean the nodata attributes on the different bands of the dataset?

[2022-11-10 05:28] Kirill888 commented on #1348
Is there `nodata` marker on the TIFF image itself (`rio info path_to_image`), and is it set to a correct value or is it truncated, like in the product definition.

[2022-11-10 10:40] lucapaganotti commented on #1329
Hi Paul,

I've setup postgresql connection via .datacube.conf and
.datacube_integration.conf in my home folder. Anyway I'm getting errors
during check_code.sh tests that are requiring a local socket connection to
postgres. I'll take only the last:

[code]

[2022-11-10 11:45] lucapaganotti commented on #1329
Hi Kiril,

I've tried to change db_hostname value as you suggested in
~/.datacube_integration.conf but I get the same connection errors, the code
is trying to use a local socket as for example:

[code]
...
----------------------------------------------------------------
TOTAL                                        13598   1104    92%

===============================================================

[2022-11-10 22:14] SpacemanPaul commented on #1329
Hi Luca, I think you are safe to proceed from here.  It's going to get increasingly difficult to debug the remaining issues.  The instructions you are following are in desperate need of a full rewrite, and we are in the early stages of overhauling our whole testing framework to make it easier to run the tests.

EO3 is also not as well documented as it could be.  You may want to have a look at the

[2022-11-15 06:05] omad opened #1351 "Fix Deprecation warning against distutils"
I've started seeing this Deprecation Warning, even when running `pytest` of all things!

[code]

Datacube Core Version: 1.8.8

[2022-11-17 03:55] pindge opened #1356 "dc.list_products() is not showing grid_spec used in dc.load()"
### Expected behaviour

[code]

show all `output_resolution` and `output_crs` used in load_hint when calling `dc.load()`

[code]
due to it does not have grid_spec, below is one product with `grid_spec`

[code]

[2022-11-17 06:19] #1356 closed, assigned to pindge

[2022-11-21 05:41] omad commented on #1274
See Also https://github.com/opendatacube/datacube-explorer/issues/472 and https://github.com/opendatacube/datacube-explorer/pull/490 and https://github.com/opendatacube/odc-tools/pull/524

[2022-11-21 05:41] omad commented on #1274
See Also https://github.com/opendatacube/datacube-explorer/issues/472 and https://github.com/opendatacube/datacube-explorer/pull/490 and https://github.com/opendatacube/odc-tools/pull/524

[2022-11-23 22:44] pindge opened #1359 "need support product grouping in core"
`ASTERS` are not part of DEA products, but due to alphabetical ordering they are always the first products showing up on query `dc.list_products()`

![image](https://user-images.githubusercontent.com/24644475/203658194-98e9688b-70f5-4e8f-a0f3-882dcdf12a20.png)

core should add a feature to support pre-identified grouping, ie.

`dc.list_products(group='c3')`

[2022-11-28 02:57] robbibt commented on #1359
Yep, being able to sort our datasets by the "Baseline satellite data", "Inland water" etc groupings would be really nice!

[2022-11-29 21:47] pindge commented on #1359
one potential solution is to add `product_category` to product metadata definition, and to query against it

    If product_category was listed in the metadata_type as a search field, you could use dc.index.products.search_robust(product_category="foo")  - but you'd still need to trawl through the results manually.  search_robust is the only method provided for searching products, and it's really

[2022-11-29 22:01] SpacemanPaul commented on #1359
As noted in Teams, a products version of `search_by_metadata` would be doable.

[2022-11-30 21:46] pindge opened #1363 "[doc] missing information on group_by"
lacking information on `group_by` in the doc