[2019-03-07 01:16] Kirill888 commented on #672
I think the main issue here is to decide what we will and won't support, then define metadata structure necessary to implement that. Decisions need to be made across following axis:

1. Generic `n`-d support vs 2d and 3d only
   - Note that this for Dataset -> Pixel space mapping only, `load_data` supports n-dimensions on output already as discussed above
2. Fixed structure of extra dimension(s) v

[2019-03-07 02:27] woodcockr commented on #672
I'd be inclined to let time also be >1. This has been done previously and its a stronger generalisation. Has ramifications for some storage types when being updated and how provenance is done but there is nothing to stop an ODC deployment using just 1 timestamp to support different governance needs for their archive (based on what we are seeing happen its likely most EO custodians would go with 1

[2019-03-07 03:19] Kirill888 commented on #672
The issue with allowing `time > 1` per dataset is that it forces you to implement all of the subsampling/merging/grouping behaviour we currently have for time axis as part of the support for 2d+ datasets, and also forces your choice for point (2) to be most generic (time axis is never fixed across all datasets), and strongly suggests generic solution for (1) as well.

There are also implications f

[2019-03-07 20:31] snowman2 commented on #672
I would base this decision based on the use cases. Is there an existing need out there for anything other than 2d/3d? If not, I would go with just 2d/3d for simplicity.

Again, is there a use case for "`different for every dataset`". If not, I would go with fixed structure for simplicity sake.

What use cases are there for time >1? What benefit will be gained from this? If minimal benefit, then I

[2019-03-07 22:17] woodcockr commented on #672
We need to take case with what we mean by 2d/3d in this context. So far we have need of
2d geospatial +
1d depth +/or
1d hyperspectral +
1d time (sparse)

I added time as "sparse" since it most commonly is, though of course the others could be.

Agreed, I think we are talking about fixed dimensions, though the dataset content are sparse.

Any storage format that can handle full n-dimensional suppo

[2019-03-08 00:22] Kirill888 commented on #672
I think arbitrary `n`-d data per dataset is too complex not just from implementation but also from interface point of view. Having time both across `Dataset`s and within `Dataset` is too confusing, and has implications for provenance and other issues describe above.

So here is my preferred set of requirements:

1. `Dataset[band] -> 2d | 3d` pixels per band
    - All bands share the same number of

[2019-03-08 00:54] snowman2 commented on #672
I like the requirements 👍

[2019-03-08 01:09] Kirill888 commented on #672
@woodcockr also see (4) and (5) in the doco I shared with CSIRO earlier:

https://gist.github.com/Kirill888/be5e61317ae2ea69935a0811fe971f89#guiding-principles

[2019-03-08 05:43] roarmstrong commented on #668
sqlalchemy 1.3.0 is now stable. Possible fix on our end here: https://github.com/opendatacube/datacube-core/pull/680 but I'm not sure if it's better to raise an issue sqlalchemy to get some change to the quoting behavior instead

[2019-03-11 21:54] alexgleith commented on #672
Just wanted to point out the `datacube` extension proposal for STAC, over here: https://github.com/radiantearth/stac-spec/tree/master/extensions/datacube. Could be relevant context for this discussion.

[2019-03-11 23:30] woodcockr commented on #672
@alexgleith thanks for that. that extension proposal is relevant in terms of specification but not in terms of implementation of course.

Looking over the discussion it seems to me that two things are being maintained:
1. spatial dimensions are grouped together
2. attribute dimensions precede time+spatial dimensions

This results in  indexing of an attribute+time slice to be a contiguous nd-array

[2019-03-12 05:07] Kirill888 commented on #672
@woodcockr I haven't really specified axis order other than `y,x` are the last two to make is easy for reprojecting case. Given prototype code by @snowman2 seems like the most likely axis order is `t,[z],y,x`, where `z` might be omitted for datasets that don't have 3d dimension.

This order makes sense to me, since datacube collates datasets along time dimension, and each dataset is either a singl

[2019-03-12 23:02] #668 closed, assigned to nobody

[2019-03-13 00:22] Kirill888 commented on #662
Warning comes from converting `ds.center_time` to `numpy.datetime64`, `center_time` includes time zone info, I have only seen it being UTC, but I guess this depends on what is indexed in the database as there is nothing in the code that modifies timestamp stored in metadata that I can see. I guess the correct fix for this is to convert `center_time` to UTC, then strip tzinfo then convert that to `

[2019-03-13 01:25] woodcockr commented on #672
@Kirill888 If you include the existing attribute access I think its band, t y x currently - where the last three are xarray dimensions. For hyperspectral that would extend to wavelengths, t y x. Then if you add a spatial depth it would be wavelength, t z y x OR wavelength z t y x where all are xarray dimensions.

I think that is all the options. Which is preferable ordering wise? Which reduces cod

[2019-03-13 02:02] Kirill888 commented on #672
@woodcockr I thought we agreed to limit support to 2d|3d only per dataset, so you have to choose hyperspectral or depth, can not have both at the dataset level. We still keep band, it doesn't go anywhere, but for every band, dimensions are `t,{optional_extra_dim},y,x` or `t,y,x`.

Note that you can still have more dimensions at load time, you just have to create extra dataset objects for every val

[2019-03-13 02:38] Kirill888 opened #681 "Better integration with notebook display for core data types"
# Summary

Many of datacube users work mostly in notebooks, yet none of our classes take advantage of rich display capabilities provided by the notebook environment. Here is an example of  how easy it is to add “display on a map” feature to `GeoBox` class, leveraging existing Jupyter ecosystem:

<img width="1259" alt="GeoJSON-GeoBox" src="https://user-images.githubusercontent.com/1428024/54249381-

[2019-03-13 02:41] Kirill888 commented on #681
@alexgleith do we have extensions installed in the dask cluster already? If not, how hard is it to add them?

see:
https://github.com/jupyterlab/jupyter-renderers/tree/master/packages/geojson-extension

[2019-03-13 02:43] alexgleith commented on #681
We do have some installed, but we can install more!

What do you want specifically? I'll add it to our default image.

[2019-03-13 02:58] Kirill888 commented on #681
I'd like `GeoJSON` extension please, I can import it, but it doesn't display, not in a notebook nor in a lab environment.

[2019-03-13 03:49] Kirill888 commented on #681
@otto-AMA have AMA experimented with `jupyter-lab` as  opposed to just `jupyter-notebook`? Seems like there is a richer set of data visualisation extensions available in that space.

[2019-03-13 03:49] alexgleith commented on #681
Maybe you need to be in JupyterLab?

If you go to the DEA Sandbox, and use the URL `user/yourname/lab` instead of `user/yourname/tree` it should work.

[2019-03-13 03:50] alexgleith commented on #681
We experimented with JupyterLab, but it broke a number of things, so we haven't made it default. It's enabled, though!

[2019-03-13 04:03] Kirill888 commented on #681
@alexgleith yeah that's what I tried first, I seen no lab extensions installed in the container, tried installing in a terminal but file permissions won't let me, probably worth changing that, greater chance for user to break things, but also more flexible. I don't fully understand lab extensions, they have both python and JS parts, and it's the JS part that is missing in the case of GeoJSON.

[2019-03-13 04:04] woodcockr commented on #672
@Kirill888

No, looking back at my comments I see only that you proposed this as a preferred set. I've then started a discussion on what this means. I can't see a complete set of agreed comments.

What I don't understand is this:

In the hyperspectral case the bands need to be a dimension, not just labelled attributes. That way they can be sliced. To some extent I'm not overly bothered by the orde

[2019-03-13 04:05] alexgleith commented on #681
Hmm, ok. Will look into it.

[2019-03-13 04:36] Kirill888 commented on #672
@woodcockr output of `.load` is `xarray.Dataset` which is a collection of labelled `xarray.DataArray`s, it's just a fancy dictionary mapping `str -> ndarray with labelled axis`. We can't change `.load` to sometimes return `xarray.Datarray` for hyperspectral case, so you'll have to have a name for your hyperspectral "band", that has `wavelength,y,x` axis (in that order).

Fine, scientists I support

[2019-03-13 06:19] woodcockr commented on #672
@Kirill888 This is an ODC community, not a "my organisation" project. I am simply advocating for a feature set and being explicit as to the drivers for that. The ODC community as a whole may choose to do something else, which is fine. It is important though that these other community views be considered as others may well contribute and/or come up with one that does it without penalty. All core co

[2019-03-13 07:02] Kirill888 commented on #672
@woodcockr your understanding looks correct, with a minor caveat that it is possible to have more dimensions, but not described by one single dataset, so if you have hypespectral data across several depths you can model that, but you will need to generate extra datasets along the depth dimension and you will have to use custom `group_by` construct.

[2019-03-13 07:41] Kirill888 commented on #681
Another example displaying result of `find_datasets`:

<img width="480" alt="Screen Shot 2019-03-13 at 6 16 58 pm" src="https://user-images.githubusercontent.com/1428024/54261296-8c835c80-45bf-11e9-8487-19c0acbd6d4e.png">

[2019-03-13 08:34] pbranson commented on #672
I would like to raise a (perhaps esoteric) usecase I have wondered about
representing in the ODC. It involves deriving a 2D-spectrum of the wind
waves from fragments of sentinel 2 data (as published here
http://doi.org/10.1002/2016JC012426)

Dataset would conceptually look something like this:

<xarray.Dataset>
Dimensions:          (time: 2, frequency: 50, direction: 50, x: 492, y:
500, )
Coordina

[2019-03-14 00:25] woodcockr commented on #681
Is what is being proposed along the lines of using jupyter notebook extensions like this one:
[OpenGeoscience geonotebook](https://github.com/OpenGeoscience/geonotebook)

[2019-03-14 00:28] Kirill888 commented on #672
@pbranson if you have more than 1 non-time-y-x dimension axis, things will still be annoying to work with with the current proposal. Approach you describe will work, but is only marginally better than what you already can do (you will still need 50 variables, instead of 2500).

Another approach is to generate 1 dataset for every `directionN` (so 50 datasets covering same region-time in your exampl

[2019-03-14 00:46] Kirill888 commented on #681
These specific examples rely on jupyterlab GeoJSON extension^, so will only work in jupyter-lab and not in plain jupyter-notebook. I'm sure it is less capable than `geonotebook`, but is also easier to install, and so more accessible.

Better integration with popular visualisation backends would be useful though, which ones are being actively used in the community?

^https://github.com/jupyterlab/j

[2019-03-14 03:43] Kirill888 commented on #672
@alexgleith as discussed this morning I have created wiki page for this proposal:

https://github.com/opendatacube/datacube-core/wiki/ODC-EP-001---Add-Support-for-3D-Datasets

[2019-03-14 04:58] otto-AMA commented on #681
@Kirill888  Yes. A few of our personal dev environments run jupyter labs. I find it to be a superior drop-in replacement for jupyter notebooks in most cases.

I have had some issues with the transfer-ability of bokeh plots and macros that I've eventually resolved on a case by case basis.  The integrations for jupyter labs are definitely cooler.

[2019-03-14 05:04] alexgleith commented on #672
Excellent. Thanks, @Kirill888

[2019-03-14 05:05] otto-AMA commented on #681
@woodcockr
Geonotebooks are really cool. Have you explored them yet?  I really think they might be the ideal research/dev environment. It can mirror the experience that helped popularize GEE, at least in terms of user experience/interaction.

[2019-03-14 05:09] alexgleith commented on #681
That does look really cool, @otto-AMA ... we'd need some form of save function, coupled with a OWS engine that works with it, hey. A combination of Dask for computing the tiles -> save them -> index them -> OWS serving them could be great!

[2019-03-14 22:22] woodcockr commented on #681
@otto-AMA

No, unfortunately not. You may have noticed my vision currently exceeds my grasp! I'm used to having quite a large team so usually get someone to play with these things but work changes have made that something of the past and I confess it is taking me a long time to adapt. On the bright side, I'm coding again!!

The folks here are responding well to the PC docker setup, appreciative of

[2019-03-14 22:26] woodcockr commented on #672
@pbranson I don't believe your case is esoteric, though it does currently sit just outside the bounds of the ODC code base and its convenience for handling data. Check you email, I have a suggestion for you.

[2019-03-17 23:26] diogocaribe opened #682 "Run docker (opendatacube-core) and Jupyter notebook together"
I am trying to use ODC in my organization. So I run container of datacube-core and looked for way to run jupyter notebook in ODC container. However I could't perform this. How can I run jupyter notebook into this container in order to use ODC?

Is it possible to do?

[2019-03-18 01:18] #682 closed, assigned to nobody

[2019-03-20 01:00] alexgleith commented on #681
Hey @Kirill888, we've added the GeoJSON package to both the sandboxes, if you'd like to test it?

[2019-03-21 22:35] Kirill888 commented on #681
@alexgleith seems to work
![GoeJSON-sandbox-test](https://user-images.githubusercontent.com/1428024/54789203-cb7f7500-4c85-11e9-8350-cd38528ac15b.PNG)

[2019-03-25 03:49] omad commented on #374
https://requires.io FTW

[2019-03-25 03:49] alexgleith commented on #374
Thanks @omad! On it ;-)

[2019-03-25 06:41] Kirill888 commented on #610
Starting with 1.0.20 rasterio should be able to read `int8` data without work workarounds. GDAL's support for `int8` is a bit weird (requires setting some special flags), but it does exist, and is now used by rasterio.

[2019-03-25 06:55] Kirill888 commented on #458
@BexDunn `.affine` is already a dynamic property (always was), but it only applies if `.crs` attribute is present, just copying `.crs` attribute from source should be sufficient to get `.affine` and `.geobox` to work on the derived dataset.  So just doing `derived.attrs['crs'] = src.crs` should be enough to enable `derived.affine` property. You might have to do that for every data variable that yo

[2019-03-25 06:55] #458 closed, assigned to nobody

[2019-03-25 07:12] Kirill888 commented on #193
@GypsyBojangles I guess by "replace" you mean "index new version and also archive old version in one step". Since there is no way to "actually replace" dataset, since uuid of a new dataset ought to be different from the old one.

What is needed then is a way to track previous versions of the dataset. If, say, we had a field `replaces = uuid-of-previous-dataset` then we could do extra steps during

[2019-03-25 10:15] GypsyBojangles commented on #193
@kirill888 this is a very old issue, it either preceeded me and i copied it over from Jira or it was raised in my first month on the project. Re-reading this I feel like between dataset archive and our sync tool it’s easy enough to work around this in practice. Up to you and @omad if you want to keep this issue.

[2019-03-25 22:23] Kirill888 commented on #193
@GypsyBojangles, @omad archive and sync deal with consistency of the current state of the database, they do nothing to track versions of dataset, not sure if tracking dataset versions was part of the motivation for this issue when created and whether this is still of interest today.

If we had standardised region identifiers as proposed in #536 the job of checking for accidental duplicates would b

[2019-03-25 22:26] Kirill888 commented on #675
looks like "documentation not setting correct expectations" issue, so closing this

[2019-03-25 22:26] #675 closed, assigned to nobody

[2019-03-25 22:37] Kirill888 commented on #565
Regarding my previous comment: who needs "normalised pixel transform" it's this: #673

`Dataset.transform` is basically very confusing and "surprising" and leads to incorrect assumptions, namely that there is ONE transform for all bands of a `Dataset`, which is not true in a general case.

[2019-03-25 22:45] Kirill888 commented on #462
Looks like threading of third-party libs, closing this, but we do need better management of threading+HDF5.

[2019-03-25 22:45] #462 closed, assigned to nobody

[2019-03-25 22:49] #405 closed, assigned to AMA-AC, caffeine-potent

[2019-03-25 22:53] Kirill888 commented on #645
look like a duplicate of #517

[2019-03-25 22:53] #645 closed, assigned to nobody

[2019-03-25 23:07] Kirill888 commented on #196
@GypsyBojangles

I think the issue is that `make_dataset` takes either/or/both "bounding box" (`extent`) as well as "valid region" (`valid_region`). The whole thing is completely broken see #537. And really requires a proper fix to handling of geospatial data within datacube:

https://github.com/orgs/opendatacube/teams/developers/discussions/5

[2019-03-25 23:07] #196 closed, assigned to nobody

[2019-03-25 23:11] Kirill888 commented on #187
related: #519

[2019-03-26 05:18] Kirill888 commented on #241
blocked by #625
IO driver re-work should allow file handle caching that would improve disk access patterns.

[2019-03-26 05:36] Kirill888 commented on #437
@helyx-amcmillan thank you for your report and sorry for such a late response.

In `datacube-core` product name is allowed to be almost anything, a single character product_name will work just as well. This is why, I guess, it's not documented in the ingestor itself right now.

It is however a constraint imposed by [datacube-ui](https://github.com/opendatacube/datacube-ui), not sure if this constr

[2019-04-01 10:56] luigidifraia opened #687 "Inconsistent Python version documented for installation"
Python 3.6: https://datacube-core.readthedocs.io/en/latest/ops/conda.html
Python 3.5: https://datacube-core.readthedocs.io/en/latest/ops/ubuntu.html

When using Python 3.5 and miniconda, on both Ubuntu 16 and 18, `datacube -v system init` currently fails with `ImportError: libpoppler.so.76: cannot open shared object file: No such file or directory`.

[2019-04-01 23:00] ashoka1234 opened #689 "[Proposal] Product Summary Table"
### Product Summary Table

Datacube ecosystem has two database based extent summary
implementations, one in `datacube-explorer` and another in `datacube-ows`.
Reconciliation of the needs in those two applications into one is hard and
can be excessive for `datacube API` itself. If the use cases of these two
applications are not fully implemented it is unlikely they will be ported to
a new implement

[2019-04-02 00:08] #687 closed, assigned to nobody

[2019-04-08 23:08] Kirill888 opened #691 "Masked files are impossible to support with the current interface"
Problem
======

Datacube load pipeline assumes that there is always a `nodata` value available to differentiate output pixels that have been populated with valid data from data source and those that have only been set to "clear pixel value".

If someone wanted to index say 8-bit JPEG compressed TIFF files into datacube they won't be able to load more than one dataset at a time without allocating a

[2019-04-08 23:42] Kirill888 commented on #689
@ashoka1234 can you provide more details for roughly what structure those `jsonb` things will contain, particularly `query` bit.

Some questions:

- I'm not seeing product_id anywhere, or is this buried in `query` somewhere?
- What is the plan for keeping these summaries up to date?
- How we going to expose these summaries? Rough outline of expected API would be useful here.

The real problem here

[2019-04-09 00:45] ashoka1234 commented on #689
Thanks @Kirill888 for comments.

I am intending to keep `query` field to be as close as possible to a typical query that we supply to `Datacube.load()`. Yes `product` is to be buried in `query`.

I haven't finalised the structure of json blobs but roughly: `spatial_bounds` could contain four bounds values or two corners, `spatial_footprint` would be `geojson` compliant `multi-polygon (cascaded uni

[2019-04-09 23:11] Kirill888 commented on #494
Seems to have been addressed by this commit:

https://github.com/opendatacube/datacube-core/commit/fd5d0124fad8d95369723148a65805a0975c4439

[2019-04-10 05:46] omad commented on #596
Seems to have been fixed somewhere along the way.

[2019-04-10 05:46] #596 closed, assigned to nobody

[2019-04-10 06:37] #494 closed, assigned to nobody

[2019-04-10 06:38] #493 closed, assigned to nobody

[2019-04-11 00:07] #662 closed, assigned to nobody

[2019-04-11 01:07] ashoka1234 opened #697 "Problem: Why grid_spatial is not a search field"
### Problem: Why `grid_spatial` is not a search field
The `search_fields` used by `index.datasets.search` functions include `native fields` (those that are native to table schema), so called `fixed fields (not dynamic in metadata type schema)`, and other search fields defined in `metadata_type`. None of these include `grid_spatial`, which is puzzling. Except `telemetry`, all other `metadata types`

[2019-04-11 04:35] #501 closed, assigned to nobody

[2019-04-15 03:28] Kirill888 opened #704 "`dc.load` is not thread-safe when reading netcdf files"
HDF5 library used via `datacube->rasterio->gdal->netcdf->hdf5`  is not thread-safe. It is not safe to call any method of HDF5 library from two threads simultaneously. It doesn't matter if operation is on different files or the same file, calling `read` from one file while calling `open` on another might cause memory corruption within HDF5 library.

My understanding is that GDAL does not guarantee

[2019-04-15 05:44] #704 closed, assigned to nobody

[2019-04-16 14:46] snowman2 commented on #519
rioxarray is now available: https://corteva.github.io/rioxarray/

[2019-04-17 00:21] andrewdhicks commented on #519
Wow @snowman2 this is great!
@uchchwhash - you should have a look at this

[2019-04-17 07:14] uchchwhash commented on #585
The resolution we settled for is don't use `2018-02 < time < 2018-03`, use `time in [2018-02, 2018-03]` instead, and expect `dc.load` semantics.

Closing.

[2019-04-17 07:14] #585 closed, assigned to nobody

[2019-04-17 22:43] ashoka1234 opened #711 "[ Proposal ] Light -weight Dataset search"
It appears that the dominant factor that effects memory footprint of Dataset objects is the `metadata_doc` attribute. We often don't use most fields of metadata doc but we still want to use parsing capabilities of methods of `Dataset` class (mainly `property functions`). This large memory footprint put strain on large aggregate computations on datasets extracted from the dataset table (for example

[2019-04-18 04:51] ashoka1234 commented on #691
It is a great solution to a real problem and stops us picking silly values for `nodata`. By the looks of it both `GDAL` and `rasterio` supports this sort of things!

[2019-04-23 02:23] emmaai opened #713 "Vitrual product aggregation needs to carry the temporal coordinates attributes"
### Expected behaviour
The output time coordinates from `aggregation` should have the exact same attributes as the input product.

### Actual behaviour
Only the values of the time coordinates present in the output product.

### Steps to reproduce the behaviour
Any time reduction aggregation.

### Environment information
N/A

[2019-04-24 01:04] ashoka1234 opened #714 "Dataset search query processing, limits, and paging"
## Dataset search query language and query processing
The datacube `dataset search` query language consists of `field_names` and `query kwargs` that
we pass onto various search functions. Then we need to process these queries like as follows:

Firstly, for a given `query`, we select a product `p` &isin; `(query['product'] or products)`  s.t.
  * &forall; (k, v) &isin; query
    * k &isin; search_f

[2019-04-24 01:17] uchchwhash commented on #714
As we were discussing the other day, feel free to scrape the `limit` feature if it gets in your way. I would tend to agree with @jeremyh and @Kirill888 that we need to tame this horrendous mess that you just described here, even if it means breaking backwards compatibility big time.

[2019-04-24 01:25] Kirill888 commented on #714
What we are missing is a clean separation of where `datacube-core` ends and supposedly pluggable `db backend` driver begins.

Exactly what is the contract between `datacube-core` and `db backend`? Is `limit` part of this contract? If yes is it `global` limit or `per-product` limit? None of it is clearly defined.

`limit` was added as a convenience feature to work in a common case, i.e. using `sing

[2019-04-29 01:57] ashoka1234 opened #715 "index.datasets.search_returning cannot be used as a performant function relative to index.datasets.search"
### Performant per `dataset` processing
We cannot reliably use `index.datasets.search_returning` for performant per dataset processing since it returns results from table joins across `DATASET_SOURCE, DATASET_LOCATION, DATASET, DATASET_TYPE`,  and `METADATA_TYPE`, if selected fields are to be extracted from any of those tables. It seems we can use `index.datasets.search` for per dataset processing

[2019-04-29 03:09] jeremyh commented on #715
If I understand correctly, the underlying issue is that `search()` returns dataset objects which each have a `.uris` list of uris. But there is no equivalent `uris` field to ask for from `search_returning()`.

The only field we have is a confusing `uri` field (note the singular) which returns search results as one-per-uri instead of one-per-dataset. But this change in row-selection is problematic

[2019-04-29 03:28] ashoka1234 commented on #715
Yeah! that sounds like a good idea for few use cases. Another hard but related issue is that I would like some sort of extraction of `DATASET_LOCATION.id` per dataset (More ideal solution for me for this, though, have a new auto-incremented key field in DATASET table!) for `paging` queries.

[2019-04-30 00:26] jeremyh commented on #715
We enforce the location to be unique per dataset, so most of the older api methods use the tuple `dataset_id, uri` as a unique id. The integer primary key (along with product's) was originally intended as a driver implementation detail and not part of the api. I don't know whether it's worth changing: depends on the use case you have in mind.

For unique paging of datasets within Explorer I'm curr

[2019-04-30 00:45] ashoka1234 commented on #715
OK I thought about `dataset_id` alone as well as using `time`. Only thing that troubled me was that new `dataset` inserts would get inserted all over within the `dataset_id` order. Since `dataset_id` is secondary in the `time, dataset_id`  index order this may not be that much of an issue. Though dataset deletions can change page workflow I was more attracted to static nature that auto-incremented

[2019-05-02 02:38] #713 closed, assigned to uchchwhash

[2019-05-02 23:21] Kirill888 opened #721 "`find_datasets` returns empty result set when `lon=(-180,180), lat=(-90,90)`"
### Expected behaviour

[code]

### Actual behaviour

[code]

Problem is likely in post query filtering of the result set:

https://github.com/opendatacube/datacube-core/blob/69e1a3b486f5f34c3d863a611efa65979b92f7eb/datacube/api/core.py#L706-L711

This function assumes that query polygon can be safely transformed into CRS of the dataset, this breaks down for "whole earth in EPSG4326" polygon.

[2019-05-03 10:00] JackLidge commented on #177
Looking through the proposed changes for an eventual 2.0 release, I didn't notice anything about specifically adding in a "delete tiles" function into the datacube infrastructure, and was wondering if this is something that is being considered / added in for ODC2.0?

[2019-05-08 03:17] #721 closed, assigned to nobody

[2019-05-12 23:02] Kirill888 opened #727 "Travis test env is broken due to gdal"
Python version of GDAL binding got updated to version 3.0.0 on 9th of May, but `apt` version of GDAL is still on `2.4`. As a result `pygdal` fails to install.

This is not the first time. We can easily "pin" `pip` version of GDAL, but we can not pin `apt` version. We install GDAL from a `ppa:nextgis/ppa`  and they do not keep older versions around, so installing specific version of gdal lib from t

[2019-05-13 00:38] #727 closed, assigned to nobody

[2019-05-16 08:39] Kirill888 opened #736 "Update release process documentation"
Many steps described in the document have since been automated, documentation should reflect that:

- Upload to pypi is done by Travis
- Updates for conda-forge are done by some bot that creates PR

[2019-05-20 01:27] Kirill888 opened #737 "Ingest configuration allows for gaps in output"
## Problem

Ingestion configuration defines a pixel grid and partitioning of this grid into individual tiles. Pixel grid is defined by 3 fields:

- `storage.resolution` pixel resolution along each dimension
- `storage.origin` location of pixel `0,0`
- `storage.crs` coordinate reference system of the output grid

Partitioning of the pixel grid into tiles is configured via

- `storage.tile_size` siz

[2019-05-23 01:07] Kirill888 opened #738 "Remove prepare scripts and update docs for new location"
Right now we have *prepare scripts* and related *product definitions* duplicated across several repositories. It is not clear where the most up to date version of the script/product yaml is. I think decision has been made to move prepare scripts out of this repo, I believe most scripts have been moved to this repository: [opendatacube/datacube-dataset-config](https://github.com/opendatacube/datacu

[2019-05-24 05:13] #437 closed, assigned to nobody

[2019-05-28 11:29] kalxas opened #739 "Dead sample data link"
Documentation links to http://landsat.usgs.gov/CDR_LSR.php for sample Landsat datasets. The link is dead.

https://github.com/opendatacube/datacube-core/blob/develop/docs/ops/indexing.rst

[2019-05-30 09:47] JackLidge opened #740 "New "datacube dataset search" spatial extent parameters not working"
Recently updated to ODC v1.7.0 and adjusting scripts for new way of searching for time & spatial extent etc, changing from "lower val < param < upper val" to param in [lower val, upper val] as directed using the help section of "datacube dataset search". This works for querying by a time search, but it is trying to convert to a datetime for spatial extent searches.

Running a search for:
`datacube

[2019-05-30 23:00] Kirill888 commented on #740
@uchchwhash looks like in this change https://github.com/opendatacube/datacube-core/commit/ce9c4c9ae2cca5b2df625cb85ab0cd0defcdcb2e you are assuming that "between expression" contains dates only, but it should also work for numeric types like `lon|lat|x|y`, any reason timestamp parsing needs to happen at that level, why not keep behaviour of the previous version of `BetweenExpression`?

@JackLidge

[2019-05-30 23:57] uchchwhash commented on #740
Oopsie daisy! Thanks @JackLidge for the report, and thanks @Kirill888 for fixing it!

[2019-05-30 23:59] #740 closed, assigned to nobody

[2019-05-31 08:29] JackLidge commented on #740
@Kirill888 I only use command line searching in one script to see if there is data in the Data Cube for a specific 10 day time period and a specific internal netCDF tile. This is for automating an indices creation script (NDVI, NDSI etc.), and a list of tiles/dates when new indices files need to be created is then made, so then `dc.load()` can be called only on areas & times where there is data in

[2019-06-04 02:25] Kirill888 opened #746 "Dataset `__eq__` fails when other object is not a Dataset"
### Expected behaviour

[code]

### Actual behaviour

Error is raised inside `__eq__` operator.

[code]

[2019-06-04 03:38] #746 closed, assigned to nobody

[2019-06-04 05:56] Kirill888 commented on #658
looks like this was environment problem of sorts, maybe tornado was broken at a time or some 3-rd party version mismatch, closing this for now.

[2019-06-04 05:56] #658 closed, assigned to nobody

[2019-06-12 00:11] Kirill888 commented on #552
If the largest value of the enumeration is `<= 8,16,32,64` then enumeration can be converted to bit-field mask of type `uint{8,16,32,64}` simply by doing `1<<v` for loaded mask image `v`. We should consider implementing this case.

[2019-06-18 00:55] emmaai opened #748 "jsonschema raised an error when validating in multiprocessing"
### Expected behaviour
N/A

### Actual behaviour
DatasetType.validate raised an error of "not finding the pointer `definitions/storage`"

### Steps to reproduce the behaviour
[code]
Run the function in multiprocessing, at some point (but not always), `validate`will raise the error as above.
### Environment information
The branch `develop` of Datacube
Jsonschema `2.6.0`

The problem appears to be s

[2019-06-19 02:07] Kirill888 commented on #748
This version (`2.6.0`) is from 2017, current `dea` module on NCI includes version `3.0.1`, which is latest at the time of writing. My guess is that something "pickling related" got fixed in the last 2 years inside `jsonschema`  library.

[2019-06-19 02:34] Kirill888 commented on #748
this whole validation decorator is a weird beast.

On one hand it loads main schema at "decorate" time and adds `validate` method to the class being decorated, but it does not construct actual validator object until `validate` is called. When constructing validator object it might need to read more files from the same folder as main schema, so IO for schema files is split between "import" time and

[2019-06-19 03:39] Kirill888 opened #749 "Serialise access to hdf5 lib for writes"
Related to #704

code inside netcdf writer driver should grab same lock as `dc.load` does to prevent concurrent access to hdf5 library. Currently it assumes that either:

1. HDF5 lib was compiled with concurrency lock feature
2. HDF5 lib access is serialised via external means, which basically only works when you are not using threads at all and rely solely on multi-processing for concurrency.

[2019-06-23 23:30] Kirill888 opened #750 "Handle NaNs when loading float pixel data"
### Expected behaviour

When loading floating point imagery with some overlap between datasets I expect non-`nan` pixels to take precedence over `nan` pixels regardless of whether `nodata` is set to `nan`.

### Actual behaviour

If `nodata` is set to any value other than `nan`, `nan` pixel values will be considered valid.

### Proposed Solution

When computing "valid pixel" mask on floating point

[2019-06-26 05:00] Kirill888 opened #752 "`.geobox` property not defined for single pixel arrays"
### Expected behaviour

[code]

### Actual behaviour

Instead get `(nan, nan)`

### Why

Resolution is computed from axis values, when there is only one axis value resolution can not be inferred as you need at least 2 axis values to compute "step"

https://github.com/opendatacube/datacube-core/blob/d0ec48cabad13c1b6f10fafa087d599013807d69/datacube/utils/math.py#L105

In the code above resolution w

[2019-06-26 05:02] andrewdhicks commented on #752
I think @uchchwhash was working on a fix for this, you should check with him

[2019-06-26 05:17] Kirill888 commented on #752
@andrewdhicks thanks I'm aware, hence this issue, unfortunately proposed changes in this branch https://github.com/opendatacube/datacube-core/tree/virtual-product-reproject would break `.geobox` behaviour when decimating loaded arrays:

[code]

instead it would return `(-10, 10)`

[2019-06-26 05:38] Kirill888 commented on #752
Might have to be addressed as part of #519

[2019-06-26 05:48] Kirill888 commented on #666
@omad is this one fixed now?

[2019-06-26 05:51] omad commented on #666
Yep!

[2019-06-26 05:51] #666 closed, assigned to nobody

[2019-06-28 15:13] ghost opened #754 "How to index TIFF file with two bands in it so that bands are accessible separately ?"
I have a tif file with two bands in it and I indexed it in ODC I setup. I want to know if I can index the bands in separately or anyway to the bands separately from the same datacube. Thank you.

[2019-06-28 15:13] ghost opened #755 "How to index TIFF file with two bands in it so that bands are accessible separately ?"
I have a tif file with two bands in it and I indexed it in ODC I setup. I want to know if I can index the bands in separately or anyway to the bands separately from the same datacube. Thank you.

[2019-06-30 23:24] Kirill888 commented on #755
duplicate of #754

[2019-06-30 23:24] #755 closed, assigned to nobody

[2019-06-30 23:31] Kirill888 commented on #754
I'm not 100% certain about your question @prateekbudhwar

Files with multiple bands are supported by the datacube. Usually they are indexed as part of one product, so you would have a dataset definition with two measurements defined, both having the same `path` but different `band` parameter, one will have `band:1` and the other one will have `band:2`.

It is also possible to reference the same da

[2019-07-01 01:18] Kirill888 commented on #754
Looks like our documentation for Dataset document doesn't mention `band` parameter

https://datacube-core.readthedocs.io/en/latest/ops/dataset_documents.html#dataset-metadata-doc

only layer for netcdf, needs updating.

[2019-07-01 14:08] ghost commented on #754
Thanks @Kirill888  it worked perfectly by changing the layer number from 1 to 2. Another issue now I have is while reprojecting to EPSG 4326, I get data for only one point instead of whole coverage. I use the query below,

s = dc.load(product = product, platform = platform, output_crs="EPSG:4326", resolution=(-231, 231), measurements = ['B1'])

[2019-07-01 23:55] Kirill888 commented on #754
@prateekbudhwar for `EPSG:4326` resolution needs to be supplied in degrees not meters

[2019-07-02 07:20] ghost commented on #754
@Kirill888 Thanks a lot for pointing that, it works now. I would like to know about ODC if its possible to do some processing on datacubes (like matrix operations) before downloading them to python, like in case of Rasdaman.

[2019-07-03 01:54] Kirill888 commented on #754
Unlike Rasdaman, ODC database only returns metadata about rasters to be loaded. Pixels are then loaded by ODC software on the client (using `GDAL` via `rasterio`) and not by some remote database.

We leverage heavily data processing libraries of the Python ecosystem: `xarray`, `numpy` and `dask`. For instance `.load` returns an `xarray.Dataset` you can then perform arbitrary operations on that, de

[2019-07-03 04:05] fre171csiro opened #756 "Datacube.load performance for multi band netCDF data"
### Expected behaviour
Something comparable to xarray.open_dataset('file_to_load.nc')

### Actual behaviour
On the same infrastructure current datacube.load(...) which would load the same dataset/file is significantly slower.  xarray load time = ~8 ms, datacube load = ~28m

### Simple comparison
![image](https://user-images.githubusercontent.com/25602028/60562507-4125d180-9d9b-11e9-9b9d-9b98c54778

[2019-07-03 04:25] Kirill888 commented on #756
@fre171csiro for `ncdump` can you please re-run with `ncdump -hs`, particularly we are interested in chunking parameters
example:
[code]

Also `8ms` for `open_dataset` is obviously too fast to read the data, still computing mean should read all the data and that takes only `8s <<< 30min`.

And for `gdalinfo` can you pleas re-run with `gdalinfo NETCDF:"/data/qtot/qtot_avg_1912.nc":qtot_avg`

[2019-07-03 04:32] fre171csiro commented on #756
[code]

[2019-07-03 04:34] fre171csiro commented on #756
[code]

[2019-07-03 04:46] Kirill888 commented on #756
@fre171csiro alright this is due to chunking along time dimension.

[code]

Datacube reads one time slice at a time, with this file structure reading 1 time slice means reading and uncompressing 75 time slices then throwing away 74 of them only to repeat that again. Known issue, and should be addressed within datacube, this requires using netcdf library instead of GDAL, since GDAL data model also

[2019-07-03 04:56] Kirill888 commented on #756
Related #625

[2019-07-03 05:00] fre171csiro commented on #756
Thanks @Kirill888 for the feedback and suggestions I will give the re-chucking a go.  As for the geo-registration I don't know and will get back to you

[2019-07-03 05:21] fre171csiro commented on #756
Ok as the data covers the whole of Australia I think what has happen is that a default of GDA94 is assumed
https://www.spatialreference.org/ref/epsg/4283/

[2019-07-03 05:44] sixy6e commented on #756
As there are no standard parallels defined, nor ellipsoidal parameters, it could be any geographical coordinate system.

[2019-07-03 06:00] Kirill888 commented on #756
@fre171csiro `rasterio` is the library we use to read the file, depending on how it was installed it might use custom version of gdal it ships. Can you try `rio info NETCDF:"/data/qtot/qtot_avg_1912.nc":qtot_avg`, also helpful to know

`rio --version` and `rio --gdal-version` and `gdal-config --version`

[2019-07-03 06:38] Kirill888 commented on #756
NetCDF/CF crs is specified through this mechanism:

http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#appendix-grid-mappings

so looks like this file is missing CRS. Maybe netcdf gdal driver assumes `EPSG:4326` if axis are `latitude/longitude`

[2019-07-03 07:22] fre171csiro commented on #756
`!rio --version = 1.0.22
!rio --gdal-version = 2.4.0
!gdal-config --version = 2.4.0`

[2019-07-03 07:27] fre171csiro commented on #756
So for `rio info NETCDF:"/data/qtot/qtot_avg_1912.nc":qtot_avg` we get the following where `"crs": null`

`WARNING:rasterio._env:CPLE_AppDefined in No UNIDATA NC_GLOBAL:Conventions attribute
{"blockxsize": 50, "blockysize": 1, "bounds": [111.975, -44.025000000000006, 154.025, -9.975], "colorinterp": ["undefined", "undefined", "undefined", "undefined", "undefined", "undefined", "undefined", "undefi

[2019-07-04 05:04] fre171csiro commented on #756
Ok I have tried to rechunk the netcdf file and I am not certain that I have achieve the desired outcome as load time has slowed down even more.

`nccopy -d5 -w -c time/1,lat/512,lon/512 qtot_avg_1912.nc qtot_avg_1912_chucked.nc`

produced

[code]

please ignore the spelling :-)

[2019-07-04 05:06] Kirill888 commented on #756
@fre171csiro you also need to increase chunk size in lat/lon axis, this file has way too many tiny chunks in each plane

[2019-07-04 05:07] Kirill888 commented on #756
You want  `_ChunkSizes = 1, 512, 512`

[2019-07-04 05:08] Kirill888 commented on #756
need `latitude` instead of `lat` on your conversion command

[2019-07-04 05:14] Kirill888 commented on #756
@fre171csiro can you also share your product definition, I'm curious why `.load` works even though files have no CRS and a sample dataset definition would be helpful.

[2019-07-04 05:19] Kirill888 commented on #756
Seems related #673.

this current issue is an example of where this "fallback" behaviour is more negative than positive.

[2019-07-04 05:24] fre171csiro commented on #756
[code]

[2019-07-04 05:38] Kirill888 commented on #756
yep, confirmed. @fre171csiro `storage` section is intended for "ingested" products, those generate storage files that are exactly as storage spec. For external data this is only valid if external data geo-referencing is identical across all files. Also note that Resolution and CRS is not sufficient to fully describe pixel grid, one also needs to know where pixel boundaries lie, if not specified da

[2019-07-04 05:58] Kirill888 commented on #756
Our docs are incomplete and but here is the spec for storage section:

https://github.com/opendatacube/datacube-core/blob/00649da11ed7bd70a8542f183d3920c4d693f72a/datacube/model/schema/dataset-type-schema.yaml#L103-L120

If your files are indeed all the same, you can specify `origin`, but best thing is to fix geo referencing on the file to be sure your data is returned with correct coordinates.

[2019-07-04 07:34] fre171csiro commented on #756
Thanks for your help @Kirill888.  Do you know if there is any future tutorials/workshops that help with data prep, product definitions, dataset definitions/prep, indexing and ingesting?

[2019-07-04 08:43] fre171csiro commented on #756
@Kirill888 your suggested chunking has improved load time
[code]

[2019-07-04 09:03] #756 closed, assigned to nobody

[2019-07-04 10:04] ghost commented on #754
Thanks. Thats a very helpful info. Is it alos possible to use ODC with RStudio ?

[2019-07-04 23:44] Kirill888 commented on #754
@prateekbudhwar I'm not familiar with R, I know it ca call out to python code, but not sure how well it supports `xarray` which is prerequisite for datacube.

I'm going to close this issue now, we do have Slack channel you are welcome to ask more questions there

[2019-07-04 23:44] #754 closed, assigned to nobody

[2019-07-05 07:30] ghost commented on #754
Thanks for helping out. Will join the Slack now. Cheers

[2019-07-10 07:29] emmaai opened #757 "Need formula to respect `nodata` in `virtual product`"
### Expected behaviour
Formula should respect the `nodata` defined in the input and output

[2019-07-12 01:24] emmaai opened #758 "Pixels buffer in apply_mask of virtual product"
### Expected behaviour
Accept the parameter of number of pixels in buffering when masking.

[2019-07-15 01:19] uchchwhash opened #759 "Procedures in `datacube.storage.masking` do not respect `NaN` nodata"
### Expected behaviour
Suppose I have a `DataArray`:
[code]
I expect `valid_data_mask` to exclude the `nan` entry.

### Actual behaviour
It does not:
[code]

### Steps to reproduce the behaviour
As above.

### Environment information

* Which ``datacube --version`` are you using?
ODC version 1.7

* What datacube deployment/enviornment are you running against?
Does not matter.

* Related issues:

[2019-07-15 22:44] #759 closed, assigned to uchchwhash

[2019-07-15 22:46] Kirill888 commented on #750
Should be fixed by #760

[2019-07-15 22:46] #750 closed, assigned to nobody

[2019-07-16 06:09] uchchwhash commented on #758
Closed by #763

[2019-07-16 06:09] #758 closed, assigned to emmaai, uchchwhash

[2019-07-16 06:26] #757 closed, assigned to uchchwhash

[2019-07-18 01:39] woodcockr opened #766 "Multiple database support"
The idea will be to add support for multiple databases to be specified and used by the ODC API, in the database.conf file, dc.load() and the prototype dc.save(). By default the ODC code would behave in exactly the same way, simply iterating over all specified databases to search for the appropriate product and then directing calls to that database in order to retrieve data. Initially this would su

[2019-07-18 01:42] woodcockr opened #767 "Replace the ODC Index and API"
The Database API is used in the ODC Core for all access to the ODC Index. The Index is intended to be very flexible in the metadata formats it supports, while also maintaining high performance searching across multiple dimensions.

Mostly, it has been successful in these goals. Unfortunately, while trying to implement improvements like fast extents queries (link), native resolution data loading (i

[2019-07-18 09:03] emmaai opened #769 "Carry resolution information when loading"
### Expected behaviour
Should be able to get the resolution  from `xarray.attrs` when the `xarray.shape=(1, 1)`

### Actual behaviour
`xarray.geobox` fails without any error message

Related #752

[2019-07-18 11:42] uchchwhash commented on #769
Essentially duplicate of #752, I think we should continue the discussion there.

[2019-07-18 11:42] #769 closed, assigned to nobody

[2019-07-28 22:58] Kirill888 opened #777 "Dockerfile and third-party libs"
There has been some discussion on Slack related to `Dockerfile` and various choices that were made with respect to choice of pre-compiled third-party libs. Since Slack message threads disappear let's continue this discussion here.

Some facts about current system in no particular order

- Docker is based of ubuntu:18.04
- Docker uses `ppa:nextgis/ppa` to get more recent `libgdal`
- Docker builds p

[2019-07-28 23:05] woodcockr commented on #777
Minor correction, the issue is with `cartopy`, `holoviews`, and `shapely` needs a `--no-binary shapely` in order for `cartopy` to not have a Segmentation Fault

[2019-07-28 23:07] Kirill888 commented on #777
@woodcockr thanks for correction can you please provide more detail as to what did and didn't work and changes you had to make to get the system working for you.

[2019-07-28 23:12] Kirill888 commented on #777
More facts about current state:

- `libgdal` from `nextgis/ppa` is missing important dependencies so we can not build `rasterio` against it, in particular netcdf and jp2 support is absent.
- `rasterio` doesn't work with `libgdal` 3 and up
- `rasterio` doesn't work with `libgdal` compiled against latest `libproj`, needs `libproj < 6`
- `nextgis/ppa` works for our tests but is not a good fit for san

[2019-07-28 23:21] Kirill888 commented on #777
I believe that the best way to deal with all this mess is to compile gdal/geos/proj from source, then build binary wheels against that set of libs:

I have started experimenting with this approach here:

- https://hub.docker.com/r/kkodc/geo-builder
- https://hub.docker.com/r/kkodc/geo-python-base/dockerfile

Basic idea is to have `builder` docker that contains the right clibs, then we use two stag

[2019-07-28 23:30] woodcockr commented on #777
This is both what I did and my current docker image structure since they are related.
Docker images, layer on atop the other:
1. datacube-core:1.7
2. easi-dask: add dask and any additional python libs for the EASI environment -> Holoview and Cartopy added here since these aren't part of datacube-core proper
3. easi-jupyter-singleserver: The jupyter singleserver image, includes jupyter libs and ext

[2019-07-28 23:34] alexgleith commented on #777
So, if we were to shift to doing low-level builds, I think we stand on the shoulders of others.

Evan Rault has done some work recently doing GDAL builds, see this as a full Ubuntu example: https://github.com/OSGeo/gdal/blob/master/gdal/docker/ubuntu-full/Dockerfile

Perhaps we should be starting with that image, and installing the ODC and Python dependencies on top of there?

What I would say is

[2019-07-28 23:35] Kirill888 commented on #777
@woodcockr can you include output of:
- `pip3 freeze`
- `gdal-config --version`
- `rio --version`
- `rio --gdal-version`

Anything AWS/s3 related with `rasterio` will be somewhat broken because of `rasterio` version pin. There was a lot changes in that area recently so `rasterio==1.0.18` is problematic as well as old `libgdal`.

[2019-07-28 23:37] Kirill888 commented on #777
@alexgleith I looked through those and copied a lot of dependency libs from there. Looks like Even is mostly concentrating on 3+ version, understandably so, but due `rasterio` we need `2.4.X`.

[2019-07-29 00:20] woodcockr commented on #777
@Kirill888 I doubt the `rasterio==1.0.18` is required for the fix. Just a left over from the debug process since I haven't completed the version rationalisation yet.

Here's the output from the commands:

[code]
<details><summary>pip3 freeze (click to expand)</summary>

[code]
</details>

[2019-07-29 00:21] woodcockr commented on #777
Additional note:
gdal is being restricted in `setup.py` to be `<3` to avoid it being upgraded

[2019-07-29 01:09] Kirill888 commented on #777
@woodcockr python version of `gdal` really has to match clib version, in your case clib is 2 minor releases behind. GDAL has large surface area and this mismatch probably doesn't matter in the code we use, but who knows. Recommended way is to install same version as clib:

[code]

So you are only building `shapely` locally and pull the rest with binary dependencies, in particular `rasterio` will b

[2019-07-30 22:22] woodcockr commented on #777
For the information others, working with @Kirill888 who provided me a solid foundation for building the geospatial c-libraries from source followed by python geospatial libraries, we now have a newly minted capability to build out `datacube-core` Docker images ensuring geospatial dependencies are consistent throughout.
There are two new repositories that are required for this to work and then some

[2019-07-30 22:52] alexgleith commented on #777
So, for my $0.02, I think we need should be careful about introducing another 'layer' in our Dockerfile build stack.

Currently it's really clean, and just goes from `ubuntu:18.04` and follows through the same build process as our test suite, so we're (kind of) testing our Docker build when we test our actual dev codebase. I understand we have issues currently, though, so we need to change it up a

[2019-07-30 23:08] Kirill888 commented on #777
@alexgleith  I looked through gdal dockers quite a bit:

1. They target 3+, there is no 2.4.X on their  docker hub, and `rasterio` demand 2.4.X
2. They are very dev focused, not release focused, (run `rsync` in a separate docker to get `ccache` going and all that, totally justified for development, not so much for release)
3. They are still multi-stage: build in one run in another, otherwise you e

[2019-07-30 23:13] Kirill888 commented on #777
@alexgleith image is based on ubuntu:18.04 by the way

[2019-07-31 00:44] woodcockr commented on #777
@alexgleith - I agree with @Kirill888. the Osgeo is very similar in approach and has the same level of layering. Our main issue is having sufficient control to finesse the setup so it meets our dependency requirements. It's actually quite simple in the end so I can't see if being a major issue maintaining it.

[2019-07-31 01:38] robbibt opened #779 "Average resampling in dc.load produces misleading results and lost data at coarse resolutions"
### Expected behaviour
When using `dc.load()` to load high resolution data (e.g. 25m) at a low resolution (e.g. 5000m), I expect to be able to use `resampling='average'` parameter to return a low resolution output where each pixel has the average value of all contributing pixels in the native high-res data.

For example, I would like hi-res data that looks like this:
![Capture](https://user-images

[2019-07-31 02:17] Kirill888 commented on #779
This is due to a change to use decimating read followed by re-project starting from 1.7 release, feature was added to support reads from overview images.

Data loading happens roughly like this within datacube (this for one time slice, ignoring multi-source fusing for simplicity):

1. Datacube figures out what region of source image to read and at what scale
2. Datacube ask IO driver to read that

[2019-07-31 03:03] emmaai commented on #748
Turned out the newer version of jsonschema doesn't help in fixing the bug. It showed up again. Is there any "fast" way to fix it?

[2019-07-31 03:50] Kirill888 commented on #748
@emmaai fast way to fix it is to not validate product, or not do product adding in worker threads, do it all ahead of time

[2019-07-31 06:39] woodcockr commented on #777
So testing in the AWS environment seems to work. I think we can streamline this somewhat to make life easier and do it one hit in the datacube-core dockerfile per part of @alexgleith suggestion.
In any event, its nice to have `holoviews` working. Looks nice in the jlab setup

[2019-08-02 05:36] omad commented on #777
@Kirill888 afaict `rasterio` is supposed to work fine with GDAL 3+ and Proj 6. However, they haven't sorted out building wheels against them yet. I haven't tried anything myself yet, but poking around on their repos/issues.

[2019-08-02 05:47] Kirill888 commented on #777
@omad

on their github readme

[2019-08-02 05:50] woodcockr commented on #777
And the 1.0.25 release notes:

https://github.com/mapbox/rasterio/issues/1734

[2019-08-02 05:52] woodcockr commented on #777
but GDAL 3 is part of the CI/CD pipeline so WIP.

[2019-08-02 05:53] omad commented on #777
Okay, my bad. Looks like code changes have been merged, but not released yet.

https://github.com/mapbox/rasterio/pull/1729 and https://github.com/mapbox/rasterio/pull/1733

[2019-08-13 06:22] alexgleith commented on #193
If this has yet to be implemented, then I feel like there's no clear use-case and we should probably close the issue.

[2019-08-13 06:53] alexgleith commented on #238
I'm going to close this issue. There's some examples with accessing public data available now, such as [Cube in a Box](https://github.com/opendatacube/cube-in-a-box).

[2019-08-13 06:53] #238 closed, assigned to nobody

[2019-08-13 06:56] Kirill888 commented on #193
lets close it, we might add "dataset version tracking" to ODC 2.0 proposal if there is interest.

[2019-08-13 06:56] #193 closed, assigned to nobody

[2019-08-13 07:05] alexgleith commented on #246
Closing this issue. If there are any remaining issues with data indexing or preparation scripts, please check against the scripts in this new repository: https://github.com/opendatacube/datacube-dataset-config

[2019-08-13 07:05] #246 closed, assigned to harshurampur

[2019-08-14 00:49] alexgleith commented on #374
Requires.io has been implemented and appears to be working ok.

[2019-08-14 00:49] #374 closed, assigned to alexgleith

[2019-08-14 00:57] alexgleith commented on #455
This looks like a pretty complex issue to reproduce... I guess we need to keep it open though, as it's valid still.

[2019-08-14 01:01] alexgleith commented on #459
Hey @carguel, I'm going to close this issue as it hasn't had any input for quite a long time.

For future reference, the ODC can be used in a number of ways that means that it can scale horizontally. For example, the ODC integrates well with Dask, for example, see [here](https://github.com/opendatacube/datacube-conference-2019/tree/master/dask_implementation).

And it can be deployed as an OGC Web

[2019-08-14 01:01] #459 closed, assigned to nobody

[2019-08-14 01:04] Kirill888 commented on #455
@alexgleith problem happens every time, just run stacker with the check eneabled, so no issue with reproducibility. Difficult to diagnose though, is the problem inside netcdf lib or the way we use it, or interactions with gdal/h5py?

[2019-08-14 01:11] alexgleith commented on #471
Is there any downside to using proper database relationships rather than either ID references without relational key enforcement or the current (not ideal) method of repeating the entire chain of metadata?

[2019-08-14 01:17] alexgleith commented on #54
I think this is covered in #672

[2019-08-14 01:17] #54 closed, assigned to nobody

[2019-08-14 01:49] Kirill888 commented on #471
@alexgleith we do use "proper database relationships", in the database. We also dump those relationships to disk when generating new datasets. The proposal was to just dump relations and not full metadata of the "parent" datasets. With EO3 style metadata we already do what this thing was proposing.

I would leave this open until we move EO3 support out of dea-proto into datacube-core

[2019-08-14 05:09] alexgleith commented on #739
Fixed in #785

[2019-08-14 05:09] #739 closed, assigned to nobody

[2019-08-14 05:13] alexgleith commented on #738
This is done, right @Kirill888?

[2019-08-14 06:53] Kirill888 commented on #738
yes, except for (4)

[2019-08-14 06:53] #738 closed, assigned to nobody

[2019-09-09 06:59] robbibt opened #794 "'Australian Users' documentation out of date"
### Actual behaviour
The OpenDataCube read-the-docs has a page called 'Australian Users > NCI Usage Guide' which provides info on how to connect to DEA using the VDI. This page appears very out of date, referencing 'AGDC', and `agdc-py2-prod` modules.

https://datacube-core.readthedocs.io/en/datacube-1.4.1/user/nci_usage.html

Does this page even need to exist now we have a DEA read-the-docs?

[2019-09-09 07:02] uchchwhash commented on #794
Are you looking at the latest version of the document though? Your URL refers to a much older version 1.4.1. The current version is of course 1.7.

Maybe you meant to look at https://datacube-core.readthedocs.io/en/latest/?

[2019-09-09 08:05] robbibt commented on #794
@uchchwhash  Yes, looks like the version Google took me to is way out of date. Will close!

[2019-09-09 08:05] #794 closed, assigned to nobody

[2019-09-12 09:03] jankovicgd opened #798 "Importance of yml files after indexing completion"
Hi all, more of a question, sorry if not the right place.

I am planning on setting up a continuous indexing chain that involves several scripts, pieces of software, servers and apis etc. and the final destination is `opendatacube`.

Since the scripts are indexing and creating many yml files daily, I might want to move these to a separate directory after indexing to avoid a heavy load with already

[2019-09-12 23:04] alexgleith commented on #798
Hey @jankovicgd

The .yaml files are generally used for dataset level metadata, and as such, I'd suggest that you want to keep them with your data files in case you want to index again in the future. This means the ODC implementation you have is reproducible, which is important, and the data will be potentially useable in other software, so the ODC is not the only way to use the data.

[2019-09-16 08:14] jankovicgd commented on #798
This is definitely a good idea, however there is a whole mess of how our folders and datasets are structured currently and the load of new files coming in. Some datasets contain multiple files as separated bands in different folders and some datasets have bands inside a single file etc. My question was just if there is any loss of functionality if these yml files are moved from their path, after i

[2019-09-26 11:15] amruthkiran94 opened #801 "RuntimeError: NetCDF: HDF error"
Hello all,
I've followed the installation as per the documentation at `datacube-ui/docs` for both the datacube as well the datacube-ui installation. There a few problems with both of them.

1. Installation for the datacube-core via `pip` and `virtualenv` or ` datacube_env` prompts with the following error while ingestion :
[code]
Running on Ubuntu 18.04 LTS, Datacube Latest pull from git. GDAL = 2

[2019-09-27 00:29] benjimin commented on #801
Regards part 2 (datacube installed per the recommendations in the core docs; datacube apparently working but datacube-ui broken) perhaps should raise issue to data_cube_ui directly?

[2019-10-02 02:13] Kirill888 opened #802 "Support retries when reading from network resources"
Introduction
============

Datacube now supports network resources, particularly Cloud Optimized GeoTIFFs residing on S3 or other HTTP based storage systems. Network resources might experience intermittent failures. For example when working with S3 one can hit request limits, in which case server will respond with `5XX` response. `GDAL` does not attempt to retry internally as far as I can tell, ne

[2019-10-04 00:19] snowman2 commented on #519
Is there interest to use `rioxarray` in `datacube`?

[2019-10-15 04:14] omad commented on #519
@snowman2 Definitely! But, it's still in the backlog with a lot of other internal changes we want to make. The core developers have been doing a lot more application and product delivery work lately, not so much time for internals.

[2019-10-15 12:54] snowman2 commented on #519
Sounds good. Would it be useful for me to have a go at integrating it into the code?

[2019-10-15 23:35] omad commented on #519
Thanks for the offer! I think we need more detailed conversation with @Kirill888 , @uchchwhash and @alexgleith . To make sure we're all on the same page and not doubling up or wasting effort. I'll try and sound out availability.

[2019-10-16 00:04] snowman2 commented on #519
Sounds like a good plan to me :+1:

[2019-10-16 22:19] Kirill888 commented on #737
Related issue and an annoying discrepancy is #556 when working with `EPSG:4326`.

Have to use `lat|lon` names in your product spec, but `y,x` in your dataset yaml :nauseated_face:

[2019-10-16 22:21] Kirill888 commented on #567
Related issue and an annoying discrepancy is #556 when working with `EPSG:4326`.

Have to use `lat|lon` names in your product spec, but `y,x` in your dataset yaml :nauseated_face:

[2019-10-17 03:48] Kirill888 commented on #567
make it `latitude|longitude` not `lat|lon`

[2019-11-06 04:34] benjimin opened #807 "`Datacube.load` should better support `CRS` object and atemporal products"
Support for atemporal products (such as a static DEM) should be improved, particularly in `Datacube.load` as in this example where the `like` parameter behaves unexpectedly. Also, the same function should fully support the `datacube.utils.geometry.CRS` object, rather than requiring e.g. WKT conversion for some fields and not others.

Obvious use case: extract any limited xarray from a datacube, th

[2019-11-06 05:06] Kirill888 commented on #807
@benjimin open time ranges is what needed in this case. The reason why `like` doesn't work in this case is that

1. It injects `time=()` into a query, because input has time axis
2. We do not have open ended ranges so we can't mark "atemporal"  datasets with `time=(0, +inf)`

Work around for your case is to remove `time` dimension when using `like=` parameter:

[code]

[2019-11-06 05:08] Kirill888 commented on #807
Also see #808, when merged you'll be able to do:

[code]

[2019-11-12 01:59] benjimin commented on #807
Yep, query by geobox is helpful. (Had totally forgotten I'd offered a PR for that years ago.)

Still, `crs` argument of `Datacube.load` should tolerate a datacube `CRS` object, don't you think?

[2019-11-12 02:01] Kirill888 commented on #807
@benjimin I missed that part, can you make a new issue for that, certainly `output_crs=` can/expects CRS object, I assumed same applied to `crs=`

[2019-11-12 03:14] snowman2 opened #810 "Make the CRS class compatible with pyproj.CRS, rasterio.CRS and fiona"
https://github.com/opendatacube/datacube-core/blob/5ca7cf1b3cc2cad47f88cacf99da95057868c3f8/datacube/utils/geometry/_base.py#L93

Rasterio:

https://github.com/mapbox/rasterio/blob/cefb90a98ca34b9ea2c747d0beae72781485a1af/rasterio/crs.py#L448-L452

pyproj:

https://github.com/pyproj4/pyproj/blob/bbaaff08eb0ffebed5189c611ea0956c5a5aaaa3/pyproj/crs.py#L432-L433

Suggestions:
1. Add `to_wkt()` method

[2019-11-12 03:18] uchchwhash commented on #810
Hi @snowman2, would you expand on suggestion 2 a little?

[2019-11-12 03:30] snowman2 commented on #810
This would allow you to pass a rasterio.CRS or pyproj.CRS into the constructor and create a geocube CRS object. Reason for using the `to_wkt()` method: https://proj.org/faq.html#what-is-the-best-format-for-describing-coordinate-reference-systems

[2019-11-12 03:33] Kirill888 opened #811 "`query_geopolygoon` doesn't work when `crs=` parameter is CRS (and not string)"
### Expected behaviour

[code]

I expect both lines to be valid and produce the same polygon.

### Actual behaviour

[code]

this was reported by @benjimin in #807.

[2019-11-12 03:34] snowman2 commented on #810
Related to: #811 #807

[2019-11-13 01:54] #810 closed, assigned to nobody

[2019-11-13 01:54] #811 closed, assigned to nobody

[2019-11-13 03:34] Kirill888 commented on #807
So the CRS part is fixed by #812. Hopefully #808 helps with atemporal products. And since we already have #183,  I'm going to close this issue.

[2019-11-13 03:34] #807 closed, assigned to nobody

[2019-11-13 03:39] Kirill888 commented on #802
Correction: GDAL does support retries see this commit https://github.com/opendatacube/datacube-core/commit/81bed714f2e5cb30a2492f1b0cf3397b79141c3a

Nevertheless having more control over what happens when load failure occurs is still usefull.

[2019-11-14 00:37] alexgleith opened #813 "Enable per-band scaling and band math (lambda) functions"
### Expected behaviour
* I can use a band combination ( e.g., `band_1` / `band_2`) instead of just using a single band for each of R, G and B bands.
* R, G and B bands can have separate scaling range

### Actual behaviour
RGB works, or lambda works, or there's a hacky workaround. And there's only one scaling for either RGB or Lambda.

### Steps to reproduce the behaviour
?

### Environment informa

[2019-11-14 00:37] alexgleith commented on #813
Damn this is on the wrong project...

[2019-11-14 20:14] wscullen opened #814 "Conda and GDAL 3 (changes to how TransformPoint works)"
### Expected behaviour
Spatial queries to load data.

### Actual behaviour
Spatial queries are always empty.

### Steps to reproduce the behaviour
If GDAL 3 is installed, lat and longs are swapped when indexing datasets. If steps are taken to adjust preparation scripts to the output produced by GDAL 3, even if lat long are correct, no spatial queries will work because the lat and longs are swapped

[2019-11-14 23:20] Kirill888 commented on #814
@sscullen thanks for the report, we haven't really tested GDAL 3 yet, primarily because `rasterio` only recently started supporting it. Although I believe @emmaai did try running with GDAL3 and contributed this https://github.com/opendatacube/datacube-core/commit/02b91671b2e8b044eef113fe639984402ee7f29f#diff-631065f019871752271f07ecc08d17cc, #799 to make it work for her case.

This issue is really

[2019-11-15 05:29] SpacemanPaul commented on #814
Don't have a reference handy, but iirc GDAL3 finally fixed a LONG standing bug where the co-ordinate ordering specified by the CRS definition was ignored. Where it worked with GDAL2 there was a workaround in place to bypass this bug which will now break things in exactly the way you describe with GDAL3.

I had to switch to running in Docker to get around this issue.

[2019-11-15 09:27] jankovicgd opened #815 "KeyError: 'latitude' when working with netCDF product"
I am trying to provide a custom netcdf file with ODC. The indexing works but then working with it throws errors. The file is CF compliant, tested with an online compliance check. Tried also with `x` and `y` in the dataset yml. Is this related to https://github.com/opendatacube/datacube-core/issues/567?

### Expected behaviour
Retrieve products and load data.

### Actual behaviour

[code]

### Step

[2019-11-15 09:30] jankovicgd commented on #798
I did some testing. The yml metadata file can be moved. I am still unclear whether indexing continually the same directory with same+new yml files would cause a drop in performance. As far as I'm concerned this issue can be closed.

[2019-11-18 00:12] Kirill888 commented on #815
@jankovicgd datacube support for `EPSG:4326` is kinda broken right now, you already mentioned #567 but there is also #556. For your specific case work around is:

1. Use `latitude`, `longitude` in the product spec `storage.resolution.{latitude|longitude}` (you use `lat`, `lon`
2. But in the dataset use `x,y` names: `grid_spatial.projection.geo_ref_points.{ll|lr|ur|ul}.{x|y}`

It's annoying and bro

[2019-11-18 06:22] Kirill888 opened #816 "Newer xarray breaks grid workflow"
These two lines used to return a single value, but with current xarray it returns an array instead:

https://github.com/opendatacube/datacube-core/blob/c4595b91387011d4deec3c2d63f88e9e9aa01573/datacube/api/grid_workflow.py#L113-L114

which then breaks inside pandas somewhere

[2019-11-18 10:39] jankovicgd commented on #815
Thanks for the reply, I will try it out.

[2019-11-19 00:25] Kirill888 opened #818 "Migrate to newer netcdf `compliance-checker` for tests"
We use `compliance-checker==3.1.1` on travis when running tests, and it works fine, but newer versions of `compliance-checker` generate errors.

`3.1.1` was released in Oct 2017, current newest version is `4.2.2`.

Our `setup.py` does not include version guard for `compliance-checker` so default install `datacube[test]` will not produce an environment that can pass tests.

We should probably just

[2019-11-20 21:10] Kirill888 commented on #777
Most of the work was happening here for now:

https://github.com/Kirill888/geobase

This will be moved into `opendatacube` org at some point, or at least ideas from that repo.

[2019-11-21 09:19] jankovicgd commented on #815
This solved my initial problem but now I seem to get a new error with the `Datacube.load()` function. I got the same error with some different datasets as well. Tried https://github.com/opendatacube/datacube-core/issues/421 but unfortunately it didn't work. The original issue can be closed though but I might need some help here too.

[code]

[2019-11-21 11:20] Kirill888 commented on #815
@jankovicgd for netcdf files `layer`  parameter in the dataset definition must refer to the variable name inside netcdf file, I guess it should be `layer: deformation_up_down` in your case, but you have `layer: 1`, the fact that `dc.load` attempts to load a variable named `None` instead of reporting  an error is obviously a problem that should be fixed, I'll make a separate issue for that.

[2019-11-22 08:42] jankovicgd commented on #815
Thanks for the help @Kirill888, this has worked! Maybe also an update to the documentation since I only understood that `layer` parameter represents the order of layers in the dataset. You may close this.

[2019-11-25 01:32] Kirill888 opened #820 "Netcdf reader doesn't handle missing layer definition correctly"
This was reported by @jankovicgd in the #815 issue. Mis-configuration in dataset yaml document leads to confusing error messages that do not guide user to possible solutions.

[code]

For netcdf sources `layer` key in the measurement section ought to contain the name of the netcdf variable to read. This same key is expected to contain band index for other types of sources like GeoTIFF, so it's eas

[2019-11-25 01:32] #815 closed, assigned to nobody

[2019-12-01 23:15] #820 closed, assigned to nobody

[2019-12-01 23:22] Kirill888 commented on #814
This PR #821 also includes fixes for unit tests that were failing when running against GDAL3/PROJ6.

[2019-12-03 05:21] Kirill888 commented on #777
Ownership was transferred to `opendatacube`

- https://github.com/opendatacube/geobase

Images are pushed to `opendatacube/geobase` from GitHub Actions
- https://hub.docker.com/repository/docker/opendatacube/geobase/general

There is also a sandbox image, meant to be a replacement for `opendatacube/jupyterhub`, but with working `pyproj|cartopy`
- https://hub.docker.com/repository/docker/opendatacu

[2019-12-03 05:38] alexgleith commented on #777
Hey @woodcockr, how does this look for you? Do you think you'd build images on top of `geobase` or would you prefer to be building on a `datacube-core` image?

I'm inclined for us to be building a `datacube-core` image, in the following way:
1. `opendatacube/datacube-core:latest` is built and tested off the source code in the `develop` branch in this repo
2. we build each release tag into `opendat

[2019-12-03 05:48] Kirill888 commented on #777
@alexgleith the way I see it, current base image solves two problems

1. Sort out python environment with tricky to install dependencies (GDAL, rasterio, pyproj)
2. Provides consistent config for `datacube-core` from environment variables

Problem (1) is solved by geobase in a way that generates more efficient (minimal, no compilers, no test requirements, some of which are quite heavy) and more co

[2019-12-03 05:55] alexgleith commented on #777
Fair enough.

I guess a question then is do we make an interim `datacube-core` using the new method, so that people with downstream Docker builds can keep working the same, but push them to update to the new suggested method, or do we just leave the old way there, and strongly encourage people to do images different with docs and stuff and deprecate the `datacube-core` image?

[2019-12-03 06:34] Kirill888 commented on #777
We can make a "compatible-ish"  `datacube-core` image

It will look like this thing:
- https://github.com/opendatacube/geobase/tree/master/odc-index

but with different `requirements.txt`

Config generation is done by this python script:

https://github.com/opendatacube/geobase/blob/master/odc-dev/dc_config_render.py

It should be compatible with the current docker instructions for config but also

[2019-12-03 06:59] Kirill888 commented on #777
Problem with docker in general, is that it's basically impossible to define what is "compatible", I'm sure there are down-stream dockers that assume that compilers and various dev libraries are installed in the `datacube-core`, so if we make a more minimal version those will simply break anyway.

[2019-12-03 07:00] Kirill888 commented on #777
But I also strongly doubt that anyone but us use `opendatacube/datacube-core:latest` as base for anything anyway.

[2019-12-03 22:46] Kirill888 opened #824 "Support GDAL "/vsi*" paths directly"
Normally we rely on URL syntax for defining paths to assets of a dataset. `rasterio` library converts those to GDAL's VSI syntax for us. For example `https://host.tld/file.tif` will become `/vsicurl/https://host.tld/file.tif`. Nesting is also supported via `+`, for example `http+zip://`.

Sometimes however one needs to fallback to raw GDAL syntax. It should be possible to define dataset location a

[2019-12-03 22:51] Kirill888 commented on #824
Looks like netcdf over http case requires `vsicurl/` paths right now as it's not clear how to specify band names in the url syntax and `vsi` fallback can be used in the interim.

[2019-12-03 22:55] alfredoahds commented on #824
This used to be something we could simply handle on the driver level by having our compatibility layer return `Dataset` objects with a custom `uri_scheme` defined that would route the rasters through our driver, but v1.7 started parsing the uri_scheme from the uri rather than pulling it from the `Dataset` objects. I've been tinkering with restoring that sort of scheme on our end but it'll involve

[2019-12-03 22:57] Kirill888 commented on #824
Thanks @alfredoahds so we need to detect all "HDF:" prefixes as well as `/vsi.*` for "raw gdal syntax" paths.

[2019-12-03 22:59] Kirill888 commented on #824
I guess alternative is to still "wrap" path in `NETCDF:"{file|vsi path}":band`, and just detect `vsi_path` strings.

[2019-12-03 23:05] snowman2 commented on #824
I think the simplest solution would be to add support in rasterio directly. In this scenario, no `vsicurl` support needed in datacube. Issue about it here: https://github.com/mapbox/rasterio/issues/1838.

[2019-12-03 23:10] Kirill888 commented on #824
@snowman2 agree, but having fallback to gdal vsi paths be available is still useful.

[2019-12-03 23:11] snowman2 commented on #824
Agreed 👍

[2019-12-04 03:12] Kirill888 opened #826 "No validation of config in ingestor"
### Expected behaviour

When user supplies mal-formed ingestor configuration I expect errors to be reported to the user, instead exception with `KeyError` is raised.

### Actual behaviour

ingestor does not check that `src_varname` is valid for source product, resulting in errors like following (reported on slack):

[code]

### Steps to reproduce the behaviour

Create ingestor config with mis-spel

[2019-12-04 03:43] #824 closed, assigned to nobody

[2019-12-04 04:34] Kirill888 commented on #816
fixed by #817

[2019-12-04 04:34] #816 closed, assigned to nobody

[2019-12-04 04:38] Kirill888 commented on #798
@jankovicgd re-indexing same folder over and over will not change anything in the database, indexing step detects that dataset with a given UUID already exists at the same location and won't do anything at this point.

[2019-12-04 04:38] #798 closed, assigned to nobody

[2019-12-04 04:43] Kirill888 commented on #814
@sscullen as of a62214fca590382c44e15302d9647c2c783535b2 all `datacube-core` tests pass when running with GDAL-3.0.2 and PROJ6.

Prepare scripts are still broken, but since these are in a separate repo, I'm going to close this issue. Any further discussion should go here:

https://github.com/opendatacube/datacube-dataset-config/issues/10

[2019-12-04 04:43] #814 closed, assigned to nobody

[2019-12-04 04:53] woodcockr commented on #777
This looks like it will work for us, similar to the original pattern @Kirill888 setup that CSIRO currently uses but with some of the extra libraries.
The way we are setup in our dev pipeline is will build the full set of images ourselves and tag our own versions accordingly. We do occasionally use a opendatacube supplied image (and often latest ;-) ) if we don't yet have that in our CI/CD pipeline

[2019-12-04 21:59] alexgleith commented on #777
The way I've done things in the past with, say, GeoServer, is use the default until I can't, then use their image as a template to build my own with.

I think what you're saying, around creating an opinionated build, which people can use or extend or simple use as a reference, is a good idea.

[2019-12-05 00:10] Kirill888 commented on #777
@alexgleith approach you are describing works for "tools", like GeoServer, or Postgress or nginx. But datacube is more of a library than a tool. What one can do with a docker image containing nothing but `datacube` cli tools? Only index/archive datasets to some external db. And even that you won't be able to do unless you install extras like awscli.

Libraries are different, you can't docker-compo

[2019-12-05 05:00] Kirill888 opened #828 "Drop support for Python 3.5"
Python 3.5 is now 5 years old, it is no longer being developed. There are no plans to make new releases past 3.5.9 that came out last month.

Some prominent Python libraries are starting to drop support for Python 3.5 (Django 3 for example).

Version of python3 on current stable Ubuntu is 3.6.9.

There are a number of annoying differences between Python 3.5 and newer Python3.6. Mostly to do with `

[2019-12-05 05:21] Kirill888 commented on #818
only working with newer one now.

[2019-12-05 05:21] #818 closed, assigned to nobody

[2019-12-05 13:33] snowman2 commented on #828
Also related:
https://github.com/pydata/xarray/pull/3358

[2019-12-06 00:45] Kirill888 commented on #828
Thanks @snowman2 very useful links that I could not find yesterday. If `numpy` and `xarray` are planning on dropping 3.5 "very soon" then that makes our choice much easier.

[2019-12-09 22:37] jcrattz commented on #517
So we'll need to check if the configuration file exists, and if it doesn't, inform the user (also linking to the [documentation on the config file](https://datacube-core.readthedocs.io/en/datacube-1.4.1/ops/db_setup.html#create-configuration-file)?) but is there anything else about this that we should know (common error cases other than the config not existing where expected)?

[2019-12-09 22:47] omad commented on #517
I think the main error is when no configuration file exists. I believe there are already reasonable error messages printed for things like the database not being initialised, or not being able to connect to the database.

The change @Kirill888 mentioned in the Zoom about configuration via environment variables alone will impact this, but, can be dealt with later.

[2019-12-09 23:01] omad commented on #828
Awesome. That means I can start using f-strings all over the place! :D

[2019-12-09 23:53] dlubawy-ama commented on #464
I can take this one for the Bug Squash.

[2019-12-10 00:08] jcrattz commented on #517
So is it OK for me to work on this, or should I work on something else?

[2019-12-10 00:11] omad commented on #517
Go for it!

[2019-12-10 00:49] Kirill888 commented on #517
I can add config from ENV in a way that should not interfere with your work @jcrattz, I'll start with just copying functions for parsing that, we can plug it in later.

[2019-12-10 01:15] Kirill888 opened #829 "Read datacube configuration from a single Environment variable"
Common way to pass configuration into docker container is via environment variables. Currently this means using docker entry point mechanism to render passed environment variable into a datacube config file. This adds to system complexity and fragility, for example writing config might fail due to filesystem permissions. Having many environment variables, which is the current approach, also adds c

[2019-12-10 04:03] omad opened #830 "Change internals from using AGDC to using ODC"
It's been a few years since Open Data Cube was named, but there are still plenty of internal references to the Australian Geoscience Data Cube. It would be great to change these.

Including:
- Database Schema Name
- Created PostgreSQL roles
- Test database
- Lots of configuration references

[2019-12-10 04:12] omad opened #831 "Replace usage of PyPEG2 with lark-parser"
PyPEG2 is used for parsing search expressions, but hasn't been updated for years. We have had problems setting up Datacube environments when the PyPEG2 package has strange pinned dependencies.

Lark-parser is also much nicer to use.

[2019-12-10 16:16] jdh-ama commented on #826
I will work on this.

[2019-12-10 16:25] jdh-ama commented on #826
We could take advantage of this library for YAML schema validation.

https://pypi.org/project/pykwalify/
http://www.kuwata-lab.com/kwalify/ruby/users-guide.01.html#schema

[2019-12-10 19:12] dlubawy-ama commented on #464
Seems you can't use SQLAlchemy to escape usernames or roles because it wraps them in single quotes which make the PostgreSQL command fail. It works for passwords and description though so I've made that change, but due to the mentioned single quote problem I've kept String.format for the username and roles.

[2019-12-10 22:11] #464 closed, assigned to nobody

[2019-12-10 22:33] Kirill888 commented on #826
Thanks @jdh-ama as for schema validation we currently use is `jsonschema`

https://github.com/opendatacube/datacube-core/blob/1b649b59aa66ac6fe655f6dee0c841ff2fba9fa7/datacube/utils/documents.py#L542

Used like this here:

https://github.com/opendatacube/datacube-core/blob/1b649b59aa66ac6fe655f6dee0c841ff2fba9fa7/datacube/model/__init__.py#L394-L395

I'm not familiar with this space and there are

[2019-12-11 00:41] petewa commented on #752
I couldn't find a clean and neat way to fix this as part of Bug squash 2019.

I attempted to persist the updated resolution (non-native xarray metadata) attribute but does not seem to be propagated through the xarray native operations.

I also attempted to use `with xr.set_options(keep_attrs=True):` without success.

One solution I found is to override xarray's slice operator within ODC codebase t

[2019-12-12 00:39] Kirill888 opened #837 "Understand NetCDF CF convention for projection info in `.geobox` property"
### Expected behaviour

`xr.open_dataset(<netcdf CF file>).geobox is not None`

### Actual behaviour

netcdf cf files loaded via `xr.open_dataset` are seen as not-georegistered by datcube `.geobox` extension. Even for files produced by datacube itself.

Also see comment thread in https://github.com/opendatacube/datacube-core/pull/835#issuecomment-564590677

[2019-12-12 01:19] snowman2 commented on #837
I think demonstrating what this would look like would be the most useful I think. One benefit of writing the CRS this way is that it can be understood natively by software using GDAL such as QGIS or rasterio and it can also be understood by newer versions of ArcMap. More information about it can be found here: https://corteva.github.io/rioxarray/html/examples/crs_management.html

Here is what a ne

[2019-12-12 02:40] Kirill888 commented on #837
@snowman2 thanks for detailed example. I didn't realise that `spatial_ref` is a coordinate rather than a `data_var`. Would you be willing to share an example netcdf file? I'd like to see how it looks internally. We do have code that generates NetCDF CF compliant files with spatial data, but with those variable with CRS info appears as data_var after loading with `xr.dataset_open`.

I must say that

[2019-12-12 14:06] snowman2 commented on #837
Sounds good :+1:. Here is the [PLANET_SCOPE_3D.nc](https://github.com/corteva/rioxarray/blob/master/test/test_data/input/PLANET_SCOPE_3D.nc?raw=true) file. I think the main difference is that there is a global attribute called `coordinates` in the file for xarray to use to differentiate between variables and coordinates:
[code]
If you write the netCDF file using `.to_netcdf()` and the `spatial_ref

[2019-12-13 00:30] Kirill888 commented on #837
Thanks @snowman2, I have some questions regarding this scheme.

1. CF convention seems to be using `crs_wkt` name for WKT attribute not `spatial_ref`.
2. CF convention demands presence of `grid_mapping_name` attribute and only allows a small set of defined names without any escape hatches that I can see in the spec.

Even if using CF supported projections, figuring out `grid_mapping_name` from a C

[2019-12-13 02:24] snowman2 commented on #837
Some background on our choice for using the subset of CRS CF conventions. In the beginning of our search for a format to use in the netCDF file, we wanted to be able to write a netCDF that would be understood by GDAL and ArcGIS. The motivation for the format for the CRS being readable by GDAL is that it can be read in using `rasterio`, `QGIS`, and the `datacube` `load()` call.

So, we did some dig

[2019-12-13 04:00] Kirill888 commented on #837
I see, so `spatial_ref:spatial_ref` is a GDAL way to geo-reference "not-quite CF compliant" netcdf files, like when you need projection other than one in the CF spec?

NetCDF CF files datacube produces don't use those names, instead we needed to follow CF spec more closely and actually run compliance checker tool on produced netcdf files. We still use GDAL (via rasterio) to read those, we do not d

[2019-12-13 14:22] snowman2 commented on #837
I should clarify that this only works in GDAL when the `spatial_ref` attribute is in the attributes of the coordinate name specified by the `grid_mapping` attribute. So, you can put it in there along with `crs_wkt` in the grid mapping attributes. The coordinate name `spatial_ref` has no special meaning in GDAL, but it does in `rioxarray` as it is the default one we chose for when the `grid_mapping

[2019-12-16 18:16] snowman2 opened #839 "Thoughts on adding a 'mask_and_scale' option to the 'load()' call?"
https://github.com/opendatacube/datacube-core/blob/bdf459949ce18689a3be87350919f406e3376157/datacube/api/core.py#L137-L140

If [rioxarray.open_rasterio](https://corteva.github.io/rioxarray/stable/rioxarray.html#rioxarray-open-rasterio) we added a [mask_and_scale](https://github.com/corteva/rioxarray/blob/ba6c3f6e84772ab8916c1e5b998893a727652475/rioxarray/_io.py#L159-L168) option for loading in dat

[2019-12-16 18:23] alfredoahds commented on #839
An example of a dataset we use that includes a scale factor is gridMET, downloads/docs [here](http://www.climatologylab.org/gridmet.html).

[2019-12-16 18:25] snowman2 commented on #839
Here is a small test file we use in rioxarray with scale/offset based on a file from gridMET: [tmmx_20190121.nc](https://github.com/corteva/rioxarray/blob/master/test/test_data/input/tmmx_20190121.nc?raw=true).

[2019-12-16 21:58] Kirill888 commented on #839
We talked about this internally a few times. There are some complications for datacube that might make it a bit trickier in our case.

- Datacube deals with multiple, possibly heterogeneous datasets, scale/offset for one might not be what you want for another
- Datacube loads multiple bands, scale/offset should be configurable per band
- Datacube load can change projection on the fly, should scale

[2019-12-16 22:00] Kirill888 commented on #826
I think that PR only addressed schema-level validation, i.e. presence/absence of keys and not whether band names in source product match configuration.

[2019-12-17 00:00] uchchwhash commented on #752
Just making a note that the NetCDF CF convention prescribes:

As clunky as it is, at least it is a convention. I did not like it when I first saw it, but now I am humbler.

[2019-12-18 22:08] Kirill888 commented on #839
Sorry didn't get back to it as promised @snowman2.

I see this as a driver specific functionality. We can implement "always on scaling" quite easily. One would need to declare `measurement` to be of `dtype=float32` and we will need to add some extra checks in the loading code to optionally perform scaling/nodata conversion for netcdf sources with correct attributes set.

One could expose the same

[2019-12-19 14:36] snowman2 commented on #839
@Kirill888 I like your ideas for the functionality for `always on scaling`. Thoughts on implementing that now and then in ODC 2.0 adding the option to disable it? I am not sure I like the idea of double loading data though.

For reference, the scales and offsets on a per-band basis can be obtained from `rasterio` ([code](https://github.com/corteva/rioxarray/blob/ba6c3f6e84772ab8916c1e5b998893a7276

[2019-12-20 05:05] #831 closed, assigned to nobody

[2019-12-23 01:13] whatnick commented on #560
[code]

Still present in DEA-dev environment. Adding new products is slow.
Killing the **datacube add** process and retrying makes the operation instant.

[2019-12-23 01:23] Kirill888 commented on #560
@whatnick what you describe simply skips index generation step making future queries really slow, particularly on larger databases.

[2019-12-23 02:35] Kirill888 opened #843 "Delete `datacube.set_options` as it has no effect on anything anymore"
At some point in the past `datacube.set_options(reproject_threads=<int>)` was used to control number of gdal reprojection threads. This no longer works, with IO driver indirection we  need a different mechanism for load time context management, hopefully one that avoids relying on global state.

[2019-12-23 23:16] #829 closed, assigned to Kirill888

[2019-12-23 23:16] #826 closed, assigned to nobody

[2019-12-23 23:17] #828 closed, assigned to nobody

[2019-12-23 23:17] #697 closed, assigned to nobody

[2019-12-23 23:19] #517 closed, assigned to jcrattz

[2019-12-23 23:20] #623 closed, assigned to AMA-AC

[2019-12-30 20:42] snowman2 commented on #837
Brought this up on the CF conventions repo for discussion: https://github.com/cf-convention/cf-conventions/issues/222

[2020-01-07 23:21] Kirill888 opened #852 "`dc.load` should not need product when datasets are supplied via `datasets=`"
One should be able to do the following:

[code]

Yet this will currently abort with an exception because `dc.load` expects to find `product=` argument. Product is used for two things:

1. Query (this is not being done when datasets are already supplied)
2. To check if product has GridSpec (used of output_crs, resolution, alignment)

Since user already supplied datasets we can get product from the

[2020-01-09 01:50] #852 closed, assigned to nobody

[2020-01-17 21:21] snowman2 commented on #672
Any more thoughts on this?

[2020-01-23 00:22] richardt94 opened #857 "`.load(skip_broken_datasets=True)` can still fail"
### Expected behaviour
I have a `Tile` object containing a broken dataset (with no location):
[code]

I should be able to call `GridWorkflow.load(tile, skip_broken_datasets=True)` on this `Tile` and it should still give me the dataset which does have a location, ignoring the broken dataset.

### Actual behaviour

When I call `GridWorkflow.load()` its behaviour is the same as if I had not passed th

[2020-01-23 00:33] Kirill888 commented on #857
Current code seems to capture "failed to read" case, but not "failed to even figure out what to read" case.

Code here needs to handle exceptions coming from BandInfo constructor and skip those datasets before attempting to even load them

https://github.com/opendatacube/datacube-core/blob/2890b0b16b3259f9a516fb4315d44b738880c7a1/datacube/api/core.py#L744-L754

This is also a data integrity proble

[2020-01-27 02:56] benwah92 opened #859 "NCI VDI pgpass issue"
### Expected behaviour
I am trying to connect to DEA running the sh /g/data/v10/public/digitalearthau/install.sh as described in https://docs.dea.ga.gov.au/setup/NCI/install.html. I would expect that this loads up everything (including reading the pgpass file) to access the postgres database etc with the final output being jupyter-labs up and running with working DEA modules.

### Actual behaviour

[2020-01-28 23:05] omad commented on #859
Hi yobimania,

Can you please message me on [ODC Slack](http://slack.opendatacube.org/) @omad. This is more of a DEA/NCI specific problem than something to do with ODC itself.

I'll close this here and we'll sort it out together please.
Damien

[2020-01-28 23:05] #859 closed, assigned to nobody

[2020-01-31 18:04] jdh-ama opened #861 "ls_public_bucket.py depends on non-existent create_dataset function"
### Expected behaviour
All of the imports used in ls_public_bucket.py exist somewhere.

### Actual behaviour
from datacube.scripts.dataset import create_dataset, parse_match_rules_options

refers to a non existent function which was removed from datacube.scripts.dataset in commit 0f71e70f58a25f0e473fa872ff5938d8a95749b9

create_dataset first appears in release 1.6.0. It is removed in release 1.6.1

[2020-01-31 19:24] jdh-ama commented on #861
Issue #511 is related to this. One proposed fix is to update the ls_public_bucket.py script to use the new Doc2Dataset class that replaces the create_dataset function.

[2020-02-05 23:56] Kirill888 opened #863 "Remove s3aio drivers"
`s3aio` driver was an experiment in using `zarr`-like storage on S3, before `zarr` became a well known thing.

My understanding is that it is no longer being used or developed. Nor is it a recommended way for storing/accessing imagery on S3.

Recommended way is to use Cloud Optimized GeoTIFFs on S3, this is done by the default, rasterio based driver. It can be confusing to new users who want to ut

[2020-02-06 02:24] woodcockr commented on #863
Agreed, we can remove this now in preparation for a ODC 2.0 Zarr support with improved data handling setup for both COGS, Zarr and other multi-dimensional formats as plugins.

[2020-02-06 02:57] woodcockr commented on #777
For 1.8 release we require

- CSIRO to test the new opendatacube/geobase build facility that GA built
- Add smoke test docker build example works with the Example Jupyterhub setup in datacube-k8s-eks
- Modify the documentation so that the example docker images produced are NOT taken to be production live deployment images. These should be done by an organisations live build system.
- Provide feedb

[2020-02-06 03:03] woodcockr commented on #801
No activity on issue - closing

[2020-02-06 03:03] #801 closed, assigned to nobody

[2020-02-06 03:05] alexgleith commented on #777
hey @woodcockr, to be clear, we're planning on deprecating the `datacube-core` docker image in 1.8, and providing a barebones Jupyter/Jupyterhub Sandbox-ready image instead.

How do you feel about this approach for Docker?

The alternative is to provide a minimal `datacube-core` image, that does _nothing of value_ except provide a python environment with ODC installed in it...

[2020-02-06 03:19] #559 closed, assigned to nobody

[2020-02-06 03:22] woodcockr opened #864 "Add EO3 dataset support to datacube"
EO3 metadata is an intermediate step towards addressing metadata issues as described here:

- https://github.com/opendatacube/datacube-core/wiki/ODC-EP-003---Replace-the-ODC-Index-and-Internal-Database-API

EO3 metadata provides workaround for these issues #471, #536, #537.

Basic idea is to avoid spatial data duplication within dataset yaml by only supplying spatial bounds information in the nati

[2020-02-06 03:25] woodcockr commented on #286
Stale issue closed

[2020-02-06 03:25] #286 closed, assigned to nobody

[2020-02-07 03:18] woodcockr commented on #777
Hi @alexgleith Understood, that is what @Kirill888 and I discussed yesterday for ODC 1.8 when we went through in triage for the 1.8 release finalisation (I have a message to send to the ODC SC with an update shortly on that but git got ahead of me whilst I dealt with some other stuff!).

This will be consistent with the way in which datacube-k8s-eks is operating after 1.8 - ODC community github pr

[2020-02-10 10:05] Massetting opened #866 "psycopg2 cannot connect to datacube"
Hello datacubers,

I am forwarding this problem I already posted on the datacube slack last week.
I have been trying to update gdal to a version that supports bigtiff. Unfortunately, with the newly updated packages, the PostgreSQL connection attempted by the datacube keeps failing due to a psycopg2 error. It seems though that it is related to a Postgres bug.
Is there a quick fix in psycopg2 config

[2020-02-10 11:04] Massetting commented on #866
Note: when I change the psycopg2 build to the one that was working fine, I need to change channel:

    conda install psycopg2=2.8.3=py36h7a1dbc1_0

This results in:

[code]

Now I am able to connect to postgres with `datacube.Datacube()` [i.e. no error] but every query done on dc.load() is now returning an empty xarray.....

[2020-02-10 13:48] Massetting commented on #866
I finally got the datacube working again and able to handle bigtiff.

1. Standard install `gdal` and `datacube` [conda-forge] this install gdal 3.0.4 (connection to postgres not working)
2. Downgrade psycopg2 to 2.8.3=py36h7a1dbc1_0 [main]; this downgrades gdal to 3.0.2 (no loads in dc probably due to broken rasterio dependency)
3. Upgrade rasterio to 1.1.2 [conda-forge], this downgrades gdal to 2

[2020-02-10 22:43] Kirill888 commented on #866
common dependency between `gdal` and `psycopg2` is `libpq`. Whether brokenness is in `libpq` or in the `psycopg2` is hard to say. With `gdal` depending on so many libs it's impossible to have broad coverage of all possible versions of libs it depends, so yeah downgrading to a last known good config is the only way.

I had no issue with compiled `psycopg2==2.8.4` and `gdal==3.0.4` on linux, so my g

[2020-02-12 03:31] Kirill888 opened #867 "`<geometry object>.simplify()` fails silently with None output, should probably raise error"
`datacube.utils.geometry.Geometry.simplify` wraps `osgeo.ogr.Simplify`, which provides C++ style interface of returning NONE on error.

We should detect that case and raise an error to be more pythonic, currently it returns `None` on error.

Also there are no tests that call this function.

[2020-02-12 18:03] Massetting opened #868 "[Improvement] Query more than one single date"
### New functionality

It would be nice to have an option to only select more than one single date in a dc.load() query.
Such as,

    dc = datacube.Datacube()
    dc.load(time = (date1, date2), single_dates=True, **rest_of_query)

returns *only* time1 and time2.

### Actual behaviour

The above returns the range of times available between date1 and date2

### Possible use

A usage example:

- Loa

[2020-02-12 22:03] Kirill888 commented on #868
@Massetting thank you for your suggestion, it is indeed a commonly requested feature to have more control over time dimension of the query. I would not go with proposed solution though, I think it is too confusing to overload `time=` parameter that way.

In general `.load` interface is already overloaded with too many optional parameters adding another one, `single_dates:bool` that changes the way

[2020-02-12 22:37] Kirill888 commented on #868
Not sure when any work might be done on this, for right now I recommend using `.find_datasets()` combined with `.load(datasets=[])`

[code]

[2020-02-16 22:19] #715 closed, assigned to nobody

[2020-02-16 22:19] #714 closed, assigned to nobody

[2020-02-16 22:20] #689 closed, assigned to nobody

[2020-02-16 22:20] #748 closed, assigned to nobody

[2020-02-16 22:21] #711 closed, assigned to nobody

[2020-02-16 22:22] #227 closed, assigned to nobody

[2020-02-16 22:40] #777 closed, assigned to Kirill888, alexgleith, woodcockr

[2020-02-19 02:55] omad opened #871 "Incorrect versioning of development packages"
### Current behaviour
When developing or installing datacube-core from a development package, it's difficult to select a stable version. Note the `+256.gf422c2e4` in the downloaded filename.
[code]
### Expected behaviour

[code]

### Explanation and suggested fix

Datacube uses an archaic tool called [versioneer](https://github.com/warner/python-versioneer) for managing version numbers. We have us

[2020-02-19 05:07] #863 closed, assigned to woodcockr

[2020-02-24 00:02] alexgleith opened #874 "If DB_PORT is not set, config process sets port to an empty string"
I have an existing environment that sets up the datacube connection using this:
[code]

and with the new changes to read config from environment variables over the config file, the port is required to be set with `DB_PORT=5432`.

Expected behaviour was that if the port is blank it is set to the default for Postgres.

https://github.com/opendatacube/datacube-core/blob/8481d907b198a1c8946326b8b70625

[2020-02-24 00:10] Kirill888 commented on #874
@alexgleith is it not set or set to an empty string?

[2020-02-24 00:36] alexgleith commented on #874
It was not set.

[2020-02-24 00:41] Kirill888 commented on #874
@alexgleith  tests with `DB_PORT` environment variable not set show no `db_port` in  the generated config, but if `DB_PORT` is set to an empty string, then yes it ends up in the config but shouldn't. What does `env | grep DB_PORT` show in your environment?

[2020-02-24 00:45] #874 closed, assigned to nobody

[2020-02-26 05:06] DomainMinLI opened #876 ""datacube dataset add" doesn't support anonymous S3 access"
### Expected behaviour

add dataset through S3 anonymous

### Actual behaviour

[code]

It requires AWS credentials to read data.

### Steps to reproduce the behaviour

... Include code, command line parameters as appropriate ...

[code]

### Environment information

* Which ``datacube --version`` are you using?

(cubeenv) C02XV14VJGH7:~ min.li$ datacube --version
Open Data Cube core, version 1.7

[2020-02-26 05:24] Kirill888 commented on #876
@DomainMinLI do you have `boto3` installed?
Can you try running with `AWS_UNSIGNED=True` environment set?

[2020-02-26 05:59] omad commented on #876
I just tried with `AWS_UNSIGNED=True` and it still doesn't work.

[2020-02-26 05:59] DomainMinLI commented on #876
@Kirill888 , I do have `boto3` installed.

[2020-02-26 06:08] Kirill888 commented on #876
yep, `AWS_UNSIGNED` is a gdal thing not boto3, sorry.

Not sure how `boto3` without credentials is supposed to work. I guess we can detect lack of credentials and use http in that case.

[2020-02-26 06:11] Kirill888 commented on #876
stack overflow says:
[code]

[2020-02-26 08:27] luigidifraia commented on #876
@DomainMinLI Can you try to create a `default` profile with `aws configure` and index? The information you put in doesn't have to be valid, just present.

[2020-02-26 08:54] luigidifraia commented on #876
@Kirill888 Or perhaps add an extra argument, e.g. `--unsigned-requests`. Example [here](https://github.com/luigidifraia/jupyterhub-platform-tutorials/blob/master/datacube/examples/scripts/dataset_index_from_s3_bucket.py#L65).

[2020-02-27 00:19] #871 closed, assigned to nobody

[2020-02-28 00:33] omad opened #879 "Change Documentation Build and Publication"
## Background

As of last week, the ODC documentation build process has been broken, again. See https://readthedocs.org/projects/datacube-core/builds/

This is a **very common** problem, and **hard to debug**. The problems include:
* the docs need ODC installed to build.
* ODC is hard to install due to the mass of geospatial and scientific binary dependencies.
* Read The Docs doesn't provide a sta

[2020-03-03 04:54] whatnick opened #881 "Datacube product add is not "atomic and re-entrant""
### Expected behaviour

Cancelling `datacube product add` using SIGINT , should allow re-add of the product cleanly.

### Actual behaviour

Indexes reference views by hardcoded product id's and the views are broken and the indexes are broken.

### Steps to reproduce the behaviour

Indexes reference views by hardcoded product id's and the views are broken and the indexes are broken. Run `datacube p

[2020-03-03 04:58] alexgleith commented on #881
Steps to identify this issue, which causes slow dataset lookups, are as follows:

1. Connect to the database directly (I like to use PGAdmin)
2. Search through the `agdc.dataset_type` table to find the id for the dataset_type, note the ID
3. Find the corresponding view and indexes for this table, for example, `agdc.dv_<dataset_type_name>_dataset`  and look at the SQL used to create this view
4. No

[2020-03-03 05:29] omad commented on #881
This occurs quite often because `datacube product add` on a large database is both very slow, and provides minimal progress feedback and so appears to have hung.

[2020-03-04 04:12] #640 closed, assigned to nobody

[2020-03-04 04:12] #843 closed, assigned to nobody

[2020-03-04 05:47] Kirill888 commented on #610
I have attempted deleting workarounds, only to see test failures. Turns out that while `int8` files are supported by rasterio just fine, InMemoryRaster class used for RAM->RAM reproject does not deal with signed byte data correctly yet. Will move this out of 1.8 Release TODO list.

[2020-03-06 00:08] Kirill888 opened #884 "Develop github release action script"
- Package datacube and upload to PyPi when tag is made

[2020-03-06 00:16] Kirill888 opened #885 "Delete support for zone/datum as a mechanism for declaring CRS"
This code:

https://github.com/opendatacube/datacube-core/blob/c743f66d4b6118a9b1373ce0f0e6d7879f11da7b/datacube/model/__init__.py#L239-L256

not sure what datasets out there use this style in the wild, best way to find out is to delete this code.

[2020-03-06 01:12] jeremyh commented on #885
It's used by a few of the first products from our old collection

eg.
- L1: https://explorer.dea.ga.gov.au/dataset/b12c5560-38d3-11e6-a187-a0000100fe80
- NBAR: https://explorer.dea.ga.gov.au/dataset/ab85cc39-c679-4fa2-a3fe-85ced4875d8f

(Hopefully to be retired in a few months when C2 support ends?)

[2020-03-06 01:37] Kirill888 commented on #885
@jeremyh  thanks, good to know, for now people will see deprecation warning when accessing crs/loading data from those products.

[2020-03-06 11:40] luigidifraia opened #886 "Querying data around the anti-meridian"
### Expected behaviour

`dc.find_datasets()` should return a non-empty set when querying data that belongs to a scene spanning across the anti-meridian. Similarly, `dc.load()` should return raster data.

### Actual behaviour

`dc.find_datasets()` returns `[]` (see steps below).

### Steps to reproduce the behaviour

* Add product definition:

[code]

* Index a LS8 scene spanning the anti-meridian:

[2020-03-09 16:38] luigidifraia commented on #886
It should be noted that using a local coordinate system without discontinuity for querying, both `dc.find_datasets()` and `dc.load()` **_might_** work fine, depending on the AoI.

E.g. for the AoI described above, the EPSG:3460 equivalent is:
[code]
Querying using the above extents works correctly. However, there seems to be some performance trade-off associated to querying in a CRS other than EPS

[2020-03-10 05:09] Kirill888 opened #887 "Can not configure resampling/fuser using measurement alias, but probably want to"
Per band resampling was added (9dd4131b2ebcc74eb0bd622aac9634335fc134e8) soon after alias support was introduced (901c472ba80a049392294e84160d5080da64072d), but it looks like code always assumed that `resampling` dictionary contains "canonical" band names and not "aliases".

This is an error. If requesting `fmask` band to be read with `nearest` resampling one should not need to know canonical name

[2020-03-10 05:33] robbibt commented on #887
This issue affects functions like `load_ard` from DEA notebooks, which loads `fmask` differently depending on whether the band is requested manually using `measurements` or automatically when no measurements is provided (see discussion in https://github.com/GeoscienceAustralia/dea-notebooks/pull/527). Because `fmask`'s aliases also differ on Landsat vs. Sentinel 2, the user may not be aware of wha

[2020-03-10 22:14] robbibt opened #888 "Virtual products using `reproject` return "Key error" if dask_chunks does not include x and y"
### Expected behaviour
I am using the virtual products `construct`  to create a virtual product with custom reprojection/resampling ([YAML here](https://github.com/GeoscienceAustralia/dea-notebooks/blob/rbt/MAHTS/MAHTS_virtual_products.yaml)):

[code]

This creates a virtual product that looks like this:

[code]

I expect this product to load regardless of what chunking is specified using `dask_ch

[2020-03-10 22:21] #568 closed, assigned to nobody

[2020-03-10 22:21] #610 closed, assigned to nobody

[2020-03-10 22:25] robbibt commented on #779
I just came across this problem again recently after getting some very unexpected results when re-sampling coarsely. Is this potentially an issue that could be within the scope of ODC 2.0? I still think the current actual behaviour is very un-intuitive for anyone familiar with resampling data in GDAL/Rasterio/common GIS software.

[2020-03-10 22:34] Kirill888 commented on #779
@robbibt at the moment there are no "clean" mechanisms to make any of this happen, 2.0 never starts and gets de-scoped, so... We don't want to start making "dirty workarounds", because 2.0 is "just about to start", but it never does and doesn't look like it ever will.

[2020-03-10 22:37] robbibt commented on #879
@omad Would this be a good thing in the longer run for the DEA User Guide/dea-notebooks docs too? I don't have a good idea of how much work goes on in the background to keep that running correctly

[2020-03-10 22:41] woodcockr commented on #779
A hint of frustration there me thinks...

As ODC SC Chair I will be helping to herd the ODC community cats towards ODC 2.0 and have flagged this issue as belonging to the [ODC 2.0 project](https://github.com/opendatacube/datacube-core/projects/2#card-34392248) _Triage_ process. ODC 1.8 release needs to be finalised first and we'll also keep ODC 2.0 nice a tight updates wise but since this issue is

[2020-03-10 23:01] Kirill888 commented on #887
@uchchwhash I think confusion stems from this function:

https://github.com/opendatacube/datacube-core/blob/c5a7192b5a5d82dd8d1ee3cfc67732c86f6bc680/datacube/model/__init__.py#L478-L488

This takes on input `name|alias`, but produces on output `name->Measurement`, I think it is confusing. I think same keys that were used to request measurement should also appear in the output. Furthermore returned

[2020-03-10 23:03] uchchwhash commented on #887
Will `load_data` understand it then?

[2020-03-10 23:05] Kirill888 commented on #887
yes it just uses `.name` on the measurement object, it doesn't touch product spec/definition

[2020-03-10 23:10] Kirill888 commented on #887
This would also fix dask task names being weird (currently uses canonical names instead of what user requested)

[2020-03-11 00:40] Kirill888 commented on #881
no idea how to address it properly, but I added Ctrl-C handler so at least users will know what the consequences of killing this process is, also forces them to use `kill -9` which is less convenient.

[2020-03-11 03:09] #887 closed, assigned to uchchwhash

[2020-03-11 03:19] #866 closed, assigned to nobody

[2020-03-11 03:55] omad commented on #879
At some point it might make sense to change how the DEA User Guide is compiled, but not for now. It's *far* simpler to run because it doesn't require a working ODC Install to build sucessfully.

[2020-03-11 20:43] woodcockr opened #892 "Define a test for python env for ODC to verify Docker Image is reasonable under 1.8 build system"

[2020-03-11 23:47] #749 closed, assigned to nobody

[2020-03-11 23:47] #857 closed, assigned to nobody

[2020-03-12 08:36] clausmichele commented on #341
Are there any progress on this?

[2020-03-12 08:38] clausmichele commented on #341
Is there any progress on this?

[2020-03-12 23:35] #888 closed, assigned to uchchwhash

[2020-03-12 23:47] Kirill888 commented on #341
@clausmichele not really, may I ask how it impacts you? I did do PixelDrill class at some point, but never got time to properly make it usable remains of that are here:
https://github.com/opendatacube/odc-tools/blob/master/old/dea/io/pdrill.py

[2020-03-17 00:57] Kirill888 opened #895 "Documentation for indexing from s3 contains mistakes"
resolution for EPSG:4326 should be in degrees not in meters:

https://github.com/opendatacube/datacube-core/commit/363a11c9f39a40c8fba958cb265ace193d7849b6#diff-95fd54d5e1fd0aea8de7aacba3ad495cR323

[2020-03-17 01:25] iliang opened #896 "Index Data on S3(Ceph)"
### Expected behaviour
Use datacube api to get dataset

### Actual behaviour
Incorrect result, Query dataset will return empty xarray.

... eg. Incorrect result, python stacktrace, etc. ...

### Steps to reproduce the behaviour
step 1
- python3 index_from_s3_bucket.py bucketname -p C1/L8/139/045/ --suffix="MTL.txt"
I can find one record in my agdc.dataset ,  agdc.dataset_location, and no record in

[2020-03-17 19:36] luigidifraia commented on #886
When using 'EPSG:4326' lon/lat values in `dc.find_datasets()` and `dc.load()` queries, another way the root issue manifests itself is as follows.
If the AoI doesn't intersect the bounding box of datasets that span across the antimeridian but the latter are within the latitude extents of the AoI, then they are returned by both queries.
For example, if I call `dc.find_datasets()` for Vanuatu in our

[2020-03-19 21:08] #895 closed, assigned to nobody

[2020-03-30 12:45] clausmichele commented on #177
I can't find how to use `datacube dataset archive` to archive/hide a product. What is the correct syntax? I've tried with:
[code]
I've also tried the following with no luck:
[code]

[2020-03-30 14:03] JackLidge commented on #177
The archive function is used more for archiving individual datasets from the datacube, rather than an entire product specification (at least this is my understanding of how the current tool works).

To archive a dataset from the datacube, you will need the UUID specified in it's yaml file, and it can then be archived using:

`datacube dataset archive UUID`

[2020-03-30 14:30] clausmichele commented on #177
This issue was opened to clarify how to delete products, is there a way to do that now or not yet?

Anyway, thanks for the support.

[2020-04-06 06:41] #837 closed, assigned to Kirill888

[2020-04-09 04:26] #736 closed, assigned to Kirill888

[2020-04-09 04:26] #884 closed, assigned to Kirill888

[2020-04-09 04:49] robbibt opened #906 "Datetime TypeError when loading multiple products with `dc.load`"
### Expected behaviour

I'm trying to generate an animation that includes both Landsat and Sentinel-2 data, both resampled to the same CRS and 30m resolution. I've tried doing this by passing in dataset lists (from `dc.find_datasets`) for both of the datasets to `dc.load`.

My expected outcome is that this loads a single `xarray.Dataset` containing data from both products. However, I receive an er

[2020-04-09 04:49] uchchwhash opened #907 "Timezone info on datasets is not consistent."
### Expected behaviour
I would expect data loaded with `dc.load` to have time coordinates consistently with or without timezone info.

### Actual behaviour
Depending on the datetime format used in dataset definition, the dataset time may or may not have timezone information attached. This prevents comparing the times when, for example, sorting for grouping.

### Which ``datacube --version`` are yo

[2020-04-09 04:50] uchchwhash commented on #907
Duplicate of #906 .

[2020-04-09 04:50] #907 closed, assigned to nobody

[2020-04-14 02:38] Kirill888 opened #909 "Optimise database load when indexing without lineage verification"
When adding dataset with large number of lineage datasets we can avoid reading all the lineage datasets from the db if running in the following mode

[code]

In this mode expectation is that all the lineage is already present in the database, and there is no need to verify that lineage documents as present in the DB and in the YAML document are the same.

Code here

https://github.com/opendatacube

[2020-04-15 00:19] uchchwhash commented on #867
Fixed by PR #880.

[2020-04-15 00:19] #867 closed, assigned to nobody

[2020-04-15 13:19] ghost commented on #645
I have downloaded the package into the root directory so when I run this command : datacube system check
it shows me this output :
Version:       1.7+0.g98cf9ba3.dirty
Config files:  /root/.datacube.conf
Host:          127.0.0.1:5432
Database:      datacube
User:          dc_user
Environment:   None
Index Driver:  default

so is it fine to go on ? and in the ~/Datacube/data_cube_ui/config/dc_ui.co

[2020-04-15 22:09] tom-butler opened #912 "Azure Blob support"
### Expected behaviour
A user in the slack group has asked if ODC supports Azure blob store

### Actual behaviour

ODC only supports s3 and gs cloud storage: (and vsicurl etc.)
https://github.com/opendatacube/datacube-core/blob/develop/datacube/utils/uris.py

### Required work

To add support for azure blob storage we should add wasb[s]:// to:
https://github.com/opendatacube/datacube-core/blob/dev

[2020-04-15 22:16] alexgleith commented on #912
You don't think it'll work? I guess we should try!

This identifies the URI for the Azure blob, which is `/vsiaz/` https://github.com/opendatacube/datacube-core/blob/develop/datacube/utils/uris.py#L37

[2020-04-15 22:29] Kirill888 commented on #912
Issue if not with GDAL but with python URL parsing libraries, for some reason it needs a whitelist of supported protocols. As Tom mentioned we just need another call to `register_scheme`  like this one is for `gs`.

https://github.com/opendatacube/datacube-core/blob/e327e8f3508111635dfee2cffa36ae079384737e/datacube/utils/uris.py#L242-L244

Users can do that themselves too, but for standard cloud f

[2020-04-16 04:24] #912 closed, assigned to nobody

[2020-04-16 04:24] #906 closed, assigned to nobody

[2020-04-17 06:53] uchchwhash opened #916 "Virtual product aggregate dimension bug"
### Expected behaviour
This recipe:

[code]
should be a no-op.

### Actual behaviour
[code]

This is caused by inconsistent behaviour of `xarray.DataArray.groupby` which drops the time dimension if there is only one dataset in the group.

### Environment information
* Which ``datacube --version`` are you using?
Commit aad9f10c99aa74178d21526e9e7ec051036e3533.

[2020-04-17 07:05] Kirill888 commented on #886
Alright I can confirm, but have no fix to offer. Although I have an explanation of what is going on:

Firstly the indexing script is not doing a good job of computing lat/lon bounds:

[code]
This then translates to a valid span of dataset along `lat` as
[code]
(`ds.metadata.lat`). So essentially it covers everything that this dataset doesn't cover and excludes exactly the range this dataset does c

[2020-04-17 07:34] Kirill888 commented on #886
Axis swapping because of GDAL3, in prepare script, at least on my side, which GDAL did you use?

[2020-04-17 07:40] Kirill888 commented on #886
After swapping `lat<->lon` and adding 360 to negative longitude values, I have been able to query the dataset.

1. Find dataset without spatial constraints
2. Dump `ds.metadata_doc` to file in json format
3. Edit and fix extent subtree
4. Update database version `datacube dataset update ds-fixed.json --allow-any=extent.coord`
5. Then repeat the query

[2020-04-17 08:38] luigidifraia commented on #886
We are using GDAL 2.4.1

What coordinate system did you use for querying, EPSG:32660 or EPSG:4326? Do you see a performance difference (total load time) when using one or the other?

Also, adding 360 degrees to negative longitude values moves the discontinuity to the Prime meridian so it should be done selectively.

[2020-04-17 08:40] luigidifraia commented on #886
Also, do you reckon this issue also explains the following behavior? https://medium.com/@luigidifraia/querying-satellite-imagery-at-the-anti-meridian-using-the-open-data-cube-661ba1cd553a

[2020-04-18 09:57] uchchwhash commented on #909
Does that quite work though? Because to create the `Dataset` we need to resolve what product it belongs to, but how do I do that with just the UUID at my disposal?

[2020-04-19 23:18] Kirill888 commented on #909
Actually you are right, we already have dataset document, extracted from YAML sub-tree, so no need to query that from DB, what is missing is product assignment per lineage dataset, but since we won't be indexing those and must verify that they are present in the database already we can just populate them with some fake product I guess.

[2020-04-20 00:20] Kirill888 commented on #886
I meant to say that I did it manually in an editor just to check what a "correct lon range" should be and whether querying will work in that case. This is not a proposed solution for fixing lat/lon bbox computation in the prepare script.

[2020-04-20 00:27] #916 closed, assigned to uchchwhash

[2020-04-20 13:59] luigidifraia commented on #886
What do you mean "not doing a good job"? The above corners seem to match MTL contents? Here again for reference:

[code]

That's what appears to be wrong, i.e. the translation.

[2020-04-20 23:22] Kirill888 commented on #886
@luigidifraia this is my main problem with EO format it confuses everyone into thinking that extent is supposed to contain the four corners of the dataset but in Lon/Lat. And that's NOT CORRECT. Extent section is supposed to capture bounding box of the dataset in Lon/Lat, but for some reason insists on using 4 points to represent that, leading to confusion. Also if you read carefully you'll see th

[2020-04-21 07:52] luigidifraia commented on #886
@Kirill888 Yes, the GDAL3 lon/lat swapping problem has been noted before.

Also noted re extents.

Do you reckon the one discussed here is also the root issue causing the unexpected behavior discussed in my [medium post](https://medium.com/@luigidifraia/querying-satellite-imagery-at-the-anti-meridian-using-the-open-data-cube-661ba1cd553a) (moving query extents can cause datasets not being returned

[2020-04-21 23:29] Kirill888 commented on #886
With the current state of the prepare script and querying code I'm surprised you didn't see more brokenness than you report.

We already established that metadata is not recorded correctly in the database: the range for `lon` axis is recorded as inverse of the real range for datasets that span `lon=180` line. This means that any query that falls within the dataset's valid range will not find that

[2020-04-22 02:12] Kirill888 commented on #886
This is where (2) is broken:
https://github.com/opendatacube/datacube-core/blob/183257f1be39c87f6d0157cae29f2f855f07a8cf/datacube/api/query.py#L114-L123

Code above needs to be moved out into a testable function and should handle `lon=180` crossing case in a robust fashion that does not add too much computational cost for the "common case".

Example of incorrect computation of `lon` range:

[code]

[2020-04-22 02:21] Kirill888 commented on #886
Steps (3) and (4) are broken here:

https://github.com/opendatacube/datacube-core/blob/183257f1be39c87f6d0157cae29f2f855f07a8cf/datacube/api/core.py#L676-L682

Specifically `dataset.extent.to_crs(query_crs)` produces wrong result when `query_crs` is geographic and `dataset.extent` crosses `lon=180`.

[2020-04-22 07:20] luigidifraia commented on #886
For future development: would it make sense to let users decide whether to use EPSG:4326 (default) or a different coordinate system when initializing the datacube system, effectively avoiding 2) and 4) (and additionally 3) if the query uses EPSG:4326)?
That would not require customizing the code for edge cases thus impacting performance for the common case (nowhere near lon=180)? Although I guess

[2020-04-23 02:52] alexgleith opened #922 "Command `datacube metadata update` doesn't work with URLs"
### Expected behaviour

Running `datacube metadata add http://example.com/metadata.yaml` works, but if you subsequently run `datacube metadata update http://example.com/metadata.yaml` it fails with something like the below error.

[code]

### Environment information

[2020-04-23 04:05] #922 closed, assigned to nobody

[2020-04-24 00:41] alexgleith opened #925 "Decision: Should we deprecate or document the use of multiple environment variables for defining a database connection"
### Description
Currently, there is a legacy method of defining the database connection that uses the following environment variables:
 - `DB_HOSTNAME=postgres`
 - `DB_USERNAME=opendatacube`
 - `DB_PASSWORD=opendatacubepassword`
 - `DB_DATABASE=opendatacube`
 - `DB_PORT=5432`

This came from the first Dockerfile, which used an entrypoint to set the values in a configuration file.

This has been re

[2020-04-24 00:55] Kirill888 commented on #925
I originally put those in for backward compatibility with old Dockerfile and to ease migration of deployments

My main concerns with `DB_*` versions

1. Name is too generic so there is a possibility of clashes with user environment
2. There are too many of them so it's 5 times more likely to have something misspelled or truncated (is it `DB_USER` or `DB_USERNAME` ??) and also harder to pass into d

[2020-04-24 03:08] robbibt opened #926 "`write_cog` producing a RasterBlockError for small < 500 pixel arrays"
### Expected behaviour
I'm trying out the `write_cog` function after getting the new `DepreciationWarning` on `write_geotiff`. I have a 500 x 500 array `da` that looks like the image below:

![image](https://user-images.githubusercontent.com/17680388/80170742-06dc3800-862c-11ea-826d-07ff4907d0c2.png)

I would like to use `write_cog` to export small (< 500 pixel) GeoTIFFs like this without raising

[2020-04-24 04:10] robbibt commented on #926
The function appears to currently ~~hard-code~~ default the block size to 512:

https://github.com/opendatacube/datacube-core/blob/c5a7192b5a5d82dd8d1ee3cfc67732c86f6bc680/datacube/utils/cog.py#L52-L53

[2020-04-24 04:17] Kirill888 commented on #926
@robbibt it's not hard-coded, but it does default to `512` when not supplied, you can override that by passing `blocksize=256` to `write_cog`.

Having said that, small images should be supported, so this needs fixing.

[2020-04-24 04:23] Kirill888 commented on #926
So error is here:

https://github.com/opendatacube/datacube-core/blob/c5a7192b5a5d82dd8d1ee3cfc67732c86f6bc680/datacube/utils/cog.py#L91-L92

When one of the dimensions is less than supplied/defaulted `blocksize` AND is not a multiple of 16, things will break. I think the fix can be as simple as this:

[code]

[2020-04-27 23:25] woodcockr commented on #925
I'm currently using 5 variables, mostly cause I'm lazy and haven't got around to changing to the URL format.
@Kirill888 makes some good points, have made a few of those errors myself. I'm not so sure one very long url will work for multi-db though, will get awkwardly long though I suspect preferable to multiple variables still.
I'm not overly bothered which way we go so long as its documented. If

[2020-04-28 00:59] Kirill888 commented on #925
Other option for multi-db config is to use one env var per environment:

[code]

Then in code `Datacube(env="mydb")` would connect to local server `mydb` and `Datacube()` will connect `db.host.tld`. Implementing such functionality for `5x` env vars is also possible of course but significantly more annoying to use.

Although if you do that, might as well just bring your own config file.

[2020-04-28 07:57] #926 closed, assigned to nobody

[2020-05-04 12:27] clausmichele opened #930 "Polygon Drill example not reproducible"
The [Polygon Drill Example](https://datacube-core.readthedocs.io/en/stable/user/guide.html#polygon-drill) assumes that loaded data has the attribute **geobox**, which is not present in my case with Sentinel-2 data loaded with ODC:

[code]

How to apply polygon drill using the provided code?

[2020-05-05 00:24] Kirill888 commented on #930
@clausmichele can you please provide more details about how and where you are running code and what version of datacube you are using.
Also what happens when you do this `print(your_dataset.geobox)` ?

 `.geobox` is a dynamic property computed from `crs` data stored in special way inside xarray dataset/dataarray. We have recently changed the location of that data. It used to be stored as an attrib

[2020-05-05 07:01] clausmichele commented on #930
My fault sorry, it is indeed returning a valid object on a loaded dataset, maybe I missed something when I was trying yesterday.
On the other hand, if I store the same dataset to a netcdf file with `write_dataset_to_netcdf(dataset,'path')`, imported from `datacube.drivers.netcdf`, and then I load it again with `dataset = xarray.open_dataset('path')` I can't use the .geobox attribute anymore. I see

[2020-05-05 07:01] #930 closed, assigned to nobody

[2020-05-06 03:45] #864 closed, assigned to Kirill888

[2020-05-06 21:28] Kirill888 opened #934 "Add doc building dependencies to test runner docker"
Test runner Docker currently doesn't include all the necessary parts for building datacube documentation. It probably should.

Tasks:
- identify and install extra apt packages
- install `datacube` with `doc` option that pulls in sphinx dependencies

[2020-05-06 23:44] omad commented on #934
I've started this already in the `dra/docs-updates` branch. It's hacky for now, but builds successfully.

https://github.com/opendatacube/datacube-core/blob/dra/docs-updates/.github/workflows/build-docs.yml#L31-L34

[2020-05-06 23:46] omad commented on #934
I was going to fix the deploy to Netlify then make a PR today, it's an old branch that I should have had merged months ago. :(

[2020-05-06 23:52] Kirill888 commented on #934
I think that should go into Dockerfile, it will make it a bit larger, but doubt enough to notice slow down of tests. By the way `datacube[doc]` now pulls in all the needed sphinx thing, I'm pretty sure. We should probably have doc building as part of every commit, or at least on PR.

[2020-05-06 23:55] Kirill888 commented on #934
I think we should stay with read the docs for now, since we no longer have GDAL python binding dependency it is a bit more stable now and all the links/google point to that.

Or is netlify for testing doc changes on branches?

[2020-05-06 23:58] omad commented on #934
Actually, at the moment we have a dependency on PlantUML when building the docs. It' neat, but it relies on Java so adds 573 MB to the image, too much to bake in IMO.

I want to look at removing it so docs are simpler to build. Either a script to pre-build and commit the diagrams, calling it via a remote web service, or using a lighter weight tool.

[2020-05-07 00:01] omad commented on #934
Okay, that'll make a big difference, I'll look into getting RTD running again today.

I had thought about using Netlify (or any other static host) for our docs, due to the pains of keeping RTD running. But staying on RTD make sense for now.

Using it for looking at docs from PRs is a good option, since that's not possible with RTD last I checked.

[2020-05-07 00:01] Kirill888 commented on #934
RTD is running already

[2020-05-07 00:05] omad commented on #934
Awesome!
I really need to stop living in the past and get with the times. :(

[2020-05-07 01:49] Kirill888 opened #935 "`datacube dataset update` should support EO3 too"
When encountering eo3 dataset, `dataset update` cli tool should insert extra eo3 parts before attempting update.

[2020-05-11 06:08] whatnick opened #936 "repr(LocalConfig) should mask passwords"
### Expected behaviour
Datacube Connection representation should mask connection credentials.

### Actual behaviour
Passwords are printed in plain text logs. As captured by this issue in datacube-explorer. https://github.com/opendatacube/datacube-explorer/issues/126

### Steps to reproduce the behaviour

`cubedash-gen --init --all`

### Environment information

```Open Data Cube core, version 1.8.

[2020-05-15 06:33] Kirill888 commented on #896
Not sure if this was reolved on slack, but this is a known issue of broken prepare scripts when using GDAL3:

https://github.com/opendatacube/datacube-dataset-config/issues/10

[2020-05-15 06:33] #896 closed, assigned to nobody

[2020-05-15 13:52] jankovicgd opened #938 "AttributeError for LocalConfig during replication"
### Expected behaviour
SSHTunnel for replication doesn't open due to AttributeError. I have tried to understand the replication process and ran also a separate script that failed with same error.

### Actual behaviour
[code]

### Steps to reproduce the behaviour

[code]
Same with
[code]

### Environment information

* Which ``datacube --version`` are you using? 1.7
* What datacube deployment/envio

[2020-05-18 00:09] #935 closed, assigned to nobody

[2020-05-18 04:42] Kirill888 opened #939 "Leaking DB connections in intergration tests"
Integration tests started occasionally failing with the following error:

[code]

I have not been able to reproduce this in the local dev environment, but it happens on Github Actions from time to time, typically when running ` integration_tests/test_dataset_add.py` suite.

Integration tests run  `datacube` CLI app, but in a fancy way, avoiding launching a separate process. This is needed for accu

[2020-05-18 06:13] #939 closed, assigned to nobody

[2020-05-18 07:56] Kirill888 commented on #938
@jankovicgd `db_hostname` is an optional parameter and is not guaranteed to be present. When missing, database connection is performed via local Unix socket interface, this can also have implications for authentication (process has to run as a specific user who is authorized to talk to the DB).

I'm not familiar with simple_replica code, but it looks like it makes an assumption that database is ac

[2020-05-18 08:06] jankovicgd commented on #938
Hi @Kirill888, thanks for the reply. Forgot to mention that the remote already has a `.datacube.conf` as follows:

[code]

Here is a longer stacktrace.
[code]

[2020-05-18 08:08] Kirill888 commented on #938
Can you print `LocalConfig` object, also try adding space after `:` in your config

[2020-05-18 08:14] jankovicgd commented on #938
Added a space, no difference. Seems like its properly read, just not properly added to `LocalConfig`

[code]

[2020-05-18 09:08] Kirill888 commented on #938
I see, I think it's because at some point we changed default section to be `default` and not `datacube`, so if you try changing `[datacube]->[default]` in your remote config file it might work.

[2020-05-18 15:18] jankovicgd commented on #938
Hey @Kirill888, I am still getting the same error.

[2020-05-18 23:17] #936 closed, assigned to nobody

[2020-05-19 00:11] Kirill888 commented on #938
I don't know when this worked, or when it stopped working, but all code I see in `datacube` libs and tests uses `cfg['db_hostname']` type of access instead of `cfg.db_hostname`.

[2020-05-19 23:08] Kirill888 commented on #934
@omad so java is a bit huge, how about we go the middle road, get all the other doc building dependencies sorted: `make` and all the python libs. Then it would still be small enough Docker image and pretty useful for verifying minor doc updates locally.

[2020-05-19 23:43] Kirill888 opened #944 "Update ingestor to generate EO3 metadata"
Now that EO3 metadata is supported natively within datacube we should update ingestor tool to generate new style metadata as well.

Only implication I see is the use of embedded lineage datasets. EO metadata captures source datasets in full (recursively includes definitions), while EO3 only references source UUIDs. For the common case of using single database this does not cause any issues. It's o

[2020-05-20 00:04] omad commented on #934
Yep, I have a plan for getting rid of java too. [sphinxcontrib-mermaid · PyPI](https://pypi.org/project/sphinxcontrib-mermaid/) *should* be able to replace PlantUML, while adding zero build time deps.

[2020-05-20 23:58] whatnick opened #947 "Datacube Database Federation and ETL using timestamps"
The append only nature of Datacube should have made ETL of changes easy with just primary keys. However updates are more difficult to track and is a relatively new change in Datacube-Core.

We should use database instrumentation / logical replicas to stream changes to slave database. In case these database native mechanisms are not available :
- The easiest transport becomes incremental CSV dumps

[2020-05-21 00:41] #938 closed, assigned to nobody

[2020-05-21 02:34] #934 closed, assigned to nobody

[2020-05-21 23:22] Kirill888 opened #950 "Extra files in source distribution packaging"
`python setup.py sdist` builds source distribution with docs and tests and bunch of random files in it, that should not be included. Strangely `bdist_wheel` does not include those and generates proper release file.

https://github.com/conda-forge/datacube-feedstock/issues/25

[2020-05-25 03:09] whatnick opened #952 "This is going to log every time they run `init`, even if they already have applied this update."
This is going to log every time they run `init`, even if they already have applied this update.

By convention, I usually wrapped them in a check previously:

[code]
(of course, no need to check other columns exist as they're all applied together in one transaction.)

The actual SQL looks idempotent so this is all an extremely minor gripe.

_Originally posted by @jeremyh in https://github.com/open

[2020-05-25 03:54] #947 closed, assigned to whatnick

[2020-05-26 13:20] jankovicgd opened #953 "NoneType attribute to_crs with netCDF file"
Hey all, I am getting an error when loading netcdf file that was successfully indexed in ODC

### Expected behaviour
Expecting to load the data.

### Actual behaviour

[code]

### Steps to reproduce the behaviour

[code]

Product:
[code]

Dataset:
[code]

File: https://drive.google.com/open?id=1WlV15bU2IghVJ2VMLUKAXOt52co4W83K

### Environment information

* Which ``datacube --version`` are you us

[2020-05-26 23:21] Kirill888 commented on #953
@jankovicgd thank you for the report. Currently `datacube dataset add` does not check for data integrity of supplied dataset document. And it looks like we don't check at access-time either.

Your dataset document has an error, `spatial_reference` field should be one level up from where it is now. `grid_spatial.projection.spatial_reference` is expected location, yours is `grid_spatial.projection.g

[2020-05-26 23:22] Kirill888 commented on #953
If you followed some documentation that had that error present, please point us at it.

[2020-05-27 01:03] kieranricardo opened #954 "Dataset.measurements is a list of dicts not a dict"
Hi there! While trying to index some data got an error where datacube is calling `keys` on a list. It looks like the issue is due to  `Dataset.metadata_doc['measurements']` storing a list of dicts in my case, which gets stored in `Dataset.measurements` causing an error when `check_dataset_consistent` trys to check the measurements.

The fix seems fairly straightforward, just changing the code in `

[2020-05-27 01:14] Kirill888 commented on #954
@kieranricardo can you please provide a sample of your dataset and product yamls?

What is most likely happening is that your dataset yaml has measurements defined as a list, while datacube expects a dictionary from band name to a `dict` describing band files. It is is a bit confusing, since product definition needs to have measurements defined as list 🤦.

Unfortunately `dataset add` doesn't perfo

[2020-05-27 01:20] kieranricardo commented on #954
@Kirill888 thanks for the speedy reply! Ah yep I'm using lists in both my product and dataset yamls 🤦 I was following the first example here: https://datacube-core.readthedocs.io/en/latest/ops/indexing.html

Here's my product yml for reference:

[code]

And my dataset yaml:

[code]

[2020-05-27 01:22] kieranricardo commented on #954
@Kirill888 is there a nice way to delete product definitions? so far I've resorted to just manually deleting rows form postgres

[2020-05-27 01:40] Kirill888 commented on #954
@kieranricardo changing data in place is a bit of a sore point in datacube, not really well supported. The DB layer basically assumes append only operations or "approximately append only".

You CAN modify products and dataset documents in place, but you need to supply extra command line flags to allow "unsafe changes". There is no delete functionality for anything, there is dataset archive, but it

[2020-05-27 02:42] kieranricardo commented on #954
Thanks, the "unsafe changes" is what I was looking for! Although it would be nice to be able to safely update a product/dataset inplace if it isn't being referenced. Would you be open to PRs implementing these?

[2020-05-27 03:36] Kirill888 commented on #954
I can't say I fully comprehend where the boundary between safe and unsafe changes lie for product definition and for dataset documents. I also suspect that the boundary depends on the context that can not be captured by the database itself. For example, if you are still in the "bootstrapping stages" and haven't started using the database, any change that maintains database consistency rules should

[2020-05-27 05:02] Kirill888 commented on #879
A note about read the docs - it's building ok now. Basically after removing GDAL python bindings dependency on `datacube` it is now possible to have `datacube` installed using `pip` on the read-the-docs infrastructure. We still have a large number of complex dependencies, but those do provide binary wheels now (GDAL was the last one that didn't build on RTD).

Not saying we should just stay with r

[2020-05-27 07:52] jankovicgd commented on #953
Thanks @Kirill888, nice catch! Really small thing to miss. I was manually creating yml files to test some new data. Better to create scripts. I don't think this would be wrong in the documentation, just some stuff I was copy/pasting around.

Any plans on implementing integrity checking?

[2020-05-27 08:26] Kirill888 opened #955 "Add validation logic to dataset add"
When adding datasets to the index very little validation of metadata correctness is performed. Dataset metadata is simply added to the database as is. However when data is later used by various parts of the datacube code, assumptions are made about the structure of the dictionary returned from the database.

This leads to user confusion as a mistake that should have been picked up at indexing time

[2020-05-27 08:26] Kirill888 commented on #953
yes :) #955

[2020-05-27 08:33] Kirill888 commented on #954
@kieranricardo by the way you should be using just `datetime: ...` and not `odc:processing_datetime: ...` to specify timestamp, the later is for "dataset generation time", but what you really need to supply to datacube is "what time were pixels captured at", and that goes into `datetime` key, or if it's a time range, it goes into  `dtr:start_datetime:`  and  `dtr:end_datetime:`

[2020-05-27 09:40] #953 closed, assigned to nobody

[2020-05-28 00:01] kieranricardo commented on #954
thanks for your help @Kirill888. I'll make an issue (if there isn't one already) and PR for some delete tooling in https://github.com/opendatacube/odc-tools/tree/master/libs/index/odc/index.

One other question, I'm having trouble with specify a lineage in eo3 format. There's examples in the docs for eo lineage but I couldn't find any for eo3. I'm trying to add the dataset document i shared to the

[2020-05-28 00:30] Kirill888 commented on #954
@kieranricardo you doing right thing with respect to lineage. The code should be smarter when dealing with EO3 though. You need to use ` datacube dataset add --no-verify-lineage ...` when indexing EO3, essentially since EO3 doesn't include lineage document in the derived document yaml, there is nothing to verify.

We should update docs, or better auto skip verification step when source dataset is

[2020-05-28 00:34] kieranricardo commented on #954
this would be nice! I'll make an issue for this

[2020-05-28 00:41] kieranricardo opened #956 "Skip include lineage verification for eo3 dataset documents"
### Expected behaviour

eo3 lineages of the format

```lineage: {"name": ["UUID"]}```

Should not be verified because they don't contain information about the linked dataset document. There is a work around by adding the `--no-verify-lineage` to `datacube dataset add  ...` but this should happen by default.

### Actual behaviour

The data provided in the lineage is compared against the linked data

[2020-05-28 00:41] kieranricardo commented on #954
filed https://github.com/opendatacube/datacube-core/issues/956

[2020-05-28 01:09] Kirill888 opened #957 "Valid datasets not returned for some spatial queries (Global Datasets/Polygon Intersection)"
Valid datasets that DO overlap with query polygon might be rejected by the post-query filtering step. Problem is in `select_datasets_inside_polygon`

https://github.com/opendatacube/datacube-core/blob/0bf503fe5b92acbd8125b042de8b7123866a73a6/datacube/api/core.py#L676-L682

Specifically this part `intersects(polygon, dataset.extent.to_crs(query_crs))` is not a valid way to compute "Do two polygons

[2020-05-28 01:11] kieranricardo commented on #956
@Kirill888 I'm keen to have a go at this! can you assign me?

[2020-05-28 01:18] Kirill888 commented on #956
https://github.com/opendatacube/datacube-core/blob/0bf503fe5b92acbd8125b042de8b7123866a73a6/datacube/index/hl.py#L155-L163

I'd say in code above, even if `verify_lineage` is enabled, we should skip the check if `main_ds` is of EO3 kind.

[2020-05-28 01:18] Kirill888 commented on #956
Thanks for looking into it.

[2020-05-28 04:46] #956 closed, assigned to kieranricardo

[2020-06-11 12:43] clausmichele commented on #164
I am also trying to ingest processed Sentinel 1 data, which are in the format `file.dat file.aux.xml file.hdr` . I found two old scripts for Sentinel 1: `prep_s1a.py s1prepare.py`
What are the file formats and folder structure they expect? Is there any example?

[2020-06-18 04:48] whatnick opened #962 "Unique constraint failure "pg_class_relname_nsp_index" on rerunning `system init`"
### Expected behaviour
Datacube system init cannot be interrupted.

### Actual behaviour

Datacube system init if interrupted during dynamic index creation breaks on re-runs.

### Steps to reproduce the behaviour

[code]

### Environment information

* Which ``datacube --version`` are you using? 1.8.0
* What datacube deployment/enviornment are you running against? NCI DB

[2020-06-18 06:27] jeremyh commented on #962
Interesting. That unique constraint is on a system table, not one of ours. But normally when hitting that type of duplicate there's a friendlier message from postgres ("relation "dix_ls8..." already exists").

Could two instances have been running at the same time?

Or from your description: maybe the first connection to NCI was interrupted but the query kept running in the background, and so when

[2020-06-18 06:31] jeremyh commented on #962
Does it work if you rerun it now? That would suggest it may have been two concurrently-running inits.

If it's consistently failing now, then it may be something else, like a corrupt index.

[2020-06-18 06:33] jeremyh commented on #962
(note that by default our indexes are created using postgres' `concurrently` flag, which can always leave an invalid index behind. Datacube doesn't currently check for invalid indexes, though I haven't seen any in practice so far. Invalid ones will show up as such in psql `\d <table>`)

[2020-06-18 07:18] Kirill888 commented on #962
@jeremyh should `system init` NOT use `concurrently` flag?

[2020-06-18 07:27] Kirill888 commented on #962
Are we sure this is due to `system init` being interrupted and not due to `product add` being interrupted, there seem to be already some products in that log.

[2020-06-19 00:02] jeremyh commented on #962
In theory `system init` is supposed to handle interrupted products-adds, as it checks and creates any missing indexes. So I'd still consider it a `system init` bug if that's happening.

But I do suspect this was from parallel-running-`init`s  — we don't have any protections against it at the moment, and it would likely raise an error like this. The first, interrupted `create-index` finishes in the

[2020-06-19 00:16] Kirill888 commented on #962
Thanks Jeremy, I didn't realise that there is a use case for running `system init` on an already initialised and used by readers database.

We have certainly encountered "broken indexes" due to interrupted product add. By "broken indexes" I mean "queries are slow, maybe because index is missing", not "corrupt on disk" indexes.

@whatnick maybe some of bootstrapping scripts should use those "slower

[2020-06-19 10:03] whatnick commented on #962
After discussions with @omad it seems 2 concurrent runs are to blame. Client lost connection to the DB and has a retry interval of 5 minutes , so when it retried another instance of dynamic index creation was already running and I got this error. In the future I will increase retry interval to a large number like 15-20 minutes to prevent piling up.

[2020-06-19 10:03] #962 closed, assigned to nobody

[2020-06-26 04:05] Kirill888 opened #964 "`IndexError` when accessing `.geobox` on the result of `xarray.open_rasterio` for epsgs:4326 files"
### Expected behaviour

Get proper `GeoBox` object.

### Actual behaviour

`KeyError` is raised

[code]

Problematic code is here:
https://github.com/opendatacube/datacube-core/blob/635c8bbeedd522d6313abf41f3dadf2c743e1a3f/datacube/utils/xarray_geoextensions.py#L149-L150

It assumes that "YX" dimensions as named by CRS are present on the xarray object as well, which is not the case when xarray is

[2020-06-26 05:32] #964 closed, assigned to nobody

[2020-06-26 11:24] ghost opened #968 ""datacube system init" fails when postgres user includes hyphen"
### Expected behaviour
Running `datacube system init` should init the postgres database, even if the postgres username includes a hyphen.

### Actual behaviour
The init fails, causing issues with the sqlalchemy/psycopg2 driver. It looks like it's passing the username string with `"` marks included?

Here is a trace:

[code]

### Steps to reproduce the behaviour

Run `datacube system init` with a p

[2020-06-29 01:53] #968 closed, assigned to nobody

[2020-06-29 07:21] omad opened #970 "Dask Executor broken after latest Dask Distributed release"
### Expected behaviour

**datacube ingest** is able to parallelise using a Dask Distributed scheduler. The `--executor distributed` command line option no longer works with the latest release of Distributed ([2.19.0 - 2020-06-19](https://distributed.dask.org/en/latest/changelog.html)). In particular [PR #3842](https://github.com/dask/distributed/pull/3842/files)

### Actual behaviour

<details>

[2020-06-29 07:33] Kirill888 commented on #970
Is it just the matter of getting rid of `parse_endpoint` call here:

https://github.com/opendatacube/datacube-core/blob/75996f5f6105589192259da49e3b41df6cb43936/datacube/ui/click.py#L269

[2020-06-29 14:46] clausmichele opened #971 "Indexed Sentinel-2 data has different spatial extent"
I think there is an issue indexing Sentinel-2 data:
the original jp2 file has coverage (via gdalinfo)
[code]

but when loaded with ODC is:

[code]

### Environment information
datacube version: 1.8

What should I check?

EDIT: I wrongly wrote ingesting instead of indexing

[2020-06-29 22:06] Kirill888 commented on #971
What is a valid data polygon of the given granule?
Also do you really need to do ingestion? What gains are you hoping to achieve with ahead of time reprojection?

[2020-06-29 23:40] Kirill888 opened #972 "`units` attribute on time axis prevents use of `xr.to_netcdf()`"
### Expected behaviour

[code]

### Actual behaviour

Exception is raised by `.to_netcdf` function:
[code]

Work around is
[code]

### Proposed Solution

We should stop populating `units` attribute on the `time` dimension, netcdf writing code might need to be adjusted to insert `units` attribute before writing to disk.

units are defined here:

https://github.com/opendatacube/datacube-core/blob/75

[2020-06-30 00:30] Kirill888 opened #973 "Unit tests for netdcf generation do not test real-life scenarios"
As part of looking into #972 I have removed `units` attribute from time axis. I have expected netcdf writing/ingestion tests to fail since code here:

https://github.com/opendatacube/datacube-core/blob/75996f5f6105589192259da49e3b41df6cb43936/datacube/drivers/netcdf/_write.py#L43

expects `.units` attribute to be present. Yet no failures were reported.

The only direct test of `create_netcdf_stora

[2020-06-30 01:59] omad commented on #970
Yep, just tested, and that fixes it.

[2020-06-30 03:04] Kirill888 commented on #973
Some more digging uncovered that ingestor is using GridWorkflow for data loading and that code has it's own
"group by" re-implementation here:

https://github.com/opendatacube/datacube-core/blob/75996f5f6105589192259da49e3b41df6cb43936/datacube/api/grid_workflow.py#L283-L288

Which by the way assumes that extra dimension is `time`, other parts are a bit a more generic about it.

So netcdf tests di

[2020-06-30 03:12] #970 closed, assigned to nobody

[2020-06-30 03:30] Kirill888 opened #975 "Duplication of `group_dataset` logic in `GridWorkflow`"
This code hasn't been touched since 2016 and contains a re-implementation of group_datasets that is only used by ingestor and stats:

https://github.com/opendatacube/datacube-core/blob/75996f5f6105589192259da49e3b41df6cb43936/datacube/api/grid_workflow.py#L258-L292

Since this is a re-implementation (or a first version), various fixes like for example, sorting  by dataset UUID as well as by timest

[2020-06-30 03:45] Kirill888 commented on #975
related: #646

[2020-06-30 07:25] clausmichele commented on #971
Indexing is what I mean. How do I check the valid data polygon? Opening the original .jp2 in QGIS gives the full original extent.
I attach the yaml file I am using, as you see the extent is different to what I get loading the data. The preparation script I use is the following https://github.com/opendatacube/datacube-dataset-config/blob/master/old-prep-scripts/sen2cor_prepare.py

[code]

[2020-06-30 07:48] Kirill888 commented on #971
I see what's happening, this as expected. The coordinates you are printing are coordinates for pixel centers, to see true extent you should do:

[code]

[2020-06-30 22:22] #971 closed, assigned to nobody

[2020-07-01 04:23] #972 closed, assigned to nobody

[2020-07-01 04:23] #975 closed, assigned to nobody

[2020-07-02 06:15] Kirill888 commented on #973
closing this, there is a bigger issue of cleaning up and harmonizing unit tests in general. But for this specific case, with #975 fixed, ingestion tests now run on data very similar to what `dc.load` normally returns.

[2020-07-02 06:15] #973 closed, assigned to nobody

[2020-07-02 07:57] clausmichele commented on #177
Any plan to add this functionality? Deleting products from CLI would be very useful.

[2020-07-02 08:32] clausmichele opened #980 "How to remove product from PSQL database"
I want to delete a product and I know there is no user friendly way of doing it.
After logging into the datacube DB i see this list of tables. Which one contains the product details?
[code]

[2020-07-02 08:40] Kirill888 commented on #980
@clausmichele deleting product is an involved process due to various consistency constraints, I recommend you study gist linked below:

https://gist.github.com/omad/1ae3463a123f37a9acf37213bebfde86

[2020-07-02 15:01] clausmichele commented on #980
Thanks, it works!

[2020-07-02 15:01] #980 closed, assigned to nobody

[2020-07-02 23:53] Kirill888 commented on #177
Better support for modifying existing collections in place is planned for ODC 2.0. With 1.8.x datacube db is almost "append only" as far as tooling in the datacube library and command line utilities go. There is archive functionality, but that just marks datasets as "no longer available for `dc.load`", it does not remove any metadata from the database.

best we can offer so far is this sql script:

[2020-07-03 06:24] Kirill888 opened #981 "KeyError in `.geobox` on data loaded with `.open_dataset`"
### Expected behaviour

open netcdf file produced by ingestor from version 1.7

[code]

should print proper `GeoBox`, or maybe `None`.

### Actual behaviour

[code]

logic here needs a re-write:

https://github.com/opendatacube/datacube-core/blob/62de7e26ca6f3d1cee76af95e65c1bfeffcca9a6/datacube/utils/xarray_geoextensions.py#L39-L48

Can't assume that all and any data variables have the same coord

[2020-07-05 23:41] #950 closed, assigned to nobody

[2020-07-05 23:41] #981 closed, assigned to nobody

[2020-07-06 04:56] jeremyh opened #984 "Multi-document yamls are inconvenient to use in ODC's cli tools"
I tried to update a set of products recently that were stored in a multi-document yaml:
- Running `datacube product update products.yaml.gz` threw an error because one of the products didn't exist yet in the datacube.
- Running `datacube product add products.yaml.gz`  failed because some of the products were different to those stored in the datacube (they need to be updated, not added!)

The only

[2020-07-06 05:02] Kirill888 commented on #984
I think a more proper solution is to support
1. Selecting one part of multi-part document for both add/update
2. Treating each one as a separate invocation and have an option to continue on failure
3. Never just die with exception in user facing CLIs

[2020-07-06 05:02] Kirill888 commented on #984
sorry wrong button press

[2020-07-06 05:11] Kirill888 commented on #984
So you'd like "update or add" functionality? Or like "sync to this state if safe". Should it be

- separate command (`sync`?)
- option for add
- option for update
- option to both add and update
- combined add and update into one and remove add|update

I think middle three are redundant and hence confusing, I would probably go with last one, but that requires changing CLI API in non-backward compa

[2020-07-06 05:30] omad commented on #984
On YAMLs:
- Multi-document YAMLs add significant complexity to several of our operations
- They are useful for storing related resources together,
- but, they can be confusing when editing or referring to since it's not obvious if or how many extra documents are in the same file.

Looking elsewhere for inspiration:
- Kubernetes uses YAML for configuration, including multiple documents in one file,

[2020-07-06 05:40] jeremyh commented on #984
I like `apply`.

I wouldn’t rush to remove the old ones as there’s lots of bash scripts, beginners-guides, power point presentations and tutorials that have them.

I do like the idea of supporting different record types in one file, like @omad’s example of Kubernetes. I’ve seen many people tripped up by calling the wrong command (`datacube product add some-dataset.yaml` etc), and not understanding

[2020-07-06 05:52] jeremyh commented on #984
Another option is not to remove the old ones entirely, but just make them aliases for the new command. In effect, retiring the more niche options/flags that they take. Beginner tutorials usually say `datacube product add` without any options.

(and I could _imagine_ it occasionally still making a bash script clearer to write `datacube product add somefile.yaml` than `datacube apply somefile.yaml`

[2020-07-06 06:48] Kirill888 commented on #984
+1 for `apply`
not sure about `datacube apply` vs `datacube product|metadata|dataset apply`
do agree that having metadata and product in one yaml would be nice. Skipping `non-product` documents when calling `datacube product apply` is what I would expect, but we don't have `type` field, so there is no telling if this document meant to be metadata, product or dataset definition.

[2020-07-06 06:53] Kirill888 commented on #984
we can of course implement `guess_document_type(doc: Dict[str, Any]) -> Enum[Metadata|Product|Dataset|Unknown]` but not sure how that would look exactly, or how robust it would be.

[2020-07-06 08:18] mpaget commented on #984
For my 2 cents: I think `datacube product|metadata|dataset apply` is the right target. The concept of separate product and dataset yamls is still valid (fairly entrenched and not broken). Mixing two types into one doc (and then untangling them) seems unnecessarily duplicative and complicated. Less sure about the use cases for metadata and product types in one yaml, though.

Whereas `datacube produ

[2020-07-06 16:04] JackLidge opened #985 "Time location not constrained in dataset yamls"
`Datacube-core` version: 1.7
`OS`: Ubuntu 18.04

Linked to a resolved issue in opendatacube/datacube-ows#301. I was updating to a more recent version of the OWS when I discovered a lot of products were no longer being picked up by `update_ranges.py` in that repository.

After diagnosis, this turned out to be due to time parameters such as `from_dt` and `to_dt` in the indexed yaml file being locate

[2020-07-06 23:37] Kirill888 commented on #985
The problem with dataset yamls is that they are not constrained at all BY DESIGN, not all dataset documents describe geo referenced raster data. And the content of the dataset document is "relocatable" via metadata mechanism. So it's not feasible to have a simple schema that validates dataset document without re-designing indexing part and adding actual constraints.

Having said that `datacube dat

[2020-07-07 00:23] Kirill888 commented on #984
@mpaget mixing dataset and product definitions in one yaml file is not something we are proposing. Although I can see it being useful in very few cases, something like a DEM stored in one giant file, so it would be one product one dataset sort of deal. Also this would not change auto-matching logic at all, one would still need to make sure that dataset and product definitions are "compatible", so

[2020-07-07 00:28] Kirill888 commented on #985
It looks like ows assumes that time information is recorded in `from_dt/to_dt` variables, but datacube EO metadata allows also for a single `center_dt` as well. So even if we had (and we should) had index time dataset validation logic implemented it would not have prevented that particular failure mode.

https://github.com/opendatacube/datacube-ows/blob/6d839c3a0d9a9b798b34d6ae9c5f986c75dabe5d/dat

[2020-07-09 08:29] clausmichele opened #987 "Indexing of complex data - Cint16"
I am trying to index Sentinel-1 SLC rasters, which contains data of type CInt16 (complex numbers), however opendatacube does not support this data type yet. QGIS and GDAL are able to open the GeoTiff I'm using for testing.
Are there plans to add this feature? Thank you.

[code]

### Environment information

* Which ``datacube --version`` are you using?
1.8

[2020-07-09 14:38] jankovicgd opened #988 "'NoneType' object has no attribute 'items' when indexing dataset."
Hey all I get an AttributeError when trying to index via some custom code. I have a minimum code sample below. Am I missing anything? I tried to set `sources={}` in the `dcm.Dataset` but it is checked and fails before below error. `datacube dataset add` works properly.

### Expected behaviour
Indexed data into the database

### Actual behaviour

[code]

### Steps to reproduce the behaviour

[code]

[2020-07-10 00:00] Kirill888 commented on #988
It's because of the confusing metadata relocation logic. What appears as `.sources` on dataset object, has to be stored here instead in dataset definition document:

[code]

I don't know what was the original reason for this...

[2020-07-10 00:14] Kirill888 commented on #987
@clausmichele Can you share an example file.

So, `dtype` is about the `numpy` side of things and `numpy` does not have an integer complex type as far as I am aware.

Can you open your test file with `rasterio` and report if it works and what `.dtype` does it use. Basically we rely on `rasterio` to perform data loading so if it works there it should be easy enough to support on datacube side.

`CI

[2020-07-10 03:02] Kirill888 commented on #987
After speaking with remote sensing folks, who are also working with that data, it seems that a bigger problem is lack of auto-rectification. My understanding is that Sentinel-1 is using Ground Control Points for Geo-referencing, and this is not something datacube currently supports. There a lot of assumptions throughout the code base that there is a linear mapping from pixel space to projected spa

[2020-07-10 03:50] Kirill888 opened #990 "Allow specifying dataset location from within the yaml document"
## Problem

Dataset document encodes location of bands relative to the location of the dataset document. When indexing with `datacube dataset add`, location of the yaml file is recorded in the database and there is no way to overwrite this value. This creates problems when trying to index public datasets that one can read, but can not write a dataset yaml file next to pixel data.

## Proposal

Add

[2020-07-10 03:51] Kirill888 commented on #990
@jeremyh how is that?

[2020-07-10 05:05] jeremyh commented on #990
Looks good. I'd like to see this feature.

The workarounds that people use for this are quite a pain -- such as using absolute file-paths in measurements of some NCI products.

We had this field in the original discussions -- see here in the prototype:

https://github.com/opendatacube/odc-tools/blob/8569b31646311a6ac8a0d926a6316c877e7e9e52/docs/normalised-dataset.yaml#L11-L15

And eodatasets3's do

[2020-07-10 05:20] Kirill888 commented on #990
I think non-plural `location`  was chosen as a most common case, note that a string is accepted, and `list[str]` is for advanced use-cases. Given that we do not really have proper support for multiple locations in `dc.load` I didn't want to add confusion with plurals.

I started implementing it at the `scripts/dataset` level, but now realise it has implications for lineage datasets embedded in the

[2020-07-10 05:37] jeremyh commented on #990
Ah, I missed that it accepts either type.

I'm not a big fan of unions here -- it makes the handling and testing code more complicated in the ecosystem for only a tiny drop in verbosity, and some code will inevitably be written without knowing that arrays are an option at all. Writing the type detection also has easy pitfalls -- you can't rely on checking that it's iterable, or a list. Or allow co

[2020-07-10 05:41] Kirill888 commented on #990
in which case I would rather drop multiple location support, since it's not really supported beyond metadata handling.

[2020-07-10 06:05] jeremyh commented on #990
It is exposed and working in the apis: `dataset.uris` and the various `locations` methods on the Index. We use them a fair amount in collection-management.

As an example (from this morning), our telemetry is often on multiple storage locations: https://explorer.dea.ga.gov.au/dataset/896605c4-9178-11e5-879d-ac162d791418

One reason I see this addition to documents as useful is that it would allow

[2020-07-10 06:07] jeremyh commented on #990
Though I'm ok with the union if you do prefer it strongly --  it's a pretty minor gripe from me :slightly_smiling_face:

[2020-07-10 06:08] Kirill888 commented on #990
For dataset documents in particular, we can not rely on schema validation, since there is no schema, nor could there be one (due to metadata indirection system), so checking types in Python code is a must anyway.

If we document `locations: [dataset locations]` next question would be, what does it mean to have multiple locations? And we do not have answer to that. I'm talking about users who only

[2020-07-10 06:09] jeremyh commented on #990
Ok :+1:

[2020-07-10 07:04] jeremyh commented on #990
I notice the stac folks have moved toward having separate field names rather than unions: a doc has either `datetime` or else the range fields, rather than one field as a union. That might be even cleaner?

ie. `location` is a string, `locations` is an array

[2020-07-10 07:12] jankovicgd commented on #988
I still get the same error. Example `Dataset.metadata_doc`:

[code]

[2020-07-10 07:23] clausmichele commented on #987
Here is some details about the data. I see that for this particular case the major problem is that it is not georeferenced.
[code]

[2020-07-10 08:45] Kirill888 commented on #988
In your example you are using product definition document to initialize Dataset class, so maybe it's that?

[2020-07-10 08:49] Kirill888 commented on #988
How does your metadata and product definition documents look like?

[2020-07-10 09:17] Kirill888 commented on #988
Try adding `with_lineage=False` when calling `.datasets.add(..)`, this should work around your issue. Also consider using this class for making `Dataset` objects for indexing:

https://github.com/opendatacube/datacube-core/blob/dcab0e02db69b0eb717b924eb2aef7c22dbddc95/datacube/index/hl.py#L199-L232

[2020-07-10 09:20] #988 closed, assigned to nobody

[2020-07-10 09:20] #990 closed, assigned to nobody

[2020-07-10 09:29] Kirill888 commented on #987
That looks like a bug in `rasterio` it should really remap `CInt16` to `complex64`, but yeah bigger problem is use of GCPs.

[2020-07-10 09:35] jankovicgd commented on #988
Thanks for the heads up. Works but with a db constraint error. In hindsight in my code I should have probably extended `DatasetType` and `Dataset` because I have similar concepts that extract and construct yml files based on arbitrary tiffs, netcdfs and minimal configuration.

[2020-07-13 15:55] JackLidge commented on #985
Looking at what you've posted here and also slack discussions had previously - I think the culprit as to why the yamls read correctly inside the datacube and failed to be read into the OWS was due to the reason you mentioned above: we had a `center_dt` variable in the right place but `from/to_dt` variables in the wrong place.

Why we started doing it this way I'm not sure as it was so long ago. I

[2020-07-14 03:56] Kirill888 commented on #985
Yep that makes that sense then.

Closing this as a duplicate of #955.

[2020-07-14 03:56] #985 closed, assigned to nobody

[2020-07-23 02:48] alexgleith opened #993 "New `updated` column is not created on a clean database"
### Expected behaviour
-  #951 changed the database schema by adding a column and a trigger to update it and the new column and trigger should be present in a clean database

### Actual behaviour

- Creating a new database does _not_ create the column and trigger, it's only created on the second run

### Steps to reproduce the behaviour

- Get a new DB
- Run `datacube -v system init`
- Note no `up

[2020-07-24 01:34] Kirill888 opened #995 "Can't create credentialised s3_client if AWS_UNSIGNED is set"
When running with `AWS_UNSIGNED=yes`, `.utils.aws.s3_client(creds=creds)` will ignore supplied credentials even though it should not.

[2020-07-24 03:36] #993 closed, assigned to nobody

[2020-07-24 04:27] alexgleith opened #997 "Running datacube system init on an existing database fails when adding new columns"
### Expected behaviour
Updating the database structure should not cause the init process to fail

### Actual behaviour

An active database may have locking happening which causes the `datacube system init` command to fail. Logs:

### Steps to reproduce the behaviour

Run `datacube system init` on an existing database with lots of records and some activity.

### Environment information

datacube 1.

[2020-07-24 04:29] #995 closed, assigned to nobody

[2020-07-27 01:12] Kirill888 opened #998 "Driver resolution code can not handle dataset format being None"
When attempting to load dataset without format specified `None` is used as a string

Example reported on Slack:

[code]

I think proper solution to that is to fallback to default driver implementation. Also at index time warning should be printed if dataset format is not specified, see #955.

[2020-07-27 01:24] Kirill888 commented on #998
Sample dataset as supplied in error report on Slack:

[code]

[2020-07-27 06:25] #998 closed, assigned to nobody

[2020-07-29 01:35] alexgleith commented on #997
This did not go well running on NCI either.

[2020-07-29 03:36] alexgleith commented on #997
The above error on NCI isn't actually of any use. The update process took an hour and still didn't complete, so I killed it.

[2020-07-29 03:42] Kirill888 commented on #997
huge databases are like that though, it will take forever to update all the indexes.

[2020-08-07 06:18] whatnick commented on #997
Recommended new approach :

- Leave dataset_location as it is
- Add updated field to: dataset, metadata_type and dataset_type tables
- Add triggers on above tables to update updated field
- Default to null
- No not null constraint
- Add added field to: dataset_source
- Populate with now()
- Default to now()
- Only add this field if it doesn’t exist, like how the ^ is implemented currently
- Do NOT

[2020-08-09 22:27] Kirill888 commented on #537
pretty sure this bug is still a bug

[2020-08-10 04:08] robbibt commented on #671
Better control over data load precedence would still be a valuable feature to have in ODC core, particularly when combining multiple products using a list of datasets.

[2020-08-10 04:10] robbibt commented on #779
This issue is still a key blocker to using coarsely resampled data loaded from ODC; commenting to remove stale status

[2020-08-10 04:12] robbibt commented on #868
This is still a very commonly requested feature and could simplify a large amount of scientific code; commenting to remove stale status.

[2020-08-13 01:33] whatnick commented on #830
Bump

[2020-08-13 01:34] #997 closed, assigned to whatnick

[2020-08-14 06:17] Kirill888 opened #1003 "Proposal: extend product definition for measurements to include scaling factors"
Pixel data is typically stored using integer types, like `(u)int16`, but the real value that those integers encode is usually a floating point number, often in `[0,1]` range. Often the mapping from raw pixel value space to the real space is a simple linear transformation of the form:

[code]
For example for an upcoming USGS Landsat collection 2 reflectance band pixels need to be scaled by 2.75e-5

[2020-08-14 07:05] uchchwhash commented on #1003
I should probably mention that virtual products can do this.

[2020-08-14 07:10] Kirill888 commented on #1003
can do what? Use this information automatically when it becomes available? Or encode scaling information in python code, which will require new code for every new sensor?

[2020-08-16 23:34] uchchwhash commented on #1003
Can specify scaling transformations in the recipe of a virtual product. But I see why you want to do this.

[2020-08-16 23:58] #1003 closed, assigned to nobody

[2020-08-17 16:18] snowman2 commented on #672
Just adding a note here that I plan to make an attempt based on the current version of ODC. My current thought is to add something like this to the `Dataset` class:

[code]

And then using this information to update the groupby and sorting logic when loading the datasets.

[2020-08-17 21:08] snowman2 commented on #672
Initial mockup: https://github.com/opendatacube/datacube-core/compare/develop...corteva:3dim. I plan to test on something we have internally to check if it works. If you notice any issues or have suggestions, please share. Thanks!

[2020-08-17 23:05] Kirill888 commented on #672
@petewa :arrow_up:

[2020-08-17 23:09] Kirill888 commented on #672
@snowman2 we can not have additional coordinates defined on a Dataset, it has to be on a Product, all datasets within a product must share common depth dimensions. This is what we agreed to in the proposal discussions. Supporting variably sized depth dimensions is out of scope, it's too hard to define and implement merging of those dimensions during load.

[2020-08-18 00:45] snowman2 commented on #672
@Kirill888, thanks for taking a look - I am hoping this implementation will get some momentum going to get an initial version in datacube.

The coordinates defined on the Dataset contain the values of the coordinates. This is needed in order to group and sort the datasets so they are put into the correct locations.

With the current implementation, this is still the case. It expects all the datase

[2020-08-18 00:58] Kirill888 commented on #672
That means that different datasets can have different coordinate values/sizes and hence would require fancy merging.

If those are fixed for all datasets, then that should be defined on a product, including coordinate values.

[2020-08-18 01:21] snowman2 commented on #672
Sounds like there are more use cases to be considered. I will need to re-read the proposal later.

The current implementation assumes that a single dataset represents a single time slice and a single value for the additional coordinate(s). It requires each coordinate on each dataset to be a scalar.

[2020-08-18 06:02] Kirill888 commented on #672
I see, what I meant by "3d support" was extending Dataset  to encode not just a bunch of named 2D rasters (measurements/bands), but rather ND stack of 2D rasters (dim1, dim2,...dimN, Y, X), but with a caveat that all datasets in such an ND product encode a hyper-cube of the same shape except for Y,X dimensions. Y/X can be differently sized/covering different region per dataset.

What you seem to b

[2020-08-18 13:44] snowman2 commented on #672
Looks like I am making the simple modifications mentioned at the top of the thread & in the main section of the proposal. I missed (or likely forgot, since it has been a year) the changes mentioned later about supporting loading a n-d dataset. That sounds like quite a bit of changes needed in the IO drivers before this could happen as greater than 3-d dataset reading it isn't supported well with `

[2020-08-18 16:02] snowman2 commented on #672
After talking about it with @alfredoahds, we found that the measurements within the Product have depth that vary across measurements. So, the solution I proposed nor the other solutions mentioned here will resolve our needs. What we currently have is the depth built into the measurement name and though it is hacky, it allows for us to query for the depth of interest and have measurements with vary

[2020-08-19 00:14] Kirill888 commented on #672
It looks like parts of groupby logic were designed with an idea that any number of non-spatial dimensions are allowed, not just `time`. But then `time` was the only one that was supported/used/tested, and so other parts of the code now assume a single non-spatial dimension, see #643.

So to support your use-case

1. Fix issue #643
2. Generate separate Datasets for each non-time dimensions and reco

[2020-08-19 16:38] snowman2 commented on #672
@Kirill888, those steps would definitely be helpful to support 3D loading and I would definitely like to see that added.

Our use case is messier than I originally thought.

For example:
- `measurement1` - coords: `t, y, x`
- `measurement2` - coords: `t, z, y, x` (z: 1, 2, 3)
- `measurement3` - coords: `t, z1, y, x` (z1: 2, 4, 6, 8)

Our current workaround to enable loading them together is to add

[2020-08-20 00:59] petewa commented on #672
I very much like the idea of a generic group-by to n-dimensions, but probably out of scope for this proposal.

As part of this proposal we are working on a ODC Zarr driver to support nD storage with the relevant changes to ODC core.
One visible changes to ODC core is the change to dc.load to be able to query on all dimensions.

If this is your desired format: (we are aiming for something similar t

[2020-08-20 07:44] Kirill888 commented on #886
there was some progress on this, see referenced commits. Lon/lat bounds are now computed properly, but I believe steps (3) and (4) are still broken.

[2020-08-20 14:13] snowman2 commented on #672
Interesting :thinking: . I haven't used Zarr yet. Sound like it might be worthwhile to give it a try.

[2020-08-21 07:09] BexDunn opened #1004 "Feature request: write_cog to explicitly define no_data_values and dtypes"
### Expected behaviour
`write_cog(ds, "output_file.tif",  dtype='float32', nodata=nan)`

### Actual behaviour
`write_cog(ds, "output_file.tif")`
Super lovely, but a lot of our products have problems as the nodata output defaults to zero. Eg. with NDVI, 0 means water not nodata. Explicitly stating the nodata default in the doco would help; additionally making it obvious that you can set the dtype w

[2020-08-21 07:56] Kirill888 commented on #1004
Type conversion is out of scope for this function, so do `ds.astype('float32')` on input instead.

`nodata=` argument is already accepted, also it is being read from attributes dictionary, but supplied argument takes precedence over `ds.nodata`. Although it is apparently missing from documentation.

For floating point images that contain `NaN`s there is no need to define `nodata` attribute at all,

[2020-08-21 08:27] #1004 closed, assigned to nobody

[2020-08-22 12:15] tushar10sh commented on #957
One way could be to bring both dataset.extent and polygon crs to epsg:4326 first and then check for intersection. Any crs coordinate will have a valid epsg:4326 footprint. But this method should be an option for user via a function flag as large area polygons in Epsg:4326 will suffer from distortions.

[2020-08-25 03:13] Kirill888 commented on #957
@tushar10sh it's not simple, conversion to lon/lat suffers from `lon=180` wrap around issues. Also there are issues with precision, two polygons that overlap slightly in their native CRS might not, once translated to another projection if you haven't added enough points in just the right places. We are not transforming infinite number of perimeter points you know, but rather a bunch of line segmen

[2020-08-25 14:50] clausmichele commented on #987
@Kirill888 any advance on this?

[2020-08-25 22:35] Kirill888 commented on #987
Complex dtypes are now allowed by product schema, whether this will work with your data I don't know

[2020-08-26 02:02] alexgleith commented on #925
So, I think that we should make the use of the 5 environment variables the default.

If they are changed to ODC_DB_* then that's fine with me, so long as we have a phased deprecation.

I will often change just one of them (say, the DB name) and not the others, and it's consistent with how Postgres does it's configuration too.

So, I think document the multiple environment variables! `todo: ...`

[2020-08-28 13:45] clausmichele commented on #987
Is it possible to index data which is not yet georeferenced? I solved the problem of complex data splitting real and imaginary part as two bands, but I still need to index it with ODC, but I don't have coordinates. xarray doesn't complain with the data, but just uses x and y range as coordinates. Do you see a solution?

[2020-08-31 03:29] alexgleith opened #1006 "OSGeo Suggestion to Simplify Python Environments"
### Expected behaviour
See ticket https://github.com/opendatacube/cube-in-a-box/issues/30

We could engage with the OSGeo community and perhaps aim to get Ubuntu doing their foundational geospatial library builds better.

[2020-08-31 04:13] Kirill888 commented on #987
I'm closing this issue as comlpex data types are now supported. For GCP support we should open a different issue. There is currently no plan for implementing this within 1.8 series.

[2020-08-31 04:13] #987 closed, assigned to nobody

[2020-09-01 12:16] clausmichele opened #1007 "Indexing not geo-referenced data"
### Actual behaviour

Not possible to index data that has no georeference

### Environment information

* 1.8

I am currently working on implementing a[ back-end](https://github.com/SARScripts/openeo_odc_driver) for [OpenEO](https://github.com/Open-EO) which relies on ODC for the datacube loading part. For our use case we would need to index not yet geo-referenced Sentinel-1 data.
Since this featu

[2020-09-02 03:05] darkblue-b opened #1009 "OSGeo patch installer for v2019"
[OSGeoLive 2019](https://live.osgeo.org) ships with a python and postgres environment that closely matches ODC requirements for Ubuntu Linux.  **IDEA** to create a patch installer script for a stable ODC on OSGeoLive, if and when a demonstration is brought forward in the near future.

[2020-09-02 05:41] Kirill888 commented on #1009
@darkblue-b is there some resource you can link that describes what "patch installer script" is and how one goes about creating one?

[2020-09-03 04:07] whatnick commented on #560
Bump!!

[2020-09-03 08:56] whatnick commented on #560
Here is a benchmark
[code]

[2020-09-04 11:41] valpesendorfer opened #1010 "Wrong grid returned by `datacube.Datacube.load` on global product"
### Expected behaviour

I'm working with a product that contains global datasets, spanning from longitude -180 to 180 at 0.05 degrees resolution. A single dataset has a grid with width 7200 and height 2000 pixels.

When using `datacube.Datacube.load` I'd expect to get an `xarray` that matches the dimensions defined in the metadata definition.

### Actual behaviour

Using `datacube.Datacube.load` t

[2020-09-07 00:11] Kirill888 opened #1011 "New feature: load hints in product definition"
Currently when using `dc.load(..)` on a non-ingested product user must specify output `CRS` and `resolution` to use for loading data. This has been raised numerous times as a number one usability concern for non-ingested products.

I believe an easy solution to this problem is to specify an "appropriate projection and resolution" to use when loading data at the product definition time. For example

[2020-09-07 00:55] robbibt commented on #1011
My first thought is that this sounds really great, and will hopefully ease the user experience a lot.

The only draw back is that the naive user will now be reverting back to having their data reprojected by default (e.g. just like back when all data was ingested vs. indexed). That means that unless they are careful, their data is going to be affected by some of the resampling issues that come wit

[2020-09-07 01:07] cbur24 commented on #1011
I think this is a great idea, as I have observed a lot of confusion around projections and pixel alignments among users with less of a background in remote sensing.  I agree with @robbibt that if this change takes place we should make a concerted effort to document the default settings (and their downstream impacts) in the relevant notebooks/docs.

[2020-09-07 01:40] Kirill888 commented on #1011
Agree with @robbibt, ideally this feature would be complemented with `dc.load(.., resolution='native')` or similar. Problem with native load is "what to do when querying across UTM boundaries" for products like Landsat and Sentinel, do you fail or do you pick some kind of "majority". And then of course datacube can contain "anything", typically resolution is fixed per product-band pair, but there

[2020-09-08 00:19] Kirill888 commented on #1011
While implementing this feature I have stumbled into a realization that `storage` section has been coerced into the role I'm proposing for load hints, albeit without sufficient documentation.

https://github.com/opendatacube/datacube-core/blob/53374cc823f79cc720249a7a709aef686e4a69b5/datacube/api/core.py#L660-L668

Looks like partially defined `GridSpec` was used to communicate "desired CRS, and o

[2020-09-08 04:12] Kirill888 commented on #1010
Reported behaviour is as expected, extents of your dataset only goes `-180 -> 179.94997134359318`, hence missing pixel on the right edge.

[code]

produces:
[code]

[2020-09-08 04:12] #1010 closed, assigned to nobody

[2020-09-08 08:44] #1011 closed, assigned to nobody

[2020-09-08 13:22] clausmichele opened #1014 "Index data with WKT but no EPSG code"
I have a dataset with WKT but no EPSG code. It has a custom projection describable by PROJ and readable by GDAL. How do I index it? I attach here the datacube product definition and dataset yaml. The error I get when I try to load the data is: `ValueError: Product has no default CRS. Must specify 'output_crs' and 'resolution'` but I can't specify the output_crs since I don't have an EPSG code. Am

[2020-09-08 13:26] clausmichele commented on #1011
If loading the data with default projection will be allowed, maybe it would solve this #1014
And furthermore, maybe it could also solve #1007, allowing to index not geo-referenced data .

[2020-09-08 14:20] tushar10sh commented on #1014
If your **product** (MOD16_mosaic in your case) has common projection parameter for all the datasets which you are going to index under this product name, then you can mention this projection wkt as following in your product definition document. Dataset document will remain as it is. Hope this helps.

[code]

[2020-09-08 23:09] Kirill888 commented on #1014
@clausmichele you can specify `output_crs` with WKT string at load time. You can also specify it on a product.

@tushar10sh `storage` section has been poorly documented, it is only really meant to be for ingested products, it maps to a `GridSpec` class but was coerced into serving a dual purpose of either describing storage regime of an ingested product or providing partially defined and undocumen

[2020-09-08 23:13] Kirill888 commented on #1011
@clausmichele #1007 is very different, this requires rasterio backed reader driver detect and handle GCPs properly, at this stage I'm not even sure if this is even possible, it might require much broader changes than that.

[2020-09-09 00:01] Kirill888 opened #1015 "Confusing error message from dc.load when misspelling product name"
### Expected behaviour

When calling `dc.load` with misspelled product:

[code]

I expect to see an error message like `No such product: "no_such_product"`.

### Actual behaviour

Error message reads:

[code]

If `product=` is explicitly supplied by the user then error message should be more precise than above. Most users are not aware that `product=` can be omitted in some rare cases and instead

[2020-09-09 00:03] uchchwhash commented on #1015
I think it is safe to deprecate the product finding feature, perhaps refactor it into a `find_products` method, and make lookup by name only the default.

[2020-09-09 00:25] Kirill888 commented on #1014
`output_crs` is not limited to EPSG code strings, WKT is also supported.

[2020-09-09 00:25] #1014 closed, assigned to nobody

[2020-09-09 00:41] petewa commented on #672
Hi @snowman2

2D Zarr driver is released: https://dev.azure.com/csiro-easi/easi-hub-public/_git/datacube-zarr

Please let me know what you think and if it fits or doesn't fit with your use case.

We are staring work on the 3D Zarr driver and aiming to complete it by December 2020.

[2020-09-09 00:51] Kirill888 opened #1016 "New feature proposal: query product by description as well as name"
Product names have certain constraints, no spaces allowed, preference for shorter names, that sort of thing. It would be nice if one can reference product by a more descriptive alias that can contain spaces and other punctuation. For example

[code]

Product definition already contains a field called `description`, we can use that.

### Implementation Details

Resolving `product=` parameter will g

[2020-09-09 03:20] ghansham commented on #672
Recently we wrote netcdf files using common data model for hyperspectral datasets which are compatible with xarray and gdal. I can share sample ncml (xml extension for netcdf) for such a dataset. I have also satellite sounding datasets with pressure dimension as well. Even model outputs can also act as a good starting point. Unidata thredds support these kind of datasets and can be accessed via op

[2020-09-09 07:10] clausmichele commented on #1014
Thanks, yesterday I tried the solution from @tushar10sh and it worked. However, I'll use yours @Kirill888, since the `storage `section is not for indexed products.

[2020-09-09 14:44] tushar10sh opened #1018 "S3 suport for datacube ingest"
Currently, datacube ingest only supports netCDF on filsystem. Any chances of integration with S3 like storage system. I am using minIO for cloud object storage and my indexed data is present there. Would like to generate ingested data on s3.
Any solution?
Thanks in advance.

[2020-09-10 01:55] woodcockr commented on #1018
`datacube ingest` is mostly not used now (and likely to be deprecated). The more common operating mode is to prepare the data beforehand and then index the result to `datacube`. This provides more control over the preparation process for specific circumstances
In our ODC environment we use workflow automation (Argo) and a `data-pipelines` library to manage order, download, metadata preparation and

[2020-09-10 03:59] Kirill888 commented on #1018
I'm always curious to know what benefit people expect to/do obtain from ingestion process. @tushar10sh  can you describe your use-case a bit?

I agree with Rob that ingestion is not really needed in most cases. Particularly with the current ingestion strategy where duplicated pixels in the source product are preserved as they were. As a consequence of this choice number of datasets  in the ingeste

[2020-09-10 06:51] robbibt commented on #1016
I like this idea, but if this goes ahead, I think we need to carefully decide what gets used in the `description` metadata for Collection 3 products. For example, the [description field here for Collection 3 WOfS](https://github.com/GeoscienceAustralia/digitalearthau/blob/025420bb3d3edc3833d8148becbba6e8db1126b4/digitalearthau/config/eo3/products-aws/ga_ls_wofs_3.yaml) contains "Historic Flood Map

[2020-09-10 06:57] alexgleith commented on #1016
This is an easy method, I guess. Simpler than implementing a new 'alias' process.

Just thinking about context and what others are doing: https://developers.google.com/earth-engine/datasets/catalog/COPERNICUS_S2_SR

GEE uses a simple unique identifier field, like `ee.ImageCollection('COPERNICUS/S2_SR')`

[2020-09-10 07:27] jeremyh commented on #1016
I'm slightly hesitant about this because it makes changing the description a breaking change for users. Descriptions also have often changed in the past (eg, describing something as a legacy collection now, fixing mistakes, improving consistency after new product releases etc), and it's also a very long unwieldy string for something that has to match exactly.

I'd probably prefer doing the same th

[2020-09-10 07:29] clausmichele commented on #366
Is this functionality under development? I really miss a simple table with the spatial and time range the data covers. It should be an automatic process happening during the `datacube dataset add` steps, since given the dataset yaml the date is clear and the extent too.

[2020-09-10 07:53] Kirill888 commented on #1016
I don't mind aliases as an alternative, but I'm not too sure about aliases being defined within the product itself, like what currently happens with measurements. The reason is: no way to ensure uniqueness of the alias. I realize that same problem applies to `description` field, but that's fine as we just re-purposing an already existing field.

I think this should be a standalone "site configurat

[2020-09-10 07:56] Kirill888 commented on #1016
@jeremyh can you remind us why product name is limited to "python variable name format", I don't recall any uses of `some_function(product_name=something)` anywhere.